{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- Karta zákazníka{% endblock %}
{% block h1 %}Karta zákazníka{% endblock %}

{% block main_content %}
	<div class="row">

		<div class="col-xs-12 col-lg-8">
			
			{{ form_start(form) }}
				{{ form_errors(form) }}

				<h2>Systémové údaje</h2>
				{% block customer_id %}
					{{ form_widget(form.user.id, { type: 'hidden' }) }}
				{% endblock %}
				{% block customer_created_at %}{% endblock %}

				<h2>Osobní údaje</h2>
				{{ form_row(form.user.firstName, { label: 'Jméno'}) }}
				{{ form_row(form.user.lastName, { label: 'Příjmení'}) }}
				{{ form_row(form.billingAddress.telephone, { label: 'Telefon'}) }}
				{{ form_row(form.user.email, { label: 'Email'}) }}
				
				<h2>Registrovaní zák.</h2>
				{{ form_row(form.user.password.first, { label: 'Heslo'}) }}
				{{ form_row(form.user.password.second, { label: 'Heslo znovu'}) }}
				{% block customer_last_login %}{% endblock %}

				<h2>Firemní údaje</h2>
				{{ form_row(form.billingAddress.companyCustomer, {
					attr: { class: 'checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-company-fields' },
					label: 'Nakupuji na firmu'})
				}}
				<div id="js-company-fields">
					{{ form_row(form.billingAddress.companyName, { label: 'Firma'}) }}
					{{ form_row(form.billingAddress.companyNumber, { label: 'IČ'}) }}
					{{ form_row(form.billingAddress.companyTaxNumber, { label: 'DIČ'}) }}
				</div>

				<h2>Adresa</h2>
				{{ form_row(form.billingAddress.street, { label: 'Ulice'}) }}
				{{ form_row(form.billingAddress.city, { label: 'Město'}) }}
				{{ form_row(form.billingAddress.postcode, { label: 'PSČ'}) }}
				{{ form_row(form.billingAddress.country, { label: 'Stát'}) }}

				<h2>Doručovací adresa</h2>
				{{ form_row(form.deliveryAddress.addressFilled, {
					attr: { class: 'checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-delivery-address-fields' },
					label: 'Zboží chci doručit na jinou adresu než fakturační'})
				}}
				<div id="js-delivery-address-fields">
					{{ form_row(form.deliveryAddress.companyName, { label: 'Firma'}) }}
					{{ form_row(form.deliveryAddress.contactPerson, { label: 'Kontaktní osoba'}) }}
					{{ form_row(form.deliveryAddress.telephone, { label: 'Telefon'}) }}
					{{ form_row(form.deliveryAddress.street, { label: 'Ulice'}) }}
					{{ form_row(form.deliveryAddress.city, { label: 'Město'}) }}
					{{ form_row(form.deliveryAddress.postcode, { label: 'PSČ'}) }}
					{{ form_row(form.deliveryAddress.country, { label: 'Stát'}) }}
				</div>

				{% block customer_save %}{% endblock %}
				<a href="{{ url('admin_customer_list') }}" class="btn btn-default">Zpět na přehled</a>
			{{ form_end(form) }}
		</div>
		
	</div>


		
{% endblock %}