{% extends '@SS6Shop/Admin/Content/Customer/detail.html.twig' %}

{% block title %}- {{ 'Editace zákazníka'|trans }} - {{ user.fullName }}{% endblock %}
{% block h1 %}{{ 'Editace zákazníka'|trans }} - {{ user.fullName }}{% endblock %}

{% block customer_created_at %}
	<div class="form-line">
		<span class="form-line form-line__label">
			{{ 'Datum registrace'|trans }} :
		</span>
		<span class="form-line form-line__text">
			{{ user.createdAt|formatDateTime }}
		</span>
	</div>

{% endblock %}

{% block customer_last_login %}
	<div class="form-line">
		<span class="form-line form-line__label">
			{{ 'Poslední přihlášení'|trans }} :
		</span>
		<span class="form-line form-line__text">
			{% if user.lastLogin != null %}
				{{ user.lastLogin|formatDateTime }}
			{% else %}
				{{ 'nikdy'|trans }}
			{% endif %}
		</span>
	</div>
{% endblock %}

{% block customer_domain %}
	<div class="form-line js-change-price-categories">
		<label class="form-line__label">{{ 'Doména'|trans }}: </label>
		<input
			type="text"
			value="{{ getDomainName(user.domainId) }}"
			class="form-control form-line__field"
			readonly="readonly"
		>
	</div>
{% endblock %}