{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Přehled zákazníků'|trans }}{% endblock %}
{% block h1 %}{{ 'Přehled zákazníků'|trans }}{% endblock %}

{% block main_content %}


	<div class="row">
		<div class="col-xs-12 col-lg-10">

			{{ render(controller('SS6ShopBundle:Admin/Domain:domainTabs')) }}

			<a href="{{ url('admin_customer_new') }}" class="btn btn-primary mb-1">{{ 'Vytvořit nového zákazníka'|trans }}</a>

			{{ gridView.render() }}
		</div>
	</div>
{% endblock %}