{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Přehled zákazníků'|trans }}{% endblock %}
{% block h1 %}{{ 'Přehled zákazníků'|trans }}{% endblock %}

{% block btn %}
	<a href="{{ url('admin_customer_new') }}" class="btn btn--plus wrap-bar__btn">
		<i class="btn__icon">+</i>
		{{ 'Vytvořit nového zákazníka'|trans }}
	</a>
{% endblock %}

{% block main_content %}
	{{ render(controller('SS6ShopBundle:Admin/Domain:domainTabs')) }}

	{{ form_start(quickSearchForm) }}
		<div class="wrap-border form-inline">
			{{ form_widget(quickSearchForm.text) }}
			{{ form_widget(quickSearchForm.submit, { label: 'Vyhledat'|trans, full_name: ''}) }}
			<i class="svg svg-info h-cursor-help js-tooltip"
			 data-toggle="tooltip" data-placement="right"
			 title="{{ 'Vyhledávání hledá v příjmení, názvu firmy, emailu a telefonu. Je možné používat operátory * a ?.'|trans }}"
			></i>
		</div>
	{{ form_end(quickSearchForm) }}


	{{ gridView.render() }}
{% endblock %}