<h2>{{ 'Objednávky zákazníka'|trans }}</h2>

{% if orders|length == 0 %}
	{{ 'Zákazník prozatím nemá žádné objednávky.'|trans }}
{% else %}
	<table class="table-main">
		<thead>
			<tr>
				<th>{{ 'Číslo objednávky'|trans }}</th>
				<th>{{ 'Fakturační adresa'|trans }}</th>
				<th>{{ 'Doručovací adresa'|trans }}</th>
				<th>{{ 'Celková cena s DPH'|trans }}</th>
				<th>{{ 'Stav'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
				<tr>
					<td>
						<a href="{{ url('admin_order_edit', { id: order.id }) }}" target="_blank">
							{{ order.number }}<i class="svg svg-arrow-simple in-icon in-icon--detail margin-left-5"></i>
						</a>
					</td>
					<td>
						{{ order.street }}<br />
						{{ order.city }}, {{ order.postcode }}
					</td>
					<td>
						{{ order.deliveryStreet }}<br />
						{{ order.deliveryCity }}, {{ order.deliveryPostcode }}
					</td>
					<td>{{ order.totalPriceWithVat|priceWithCurrency(order.currency) }}</td>
					<td>{{ order.status.name }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
