{% extends '@ShopsysShop/Admin/Content/Customer/detail.html.twig' %}

{% block title %}- {{ 'Editing customer'|trans }} - {{ user.fullName }}{% endblock %}
{% block h1 %}
    {{ 'Editing customer'|trans }} - {{ user.fullName }}
    <a href="{{ ssoLoginAsUserUrl }}" target="_blank" class="btn-link-style btn-link-style--iconic-l">
        <i class="svg svg-forward-page"></i>
        <span>
            {{ 'Log in as user'|trans }}
        </span>
    </a>
{% endblock %}

{% block customer_created_at %}
    <div class="form-line">
        <div class="form-line__label">
            {{ 'Date of registration and privacy policy agreement'|trans }}:
        </div>
        <div class="form-line__side">
            <div class="form-line__item form-line__item--text">
                {{ user.createdAt|formatDateTime }}
            </div>
        </div>
    </div>
{% endblock %}

{% block customer_last_login %}
    <div class="form-line">
        <div class="form-line__label">
            {{ 'Last login'|trans }}:
        </div>
        <div class="form-line__side">
            <div class="form-line__item form-line__item--text">
                {% if user.lastLogin != null %}
                    {{ user.lastLogin|formatDateTime }}
                {% else %}
                    {{ 'never'|trans }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block customer_domain %}
    {% if isMultidomain() %}
        <div class="form-line js-change-price-categories">
            <label class="form-line__label">{{ 'Domain'|trans }}:</label>

            <div class="form-line__side">
                <div class="form-line__item form-line__item--text">
                    {{ domainIcon(user.domainId) }} {{ getDomainName(user.domainId) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block customer_order_list %}
    {% include '@ShopsysShop/Admin/Content/Customer/orderList.html.twig' with {orders: orders} only %}
{% endblock %}