{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}{{ '- Email settings'|trans }}{% endblock %}
{% block h1 %}{{ 'E-mail settings'|trans }}{% endblock %}

{% block main_content %}
	{{ render(controller('SS6ShopBundle:Admin/Domain:domainTabs')) }}

	{{ form_start(form) }}
		<div class="form-group">
			<div class="form-group__title">
				{{ 'Settings'|trans }}
			</div>
			{{ form_row(form.email, { 'label': 'Hlavní administrátorský email'|trans }) }}
			{{ form_row(form.name, { 'label': 'Jméno k emailu'|trans }) }}
		</div>

		{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
			{% block fixed_bar_content %}
				{{ form_widget(form.save, { label: 'Save changes'|trans }) }}
			{% endblock %}
		{% endembed %}
	{{ form_end(form) }}
{% endblock %}