{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- Nastavení šablon e-mailů{% endblock %}
{% block h1 %}Nastavení šablon e-mailů{% endblock %}

{% block main_content %}

	<div class="row">

		<div class="col-xs-12 col-lg-10">

			{{ form_start(form) }}
			{{ form_errors(form) }}
				{% for orderStatusId, template in form.templates %}
					{% set orderStatus = orderStatusesIndexedById[orderStatusId] %}

					<div class="toggle-container box-expand wrap-box wrap-box--blank">
						<h2 class ="toggle-headline box-expand__heading">
							<span class="in-arrows in-arrows--down">
								{{ orderStatus.name }}
							</span>
						</h2>
						<div class="toggle-content toggle-close box-expand__hidden">
							{{ form_row(template.subject, { label: 'Předmět'}) }}
							{{ form_row(template.body, { label: 'Text'}) }}
							{{ form_widget(template.save, { label: 'Uložit změny ve všech šablonách'}) }}
						</div>
					</div>
				{% endfor %}
			{{ form_end(form) }}

		</div>

	</div>

{% endblock %}
