{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- Nastavení šablon e-mailů{% endblock %}
{% block h1 %}Nastavení šablon e-mailů{% endblock %}

{% block main_content %}

	<div class="row">

		<div class="col-xs-12 col-lg-10">

			{% macro mailTemplate(name, template) %}
				<div class="toggle-container box-expand">
						<h2 class ="toggle-headline box-expand__heading">
							<span class="in-arrows in-arrows--down">
								{{ name }}
							</span>
						</h2>
						<div class="toggle-content toggle-close box-expand__hidden">
							{{ form_row(template.subject, { label: 'Předmět'}) }}
							{{ form_row(template.body, { label: 'Text'}) }}
							{{ form_widget(template.save, { label: 'Uložit změny ve všech šablonách'}) }}
						</div>
				</div>
			{% endmacro%}

			{{ form_start(form) }}
			{{ form_errors(form) }}
				{% for orderStatusId, orderStatusTemplate in form.orderStatusTemplates %}
					{% set orderStatus = orderStatusesIndexedById[orderStatusId] %}

					{{ _self.mailTemplate(orderStatus.name, orderStatusTemplate) }}

				{% endfor %}

				{{ _self.mailTemplate('Potvrzení registrace', form.registrationTemplate) }}

			{{ form_end(form) }}

		</div>

	</div>

{% endblock %}
