{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- Nastavení šablon e-mailů{% endblock %}
{% block h1 %}Nastavení šablon e-mailů{% endblock %}

{% block main_content %}

	<div class="row">

		<div class="col-xs-12 col-lg-10">

			{{ form_start(form) }}
			{{ form_errors(form) }}
			{% for key, name in orderStatusNames %}
				<h2>{{ orderStatusNames[key] }}</h2>
				<div class="wrap-group">
				{{ form_row(form[key].subject, { label: 'Předmět'}) }}
				{{ form_row(form[key].body, { label: 'Text'}) }}
				{{ form_widget(form[key].save, { label: 'Uložit změny'}) }}
				</div>
			{% endfor %}
			{{ form_end(form) }}

		</div>

	</div>

{% endblock %}