{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Nastavení šablon e-mailů'|trans }}{% endblock %}
{% block h1 %}{{ 'Nastavení šablon e-mailů'|trans }}{% endblock %}

{% block main_content %}

	<div id="js-mail-templates">

		{{ render(controller('SS6ShopBundle:Admin/Domain:domainTabs')) }}

		{% macro mailTemplate(name, templateForm, variables, requiredVariables, variablesLabels, variablesInfoText, sendMailText, mailTemplate) %}
			<div class="js-mail-template-toggle-container js-toggle-container form-group wrap-border">
				<h2 class ="form-group__title">
						{{ name }}
					<span class="form-group__title__click js-toggle-button">+</span>
				</h2>
				<div id="{{ templateForm.vars.id }}" class="js-mail-template js-toggle-content display-none box-expand__hidden">
					{{ form_row(templateForm.subject, { label: 'Předmět'|trans}) }}
					{{ form_row(templateForm.bccEmail, { label: 'Skrytá kopie'|trans}) }}
					{{ form_row(templateForm.body, { label: 'Text'|trans}) }}
					{% if hasUploadedFile(mailTemplate) %}
						<div class="form-line js-mail-template-attachment">
							<label class="form-line__label">
								{{ 'Příloha'|trans }}:
							</label>
							<div class="form-line__line">
								<div class="list-images__item">
									<div class="list-images__item__in">
										<a href="{{ uploadedFileUrl(mailTemplate) }}" target="_blank" class="list-images__item__image">
											{{ uploadedFilePreview(mailTemplate) }}
											<div>{{ getUploadedFile(mailTemplate).filename }}</div>
										</a>
										<button class="js-mail-template-attachment-delete-button btn-no-style list-images__item__remove" type="button" title="{{ 'Smazat'|trans }}">
											<i class="svg svg-circle-cross"></i>
										</button>
										<button
											class="btn-no-style js-mail-template-attachment-delete-revert-button list-images__item__revert js-mail-template-attachment-delete-revert"
											type="button"
											title="{{ 'Vrátit zpět'|trans }}"
										>
											<i class="svg svg-arrow-back"></i>
										</button>
										<span class="list-images__item__overlay js-mail-template-attachment-delete-revert">{{ 'Po uložení bude soubor smazán'|trans }}</span>
										{{ form_widget(templateForm.deleteAttachment, {attr: {class: 'display-none js-mail-template-attachment-delete-checkbox'}}) }}
									</div>
								</div>
							</div>
						</div>
					{% else %}
						{% do templateForm.deleteAttachment.setRendered %}
					{% endif %}
					{{ form_row(templateForm.attachment, { label: 'Nahrát přílohu'|trans}) }}
					{% if sendMailText is not null %}
						{{ form_row(templateForm.sendMail, { label: sendMailText, attr: {class: 'js-send-mail-checkbox'} }) }}
					{% else %}
						{{ form_widget(templateForm.sendMail, { 'attr': {'class': 'display-none'} }) }}
					{% endif %}

					<table class="table-main">
						<thead>
							<tr>
								<th>
									{{ 'Použitelné proměnné'|trans }}
									{% if variablesInfoText is not null %}
										<i class="svg svg-info cursor-help js-tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{ variablesInfoText }}"></i>
									{% endif %}
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for key in variables %}
								<tr>
									<td>
										{{ key }}
										{% if key in requiredVariables %}
											<span class="form-input-required">*</span>
										{% endif %}
									</td>
									<td>{{ variablesLabels[key] }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endmacro%}

		{{ form_start(form) }}
		{{ form_errors(form) }}
			{% for orderStatusId, orderStatusTemplate in form.orderStatusTemplates %}
				{% set orderStatus = orderStatusesIndexedById[orderStatusId] %}
				{% if orderStatus.type == TYPE_NEW %}
					{{ _self.mailTemplate(
							orderStatus.name,
							orderStatusTemplate,
							orderStatusVariables,
							[],
							orderStatusVariablesLabels,
							'V předmětu lze použít proměnné pouze pro číslo objednávky a datum a čas vytvoření objednávky'|trans,
							'Zasílat potvrzení o přijetí objednávky'|trans,
							orderStatusMailTemplatesByOrderStatusId[orderStatusId]
					) }}
				{% else %}
					{{ _self.mailTemplate(
							orderStatus.name,
							orderStatusTemplate,
							orderStatusVariables,
							[],
							orderStatusVariablesLabels,
							'V předmětu lze použít proměnné pouze pro číslo objednávky a datum a čas vytvoření objednávky'|trans,
							'Zasílat e-mail o změně na tento stav'|trans,
							orderStatusMailTemplatesByOrderStatusId[orderStatusId]
					) }}
				{% endif %}
			{% endfor %}

			{{ _self.mailTemplate(
				'Potvrzení registrace'|trans,
				form.registrationTemplate,
				registrationVariables,
				[],
				registrationVariablesLabels,
				null,
				null,
				registrationMailTemplate
			) }}

			{{ _self.mailTemplate(
				'Zaslání zapomenutého hesla'|trans,
				form.resetPasswordTemplate,
				resetPasswordVariables,
				resetPasswordRequiredVariables,
				resetPasswordVariablesLabels,
				null,
				null,
				resetPasswordMailTemplate
			) }}

			{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
				{% block fixed_bar_content %}
					{{ form_widget(form.save, { label: 'Uložit změny ve všech šablonách'|trans}) }}
				{% endblock %}
			{% endembed %}
		{{ form_end(form) }}

	</div>

{% endblock %}
