{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Kategorie'|trans }}{% endblock %}
{% block h1 %}{{ 'Kategorie'|trans }}{% endblock %}

{% block main_content %}
	{{ form_start(form) }}
		{{ form_errors(form) }}

		<div class="wrap-group">
			{{ form_id(category|default(null)) }}
			{% block category_url %}{% endblock %}
			{{ form_row(form.name, { label: 'Název'|trans }) }}
			{{ form_row(form.parent, { label: 'Nadřazená kategorie'|trans}) }}
			{{ form_row(form.showOnDomains, { label: 'Zobrazit na doménách'|trans}) }}
			{% block category_urls %}{% endblock %}
		</div>

		{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
			{% block fixed_bar_content %}
				<a href="{{ url('admin_category_list') }}" class="btn-link-style">{{ 'Zpět na přehled'|trans }}</a>
				{{ form_save(category|default(null), form) }}
			{% endblock %}
		{% endembed %}
	{{ form_end(form) }}
{% endblock %}