{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Kategorie'|trans }}{% endblock %}
{% block h1 %}{{ 'Kategorie'|trans }}{% endblock %}
{% block main_content %}
	{{ form_start(form) }}
		{{ form_errors(form) }}
		<div class="form-group wrap-border">
			<div class="form-group__title">
				{{ 'Nastavení'|trans }}
			</div>
			{{ form_id(category|default(null)) }}
			{{ form_row(form.name, { label: 'Název'|trans }) }}
			{{ form_row(form.parent, { label: 'Nadřazená kategorie'|trans}) }}
			{{ form_row(form.showOnDomains, { label: 'Zobrazovat na'|trans}) }}
			{{ form_row(form.heurekaCzFeedCategory, { label: 'Kategorie Heureka.cz'|trans, attr: { class: 'js-autocomplete-selectbox'}}) }}
			{% block category_urls %}{% endblock %}
		</div>

		<div class="form-group wrap-border">
			<div class="form-group__title">
				{{ 'Popis'|trans }}
			</div>
			{% for domainId, descriptionForm in form.descriptions %}
				{% if isMultidomain() %}
					<div class="form-line form-line--no-padd">
						<div class="form-line__group">
							<span class="form-line__group__image">
								{{ domainIcon(domainId, 'large') }}
							</span>
							<strong class="form-line__group__name">{{ getDomainName(domainId) }}</strong>
						</div>
					</div>
				{% endif %}
				<div class="form-line">
					<div class="form-line__line form-line__line--no-space">
						{{ form_widget(descriptionForm) }}
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="form-group">
			<div class="form-group__title">
				{{ 'Obrázek'|trans }}
			</div>
			{% block image %}{% endblock %}
			{{ form_row(form.image, { label: 'Nahrát obrázek'|trans, infoText: 'Můžete nahrávat formáty: PNG, JPG a GIF'|trans }) }}
		</div>

		{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
			{% block fixed_bar_content %}
				<a href="{{ url('admin_category_list') }}" class="btn-link-style">{{ 'Zpět na přehled'|trans }}</a>
				{{ form_save(category|default(null), form) }}
			{% endblock %}
		{% endembed %}
	{{ form_end(form) }}
{% endblock %}