{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Kategorie'|trans }}{% endblock %}
{% block h1 %}{{ 'Kategorie'|trans }}{% endblock %}

{% block main_content %}
	<div class="row">

		<div class="col-xs-12 col-lg-10">
			{{ form_start(form) }}
				{{ form_errors(form) }}

				<div class="wrap-group">
					{{ form_id(category|default(null)) }}
					{% block category_url %}{% endblock %}
					{{ form_row(form.name, { label: 'Název' }) }}
					{{ form_row(form.parent, { label: 'Nadřazená kategorie'}) }}
					{{ form_row(form.showOnDomains, { label: 'Zobrazit na doménách'}) }}
				</div>

				<div class="window-fixed-bar">
 					<div class="window-fixed-bar__buttons">
						{{ form_save(category|default(null), form) }}
						<a href="{{ url('admin_category_list') }}" class="btn btn-default">{{ 'Zpět na přehled'|trans }}</a>
					</div>
				</div>
			{{ form_end(form) }}
		</div>

	</div>
{% endblock %}