<div class="box-domain" role="tablist">
	{% if selectedDomainId == 0 %}
		<span class="box-domain__item box-domain__item--active">
			{{ 'Všechny domény'|trans }}
		</span>
	{% else %}
		<a class="box-domain__item" href="{{ url('admin_category_list', { domain: 0 }) }}">
			{{ 'Všechny domény'|trans }}
		</a>
	{% endif %}

	{% for domainConfig in domainConfigs %}
		{% if domainConfig.id == selectedDomainId %}
			<span class="box-domain__item box-domain__item--active">
				{% if multipleLocales %}{{ localeFlag(domainConfig.locale, false) }}{% endif %}
				{{ domainConfig.name }}
			</span>
		{% else %}
			<a class="box-domain__item" href="{{ url('admin_category_list', {domain: domainConfig.id}) }}">
				{% if multipleLocales %}{{ localeFlag(domainConfig.locale, false) }}{% endif %}
				{{ domainConfig.name }}
			</a>
		{% endif %}
	{% endfor %}
</div>
