{% extends '@SS6Shop/Admin/Content/Category/detail.html.twig' %}

{% block title %}- {{ 'Editace kategorie'|trans }} - {{ category.name }}{% endblock %}
{% block h1 %}{{ 'Editace kategorie'|trans }} - {{ category.name }}{% endblock %}

{% block category_url %}
	<div class="form-line">
		<span class="form-line__text">
			<a href="{{ url('front_product_list', { id: category.id }) }}" target="_blank">{{ url('front_product_list', { id: category.id }) }}</a>
		</span>
	</div>
{% endblock %}