{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Kategorie'|trans }}{% endblock %}
{% block h1 %}{{ 'Kategorie'|trans }}{% endblock %}

{% block main_content %}
	<div class="wrap-border">
		<a href="{{ url('admin_category_new') }}" class="btn">{{ 'Vytvořit 	novou kategorii'|trans }}</a>
	</div>

	{{ render(controller('SS6ShopBundle:Admin/Category:listDomainTabs')) }}

	{% macro categoryTreeItem(categoryDetails) %}
		<ul class="js-category-tree-items form-tree__content">
			{% for categoryDetail in categoryDetails %}
				<li class="js-category-tree-item form-tree__item" id="js-category-tree-{{ categoryDetail.category.id }}">
					<div class="js-category-tree-item-line">
						<span class="form-tree__item__icon form-tree__item__icon--level sprite sprite-level"></span>
						<span class="js-category-tree-item-handle form-tree__item__name">{{ categoryDetail.category.name }}</span>
						<span class="js-category-tree-item-icons">
							<a href="{{ url('admin_category_edit', {id: categoryDetail.category.id}) }}" class="form-tree__item__control">
								<i class="svg svg-pencil"></i>
							</a>
							<a
								href="{{ url('admin_category_delete', {id: categoryDetail.category.id}) }}"
								onclick="
									SS6.window({
										content: '{{ 'Opravdu chcete smazat tuto kategorii?'|trans|e('js') }}',
										buttonCancel: true,
										buttonContinue: true,
										textContinue: '{{ 'Ano'|trans|e('js') }}',
										urlContinue: '{{ url('admin_category_delete', {id: categoryDetail.category.id})|e('js') }}'
									});
									return false;"
								class="form-tree__item__control"
							>
								<i class="svg svg-trash"></i>
							</a>
						</span>
					</div>
					{{ _self.categoryTreeItem(categoryDetail.children) }}
				</li>
			{% endfor %}
		</ul>
	{% endmacro %}

	{% if isForAllDomains %}
		<div id="js-category-tree-sorting">
			<div class="form-line">
				<div class="form-tree form-tree--open">
					{{ _self.categoryTreeItem(categoryDetails) }}
				</div>
			</div>
		</div>

		{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
			{% block fixed_bar_content %}
				<button
					class="btn btn--disabled"
					id="js-category-tree-sorting-save-button"
					data-category-save-order-url="{{ url('admin_category_saveorder') }}"
					type="button"
				>
					{{ 'Uložit změny v pořadí'|trans }}
				</button>
			{% endblock %}
		{% endembed %}
	{% else %}
		<div class="form-line">
			<div class="form-tree form-tree--open">
				{{ _self.categoryTreeItem(categoryDetails) }}
			</div>
		</div>
		<div>
			{{ 'Na záložce konkrétní domény není možné upravovat pořadí a zanoření kategorií. Prosím přejděte na kartu kategorie nebo na přehled kategorií všech domén.'|trans }}
		</div>
	{% endif %}
{% endblock %}