{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}{{ 'Superadmin - Closing modules'|trans }}{% endblock %}
{% block h1 %}{{ 'Superadmin - Closing modules'|trans }}{% endblock %}

{% block main_content %}
    <div class="in-message in-message--warning margin-bottom-15">
        {{ 'If you want for these changes to manifest everywhere (on production, devel, localhost etc.) instruct a programmer to commit the changes into GIT!'|trans }}
    </div>

    {{ form_start(form) }}
        <table class="table-main">
            <thead>
                <tr>
                    <th class="table-col-80">{{ 'Module name'|trans }}</th>
                    <th class="table-col-10 text-center">{{ 'Active'|trans }}</th>
                    <th class="table-col-10 text-center">{{ 'Inactive'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for moduleName, moduleForm in form.modules %}
                    <tr>
                        <td class="table-col-80">{{ moduleForm.vars.label }}{{ form_errors(moduleForm) }}</td>
                        <td class="table-col-10 text-center">{{ form_widget(moduleForm.yes) }}</td>
                        <td class="table-col-10 text-center">{{ form_widget(moduleForm.no) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
            {% block fixed_bar_content %}
                {{ form_widget(form.save, { label: 'Save changes'|trans}) }}
            {% endblock %}
        {% endembed %}
    {{ form_end(form) }}
{% endblock %}
