<table>
	<tr>
		<th>Jméno</th>
		<th>Příjmení</th>
		<th>Firma</th>
		<th>IČ</th>
		<th>DIČ</th>
		<th>Ulice</th>
		<th>Město</th>
		<th>PSČ</th>
	</tr>
	<tr>
		<td>{{ order.firstName }}</td>
		<td>{{ order.lastName }}</td>
		<td>{{ order.companyName }}</td>
		<td>{{ order.companyNumber }}</td>
		<td>{{ order.companyTaxNumber }}</td>
		<td>{{ order.street }}</td>
		<td>{{ order.city }}</td>
		<td>{{ order.postcode }}</td>
	</tr>
</table>
