<table>
	<tr>
		<th>{{ 'Jméno'|trans }}</th>
		<th>{{ 'Příjmení'|trans }}</th>
		<th>{{ 'Firma'|trans }}</th>
		<th>{{ 'IČ'|trans }}</th>
		<th>{{ 'DIČ'|trans }}</th>
		<th>{{ 'Ulice'|trans }}</th>
		<th>{{ 'Město'|trans }}</th>
		<th>{{ 'PSČ'|trans }}</th>
	</tr>
	<tr>
		<td>{{ order.firstName }}</td>
		<td>{{ order.lastName }}</td>
		<td>{{ order.companyName }}</td>
		<td>{{ order.companyNumber }}</td>
		<td>{{ order.companyTaxNumber }}</td>
		<td>{{ order.street }}</td>
		<td>{{ order.city }}</td>
		<td>{{ order.postcode }}</td>
	</tr>
</table>
