<table>
	<tr>
		<th>{% trans into orderLocale %}Jméno{% endtrans %}</th>
		<th>{% trans into orderLocale %}Příjmení{% endtrans %}</th>
		<th>{% trans into orderLocale %}Firma{% endtrans %}</th>
		<th>{% trans into orderLocale %}IČ{% endtrans %}</th>
		<th>{% trans into orderLocale %}DIČ{% endtrans %}</th>
		<th>{% trans into orderLocale %}Ulice{% endtrans %}</th>
		<th>{% trans into orderLocale %}Město{% endtrans %}</th>
		<th>{% trans into orderLocale %}PSČ{% endtrans %}</th>
	</tr>
	<tr>
		<td>{{ order.firstName }}</td>
		<td>{{ order.lastName }}</td>
		<td>{{ order.companyName }}</td>
		<td>{{ order.companyNumber }}</td>
		<td>{{ order.companyTaxNumber }}</td>
		<td>{{ order.street }}</td>
		<td>{{ order.city }}</td>
		<td>{{ order.postcode }}</td>
	</tr>
</table>
