<table>
	<tr>
		<th>{% trans into orderLocale %}First name{% endtrans %}</th>
		<th>{% trans into orderLocale %}Surname{% endtrans %}</th>
		<th>{% trans into orderLocale %}Company{% endtrans %}</th>
		<th>{% trans into orderLocale %}Telephone{% endtrans %}</th>
		<th>{% trans into orderLocale %}Street{% endtrans %}</th>
		<th>{% trans into orderLocale %}City{% endtrans %}</th>
		<th>{% trans into orderLocale %}Postcode{% endtrans %}</th>
	</tr>
	<tr>
		<td>{{ order.deliveryFirstName }}</td>
		<td>{{ order.deliveryLastName }}</td>
		<td>{{ order.deliveryCompanyName }}</td>
		<td>{{ order.deliveryTelephone }}</td>
		<td>{{ order.deliveryStreet }}</td>
		<td>{{ order.deliveryCity }}</td>
		<td>{{ order.deliveryPostcode }}</td>
	</tr>
</table>
