<table>
	<tr>
		<th>Kontaktní osoba</th>
		<th>Firma</th>
		<th>Telefon</th>
		<th>Ulice</th>
		<th>Město</th>
		<th>PSČ</th>
	</tr>
	<tr>
		<td>{{ order.deliveryContactPerson }}</td>
		<td>{{ order.deliveryCompanyName }}</td>
		<td>{{ order.deliveryTelephone }}</td>
		<td>{{ order.deliveryStreet }}</td>
		<td>{{ order.deliveryCity }}</td>
		<td>{{ order.deliveryPostcode }}</td>
	</tr>
</table>
