<table>
	<tr>
		<th>{{ 'Kontaktní osoba'|trans }}</th>
		<th>{{ 'Firma'|trans }}</th>
		<th>{{ 'Telefon'|trans }}</th>
		<th>{{ 'Ulice'|trans }}</th>
		<th>{{ 'Město'|trans }}</th>
		<th>{{ 'PSČ'|trans }}</th>
	</tr>
	<tr>
		<td>{{ order.deliveryContactPerson }}</td>
		<td>{{ order.deliveryCompanyName }}</td>
		<td>{{ order.deliveryTelephone }}</td>
		<td>{{ order.deliveryStreet }}</td>
		<td>{{ order.deliveryCity }}</td>
		<td>{{ order.deliveryPostcode }}</td>
	</tr>
</table>
