<table>
	<tr>
		<th>{% trans into orderLocale %}Kontaktní osoba{% endtrans %}</th>
		<th>{% trans into orderLocale %}Firma{% endtrans %}</th>
		<th>{% trans into orderLocale %}Telefon{% endtrans %}</th>
		<th>{% trans into orderLocale %}Ulice{% endtrans %}</th>
		<th>{% trans into orderLocale %}Město{% endtrans %}</th>
		<th>{% trans into orderLocale %}PSČ{% endtrans %}</th>
	</tr>
	<tr>
		<td>{{ order.deliveryContactPerson }}</td>
		<td>{{ order.deliveryCompanyName }}</td>
		<td>{{ order.deliveryTelephone }}</td>
		<td>{{ order.deliveryStreet }}</td>
		<td>{{ order.deliveryCity }}</td>
		<td>{{ order.deliveryPostcode }}</td>
	</tr>
</table>
