<table>
	<tr>
		<th>{{ 'Název'|trans }}</th>
		<th>{{ 'Počet kusů'|trans }}</th>
		<th>{{ 'Cena za kus s DPH'|trans }}</th>
		<th>{{ 'Celková cena za položku s DPH'|trans }}</th>
	</tr>
	{% for item in order.items %}
		<tr>
			<td style="font-weight: bold;">{{ item.name }}</td>
			<td style="text-align: right;">{{ item.quantity }}</td>
			<td style="text-align: right;">{{ item.priceWithVat|priceText }}</td>
			<td style="text-align: right;">{{ orderItemTotalPricesById[item.id].priceWithVat|priceText }}</td>
		</tr>
	{% endfor %}
</table>