{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Picture size'|trans }}{% endblock %}
{% block h1 %}{{ 'Picture size'|trans }}{% endblock %}

{% block main_content %}
	{% for imageEntityConfig in imageEntityConfigs %}
		{% set entityName = imageEntityConfig.entityName %}
		{% if imageEntityConfig.sizeConfigs is not empty %}
			{{ _self.entitySizes(entityNames[entityName], imageEntityConfig.sizeConfigs, usagesByEntityAndSizeName[entityName]) }}
		{% endif %}
		{% if imageEntityConfig.sizeConfigsByTypes is not empty %}
			{% for typeName, sizeConfigs in imageEntityConfig.sizeConfigsByTypes %}
				{{ _self.entitySizes(entityNames[entityName] ~ ' - ' ~ typeName, sizeConfigs, usagesByEntityAndTypeAndSizeName[entityName][typeName]) }}
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endblock %}

{% macro entitySizes(name, sizeConfigs, usages) %}
	<div class="wrap-border">
		<h2>{{ name }}</h2>
		<table class="table-main">
			<thead>
				<tr>
					<th class="table-col-20">{{ 'Size name'|trans }}</th>
					<th class="table-col-10">{{ 'Width [px]'|trans }}</th>
					<th class="table-col-10">{{ 'Height [px]'|trans }}</th>
					<th class="table-col-50">{{ 'Occurence'|trans }}</th>
					<th class="table-col-10 text-right">{{ 'Cropping'|trans }}</th>
				</tr>
			</thead>
			<tbody>
				{% for sizeConfig in sizeConfigs %}
					{% if sizeConfig.name != 'original' %}
						<tr>
							<td>{{ sizeConfig.name|default('default'|trans)|humanize }}</td>
							<td>{{ sizeConfig.width|default('-')}}</td>
							<td>{{ sizeConfig.height|default('-') }}</td>
							<td>{{ usages[sizeConfig.name|default('default')] }}</td>
							<td class ="text-right">
								{% if sizeConfig.crop == true %}
									{{ 'Yes'|trans }}
								{% else %}
									{{ 'No'|trans }}
								{% endif %}
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endmacro %}
