<div class="row">
	<div class="col-xs-12 col-lg-10">
		{{ form_start(form) }}
			<div class="wrap-box mb-1 mt-1">
				{{ form_row(form.defaultCurrency, { 'label': 'Výchozí měna eshopu'|trans }) }}
				{{ form_widget(form.save, { label: 'Uložit změny'|trans}) }}
				<i class="fa fa-info-circle cursor-help js-tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{'Při změně výchozí měny nedochází k žádnému přepočtu cen'|trans}}"></i>
			</div>
		{{ form_end(form) }}
	</div>
</div>