{% extends '@SS6Shop/Admin/Grid/Grid.html.twig' %}

{% block grid_action_cell_type_delete %}
	{% if notAllowedToDeleteCurrencyIds is defined %}
		{% if row is not empty and row.c.id in notAllowedToDeleteCurrencyIds %}
			<span title="{{ 'Tuto měnu nelze smazat, je nastavena jako výchozí nebo je uložena u objednávky'|trans }}"
				class="js-tooltip h-cursor-help in-icon in-icon--info" data-toggle="tooltip" data-placement="bottom"
			>
				<i class="svg svg-info"></i>
			</span>
		{% else %}
			{{ gridView.renderBlock('grid_action_cell', {actionColumn: actionColumn, row: row}) }}
		{% endif %}
	{% else %}
		{{ gridView.renderBlock('grid_action_cell', {actionColumn: actionColumn, row: row}) }}
	{% endif %}
{% endblock %}

{% block grid_value_cell_edit_id_exchangeRate %}
	<span class="form-edit-block form-edit-block--size-1">
		{% form_theme form '@SS6Shop/Admin/Form/theme.html.twig' %}
		{{ form_widget(form.exchangeRate) }}
		<span class="form-edit-block__info">
			{% if row is null %}
				<span title="" class="js-tooltip h-cursor-help in-icon" data-toggle="tooltip" data-placement="top" data-original-title="{{ '%defaultCurrency% za 1 jednotku'|trans({'%defaultCurrency%': currencySymbolByCurrencyId(defaultCurrency.id)}) }}">
					<i class="svg svg-question"></i>
				</span>
			{% elseif row.c.id != defaultCurrency.id %}
				<span title="" class="js-tooltip h-cursor-help in-icon" data-toggle="tooltip" data-placement="top" data-original-title="{{ '%defaultCurrency% za 1 %currentCurrency%'|trans({
					'%defaultCurrency%': currencySymbolByCurrencyId(defaultCurrency.id),
					'%currentCurrency%': currencySymbolByCurrencyId(row.c.id)
				}) }}">
					<i class="svg svg-question"></i>
				</span>
			{% endif %}
		</span>
	</span>
{% endblock %}

{% block grid_value_cell_id_exchangeRate %}
	{% if row.c.id == defaultCurrency.id %}
		{{ '-' }}
	{% else %}
		{{ value|formatNumber }}
		{{ '%defaultCurrency% za 1 %currentCurrency%'|trans({
			'%defaultCurrency%': currencySymbolByCurrencyId(defaultCurrency.id),
			'%currentCurrency%': currencySymbolByCurrencyId(row.c.id)
		}) }}
	{% endif %}
{% endblock %}

{% block grid_no_data %}
	{{ 'Nebyly nalezeny žádné měny. Nejprve musíte nějakou vytvořit.'|trans }}
{% endblock %}

{% block grid_pager_totalcount %}
	{% set entityName = 'měny'|trans %}
	{{ parent() }}
{% endblock %}

{% block grid_inline_edit_add_button %}
	{% set addEntity = 'Vytvořit měnu'|trans %}
	{{ parent() }}
{% endblock %}