{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}
    - {{ 'Free shipping and payment'|trans }}
{% endblock %}

{% block h1 %}
    {{ 'Free shipping and payment'|trans }}
{% endblock %}

{% block main_content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <table class="table-main">
            <thead>
                {% if isMultidomain() %}
                    <th>{{ 'Domain'|trans }}</th>
                {% endif %}
                <th>{{ 'Use'|trans }}</th>
                <th>
                    {{ 'Free from order value with VAT'|trans }}
                    <span
                        title="{{ 'Value of bought products with VAT after application of all discounts and promo codes without price of shipping and payment'|trans }}"
                        class="js-tooltip cursor-help"
                        data-toggle="tooltip"
                        data-placement="top"
                    >
                        <i class="svg svg-question"></i>
                    </span>
                </th>
            </thead>
            <tbody>
                {% for domainId, priceLimitForm in form.priceLimits %}
                    {% set domainName = domain.getDomainConfigById(domainId).getName() %}
                    <tr id="{{ priceLimitForm.vars.id }}" class="js-free-transport-and-payment-price-limit" data-domain-id="{{ domainId }}">
                        {% if isMultidomain() %}
                            <td>{{ domainName }}</td>
                        {% endif %}
                        <td>
                            {{ form_widget(priceLimitForm.enabled, { attr: { class: 'js-free-transport-and-payment-price-limit-enabled' } } ) }}
                        </td>
                        <td class="form-inline">
                            {{ form_widget(priceLimitForm.priceLimit, { symbolAfterInput: currencySymbolByDomainId(domainId), attr: { class: 'js-free-transport-and-payment-price-limit-input' } }) }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
            {% block fixed_bar_content %}
                {{ form_widget(form.save, { label: 'Save changes'|trans }) }}
            {% endblock %}
        {% endembed %}
    {{ form_end(form) }}
{% endblock %}