{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}{{ 'Objednávka č.'|trans }} {{ order.number }}{% endblock %}
{% block h1 %}{{ 'Objednávka č.'|trans }} {{ order.number }}{% endblock %}

{% block main_content %}
	<div class="row">
		<div class="col-xs-12 col-lg-10">

			{{ form_start(form) }}
				{{ form_errors(form) }}

				<div class="wrap-group">
					<fieldset>
						{{ form_id(order) }}
						<div class="form-line">
							<span class="form-line__text">
								<a href="{{ url('front_customer_order_detail_unregistered', { urlHash: order.urlHash }) }}" target="_blank">{{ url('front_customer_order_detail_unregistered', { urlHash: order.urlHash }) }}</a>
							</span>
						</div>
						<div class="form-line">
							<label class="form-line__label">{{ 'Doména'|trans }}:</label>
							<input type="text" value="{{ getDomainName(order.domainId) }}" class="form-control form-line__field" readonly="readonly">
						</div>
						{{ form_row(form.orderNumber, { label: 'Číslo objednávky' }) }}
						{{ form_row(form.statusId, { label: 'Stav' }) }}
						{{ form_row(form.customerId, { label: 'ID zákazníka' }) }}
					</fieldset>
				</div>

				<div class="wrap-group">
					<h2 class="mt-0">{{ 'Osobní údaje'|trans }}</h2>
					<fieldset>
						{{ form_row(form.firstName, { label: 'Jméno' }) }}
						{{ form_row(form.lastName, { label: 'Příjmení' }) }}
						{{ form_row(form.email, { label: 'E-mail' }) }}
						{{ form_row(form.telephone, { label: 'Telefon', attr: { class: 'form-line--size-2' } }) }}
					</fieldset>
				</div>

				<div class="wrap-group">
					<h2 class="mt-0">{{ 'Firemní údaje'|trans }}</h2>
					<fieldset>
						{{ form_row(form.companyName, { label: 'Název firmy' }) }}
						{{ form_row(form.companyNumber, { label: 'IČ', attr: { class: 'form-line--size-3' } }) }}
						{{ form_row(form.companyTaxNumber, { label: 'DIČ', attr: { class: 'form-line--size-3' } }) }}
					</fieldset>
				</div>

				<div class="wrap-group">
					<h2 class="mt-0">{{ 'Fakturační údaje'|trans }}</h2>
					<fieldset>
						{{ form_row(form.street, { label: 'Ulice' }) }}
						{{ form_row(form.city, { label: 'Město' }) }}
						{{ form_row(form.postcode, { label: 'PSČ', attr: { class: 'form-line--size-2' } }) }}
					</fieldset>
				</div>

				<div class="wrap-group">
					<h2 class="mt-0">{{ 'Doručovací adresa'|trans }}</h2>
					<fieldset>
						{{ form_row(form.deliveryContactPerson, { label: 'Kontaktní osoba' }) }}
						{{ form_row(form.deliveryCompanyName, { label: 'Firma' }) }}
						{{ form_row(form.deliveryTelephone, { label: 'Telefon', attr: { class: 'form-line--size-3' } }) }}
						{{ form_row(form.deliveryStreet, { label: 'Ulice' }) }}
						{{ form_row(form.deliveryCity, { label: 'Město' }) }}
						{{ form_row(form.deliveryPostcode, { label: 'PSČ', attr: { class: 'form-line--size-2' } }) }}
					</fieldset>
				</div>

				<div class="wrap-group">
					<h2 class="mt-0">{{ 'Poznámka'|trans }}</h2>
					<fieldset>
						{{ form_row(form.note, { label: 'Napište nám' }) }}
					</fieldset>
				</div>

				<div class="wrap-group form-group">
					<h2 class="mt-0">{{ 'Položky objednávky'|trans }}</h2>
					<fieldset>
						{% if form.items is not empty %}
							<div class="table-responsive">
								{{ form_errors(form.items) }}
								<table id="order_items" class="table table-striped table-hover">
									<thead>
										<tr>
											<th class="table-col-30">{{ 'Název'|trans }}</th>
											<th class="table-col-15 text-right">{{ 'Jednotková cena s DPH'|trans }}</th>
											<th class="table-col-10 text-right">{{ 'Množství'|trans }}</th>
											<th class="table-col-15 text-right">{{ 'Sazba DPH (%)'|trans }}</th>
											<th class="table-col-15 text-right text-nowrap">{{ 'Celkem s DPH'|trans }}</th>
											<th class="table-col-15 text-right text-nowrap">{{ 'Celkem bez DPH'|trans }}</th>
											<th ></th>
										</tr>
									</thead>
									<tbody id="js-order-items" data-prototype="{{ _self.orderItem(form.items.vars.prototype)|escape }}">
										{% macro orderItem(orderItem, orderItemId, orderItemTotalPricesById, currency) %}
											<tr class="js-order-item" data-index="{{ orderItemId }}">
												<td>{{ form_widget(orderItem.name, {attr: { class: 'js-order-item-name'}}) }}</td>
												<td>{{ form_widget(orderItem.priceWithVat, {attr: { class: 'text-right'}}) }}</td>
												<td>{{ form_widget(orderItem.quantity, {attr: { class: 'text-right'}}) }}</td>
												<td>{{ form_widget(orderItem.vatPercent, {attr: { class: 'text-right'}}) }}</td>
												<td class="text-right text-middle">
													{% if orderItemTotalPricesById[orderItemId] is defined %}
														{{ orderItemTotalPricesById[orderItemId].priceWithVat|priceWithCurrency(currency) }}
													{% endif %}
												</td>
												<td class="text-right text-middle">
													{% if orderItemTotalPricesById[orderItemId] is defined %}
														{{ orderItemTotalPricesById[orderItemId].priceWithoutVat|priceWithCurrency(currency) }}
													{% endif %}
												</td>
												<td class="table-col-5 table-edit__body__cell text-center">
													<a href="#" class="js-order-item-remove table-action"><i class="fa fa-trash-o"></i></a>
												</td>
											</tr>
										{% endmacro %}

										{% for orderItemId, orderItem in form.items %}
											{{ _self.orderItem(orderItem, orderItemId, orderItemTotalPricesById, order.currency) }}
										{% endfor %}
									</tbody>
									<tfoot>
										<tr>
											<td colspan="7">
												<a id="js-order-item-add" href="#" class="btn btn-primary">
													<i class="fa fa-plus fa-lg"></i>
													{{ 'Přidat položku'|trans }}
												</a>
											</td>
										</tr>
										<tr>
											<th colspan="4">{{ 'Celkem'|trans }}:</th>
											<th class="text-right">{{ order.totalPriceWithVat|priceWithCurrency(order.currency) }}</th>
											<th class="text-right">{{ order.totalPriceWithoutVat|priceWithCurrency(order.currency) }}</th>
											<th></th>
										</tr>
									</tfoot>
								</table>
							</div>
						{% else %}
							{{ form_widget(form.items, { type: 'hidden' }) }}
							<div class="in-message in-message--info in-message--static">
								{{ 'Objednávka neobsahuje žádné položky.'|trans }}
							</div>
						{% endif %}
					</fieldset>
				</div>

				{{ form_widget(form.save, { label: 'Uložit změny'|trans}) }}
				<a href="{{ url('admin_order_list') }}" class="btn btn-default">{{ 'Zpět na přehled'|trans }}</a>
			{{ form_end(form) }}

		</div>
	</div>

{% endblock %}