{% extends '@SS6Shop/Admin/Grid/Grid.html.twig' %}

{% block grid_value_cell_id_number %}
	<a href="{{ url('admin_order_edit', { id: row.id }) }}">{{ value }}</a>
{% endblock %}

{% block grid_value_cell_id_total_price %}
	{{ value|price }}
{% endblock %}

{% block grid_value_cell_id_domain_id %}
	{{ getDomainName(value) }}
{% endblock %}

{% block grid_no_data %}
	Nebyla nalezena žádná objednávka.
{% endblock %}

{% block grid_pager_totalcount %}
	{% set entityName = 'objednávek' %}
	{{ parent() }}
{% endblock %}