{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Přehled objednávek'|trans }}{% endblock %}
{% block h1 %}{{ 'Přehled objednávek'|trans }}{% endblock %}

{% block main_content %}
	{{ form_start(quickSearchForm) }}

	<div{{ isAdvancedSearchFormSubmitted ? ' class="display-none"' : '' }}>
		{% include '@SS6Shop/Admin/Content/Order/quickSearchFormContent.html.twig' with {quickSearchForm: quickSearchForm} %}
	</div>
	{% include '@SS6Shop/Admin/Content/Order/AdvancedSearch/advancedSearch.html.twig'
	with {
		advancedSearchForm: advancedSearchForm,
		isAdvancedSearchFormSubmitted: isAdvancedSearchFormSubmitted,
	}
	%}
	{{ gridView.render() }}
	{{ form_end(quickSearchForm) }}
{% endblock %}