<div class="text-left">
	<h3 class="window__title">{{ 'Objednávka č. %orderNumber%'|trans({'%orderNumber%' : order.number}) }}</h3>

	<table class="table-main">
		<thead>
			<tr>
				<th class="table-col-60">{{ 'Název položky'|trans }}</th>
				<th class="table-col-20 text-center">{{ 'Množství'|trans }}</th>
				<th class="table-col-20 text-right">{{ 'Cena s DPH'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for item in order.items %}
				<tr>
					<td>
						{% if item.transport is defined %}
							{{ 'Doprava'|trans }} -
						{% elseif item.payment is defined %}
							{{ 'Platba'|trans }} -
						{% endif %}
						{{ item.name }}
					</td>
					<td class="text-center">{{ item.quantity }} {{ item.unitName }}</td>
					<td class="text-right">{{ item.totalPriceWithVat|priceWithCurrency(order.currency) }}</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td><strong>{{ 'Celkem s DPH'|trans }}</strong></td>
				<td></td>
				<td class="text-right"><strong>{{ order.totalPriceWithVat|priceWithCurrency(order.currency) }}</strong></td>
			</tr>
		</tfoot>
	</table>
</div>
