<div class="order-preview">
	<h3>{{ 'Objednávka č. %orderNumber%'|trans({'%orderNumber%' : order.number}) }}</h3>

	<table>
		<tr>
			<th class="table-col-40">{{ 'Název položky'|trans }}</th>
			<th class="table-col-10">{{ 'Počet kusů'|trans }}</th>
			<th class="table-col-20 text-right">{{ 'Cena s DPH'|trans }}</th>
		</tr>
		{% for item in order.items %}
			<tr>
				<td class="table-col-40">
					{% if item.transport is defined %}
						{{ 'Doprava - '|trans }}
					{% elseif item.payment is defined %}
						{{ 'Platba - '|trans }}
					{% endif %}
					{{ item.name }}
				</td>
				<td class="text-center">{{ item.quantity }}</td>
				<td class="text-right">{{ item.totalPriceWithVat|priceWithCurrency(order.currency) }}</td>
			</tr>
		{% endfor %}
		<tr class="total-price-row">
			<td colspan="2"><strong>{{ 'Celkem s DPH' }}</strong></td>
			<td class="text-right"><strong>{{ order.totalPriceWithVat|priceWithCurrency(order.currency) }}</strong></td>
		</tr>
	</table>
</div>