<div class="wrap-box form-inline mb-1 mt-1" id="js-quick-search">
	<h3>{{ 'Rychlé hledání'|trans }}</h3>
	{{ form_widget(quickSearchForm.text) }}
	{{ form_widget(quickSearchForm.save, { label: 'Vyhledat'|trans, full_name: ''}) }}
	<i class="fa fa-info cursor-help js-tooltip"
		data-toggle="tooltip" data-placement="right"
		title="{{ 'Vyhledávání hledá v číslu objednávky, emailu registrovaného zákazníka, emailu zákazníka v objednávce, příjmení zákazníka a názvu firmy. Je možné používat operátory * a ?.'|trans }}"
			></i>
	<a href="#" id="js-advanced-search-enable-button">{{ 'Rozšířené hledání'|trans }}</a>
</div>