{% extends '@SS6Shop/Admin/Layout/layoutBlank.html.twig' %}

{% block title %}
	- Přihlášení
{% endblock %}

{% block content %}
	{% if error %}
		<p class="message message-danger">{{ error }}</p>
	{% endif %}

	{{ form_start(form, {attr: {class: 'form-signin'}}) }}
		{{ form_errors(form) }}

		<h1 class="form-signin-heading">Administrace</h1>
		
		{{ form_errors(form.username) }}
		{{ form_widget(form.username, {attr: {placeholder: 'Uživatelské jméno'}}) }}

		{{ form_errors(form.password) }}
		{{ form_widget(form.password, {attr: {placeholder: 'Heslo'}}) }}

		{{ form_widget(form.login, {label: 'Přihlásit', attr: {class: 'btn-lg btn-block'}}) }}

	{{ form_end(form) }}

{% endblock %}