{% extends '@SS6Shop/Admin/Layout/layoutBlank.html.twig' %}

{% block title %}
	- {{ 'Přihlášení'|trans }}
{% endblock %}

{% block content %}
	{% if error %}
		<p class="in-message in-message--danger in-message--static">{{ error }}</p>
	{% endif %}

	{{ form_start(form, {attr: {class: 'box-login'}}) }}
		{{ form_errors(form) }}

		<h1 class="box-login__heading">{{ 'Administrace'|trans }}</h1>

		{{ form_errors(form.username) }}
		{{ form_widget(form.username, {attr: {placeholder: 'Uživatelské jméno'|trans}}) }}

		{{ form_errors(form.password) }}
		{{ form_widget(form.password, {attr: {placeholder: 'Heslo'|trans}}) }}

		{{ form_widget(form.login, {label: 'Přihlásit'|trans, attr: {class: 'btn-lg btn-block'}}) }}

	{{ form_end(form) }}

{% endblock %}