{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}{{ 'Superadmin - Kodérská dokumentace'|trans }}{% endblock %}
{% block h1 %}{{ 'Superadmin - Kodérská dokumentace'|trans }}{% endblock %}

{% block main_content %}

	<div class="wrap-bar">
		<h1 class="wrap-bar__heading">{{ 'CSS dokumentace'|trans }}</h1>
	</div>

	<div class="wrap-border">
		<h2>{{ 'Osnova'|trans }}</h2>
		<ul class="list-main margin-bottom-0">
			<li class="list-main__item">
				<a href="#coding">{{ 'Použitý typ kódování a pravidla'|trans }}</a>
			</li>
			<li class="list-main__item">
				<a href="#wraps">{{ 'Obalovací/oddělovací prvky'|trans }}</a>
			</li>
			<li class="list-main__item">
				<a href="#messages">{{ 'Hlášky/zprávy'|trans }}</a>
			</li>
			<li class="list-main__item">
				<a href="#buttons">{{ 'Tlačítka'|trans }}</a>
			</li>
			<li class="list-main__item">
				<a href="#tables">{{ 'Tabulky'|trans }}</a>
			</li>
			<li class="list-main__item">
				<a href="#forms">{{ 'Formulářová struktůra'|trans }}</a>
			</li>
		</ul>
	</div>


	<div class="wrap-border in-article">
		<h2 id="coding">{{ 'Použitý typ kódování a pravidla'|trans }}</h2>
		<p>
			{{ 'Jelikož se jedná o systém, který bude často používat stejné či podobné prvky, je vhodné využít typ kódování, který dělí web na komponenty a různě je kombinuje mezi sebou.'|trans }}
		</p>

		<h3>{{ 'Kódování technikou BEM'|trans }}</h3>
		<p>
			{{ 'BEM je styl zápisu, který určuje pravidla pro zápis css'|trans }}
		</p>

		<ul class="list-main">
			<li class="list-main__item">
				{{ 'dva podtržítka "__" značí část komponenty/element'|trans }}
			</li>
			<li class="list-main__item">
				{{ 'dvě pomlčky "--" značí modifikaci komponenty'|trans }}
			</li>
			<li class="list-main__item">
				{{ 'dvojté značky jsou přehledné a developerovi intuitivně dojde, jaký smysl má daná třída'|trans }}
			</li>
			<li class="list-main__item">
				{{ 'jedna pomlčka "-" je oddělovačem ve víceslovném názvu'|trans }}
			</li>
		</ul>

		<p class="in-message in-message--error">
			{{ 'Důležité je nepoužívat jen části komponent (elementy), nýbrž vždy zde musí být mateřská komponenta! '|trans }}
		</p>


		<h3>{{ 'Nevyužívání ID a !important pro CSS'|trans }}</h3>
		<p>
			{{ 'ID je v CSS element s nejvyžší prioritou a proto se mu vyhneme. Jakmile něco navážeme na ID, přebijeme to pouze něčím s ID nebo pomocí !important. V reálném využití v SS5 se díky tomu musely stejné části na různých místech v eshopu stylovat vícekrát. Pokud využijeme pouze třídy a komponenty, těmto problémům se vyhneme.'|trans }}
		</p>

		<p>
			{{ 'Important se opravdu někdy hodí, avšak jakmile něčemu nastavíme important, přebít to můžeme již jen specifičtějším zápisem s dalším importantem. Important využijeme tedy jen v krajních a logicky odůvodnitelných případech.'|trans }}
		</p>

		<p>
			{{ 'Základní premisou kódování v adminu je, že z velmi velké části zde budou s kódem pracovat programátoři. Proto se zde klade větší důraz na helpry - '|trans }}
		</p>

		<h3>{{ 'Zápis css vlastností podle priorit'|trans }}</h3>
		<p>
			{{ 'První píšeme zásadní vlastnosti pro element (position, float, display, width, ... ), jako druhé se píší stylistické věci (font, color, background, ... )'|trans }}
		</p>

		<h3>{{ 'Struktura složek'|trans }}</h3>
		<ul class="list-main">
			<li class="list-main__item">
				{{ 'core - základní nastavení pro prvky (reset css, proměnné, mixiny, formulářové prvky, nadpisy..)'|trans }}
			</li>
			<li class="list-main__item">
				{{ 'layout - nastavení layoutu, hlavičky a patičky'|trans }}
			</li>
			<li class="list-main__item">
				{{ 'libs - komponenty třetích stran'|trans }}
			</li>
			<li class="list-main__item">
				{{ 'helpers - helpery, které se musí načítat jako poslední'|trans }}
			</li>
			<li class="list-main__item">
				{{ 'components - komponenty obsahové části, podsložky rozdělují komponenty logicky od sebe'|trans }}
				<ul class="list-main">
					<li class="list-main__item">
						{{ 'IN - malé komponenty (šipka u linku, hvěždičky hodnocení) malé věci co jsou často někde'|trans }}
					</li>
					<li class="list-main__item">
						{{ 'WRAP - jednoduché obaly, boxy, nezávislé na obsahu'|trans }}
					</li>
					<li class="list-main__item">
						{{ 'LIST - čistě DL nebo UL, OL'|trans }}
					</li>
					<li class="list-main__item">
						{{ 'TABLE - tabulky'|trans }}
					</li>
					<li class="list-main__item">
						{{ 'WINDOW - vyskakovací okna, plovoucí okna atd.'|trans }}
					</li>
					<li class="list-main__item">
						{{ 'FORM - formulářové prvky, obaly formulářů, struktůry'|trans }}
					</li>
					<li class="list-main__item">
						{{ 'BOX - ucelené části stránek - znovu NEPOUŽITELNÉ (např. rozvržení stránky detailu produktu)'|trans }}
					</li>
				</ul>
			</li>
		</ul>

		<p class="in-message in-message--info">
			{{ 'Pro podsložky složky components platí, že název podsložky se vkládá i do názvu komponenty pro lepší vyhledání, nicméně název souboru komponenty obsahuje jen zbytek názvu třídy'|trans }}
		</p>
	</div>

	<div class="wrap-border in-article">
		<h2 id="wraps">{{ 'Obalovací/oddělovací prvky'|trans }}</h2>

		<p>{{ 'Obalující/wrapovací prvky jsou ty, kterýma můžete obalením přidat nějaké vlastnosti okolo vnitřku, např orámování, odsazení, pozadí, případně i nastaví hlavičku celého bloku informací'|trans }}</p>

		<h3>{{ 'Wrap-bar'|trans }}</h3>
		<p>
			{{ 'Komponenta na titulek s možností tlačítka napravo, celé zespodu odděleno borderem'|trans }}
		</p>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="wrap-bar">
				<h2 class="wrap-bar__heading">{{ 'Titulek'|trans }}</h2>
				<button class="btn wrap-bar__btn" type="button">{{ 'Tlačítko'|trans }}</button>
			</div>
		</div>

		<h3>{{ 'Wrap-border'|trans }}</h3>
		<p>
			{{ 'Obal, který celý blok odsadí a přidá spodní border, vhodné pro odsazení bloků formulářů od sebe'|trans }}
		</p>

		<h4>{{ 'Obecné wrap-border'|trans }}</h4>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="wrap-border">
				<span>{{ 'Jakýkoliv obsah'|trans }}</span>
			</div>
		</div>

		<h4>{{ 'Modifikace wrap-border--small'|trans }}</h4>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="wrap-border wrap-border--small">
				<span>{{ 'Jakýkoliv obsah s menším odsazením mezi obsahem a čarou'|trans }}</span>
			</div>
		</div>
	</div>

	<div class="wrap-border in-article">
		<h2 id="messages">{{ 'Hlášky/zprávy'|trans }}</h2>

		<p>
			{{ 'Různé zprávy a flash zprávy, je zde více typových a barevných modifikací. Lze díky tomu vytvářet i kombinace typu a barev'|trans }}
		</p>

		<h3>{{ 'In-message'|trans }}</h3>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="in-message">
				<span>{{ 'Text hlášky v základu je úplně bez barev a roztáhnutý pouze do konce textu, potřebuje tedy minimálně určit barevný typ.'|trans }}</span>
			</div>
		</div>

		<h4>{{ 'Barevnost in-message'|trans }}</h4>
		<p>
			{{ 'Barvy prezentují událost, která se stala.'|trans }}
		</p>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="in-message in-message--info">
				{{ 'Informační hláška'|trans }}
			</div>
			<div class="in-message in-message--success">
				{{ 'Pozitivní hláška'|trans }}
			</div>
			<div class="in-message in-message--warning">
				{{ 'Upozorňující hláška'|trans }}
			</div>
			<div class="in-message in-message--error">
				{{ 'Chybová hláška'|trans }}
			</div>
			<div class="in-message in-message--danger">
				{{ 'Druhý typ chybové hlášky'|trans }}
			</div>
		</div>

		<h4>{{ 'Typy in-message'|trans }}</h4>
		<p>
			{{ 'Typy se dají kombinovat mezi sebou a míchat s různýma barvama.'|trans }}
		</p>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="in-message in-message--info in-message--block">
				{{ 'Informační hláška - bloková'|trans }}
			</div>
			<div class="in-message in-message--error in-message--block">
				{{ 'Chybová hláška - bloková s křížkem, na zavření, křížek se dá použít pouze u blokových'|trans }}
				<div class="in-message__close">x</div>
			</div>
			<div class="in-message in-message--success in-message--block in-message--small">
				{{ 'Pozitivní hláška - bloková s menším prostorem okolo textu a menším textem'|trans }}
				<div class="in-message__close">x</div>
			</div>
			<div class="in-message in-message--warning in-message--block">
				<i class="in-message__icon svg svg-warning"></i>
				{{ 'Upozorňující hláška - bloková s ikonkou'|trans }}
			</div>
			<div class="in-message in-message--error in-message--block in-message--small">
				<i class="in-message__icon svg svg-warning"></i>
				{{ 'Chybová hláška - bloková s ikonkou, malá'|trans }}
			</div>
		</div>
	</div>

	<div class="wrap-border in-article">
		<h2 id="buttons">{{ 'Tlačítka'|trans }}</h2>
		<p>{{ 'Tlačítek je více druhů, každý z nich může mít další spoustu modifiací. Tyto modifikace lze kombinovat mezi sebou (barevné s typovými)'|trans }}</p>

		<h3>{{ 'Btn'|trans }}</h3>

		<h4>{{ 'Barevené modifikace'|trans }}</h4>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<a href="#" class="btn">
				{{ 'Konverzní tlačítko na potvrzování formulářů apod.'|trans }}
			</a>
			<a href="#" class="btn btn--default">
				{{ 'Defaultní tlačítko'|trans }}
			</a>
			<a href="#" class="btn btn--light">
				{{ 'Světlé tlačítko'|trans }}
			</a>
			<a href="#" class="btn btn--neutral">
				{{ 'Neutrální tlačítko'|trans }}
			</a>
		</div>

		<h4>{{ 'Typové modifikace'|trans }}</h4>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<a href="#" class="btn btn--large">
				{{ 'Konverzní tlačítko velké'|trans }}
			</a>
			<a href="#" class="btn">
				{{ 'Konverzní tlačítko standartní'|trans }}
			</a>
			<a href="#" class="btn btn--medium">
				{{ 'Konverzní tlačítko střední'|trans }}
			</a>
			<a href="#" class="btn btn--small">
				{{ 'Konverzní tlačítko malé'|trans }}
			</a>
			<br><br>
			<a href="#" class="btn btn--disabled">
				{{ 'Disabled tlačítko i bez kurzoru'|trans }}
			</a>
			<br><br>
			<a href="#" class="btn btn--block">
				{{ 'Konverzní tlačítko vždy přes celou šířku'|trans }}
			</a>
			<br><br>
			<a href="#" class="btn btn--plus">
				<i class="btn__icon">+</i>
				{{ 'Konverzní tlačítko pro přidání'|trans }}
			</a>

			<a href="#" class="btn btn--small btn--plus">
				<i class="btn__icon">+</i>
				{{ 'Konverzní tlačítko pro přidání - malé'|trans }}
			</a>
		</div>

		<h3>{{ 'Btn-no-style'|trans }}</h3>

		<p>
			{{ 'V případě, že potřebujeme, aby tlačíkto (tag button) vypadalo, jako obyčený text.'|trans }}
		</p>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<button href="#" class="btn-no-style" type="button">
				{{ 'Tlačítko, co vypadá jak text'|trans }}
			</button>
		</div>

		<h3>{{ 'Btn-link-style'|trans }}</h3>

		<p>
			{{ 'V případě, že potřebujeme, aby tlačíkto (tag button) vypadalo, jako odkaz. Je zde i modifikace na tlačítko s ikonkou vlevo.'|trans }}
		</p>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<button href="#" class="btn-link-style" type="button">
				{{ 'Tlačítko, co vypadá jako odkaz'|trans }}
			</button>
			<br><br>
			<button href="#" class="btn-link-style btn-link-style--iconic-l" type="button">
				<i class="svg svg-pencil"></i>
				<span>
					{{ 'Tlačítko, co vypadá jako odkaz s nepodtrženou ikonkou'|trans }}
				</span>
			</button>
		</div>
	</div>

	<div class="wrap-border in-article">
		<h2 id="tables">{{ 'Tabulky'|trans }}</h2>

		<p class="in-message in-message--warning">
			{{ 'Tabulek je více druhů, není ale důvod vypisovat ty, co systém generuje sám, a nikdo do nich nezasahuje. Proto jsou zde jen ty, co pravděpodobně budete chtít použít.'|trans }}
		</p>

		<h3>{{ 'Table-main'|trans }}</h3>
		<p>
			{{ 'Obyčejná tabulka s jednou třídou na table elementu. Jednoduchý vzhled pro zobrazení jednoduchých dat (nikoliv formulářů).'|trans }}
		</p>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<table class="table-main">
				<thead>
					<tr>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Text tabulky'|trans }}</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Text tabulky'|trans }}</td>
					</tr>
					<tr>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Text tabulky'|trans }}</td>
					</tr>
					<tr>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Text tabulky'|trans }}</td>
					</tr>
					<tr>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Text tabulky'|trans }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<h3>{{ 'Table-col'|trans }}</h3>
		<p>
			{{ 'Nejedná se o tabulku, ale o nastavování šířek buňěk v tabulce table-main. Jsou to jednoduché třídy, které udávají procentro šířky, případně pixely. Je to velmi užitečné v gridech.'|trans }}
		</p>
		<div class="in-message in-message--info">
			{{ 'Velikosti: 5, 10, 15, 20, 40, 45, 60, 80, 40px'|trans }}
		</div>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<table class="table-main">
				<thead>
					<tr>
						<td class="table-col-20">{{ 'Text tabulky'|trans }}</td>
						<td class="table-col-40">{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td class="table-col-40px">{{ 'Akce'|trans }}</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Akce'|trans }}</td>
					</tr>
					<tr>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Text tabulky'|trans }}</td>
						<td>{{ 'Akce'|trans }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<h3>{{ 'Table-touch'|trans }}</h3>
		<p>
			{{ 'Speciální chování pro tabulku pro menší zařízení, kdy při zmenšeném okně se zobrazí scrollbar. Pokud se počítá s responsivitou, mělo by toto nastavení být kolem každé tabulky.'|trans }}
		</p>

		<div class="in-message in-message--info">
			{{ 'Lze kombinovat i s jinýmy obsahy uvnitř, primární použití je ale pro tabulky.'|trans }}
		</div>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="table-touch">
				<div class="table-touch__in">
					<table class="table-main">
						<thead>
							<tr>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<h3>{{ 'Table-touch-always'|trans }}</h3>
		<p>
			{{ 'Speciální chování pro velkou tabulku, která se nevleze ani na desktopové verzi do obsahové části.'|trans }}
		</p>

		<div class="in-message in-message--info">
			{{ 'Lze kombinovat i s jinýmy obsahy uvnitř, primární použití je ale pro tabulky.'|trans }}
		</div>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="table-touch-always">
				<div class="table-touch-always__in">
					<table class="table-main">
						<thead>
							<tr>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
								<td>{{ 'Text tabulky'|trans }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<h3>{{ 'Table-form'|trans }}</h3>
		<p>
			{{ 'Speciální chování tabulky, která byla vytvořena pro parametry, nicméně, dá se využít i dalšími způsoby.'|trans }}
		</p>

		<h4>{{ 'Jednoduché zobrazení'|trans }}</h4>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<table class="table-form">
				<thead>
					<tr class="table-form__row">
						<th class="table-form__cell">{{ 'Text tabulky'|trans }}</th>
						<th class="table-form__cell">{{ 'Text tabulky'|trans }}</th>
						<th class="table-form__cell">{{ 'Text tabulky'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-form__row">
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
					</tr>
					<tr class="table-form__row">
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<h4>{{ 'Lícovaná první a druhá buňka řádku se zbytkem formulářů'|trans }}</h4>

		<p>
			{{ 'Pokud se prvním TD/TH přidá modifikátor --label, buňka dostane maximální šířku a lícuje s ostatní formulářovou strukturou. Ostatní buňky roztahuje prohlížeč podle potřeb.'|trans }}
		</p>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<table class="table-form">
				<thead>
					<tr class="table-form__row">
						<th class="table-form__cell table-form__cell--label">
							{{ 'Label nebo input je zde'|trans }}
						</th>
						<th class="table-form__cell">
							{{ 'Text nebo input tabulky'|trans }}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-form__row">
						<td class="table-form__cell table-form__cell--label">
							{{ 'Label je zde'|trans }}
						</td>
						<td class="table-form__cell">
							{{ 'Text za labelem'|trans }}
						</td>
					</tr>
					<tr class="table-form__row">
						<td class="table-form__cell table-form__cell--label"><input type="text" class="input" value="Input"></td>
						<td class="table-form__cell">
							{{ 'Text za inputem. Aby se generoval input správně, je třeba jej vepsat jako <strong class="in-article__visible">form_widget</strong> s parametrem <strong class="in-article__visible">isSimple:true</strong>'|trans|raw }}
						</td>
					</tr>
					<tr class="table-form__row">
						<td class="table-form__cell table-form__cell--label">
							<input type="text" class="input" value="Input">
						</td>
						<td class="table-form__cell">
							<input type="text" class="input" value="Input">
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<h4>{{ 'Zobrazení input -> input'|trans }}</h4>

		<p>
			{{ 'Pro zobrazení jako u parametrů je třeba přidat oddělovač s ikonkou a zaručit, aby se zrušily v okolí oddělovače paddingy. Vzniká zde více tříd skoro ve všech okolních TD/TH. Lze také jednoduše přidat ikonku s akcí na konec řádku.'|trans }}
		</p>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<table class="table-form">
				<thead>
					<tr class="table-form__row">
						<th class="table-form__cell table-form__cell--label table-form__cell--del-before">{{ 'Input je zde'|trans }}</th>
						<th class="table-form__cell table-form__cell--del"></th>
						<th class="table-form__cell table-form__cell--del-after">{{ 'Input za oddělovačem'|trans }}</th>
						<th class="table-form__cell table-form__cell--actions">{{ 'Akce'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-form__row">
						<td class="table-form__cell table-form__cell--label table-form__cell--del-before">
							<input type="text" class="input" value="input">
						</td>
						<td class="table-form__cell table-form__cell--del">
							<i class="svg svg-arrow-right"></i>
						</td>
						<td class="table-form__cell table-form__cell--del-after">
							<input type="text" class="input" value="input">
						</td>
						<th class="table-form__cell text-right">
							<a href="#" class="table-form__action">
								<i class="svg svg-circle-cross"></i>
							</a>
						</th>
					</tr>
				</tbody>
			</table>
		</div>

		<h4>{{ 'Výraznější řádek'|trans }}</h4>

		<p>
			{{ 'Pomocí modifikátoru na řádku lze zmodrat celý řádek.'|trans }}
		</p>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<table class="table-form">
				<thead>
					<tr class="table-form__row">
						<th class="table-form__cell">{{ 'Text tabulky'|trans }}</th>
						<th class="table-form__cell">{{ 'Text tabulky'|trans }}</th>
						<th class="table-form__cell">{{ 'Text tabulky'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-form__row">
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
					</tr>
					<tr class="table-form__row table-form__row--group">
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
					</tr>
					<tr class="table-form__row">
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
					</tr>
					<tr class="table-form__row">
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<h4>{{ 'Pseudo groupování řádků'|trans }}</h4>

		<p>
			{{ 'Pomocí modifikátoru na řádku lze zmodrat celý řádek a vytvořit jakoby skupiny řádků s nadpisem a obrázkem.'|trans }}
		</p>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<table class="table-form">
				<thead>
					<tr class="table-form__row">
						<th class="table-form__cell">{{ 'Text tabulky'|trans }}</th>
						<th class="table-form__cell">{{ 'Text tabulky'|trans }}</th>
						<th class="table-form__cell">{{ 'Text tabulky'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-form__row table-form__row--group">
						<td class="table-form__cell" colspan="3">
							<div class="table-form__cell__image">
								<img src="https://placeholdit.imgix.net/~text?txtsize=6&txt=46%C3%9726&w=46&h=26&txtpad=1" alt="{{ 'Doména 1'|trans }}">
							</div>
							<div class="table-form__cell__group-name">
								{{ 'Doména 1'|trans }}
							</div>
						</td>
					</tr>
					<tr class="table-form__row">
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
					</tr>
					<tr class="table-form__row">
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
					</tr>
					<tr class="table-form__row table-form__row--group">
						<td class="table-form__cell" colspan="3">
							<div class="table-form__cell__image">
								<img src="https://placeholdit.imgix.net/~text?txtsize=6&txt=46%C3%9726&w=46&h=26&txtpad=1" alt="{{ 'Doména 2'|trans }}">
							</div>
							<div class="table-form__cell__group-name">
								{{ 'Doména 2'|trans }}
							</div>
						</td>
					</tr>
					<tr class="table-form__row">
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<h4>{{ 'Drag adn drop na řádky'|trans }}</h4>

		<p>
			{{ 'Pokud chceme, aby řádky šlo přesouvat, vložíme ikonku podle ukázky níže. Nesmíme však zapomenout toto napojit na JS.'|trans }}
		</p>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<table class="table-form">
				<thead>
					<tr class="table-form__row">
						<th class="table-form__cell">{{ 'Text tabulky'|trans }}</th>
						<th class="table-form__cell">{{ 'Text tabulky'|trans }}</th>
						<th class="table-form__cell">{{ 'Text tabulky'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-form__row">
						<td class="table-form__cell">
							<span class="table-form__cell__move">
								<span class="in-icon in-icon--move svg svg-move"></span>
							</span>
							{{ 'Text tabulky'|trans }}
						</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
					</tr>
					<tr class="table-form__row">
						<td class="table-form__cell">
							<span class="table-form__cell__move">
								<span class="in-icon in-icon--move svg svg-move"></span>
							</span>
							{{ 'Text tabulky'|trans }}
						</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
						<td class="table-form__cell">{{ 'Text tabulky'|trans }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="wrap-border in-article">
		<h2 id="forms">{{ 'Formulářová struktůra'|trans }}</h2>
		<p class="in-message in-message--warning">{{ 'Důležitou věcí je, že tlačítka, inputy (textové), selecty, textarea, vše by mělo mít základní třídu. Tzn btn a input. Nedávejte ji tam nebo odebírejte jen v případě, že víte, co děláte!'|trans }}</p>

		<h3>{{ 'Zobrazení základních prvků'|trans }}</h3>

		<h4>{{ 'Bez jakékoliv formulářové struktury a modifikací'|trans }}</h4>

		<div class="in-message in-message--info">
			{{ 'Zobrazeni dosáhnete tak, že input vypíšete jako <strong class="in-article__visible">form_widget</strong> s parametrem <strong class="in-article__visible">isSimple:true</strong>.'|trans|raw }}
		</div>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<input type="text" class="input" value="Input">
			<select class="input">
				<option>{{ 'Select'|trans }}</option>
				<option>{{ 'Select'|trans }}</option>
			</select>
			<textarea class="input">{{ 'Textarea'|trans }}</textarea>
		</div>

		<h4>{{ 'Modifikace velikostí textarea'|trans }}</h4>

		<div class="in-message in-message--info">
			{{ 'Zobrazení dosáhnem buďto přídáním classy k prvku nebo přes <strong class="in-article__visible">form_widget</strong> přidáme <strong class="in-article__visible">attr class</strong>'|trans|raw }}
		</div>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<textarea class="input input--textarea-big">{{ '--textarea-big'|trans }}</textarea>
			<br><br>
			<textarea class="input input--seo">{{ '--seo'|trans }}</textarea>
		</div>

		<h4>{{ 'Multidoménové, multijazyčné, inputy s ikonou - základní'|trans }}</h4>

		<div class="in-message in-message--warning">
			{{ 'Zobrazení dosáhnem přidáním modifikátorů k inputu, ale důležité je obalit input divem s třídou <strong class="in-article__visible">input__wrap</strong>. K této třídě se totiž pozicují obrázky. Tadyta struktura by se měla generovat ze systému sama. V případě nutnosti psaní této struktury ručně je třeba si dávat pozor a nezapomenout dodat i vlajku <strong class="in-article__visible">localeFlag(locale)</strong>, doménu <strong class="in-article__visible">domainIcon(domainId)</strong> nebo ikonku.'|trans|raw }}
		</div>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="input__wrap">
				<input type="text" class="input input--flag" value="Input s vlajkou">
				<div class="input__flag">
					<img src="https://placehold.it/16x12" alt="{{ 'Doména 1'|trans }}">
				</div>
			</div>
			<div class="input__wrap">
				<input type="text" class="input input--domain" value="Input s doménou">
				<div class="input__domain">
					<span class="in-image in-image--normal">
						<img src="https://placehold.it/40x18" alt="{{ 'Doména 1'|trans }}">
					</span>
				</div>
			</div>
			<div class="input__wrap">
				<input type="text" class="input input--iconic" value="Input s ikonou">
				<div class="input__icon">
					<i class="svg svg-phone"></i>
				</div>
			</div>
		</div>

		<h4>{{ 'Checkboxy a radiobuttony'|trans }}</h4>
		<div class="in-message in-message--info">
			{{ 'Zobrazení inputů, jako jsou chekcboxy a radio buttony, se dělá skrze <strong class="in-article__visible">form_widget</strong>. Jaký typ se zobrazí - jestli inputy za sebou, nebo pod sebou - určí attr. Pokud není vyplněn, jsou za sebou, při nastavení <strong class="in-article__visible">inList</strong> na true, se zobrazí pod sebou.'|trans|raw }}
		</div>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<label class="form-choice">
				<input type="checkbox" class="form-choice__input">
				<span class="form-choice__label">
					{{ 'jednoduchý checkbox'|trans }}
				</span>
			</label>
			<label class="form-choice">
				<input type="checkbox" class="form-choice__input">
				<span class="form-choice__label">
					{{ 'jednoduchý checkbox lze skládat za sebe'|trans }}
				</span>
			</label>
			<br><br>
			<div class="form-choice-list">
				<label class="form-choice-list__item">
					<input type="checkbox" class="form-choice-list__input">
					{{ 'checkbox v seznamu'|trans }}
				</label>
				<label class="form-choice-list__item">
					<input type="checkbox" class="form-choice-list__input">
					{{ 'checkbox v seznamu'|trans }}
				</label>
				<label class="form-choice-list__item">
					<input type="checkbox" class="form-choice-list__input">
					{{ 'checkbox v seznamu'|trans }}
				</label>
			</div>
			<br><br>
			<div class="form-choice-list">
				<label class="form-choice-list__item">
					<span class="form-choice-list__icon">
						<span class="in-image in-image--small">
							<img src="https://placeholdit.imgix.net/~text?txtsize=5&txt=40%C3%9712&w=40&h=12&txtpad=1" alt="{{ 'Doména 1'|trans }}">
						</span>
					</span>
					<input type="checkbox" class="form-choice-list__input">
					{{ 'ikona domény pouze v checkbox seznamu, ikona se vkládá <strong class="in-article__visible">domainIcon(domainId, "small") </strong>'|trans|raw }}
				</label>
				<label class="form-choice-list__item">
					<span class="form-choice-list__icon">
						<span class="in-image in-image--small">
							<img src="https://placeholdit.imgix.net/~text?txtsize=5&txt=40%C3%9712&w=40&h=12&txtpad=1" alt="{{ 'Doména 1'|trans }}">
						</span>
					</span>
					<input type="checkbox" class="form-choice-list__input">
					{{ 'ikona domény pouze v checkbox seznamu, je možno přidat akční ikonu'|trans }}
					<a href="#" class="form-choice-list__item__action form-choice-list__item__action--link text-no-decoration">
						<i class="svg svg-forward-page"></i>
					</a>
				</label>
			</div>
		</div>

		<h3>{{ 'Form-group'|trans }}</h3>
		<p>
			{{ 'Často užitečná část, je to hlavička pro různé obsahy informací, hlavně pro formuláře, ale lze použít pro více účelů.'|trans }}
		</p>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="form-group">
				<h2 class="form-group__title">
					{{ 'Titulek bloku informací'|trans }}
				</h2>
			</div>
			<br><br>
			<div class="form-group">
				<h2 class="form-group__title">
					{{ 'Titulek bloku informací s rozevíráním, je nutno navázat na již hotový JS'|trans }}
					<span class="form-group__title__click">
						+
					</span>
				</h2>
			</div>
			<br><br>
			<div class="form-group">
				<h2 class="form-group__title">
					{{ 'Titulek bloku informací s možnosti tlačítka'|trans }}
					<span class="form-group__title__buttons">
						<button class="btn btn--small" type="button">Tlačítko</button>
					</span>
				</h2>
			</div>
		</div>

		<h4>{{ 'Vhodná kombinace komponent'|trans }}</h4>
		<div class="in-message in-message--info">
			{{ 'Pokud pěkně nakombinujeme 3 komponenty do sebe, získáme skvělý vzhled formulářů. Jedná se o <strong class="in-article__visible">form-group</strong> na titulek, <strong class="in-article__visible">form-line</strong> na formulář a <strong class="in-article__visible">wrap-border</strong> na oddělení bloků informací od sebe.'|trans|raw }}
		</div>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="form-group wrap-border">
				<h2 class="form-group__title">
					{{ 'Titulek bloku informací'|trans }}
					<span class="form-group__title__click">
						+
					</span>
				</h2>

				<div class="form-line">
					<label class="form-line__label">
						{{ 'Label inputu'|trans }}
					</label>
					<div class="form-line__side">
						<div class="form-line__item">
							<input type="text" class="input">
						</div>
					</div>
				</div>
				<div class="form-line">
					<label class="form-line__label">
						{{ 'Label inputu'|trans }}
					</label>
					<div class="form-line__side">
						<div class="form-line__item">
							<input type="text" class="input">
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<h2 class="form-group__title">
					{{ 'Titulek bloku informací'|trans }}
					<span class="form-group__title__click">
						+
					</span>
				</h2>

				<div class="form-line">
					<label class="form-line__label">
						{{ 'Label inputu'|trans }}
					</label>
					<div class="form-line__side">
						<div class="form-line__item">
							<input type="text" class="input">
						</div>
					</div>
				</div>
				<div class="form-line">
					<label class="form-line__label">
						{{ 'Label inputu'|trans }}
					</label>
					<div class="form-line__side">
						<div class="form-line__item">
							<input type="text" class="input">
						</div>
					</div>
				</div>
			</div>
		</div>

		<h3>{{ 'Form-line'|trans }}</h3>

		<p>
			{{ 'Logika tvoření struktury vychází z grafiky a z toho, že měla být struktura responsivní a mohlo se tam poskládat za sebe mnoho různých věcí.'|trans }}
		</p>

		<p class="in-message in-message--error">
			{{ 'Základní komponenta pro formuláře, ohromně velká a zasazená do defaultního generování formulářů. Pro většinu příápadů použijete toto.'|trans }}
		</p>

		<p class="in-message in-message--warning">
			{{ 'Tato struktůra nemá co dělat v tabulkách!'|trans }}
		</p>

		<h4>{{ 'Hlavní logika struktury'|trans }}</h4>
		<p class="in-message in-message--error">
			{{ 'Tento text vám objasní logiku tvoření formuláře.'|trans }}
		</p>
		<p>
			{{ 'Komponenta se skládá z 5 hlavních prvků. Prvním je obal <strong class="in-article__visible">form-line</strong>, který dodává formuláři pozadí, odsazení a bordery. Je to vlastně jeden řárek této struktury. V něm je další důležitý prvek, a to <strong class="in-article__visible">form-line__label</strong>. Nemusíme to nutně brát jako label, jedná se hlavně o buďto titulek nebo důležitou část pro celý malý formulářový blok. Nejčastěji je to však label. Další 2 prvky jsou pro zarovnání obsahové části. Je to <strong class="in-article__visible">form-line__side</strong> a <strong class="in-article__visible">form-line__line</strong>. Nachází se za labelem a první z nich zarovnává obsah vedle labelu a nikdy se nedostane pod label. Druhý zabírá celou šířku pod labelem. A to nejdůležitější je <strong class="in-article__visible">form-line__item</strong> což je obal pro cokoliv v obsahové části. Obalit to potřebujeme proto, že prvky by měly být od sebe vždy odsazeny a správně zarovnány. Teprve do těchto prvků se strkají inputy, texty, ikonky a podobně! Tento obal nepotřebují jen prvky, které zabírají 100% šířku.'|trans|raw }}
		</p>
		<strong class="in-article__visible"></strong>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Label inputu'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
					<div class="form-line__item form-line__item--text">
						{{ 'Prvky lze dávat za sebe'|trans }}
					</div>
				</div>
			</div>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Label inputu'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
				</div>
				<div class="form-line__side">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
					<div class="form-line__item form-line__item--text">
						{{ 'Prvky lze dávat i do více řádků k jednomu labelu'|trans }}
					</div>
				</div>
			</div>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Label inputu'|trans }}
				</label>
				<div class="form-line__line">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
					<div class="form-line__item form-line__item--text">
						{{ 'Prvky lze zarovnat pod label'|trans }}
					</div>
				</div>
				<div class="form-line__line">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
					<div class="form-line__item form-line__item--text">
						{{ 'a také do více řádků'|trans }}
					</div>
				</div>
			</div>
			<div class="form-line">
				<label class="form-line__label form-line__label--input">
					<input type="text" class="input">
				</label>
				<div class="form-line__side">
					<div class="form-line__item form-line__item--text">
						{{ 'Místo labelu může být input'|trans }}
					</div>
				</div>
			</div>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Textarea může být i na plnou šířku'|trans }}
				</label>
				<div class="form-line__line">
					<textarea class="input input--textarea-big">{{ 'Textarea roztáhnutá na celou šířku. V tomhletom případě nemusíme použít form-line__item, protože je prvek na 100% šířku.'|trans }}</textarea>
				</div>
			</div>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Textarea může být i na plnou šířku vedle labelu'|trans }}
				</label>
				<div class="form-line__side">
					<textarea class="input input--textarea-big">{{ 'Textarea roztáhnutá na celou šířku. V tomhletom případě nemusíme použít form-line__item, protože je prvek na 100% šířku.'|trans }}</textarea>
				</div>
			</div>
		</div>

		<h4>{{ 'Zarovnání prvku na stranu'|trans }}</h4>
		<p>
			{{ 'Někdy je potřčeba jeden z prvků zarovnat na pravou/levou stranu. To jde udělat pomocí modifikátoru <strong class="in-article__visible">form-line__item--right</strong> případně <strong class="in-article__visible">form-line__item--left</strong>.'|trans|raw }}
		</p>
		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Input s textem napravo'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
					<div class="form-line__item form-line__item--text form-line__item--right">
						{{ 'Jakýkoliv prvek vpravo'|trans }}
					</div>
				</div>
			</div>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Input s cenami vpravo vedle sebe'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
					<div class="form-line__item form-line__item--right">
						<div class="form-line__item__price">
							{{ '1 254 Kč'|trans }}
						</div>
						<div class="form-line__item__price">
							<strong>
								{{ '1 254 Kč'|trans }}
							</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p>
			{{ 'Prvkem, který se někam zarovnává bývá hlavně ikona.'|trans|raw }}
		</p>
		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Input i ikonou jednoduše'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
					<div class="form-line__item form-line__item--text">
						<i class="svg svg-info in-icon in-icon--info"></i>
					</div>
				</div>
			</div>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Input i ikonou vpravo'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
					<div class="form-line__item form-line__item--right form-line__item--text">
						<i class="svg svg-info in-icon in-icon--info"></i>
					</div>
				</div>
			</div>

			<div class="form-line">
				<label class="form-line__label">
					{{ 'Input i ikonou vlevo'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
					<div class="form-line__item form-line__item--left form-line__item--text">
						<i class="svg svg-info in-icon in-icon--info"></i>
					</div>
				</div>
			</div>

			<div class="form-line">
				<label class="form-line__label">
					{{ 'Input i ikonou u labelu'|trans }}
					<i class="svg svg-info in-icon in-icon--info"></i>
				</label>
				<div class="form-line__side">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
				</div>
			</div>
		</div>

		<h4>{{ 'Krátké dovětky za inputem'|trans }}</h4>
		<p>
			{{ 'Když se např. pracuje s cenami, je třeba za inputem uvést měnu. Ty ale mívají různé délky textu, proto je třeba jim vyhradit pevnou šířku, aby v případě ikonky za textem, byly ikony zarovnány.'|trans|raw }}
		</p>
		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Input s dovětkem co má pevnou šířku'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
					<div class="form-line__item form-line__item--text form-line__item--fixed-width-left">
						Kč
					</div>
					<div class="form-line__item form-line__item--text">
						<i class="svg svg-info in-icon in-icon--info"></i>
					</div>
				</div>
			</div>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Input s dovětkem co má pevnou šířku'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
					<div class="form-line__item form-line__item--text form-line__item--fixed-width-left">
						Euro
					</div>
					<div class="form-line__item form-line__item--text">
						<i class="svg svg-info in-icon in-icon--info"></i>
					</div>
				</div>
			</div>
		</div>

		<h4>{{ 'Button za inputem'|trans }}</h4>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Input s tlačítkem'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
					<div class="form-line__item form-line__item--btn">
						<a href="#" class="btn">{{ 'Tlačítko'|trans }}</a>
					</div>
				</div>
			</div>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Input s tlačítkem'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
					<div class="form-line__item form-line__item--right form-line__item--btn">
						<a href="#" class="btn">{{ 'Tlačítko napravo'|trans }}</a>
					</div>
				</div>
			</div>
		</div>

		<h4>{{ 'Checkboxy či radia'|trans }}</h4>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Checkboxy'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item">
						<div class="form-choice-list">
							<label class="form-choice-list__item">
								<input type="checkbox" class="form-choice-list__input">
								{{ 'checkbox v seznamu'|trans }}
							</label>
							<label class="form-choice-list__item">
								<input type="checkbox" class="form-choice-list__input">
								{{ 'checkbox v seznamu'|trans }}
							</label>
							<label class="form-choice-list__item">
								<input type="checkbox" class="form-choice-list__input">
								{{ 'checkbox v seznamu'|trans }}
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<h4>{{ 'Když potřebujeme něco o velikosti inputu'|trans }}</h4>
		<p>
			{{ 'Příkladem může být prázdný prostor a za ním ikonka, kterou chceme lícovat s ikonkou vedle inputu.'|trans }}
		</p>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Input'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
					<div class="form-line__item form-line__item--text">
						<i class="svg svg-info in-icon in-icon--info"></i>
					</div>
				</div>
			</div>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Místo pro input'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item form-line__item--text form-line__item--input-size">
					</div>
					<div class="form-line__item form-line__item--text">
						<i class="svg svg-info in-icon in-icon--info"></i>
					</div>
				</div>
			</div>
		</div>

		<h4>{{ 'Když chceme info o počtu znaků'|trans }}</h4>
		<div class="in-message in-message--warning">
			{{ 'Pozor, druhá varianta prozatím nemá js, které by s ní pracovalo!'|trans }}
		</div>

		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Input s odpočtem'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item form-line__item--left">
						<input type="text" class="input" value="{{ 'Input musí mít třídu na zarovnání vlevo'|trans }}">
					</div>
					<div class="form-line__count">
						<div class="form-line__count__desc form-line__appendix" >
							{{ 'Využito: 45 znaků. Doporučeno max. 155'|trans }}
						</div>
					</div>
				</div>
			</div>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Input s výrazným odpočtem'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item form-line__item--left">
						<input type="text" class="input" value="{{ 'Input musí mít třídu na zarovnání vlevo'|trans }}">
					</div>
					<div class="form-line__count">
						<div class="form-line__count__val">
							<span>
								54
							</span>
						</div>
						<div class="form-line__count__desc" >
							{{ 'znaků z 155 možných'|trans }}
						</div>
					</div>
				</div>
			</div>
		</div>



		<h4>{{ 'Prevence dvojtého borderu mezi prvky'|trans }}</h4>
		<p>
			{{ 'Někdy se stává, že se mezi prvky objevuje tlustčí čára než jinde. Je to zásadně v případech, kdy nejsou prvky form-line přímo za sebou, ale nějaký z nich je obalen nějakým divem např. kvůli nějakému JS, na skrývání a odkrývání. Takovému divu je třeba přidat třídu <strong class="in-article__visible">form-line__js</strong>.'|trans|raw }}
		</p>
		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Tlustá čára mezi'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
				</div>
			</div>
			<div>
				<div class="form-line">
					<label class="form-line__label">
						{{ 'Tento form-line je obalen'|trans }}
					</label>
					<div class="form-line__side">
						<div class="form-line__item">
							<input type="text" class="input">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="in-article__preview">
			<span class="in-article__preview__info">{{ 'Živý náhled na komponentu v bílém okně'|trans }}</span>
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Tlustá čára mezi zmizela'|trans }}
				</label>
				<div class="form-line__side">
					<div class="form-line__item">
						<input type="text" class="input">
					</div>
				</div>
			</div>
			<div class="form-line__js">
				<div class="form-line">
					<label class="form-line__label">
						{{ 'Tento form-line je obalen'|trans }}
					</label>
					<div class="form-line__side">
						<div class="form-line__item">
							<input type="text" class="input">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
