{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}{{ 'Superadmin - rozcestník'|trans }}{% endblock %}
{% block h1 %}{{ 'Superadmin - rozcestník'|trans }}{% endblock %}

{% block main_content %}
	<ul>
		<li><a href="{{ url('admin_superadmin_icons') }}">{{ 'Ikonky'|trans }}</a></li>
		<li><a href="{{ url('admin_superadmin_errors') }}">{{ 'Chybové stránky'|trans }}</a></li>
		<li><a href="{{ url('admin_superadmin_pricing') }}">{{ 'Cenotvorba'|trans }}</a></li>
		<li><a href="{{ url('admin_superadmin_urls') }}">{{ 'URL adresy'|trans }}</a></li>
	</ul>
{% endblock %}