{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}{{ 'Superadmin - Zapínací moduly'|trans }}{% endblock %}
{% block h1 %}{{ 'Superadmin - Zapínací moduly'|trans }}{% endblock %}

{% block main_content %}
	{{ form_start(form) }}
		<table class="table-main">
			<thead>
				<tr>
					<th class="table-col-80">Název modulu</th>
					<th class="table-col-10 text-center">Aktivní</th>
					<th class="table-col-10 text-center">Neaktivní</th>
				</tr>
			</thead>
			<tbody>
				{% for moduleName, moduleForm in form.modules %}
					<tr>
						<td class="table-col-80">{{ moduleForm.vars.label }}{{ form_errors(moduleForm) }}</td>
						<td class="table-col-10 text-center">{{ form_widget(moduleForm.yes) }}</td>
						<td class="table-col-10 text-center">{{ form_widget(moduleForm.no) }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
			{% block fixed_bar_content %}
				{{ form_widget(form.save, { label: 'Uložit změny'|trans}) }}
			{% endblock %}
		{% endembed %}
	{{ form_end(form) }}
{% endblock %}
