{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}{{ 'Superadmin - Nastavení prodeje s/bez DPH'|trans }}{% endblock %}
{% block h1 %}{{ 'Superadmin - Nastavení prodeje s/bez DPH'|trans }}{% endblock %}

{% block main_content %}
	{{ form_start(form) }}
		<div class="wrap-group">
			{{ form_row(form.type, { 'label': 'Typ vstupní ceny'|trans }) }}
		</div>

		{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
			{% block fixed_bar_content %}
				{{ form_widget(form.save, { label: 'Uložit změny'|trans}) }}
			{% endblock %}
		{% endembed %}

	{{ form_end(form) }}
{% endblock %}