{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}
	- {{ 'Platba'|trans }}
{% endblock %}

{% block h1 %}
	{{ 'Platba'|trans }}
{% endblock %}

{% block main_content %}
	<div class="row">

		<div class="col-xs-12 col-lg-10">

			{{ form_start(form) }}
				{{ form_errors(form) }}

				<div class="wrap-group">
					{{ form_id(paymentDetail.payment|default(null)) }}

					{{ form_row(form.names, { label: 'Název'}) }}
					{{ form_row(form.domains, { label: 'Doména', errors_attr: { class: 'in-message-floating' } }) }}
					{{ form_row(form.hidden, { label: 'Skryté', attr: {class: 'form-line--between'} }) }}
					{{ form_row(form.price, { label: inputPriceLabel()}) }}
					{{ form_row(form.vat, { label: 'DPH'}) }}
					{% block payment_base_prices %}{% endblock %}
					{{ form_row(form.transports, { label: 'Dopravy', empty_message: 'Musíte nejdřív nějakou dopravu vytvořit.'}) }}
					{{ form_row(form.descriptions, { label: 'Popis'}) }}
				</div>

				<div class="wrap-group">
					{% block image %}{% endblock %}
					{{ form_row(form.image, { label: 'Nahrát obrázek'}) }}
				</div>

				{{ form_save(paymentDetail|default(null), form) }}
				<a href="{{ url('admin_transportandpayment_list') }}" class="btn btn-default">{{ 'Zpět na přehled'|trans }}</a>
			{{ form_end(form) }}
		</div>

	</div>
{% endblock %}