{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}
	- {{ 'Platba'|trans }}
{% endblock %}

{% block h1 %}
	{{ 'Platba'|trans }}
{% endblock %}

{% block main_content %}

	{{ form_start(form) }}
		{{ form_errors(form) }}

		<div class="form-group wrap-border">
			<div class="form-group__title">
				{{ 'Základní nastavení'|trans }}
			</div>
			{{ form_id(paymentDetail.payment|default(null)) }}

			{{ form_row(form.paymentData.name, { label: 'Název'|trans}) }}
			{{ form_row(form.paymentData.domains, { label: 'Zobrazovat na'|trans }) }}
			{{ form_row(form.paymentData.hidden, { label: 'Skryté'|trans, attr: {class: 'form-line--between'} }) }}
		</div>
		<div class="form-group wrap-border">
			<div class="form-group__title">
				{{ 'Ceny'|trans }}
			</div>
			{{ form_row(form.paymentData.czkRounding, {
				label: 'Objednávku v CZK zaokrouhlit na celé koruny'|trans,
				attr: { class: 'form-line--between' },
				icon: { title: 'Do objednávky bude přidána zaokrouhlovací položka s 0% DPH. Používá se pro platbu v hotovosti.'|trans }
			}) }}
			{{ form_row(form.paymentData.vat, { label: 'DPH'|trans}) }}
			{% block payment_base_prices %}{% endblock %}
		</div>
		<div class="form-group wrap-border">
			<div class="form-group__title">
				{{ 'Doplňkové informace'|trans }}
			</div>
			{{ form_row(form.paymentData.transports, { label: 'Povoleno pro typy doprav'|trans, empty_message: 'Musíte nejdřív nějakou dopravu vytvořit.'|trans}) }}
			{{ form_row(form.paymentData.description, { label: 'Popis'|trans}) }}
			{{ form_row(form.paymentData.instructions, { label: 'Pokyny'|trans}) }}
		</div>

		<div class="form-group">
			<div class="form-group__title">
				{{ 'Obrázek'|trans }}
			</div>

			{% block image %}{% endblock %}
			{{ form_row(form.paymentData.image, { label: 'Nahrát obrázek'|trans, infoText: 'Můžete nahrávat formáty: PNG, JPG a GIF'|trans }) }}
		</div>


		{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
			{% block fixed_bar_content %}
				<a href="{{ url('admin_transportandpayment_list') }}" class="btn-link-style">{{ 'Zpět na přehled'|trans }}</a>
				{{ form_save(paymentDetail|default(null), form) }}
			{% endblock %}
		{% endembed %}
	{{ form_end(form) }}
{% endblock %}