{% extends '@SS6Shop/Admin/Content/Payment/detail.html.twig' %}

{% block title %}- Editace platby - {{ payment.name }}{% endblock %}
{% block h1 %}Editace platby - {{ payment.name }}{% endblock %}

{% block payment_id %}
	{{ form_row(form.id, { label: 'ID'}) }}
{% endblock %}

{% block image %}
	<div class="form-line">
		<label class="form-line__label">
			Obrázek:
		</label>
		<div class="form-line__field mb-1">
			{{ image(payment, { height: 100 }) }}
		</div>
	</div>
{% endblock %}

{% block payment_save %}
	{{ form_widget(form.save, { label: 'Uložit změny'}) }}
{% endblock %}