{% extends '@SS6Shop/Admin/Content/Payment/detail.html.twig' %}

{% block title %}- {{ 'Editace platby'|trans }} - {{ paymentDetail.payment.name }}{% endblock %}
{% block h1 %}{{ 'Editace platby'|trans }} - {{ paymentDetail.payment.name }}{% endblock %}

{% block payment_base_prices %}
	<div id="transport_prices">
		<table class="table">
			<thead>
				<tr>
					<th>{{ inputPriceLabel() }}</th>
					<th>{{ 'Cena bez DPH'|trans }}</th>
					<th>{{ 'Cena s DPH'|trans }}</th>
				</tr>
			</thead>
			<tbody>
				{% for currencyId, currency in currencies %}
					<tr>
						<td>
							{{ form_row(
								form.prices[currencyId],
								{label: 'Základní cena v %currencyCode%'|trans({'%currencyCode%': currency.code}), symbolAfterInput:currencySymbolByCurrencyId(currencyId) }
							) }}
						</td>
						<td>{{ paymentDetail.basePrices[currencyId].priceWithoutVat|priceWithCurrencyByCurrencyId(currencyId) }}</td>
						<td>{{ paymentDetail.basePrices[currencyId].priceWithVat|priceWithCurrencyByCurrencyId(currencyId) }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block image %}
	<div class="form-line">
		<label class="form-line__label">
			{{ 'Obrázek'|trans }}:
		</label>
		<div class="form-line__side">
			<div class="form-line__item">
				{{ image(paymentDetail.payment, { size: 'original', height: 100 }) }}
			</div>
		</div>
	</div>
{% endblock %}