{% extends '@SS6Shop/Admin/Content/Payment/detail.html.twig' %}

{% block title %}- {{ 'Editace platby'|trans }} - {{ paymentDetail.payment.name }}{% endblock %}
{% block h1 %}{{ 'Editace platby'|trans }} - {{ paymentDetail.payment.name }}{% endblock %}

{% block payment_base_prices %}
	<div class="form-line form-line--size-2">
		<label class="form-line__label">{{ 'Základní cena bez DPH'|trans }}:</label>
		<input type="text" value="{{ paymentDetail.basePrice.priceWithoutVat }}" class="form-line__field form-control" readonly="readonly">
	</div>
	<div class="form-line form-line--size-2">
		<label class="form-line__label">{{ 'Základní cena s DPH'|trans }}:</label>
		<input type="text" value="{{ paymentDetail.basePrice.priceWithVat }}" class="form-line__field form-control" readonly="readonly">
	</div>
{% endblock %}

{% block image %}
	<div class="form-line">
		<label class="form-line__label">
			{{ 'Obrázek'|trans }}:
		</label>
		<div class="form-line__field mb-1">
			{{ image(paymentDetail.payment, { size: 'origin', height: 100 }) }}
		</div>
	</div>
{% endblock %}