{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block title %}{{ parent() }} - Osobní údaje{% endblock %}
{% block h1 %}Osobní údaje{% endblock %}

{% block content %}
	<div class="row">

		<div class="col-xs-12 col-lg-8">

			{{ form_start(form) }}
				{{ form_errors(form) }}
				<div class="info-box">
					<h2>Osobní údaje</h2>
					{{ form_row(form.userData.firstName, { label: 'Jméno'}) }}
					{{ form_row(form.userData.lastName, { label: 'Příjmení'}) }}
					{{ form_row(form.billingAddressData.telephone, { label: 'Telefon'}) }}
					{{ form_row(form.userData.email, { label: 'Email'}) }}
					<p>
						Abychom předešli možnosti zcizení účtu, je třeba změnu e-mailu řešit individuálně.
						Pokud se Vám e-mailová adresa změnila, tak nás prosím kontaktujte.
					</p>
				</div>

				<div class="info-box">
					<h2>Registrovaní zák.</h2>
					{{ form_row(form.userData.password.first, { label: 'Heslo'}) }}
					{{ form_row(form.userData.password.second, { label: 'Heslo znovu'}) }}
				</div>

				<div class="info-box">
					<h2>Firemní údaje</h2>
					{{ form_row(form.billingAddressData.companyCustomer, {
						attr: { class: 'checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-company-fields' },
						label: 'Nakupuji na firmu'})
					}}
					<div id="js-company-fields">
						{{ form_row(form.billingAddressData.companyName, { label: 'Firma'}) }}
						{{ form_row(form.billingAddressData.companyNumber, { label: 'IČ'}) }}
						{{ form_row(form.billingAddressData.companyTaxNumber, { label: 'DIČ'}) }}
					</div>
				</div>


				<div class="info-box">
					<h2>Adresa</h2>
					{{ form_row(form.billingAddressData.street, { label: 'Ulice'}) }}
					{{ form_row(form.billingAddressData.city, { label: 'Město'}) }}
					{{ form_row(form.billingAddressData.postcode, { label: 'PSČ'}) }}
					{{ form_row(form.billingAddressData.country, { label: 'Stát'}) }}
				</div>


				<div class="info-box">
					<h2>Doručovací adresa</h2>
					{{ form_row(form.deliveryAddressData.addressFilled, {
						attr: { class: 'checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-delivery-address-fields' },
						label: 'Zboží chci doručit na jinou adresu než fakturační'})
					}}
					<div id="js-delivery-address-fields">
						{{ form_row(form.deliveryAddressData.companyName, { label: 'Firma'}) }}
						{{ form_row(form.deliveryAddressData.contactPerson, { label: 'Kontaktní osoba'}) }}
						{{ form_row(form.deliveryAddressData.telephone, { label: 'Telefon'}) }}
						{{ form_row(form.deliveryAddressData.street, { label: 'Ulice'}) }}
						{{ form_row(form.deliveryAddressData.city, { label: 'Město'}) }}
						{{ form_row(form.deliveryAddressData.postcode, { label: 'PSČ'}) }}
						{{ form_row(form.deliveryAddressData.country, { label: 'Stát'}) }}
					</div>
				</div>

				{{ form_widget(form.save, { label: 'Uložit změny'}) }}
			{{ form_end(form) }}
		</div>

	</div>

{% endblock %}