{% extends '@SS6Shop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
	<meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Mé objednávky'|trans }}{% endblock %}

{% block main_content %}
	<h1>{{ 'Mé objednávky'|trans }}</h1>
	{% if orders|length == 0 %}
		{{ 'Dosud nemáte žádnou objednávku.'|trans }}
	{% else %}
		<div class="in-scroll box-orders">
			<div class="in-scroll__in">
				<table class="table-main box-orders__table">
					<tr>
						<th>{{ 'Číslo objednávky'|trans }}</th>
						<th>{{ 'Datum vytvoření'|trans }}</th>
						<th>{{ 'Aktuální stav'|trans }}</th>
						<th class="text-right">{{ 'Počet položek'|trans }}</th>
						<th>{{ 'Doprava'|trans }}</th>
						<th>{{ 'Platba'|trans }}</th>
						<th class="text-right">{{ 'Celková cena s DPH'|trans }}</th>
						<th class="text-center">{{ 'Detail'|trans }}</th>
					</tr>
					{% for order in orders %}
						<tr>
							<td><a href="{{ url('front_customer_order_detail_registered', { orderNumber: order.number }) }}">{{ order.number }}</a></td>
							<td>{{ order.createdAt|formatDate }}</td>
							<td>{{ order.status.name }}</td>
							<td class="text-right">{{ order.productItemsCount }}</td>
							<td>{{ order.transportName }}</td>
							<td>{{ order.paymentName }}</td>
							<td class="text-right">{{ order.totalPriceWithVat|priceWithCurrency(order.currency) }}</td>
							<td class="text-center"><a href="{{ url('front_customer_order_detail_registered', { orderNumber: order.number }) }}" class="in-icon in-icon--detail"><i class="svg svg-search"></i></a></td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}
{% endblock %}
