{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block title %}{{ parent() }} - Mé objednávky{% endblock %}
{% block h1 %}Mé objednávky{% endblock %}
	{% block content %}
		<div class="row">
			<div class="col-xs-12 col-lg-12">
				{% if ordersData|length == 0 %}
					Dosud nemáte žádnou objednávku.
				{% else %}
					<div class="table-responsive">
						<table class="table table-striped">
							<tr>
								<th>Číslo objednávky</th>
								<th>Datum vytvoření</th>
								<th>Aktuální stav</th>
								<th>Počet položek</th>
								<th>Doprava</th>
								<th>Platba</th>
								<th>Celková cena s DPH</th>
								<th>Detail</th>
							</tr>
								{% for orderData in ordersData %}
									<tr>
										<td><a href="{{ url('front_customer_order_detail', { id: orderData.id }) }}">{{ orderData.number }}</a></td>
										<td>{{ orderData.createdAt|date('d-m-Y') }}</td>
										<td>{{ orderData.statusName }}</td>
										<td>{{ orderData.itemsCount }}</td>
										<td>{{ orderData.transportName }}</td>
										<td>{{ orderData.paymentName }}</td>
										<td>{{ orderData.totalPriceWithVat|price }}</td>
										<td><a href="{{ url('front_customer_order_detail', { id: orderData.id }) }}"><i class="fa fa-search"></i</a></td>
									</tr>
								{% endfor %}

						</table>
					</div>
				{% endif %}
			</div>
		</div>
	{% endblock %}
