{% extends '@ShopsysShop/Admin/Grid/Grid.html.twig' %}

{% block grid_no_data %}
    {{ 'No product found.'|trans }}
{% endblock %}

{% block grid_action_cell_type_edit %}
    <a
        class="in-icon in-icon--edit svg svg-pencil table-action{% if actionColumn.classAttribute %} {{ actionColumn.classAttribute }}{% endif %}"
        href="{{ actionColumn.targetUrl(row) }}"
        title = "{{ actionColumn.title }}"
        target ="_blank"
    ></a>
{% endblock %}

{% block grid_value_cell_id_name %}
    {% if row.p.variantType == VARIANT_TYPE_MAIN %}
        <span class="in-letter cursor-help js-tooltip" title="{{ 'Main variant'|trans }}">H</span>
    {% endif %}
    {% if row.p.variantType == VARIANT_TYPE_VARIANT %}
        <span class="in-letter cursor-help js-tooltip" title="{{ 'Variant'|trans }}">V</span>
    {% endif %}
    <a href="{{ url('admin_product_edit', { id: row.p.id }) }}" target="_blank">{{ row.product|productListDisplayName }}</a>
{% endblock %}

{% block grid_value_cell_id_calculatedVisibility %}
    {% if isMultidomain() %}
        <span class="js-product-visibility position-relative" data-visibility-url="{{ url('admin_product_visibility', {productId: row.p.id}) }}">
            <span class="js-product-visibility-icon in-icon svg
                {% if isVisibleForDefaultPricingGroupOnEachDomain(row.product) %}
                    svg-visible in-icon--visible
                {% elseif value and not isVisibleForDefaultPricingGroupOnEachDomain(row.product) %}
                    svg-visible in-icon--partially-visible
                {% else %}
                    svg-invisible in-icon--invisible
                {% endif %}"
            ></span>
            <span class="js-product-visibility-box">
                <span class="product-visibility js-product-visibility-box-window display-none"></span>
            </span>
        </span>
    {% else %}
        {% if isVisibleForDefaultPricingGroupOnEachDomain(row.product) %}
            {% spaceless %}
                <a href="{{ findUrlByDomainId('front_product_detail', { id: row.product.id }, getDomain().id) }}" target="_blank">
                    <span class="in-icon svg svg-visible in-icon--visible"></span>
                </a>
            {% endspaceless %}
        {% else %}
            <span class="in-icon svg svg-invisible in-icon--invisible"></span>
        {% endif %}
    {% endif %}
    {% if row.p.calculatedSellingDenied %}
        <span class="in-icon in-icon--denied svg svg-cart" title="{{ 'Product excluded from sale'|trans }}"></span>
    {% endif %}
{% endblock %}

{% block grid_value_cell_id_price %}
    {{ row.priceForProductList|priceWithCurrencyAdmin }}
{% endblock %}

{% block grid_pager_totalcount %}
    {% set entityName = 'products'|trans %}
    {{ parent() }}
{% endblock %}
