{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Products overview'|trans }}{% endblock %}
{% block h1 %}{{ 'Products overview'|trans }}{% endblock %}
{% block btn %}
    <a href="{{ url('admin_product_new') }}" class="btn btn--plus wrap-bar__btn" target="_blank">
        <i class="btn__icon">+</i>{{ 'Create new product'|trans }}
    </a>
    <a href="{{ url('admin_product_createvariant') }}" class="btn btn--plus wrap-bar__btn">
        <i class="btn__icon">+</i>{{ 'Create variant'|trans }}
    </a>
{% endblock %}

{% block main_content %}
    <div class="in-tab js-tabs">
        <div class="in-tab__heading">
            <a href="#"
                class="in-tab__heading__item js-tabs-button {{ not isAdvancedSearchFormSubmitted ? 'active' }}"
                data-tab-id="quick"
            >
                {{ 'Quick search'|trans }}
            </a>
            <a href="#"
                class="in-tab__heading__item js-tabs-button {{ isAdvancedSearchFormSubmitted ? 'active' }}"
                data-tab-id="advanced"
            >
                {{ 'Advanced search'|trans }}
            </a>
        </div>
        <div class="in-tab__content">
            <div class="in-tab__content__in js-tabs-content" data-tab-id="quick">
                {% include '@ShopsysShop/Admin/Content/Product/quickSearchFormContent.html.twig' with {quickSearchForm: quickSearchForm} %}
            </div>
            <div class="in-tab__content__in js-tabs-content" data-tab-id="advanced">
                {% include '@ShopsysShop/Admin/Content/Product/AdvancedSearch/advancedSearch.html.twig'
                    with {advancedSearchForm: advancedSearchForm}
                %}
            </div>
        </div>
    </div>


    {{ form_start(massActionForm) }}
        <div class="wrap-border js-product-list-with-filter">
            <div class="box-mass-action" id="js-mass-action">
                <span class="box-mass-action__click" id="js-mass-action-button">
                    {{ 'Bulk edit'|trans }}:
                    <i class="box-mass-action__click__icon svg svg-arrow"></i>
                </span>
                <div class="box-mass-action__content">
                    <strong class="box-mass-action__title">
                        {{ 'Change for'|trans }}:
                    </strong>
                    {{ form_widget(massActionForm.selectType, { attr: { class: 'js-mass-action-select-type' } , isSimple: true }) }}

                    <div class="box-mass-action__filter">
                        <strong class="box-mass-action__title">
                            {{ 'Make modification'|trans }}:
                        </strong>

                        <div class="box-mass-action__filter__line">
                            <div class="box-mass-action__filter__line__item">
                                {{ form_widget(massActionForm.action , { isSimple: true }) }}
                            </div>

                            <div class="box-mass-action__filter__line__item">
                                {{ form_widget(massActionForm.subject, { isSimple: true }) }}
                            </div>

                            <div class="box-mass-action__filter__line__item">
                                {{ form_widget(massActionForm.value, { attr: { class: 'js-mass-action-value' }, isSimple: true }) }}
                            </div>
                        </div>

                        <div class="box-mass-action__filter__line box-mass-action__filter__line--submit">
                            <div class="box-mass-action__filter__line__item">
                                {{ form_widget(massActionForm.submit, { label: 'Make modification'|trans, attr: { class: 'btn btn--medium js-mass-action-submit' } }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ gridView.render() }}
        {{ gridView.renderHiddenInputs('page') }}
    {{ form_end(massActionForm) }}
{% endblock %}
