<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="cs" class="ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="cs" class="ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="cs" class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="cs" class="no-js"> <!--<![endif]-->

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/admin/styles/index.css') }}" media="screen, projection">
	<link rel="stylesheet" type="text/css" href="{{ asset('http://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css') }}">
	
	<script src="{{ asset('http://code.jquery.com/jquery-1.11.0.min.js') }}"></script>
	<script src="{{ asset('http://code.jquery.com/ui/1.10.4/jquery-ui.min.js') }}"></script>
	<script src="{{ asset('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/i18n/jquery.ui.datepicker-cs.js') }}"></script>
	
	<script src="{{ asset('assets/admin/scripts/dropdown.js') }}"></script>
	<script src="{{ asset('assets/admin/scripts/date_picker.js') }}"></script>
	<script src="{{ asset('assets/admin/scripts/jquery.flashMessage.js') }}"></script>
	<script src="{{ asset('assets/admin/scripts/jquery.dmuploader.js') }}"></script>
	<script src="{{ asset('assets/admin/scripts/jquery.fileUpload.js') }}"></script>
	<script type="text/javascript">
		global = {
			locale: '{{ app.request.locale }}'
		};
	</script>
	
	<title>Adminstrace {% block title %}ShopSys 6{% endblock %}</title>

	<body>
		{% block htmlBody %}{% endblock %}
		
		{% if app.environment == 'dev' %}
			<script async src="//localhost:35729/livereload.js"></script>			
		{% endif %}
	</body>
</html>