<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="cs" class="ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="cs" class="ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="cs" class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="cs" class="no-js"> <!--<![endif]-->

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{{ asset('assets/admin/styles/index.css') }}" media="screen, projection">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerjqueryui/css/flick/jquery-ui.css') }}">
	<!--[if IE 8 ]>
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/admin/styles/index-ie8.css') }}" media="screen, projection">
	<![endif]-->

	{# bootstrap/tooltip.js must be imported before bootstrap/popover.js #}
	{{ importJavascripts([
		'bundles/bmatznerjquery/js/jquery.min.js',
		'assets/frontend/scripts/plugins/jquery.migrate.js',
		'bundles/bmatznerjqueryui/js/minified/jquery-ui.min.js',
		'bundles/fpjsformvalidator/js/fp_js_validator.js',
		'assets/frontend/scripts/plugins/jquery.fix.clone.js',
		'assets/frontend/scripts/validation/customizeBundle.js',
		'assets/frontend/scripts/checkboxToggle.js',
		'assets/frontend/scripts/window.js',
		'assets/admin/scripts/bootstrap/tooltip.js',
		'assets/admin/scripts/bootstrap/*.js',
		'assets/admin/scripts/plugins/*.js',
		'assets/admin/scripts/validation/form/*.js',
		'assets/admin/scripts/validation/*.js',
		'assets/admin/scripts/*.js',
	]) }}
	{{ js_validator_config() }}
	{{ init_js_validation() }}

	<script type="text/javascript">
		global = {
			locale: '{{ app.request.locale }}'
		};
	</script>

	<title>{{ 'Administrace'|trans }} {% block title %}ShopSys 6{% endblock %}</title>

	<body>
		{% block html_body %}{% endblock %}

		{% if app.environment == 'dev' %}
			<script async src="//localhost:35729/livereload.js"></script>
		{% endif %}
	</body>
</html>