{% block header %}

    {% set shopInfoPhoneNumber = getShopInfoPhoneNumber() %}
    {% set shopInfoPhoneHours = getShopInfoPhoneHours() %}
    {% set shopInfoEmail = getShopInfoEmail() %}

    <header class="header">
        <div class="header__logo">
            {% block logo %}
                <a class="logo" href="{{ url('front_homepage') }}">
                    <img src="{{ asset('assets/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
                </a>
            {% endblock %}
        </div>

        <div class="header__middle">
            {{ render(controller('ShopsysShopBundle:Front/Search:box')) }}
            {% if shopInfoPhoneNumber is not null or shopInfoPhoneHours is not null or shopInfoEmail is not null %}
                <div class="contact-us">
                    {% if shopInfoPhoneNumber is not null %}
                        <span class="contact-us__phone">
                            <i class="svg svg-phone"></i>
                            {{ shopInfoPhoneNumber }}
                        </span>
                    {% endif %}
                    {% if shopInfoPhoneHours is not null %}
                        <span class="contact-us__days">
                            {{ shopInfoPhoneHours }}
                        </span>
                    {% endif %}
                    {% if shopInfoEmail is not null %}
                        <span class="contact-us__email">
                            {{ shopInfoEmail }}
                        </span>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="header__mobile">
            <div class="header__mobile-button header__mobile-button--menu">
                <span class="header__mobile-button__in js-responsive-toggle" data-element="js-categories" data-hide-on-click-out="true">
                    <i class="svg svg-burger-menu"></i>
                    {{ 'Menu'|trans }}
                </span>
            </div>

            {% if shopInfoPhoneNumber is not null %}
                <div class="header__mobile-button">
                    <a href="tel:{{ shopInfoPhoneNumber }}" class="header__mobile-button__in">
                        <i class="svg svg-phone"></i>
                    </a>
                </div>
            {% endif %}

            <div class="header__mobile-button">
                <span class="header__mobile-button__in js-responsive-toggle" data-element="js-user-menu" data-hide-on-click-out="true">
                    <i class="svg svg-user"></i>
                </span>
                <div class="header__mobile-button__menu" id="js-user-menu">
                    {% if is_granted('ROLE_CUSTOMER') %}
                        <a href="{{ url('front_customer_edit') }}">
                            {{ 'Personal data'|trans }}
                        </a>
                        <a href="{{ url('front_customer_orders') }}">
                            {{ 'Orders'|trans }}
                        </a>
                        <a href="{{ url('front_logout', { _csrf_token: csrf_token('frontend_logout')}) }}">
                            {{ 'Log out'|trans }}
                        </a>
                    {% else %}
                        <a href="{{ url('front_login') }}"
                            onclick="Shopsys.window({ content: '{{ render(controller('ShopsysShopBundle:Front/Login:windowForm'))|escape('js') }}' }); return false;">
                            {{ 'Log in'|trans }}
                        </a>
                        <a href="{{ url('front_registration_register') }}">
                            {{ 'Registration'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="header__cart">
            {{ render(controller('ShopsysShopBundle:Front/Cart:box')) }}
        </div>

        <div class="header__top">
            <div class="header__top__left">
                {{ render(controller('ShopsysShopBundle:Front/Article:menu')) }}
            </div>

            <div class="header__top__right">
                <ul class="menu-iconic">
                    {% if is_granted('ROLE_CUSTOMER') %}
                        <li class="menu-iconic__item">
                            <a href="{{ url('front_customer_edit') }}" class="menu-iconic__item__link">
                                <i class="svg svg-user"></i>
                                <span>
                                    {{ app.user.firstName }} {{ app.user.lastName }}
                                </span>
                            </a>
                            <ul class="menu-iconic__sub">
                                <li class="menu-iconic__sub__item">
                                    <a href="{{ url('front_customer_edit') }}" class="menu-iconic__sub__item__link">{{ 'Personal data'|trans }}</a>
                                </li>
                                <li class="menu-iconic__sub__item">
                                    <a href="{{ url('front_customer_orders') }}" class="menu-iconic__sub__item__link">{{ 'My orders'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-iconic__item">
                            <a href="{{ url('front_logout', { _csrf_token: csrf_token('frontend_logout')}) }}" class="js-logout-link-desktop menu-iconic__item__link">
                                <span>
                                    {{ 'Log out'|trans }}
                                </span>
                            </a>
                        </li>
                    {% else %}
                        <li class="menu-iconic__item">
                            <a
                                href="{{ url('front_login') }}"
                                onclick="Shopsys.window({ content: '{{ render(controller('ShopsysShopBundle:Front/Login:windowForm'))|escape('js') }}' }); return false;"
                                class="js-login-link-desktop menu-iconic__item__link"
                            >
                                <i class="svg svg-user"></i>
                                <span>
                                    {{ 'Log in'|trans }}
                                </span>
                            </a>
                        </li>
                        <li class="menu-iconic__item">
                            <a href="{{ url('front_registration_register') }}" class="js-registration-link-desktop menu-iconic__item__link">
                                <span>
                                    {{ 'Registration'|trans }}
                                </span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>

    {{ render(controller('ShopsysShopBundle:Front/Advert:box',{'positionName' : constant('Shopsys\\ShopBundle\\Model\\Advert\\Advert::POSITION_HEADER')})) }}
{% endblock %}
