{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Nastavení informací o cookies'|trans }}{% endblock %}
{% block h1 %}{{ 'Nastavení informací o cookies'|trans }}{% endblock %}

{% block main_content %}

	{{ render(controller('SS6ShopBundle:Admin/Domain:domainTabs')) }}

	{{ form_start(form) }}
		<div class="form-group">
			<div class="form-group__title">
				{{ 'Nastavení'|trans }}
			</div>
			{{ form_row(form.cookiesArticle, { label: 'Informace o cookies'|trans, icon: { title: 'Vyberte článek, který bude sloužit jako informace o tom, jak tyto stránky používají cookies.'|trans } }) }}
		</div>

		{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
			{% block fixed_bar_content %}
				{{ form_widget(form.save, { label: 'Uložit změny'|trans }) }}
			{% endblock %}
		{% endembed %}
	{{ form_end(form) }}

{% endblock %}