{% extends '@SS6Shop/Front/Layout/layoutWithPanel.html.twig' %}

{% block title %}
	{{ parent() }} - {{ 'Přehled značek'|trans }}
{% endblock %}

{% block main_content %}
	<div>
		<h1>{{ 'Přehled značek'|trans }}</h1>

		<div>
			<ul class='list-images'>
				{% for brand in brands %}
					<li class="list-images__item">
						<a href="{{ url('front_brand_detail', { id: brand.id }) }}" class="list-images__item__block list-images__item__block--with-label">
							{{ image(brand, { alt: brand.name }) }}
							<span>{{ brand.name }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>

	</div>

{% endblock %}
