{% extends '@SS6Shop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
	{{ 'Registrace'|trans }}
{% endblock %}

{% block main_content %}
	<h1>{{ 'Registrace'|trans }}</h1>

	{{ form_errors(form) }}

	{{ form_start(form) }}

		{{ form_row(form.firstName, { label: 'Jméno' }) }}
		{{ form_row(form.lastName, { label: 'Příjmení' }) }}
		{{ form_row(form.email, { label: 'Email' }) }}
		{{ form_row(form.password.first, { label: 'Heslo' }) }}
		{{ form_row(form.password.second, { label: 'Heslo znovu' }) }}

		{{ form_widget(form.save, { label: 'Registrovat'|trans }) }}

	{{ form_end(form) }}

{% endblock %}