{% extends '@SS6Shop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
	{{ 'Registrace'|trans }}
{% endblock %}

{% block main_content %}
	<h1>{{ 'Registrace'|trans }}</h1>

	{{ form_errors(form) }}

	{{ form_start(form) }}

		{{ form_row(form.firstName, { label: 'Jméno'|trans }) }}
		{{ form_row(form.lastName, { label: 'Příjmení'|trans }) }}
		{{ form_row(form.email, { label: 'E-mail'|trans }) }}
		{{ form_row(form.password.first, {
			label: 'Heslo'|trans,
			icon: {
				class: 'in-icon in-icon--info js-tooltip',
				title: 'Heslo musí mít alespoň šest znaků a nesmí být shodné se zadaným e-mailem ani s částí e-mailu před zavináčem.'|trans
			}
		}) }}
		{{ form_row(form.password.second, { label: 'Heslo znovu'|trans }) }}

		{{ form_widget(form.save, { label: 'Registrovat'|trans }) }}

	{{ form_end(form) }}

	<br />


{% endblock %}
