{% extends '@SS6Shop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
	{{ 'Zapomenuté heslo'|trans }}
{% endblock %}

{% block main_content %}
	<h1>{{ 'Zapomenuté heslo'|trans }}</h1>

	{{ form_errors(form) }}

	{{ form_start(form) }}

		{{ form_row(form.email, { label: 'E-mail'|trans }) }}

		{{ form_widget(form.submit, { label: 'Resetovat heslo'|trans }) }}

	{{ form_end(form) }}

{% endblock %}