{% extends '@SS6Shop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
	{{ 'Nastavit nové heslo'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}
	<h1>{{ 'Nastavit nové heslo'|trans }}</h1>

	{{ form_errors(form) }}

	{{ form_start(form) }}

		{{ form_row(form.newPassword.first, { label: 'Heslo'|trans }) }}
		{{ form_row(form.newPassword.second, { label: 'Heslo znovu'|trans }) }}

		{{ form_widget(form.submit, { label: 'Nastavit nové heslo'|trans }) }}

	{{ form_end(form) }}

{% endblock %}