<div class="box-promo-code">
    {% if validEnteredPromoCode is null %}
        <label class="box-promo-code__input">
            {{ 'Discount code'|trans }}:
            <input type="text" value="" id="js-promo-code-input" class="input" data-apply-code-url="{{ url('front_promo_code_apply') }}"/>
        </label>
        <button type="button" id="js-promo-code-submit-button" class="btn box-promo-code__btn">{{ 'Apply'|trans }}</button>
    {% else %}
        <span class="box-promo-code__added">
            <span class="box-promo-code__added__discount">
                {{ 'Your discount'|trans }}:
                <strong>
                    {{ validEnteredPromoCode.percent|formatPercent }}
                </strong>
            </span>
            <a href="{{ url('front_promo_code_remove') }}" class="box-promo-code__added__remove">
                <i class="svg svg-remove"></i>
            </a>
        </span>
    {% endif %}
</div>