{% extends 'form_div_layout.html.twig' %}

{% block form_start %}
	{%- if attr.multipleForm is defined -%}
		{% if attr.multipleForm %}
			{{ globalMultipleFormSetting.currentFormIsMultiple() }}
		{% else %}
			{{ globalMultipleFormSetting.currentFormIsNotMultiple() }}
		{% endif %}
	{%- endif -%}
	{% set attr = attr|merge({'role': attr.role|default('form')}) %}
	{% set method = method|upper %}
	{%- if method in ["GET", "POST"] -%}
		{% set form_method = method %}
	{%- else -%}
		{% set form_method = "POST" %}
	{%- endif -%}
	<form name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"
		{%- for attrname, attrvalue in attr -%}
			{{- " " -}}
			{%- if attrname is sameas('multipleForm') -%}
			{%- else -%}
				{{- attrname }}="{{ attrvalue }}"
			{%- endif -%}
		{%- endfor -%}
		{% if multipart %} enctype="multipart/form-data"{% endif %}>
	{%- if form_method != method -%}
		<input type="hidden" name="_method" value="{{ method }}" />
	{%- endif -%}
{% endblock form_start %}

{% block form_end %}
	{{ parent('form_end') }}
	{{ globalMultipleFormSetting.reset() }}
{% endblock form_end %}

{% block localized_row -%}
	<div class="form-line {{ attr.class|default('') }}">
		{{- form_label(form) -}}
		{{- form_errors(form) -}}
		{{- block('localized_form_rows') -}}
	</div>
{%- endblock localized_row %}

{% block localized_widget -%}
	{% for child in form %}
		{{- form_row(child, { localized: true, locale: child.vars.name, attr: { class: attr.class|default('form-line--compact')}}) -}}
	{% endfor %}
{%- endblock localized_widget %}

{% block form_row %}
	<div class="form-line {{ attr.class|default('') }}">
		{{ form_errors(form) }}
		{{ form_label(form, label, { label_attr: {class: 'form-line__label'} }) }}
		{{ form_widget(form, { attr: {class: 'form-line__field'}, symbolAfterInput: null }) }}
		{{- block('appendix_block') -}}
	</div>
{% endblock form_row %}

{% block localized_form_rows -%}
	{% for child in form %}
		{{- form_row(child, { localized: true, locale: child.vars.name }) -}}
	{% endfor %}
{%- endblock localized_form_rows %}

{% block checkbox_row %}
	<div class="checkbox">
		{{ form_label(form) }}
		{{ form_errors(form) }}
		{{ form_widget(form) }}
	</div>
{% endblock checkbox_row %}

{% block text_row -%}
	<div class="form-line {{ attr.class|default('') }}">
		{{ form_errors(form) }}
		{% if localized is not defined %}
			{{ form_label(form, label, { label_attr: {class: 'form-line__label'} }) }}
			{{ form_widget(form, { attr: { class: 'form-line__field', symbolAfterInput: null } }) }}
		{% else %}
			{{ form_widget(form, { attr: { class: 'form-line__field form-line__field--icon', symbolAfterInput: null } }) }}
			<span class="form-line__icon form-line__icon--{{locale}}"></span>
		{% endif %}
		{{- block('appendix_block') -}}
	</div>
{%- endblock text_row %}

{% block textarea_row -%}
	<div class="form-line">
		{% if localized is not defined %}
			{{ form_label(form, label, { label_attr: {class: 'form-line__label'} }) }}
		{% else %}
			{{ form_label(form, 'Překlad '|trans ~ localeFlag(locale), { label_attr: {class: 'form-line__label'}, raw: true }) }}
		{% endif %}
		{{- form_errors(form) -}}
		<div class="form-line__full">
			{{- form_widget(form, { attr: { symbolAfterInput: null } }) -}}
		</div>
	</div>
{%- endblock textarea_row %}

{% block ckeditor_row -%}
	{{ block('textarea_row') }}
{%- endblock ckeditor_row %}

{% block form_label %}
	{% spaceless %}
		{% if label is not sameas(false) %}
			{% if not compound %}
				{% set label_attr = label_attr|merge({'for': id}) %}
			{% endif %}
			{% if required %}
				{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
			{% endif %}
			{% if label is empty %}
				{% set label = name|humanize %}
			{% endif %}
			<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
				{% if raw is not defined %}
					{{ label|trans({}, translation_domain) }}
				{% else %}
					{{ label|raw }}
				{% endif %}
				{% if not withoutColon|default(false) %}:{% endif %}
				{% if required %}<span class="form-input-required">*</span>{% endif %}
			</label>
		{% endif %}
	{% endspaceless %}
{% endblock form_label %}

{% block checkbox_label %}
	{% spaceless %}
		{% set withoutColon = true %}
		{{ block('form_label') }}
	{% endspaceless %}
{% endblock checkbox_label %}

{% block product_widget %}
	<span class="js-product-picker-container">
		<input
			class="form-control js-product-picker-label"
			value="{{ productName|default('Vyberte produkt'|trans) }}"
			disabled="disabled"
			readonly="readonly"
		/>
		<button
			data-product-picker-url="{{ url('admin_productpicker_list', {parentInputId: '__input_id__'}) }}"
			class="js-product-picker-create-picker-button"
			title="Kliknutím přejdete k výběru produktu"
			onclick="SS6.productPicker.makePicker(this); return false;"
		>
			...
		</button>
		{{- form_widget(form, {attr: {class: 'js-product-picker-input'}}) -}}
	</span>
{% endblock product_widget %}

{% macro categoriesWidgetItem(categoryDetails, form) %}
	<ul class="js-category-tree-form-children-container">
		{% for categoryDetail in categoryDetails %}
			{% set categoryForm = form[categoryDetail.category.id] %}
			<li class="checkbox js-category-tree-form-item">
				<i class="fa fa-square-o js-category-tree-form-item-icon{{ categoryDetail.children|length > 0 ? ' cursor-pointer' : ''}}"></i>
				<label>
					{{ form_widget(categoryForm, { attr: { class: 'js-category-tree-form-item-checkbox' } }) }}
					{{ categoryForm.vars.label }}
				</label>
				{{ _self.categoriesWidgetItem(categoryDetail.children, form) }}
			</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% block categories_widget %}
	<div class="form-line__field category-tree category-tree--form js-category-tree-form">
		{{ _self.categoriesWidgetItem(form.vars.categoryDetails, form) }}
	</div>
{% endblock categories_widget %}

{% block form_errors %}
	{% set errors_attr = errors_attr|default({})|merge({'class': (errors_attr.class|default(''))}) %}
	{% spaceless %}
		<div class="in-message in-message--danger js-validation-errors-list {{ errors_attr.class }} {{ errors|length > 0 ? '' : ' display-none' }}">
			<ul class="in-message__list">
				{% if errors|length > 0 %}
					{% for error in errors %}
						<li>{{ error.message }}</li>
					{% endfor %}
				{% endif %}
			</ul>
		</div>
	{% endspaceless %}
{% endblock form_errors %}

{% block form_widget_simple %}
	{% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
	{{ parent('form_widget_simple') }}
	{% if symbolAfterInput is defined %}
		<span>{{ symbolAfterInput }}</span>
	{% endif %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
	{% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
	{% set attr = attr|merge({'rows': (attr.rows|default('8'))}) %}
	{{ parent('textarea_widget') }}
{% endblock textarea_widget %}

{% block button_widget %}
	{% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn btn-primary button')|trim}) %}
	{{ parent('button_widget') }}
{% endblock button_widget %}

{% block choice_widget_collapsed -%}
	{% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
		{% set required = false %}
	{% endif %}
	{% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
	<select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
		{% if empty_value is not none -%}
			<option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value }}</option>
		{%- endif %}
		{%- if preferred_choices|length > 0 -%}
			{% set options = preferred_choices %}
			{{- block('choice_widget_options') -}}
			{% if choices|length > 0 and separator is not none -%}
				<option disabled="disabled">{{ separator }}</option>
			{%- endif %}
		{%- endif -%}
		{% set options = choices -%}
		{{- block('choice_widget_options') -}}
	</select>
{%- endblock choice_widget_collapsed %}

{% block choice_widget_options -%}
	{% for group_label, choice in options %}
		{%- if choice is iterable -%}
			<optgroup label="{{ group_label }}">
				{% set options = choice %}
				{{- block('choice_widget_options') -}}
			</optgroup>
		{%- else -%}
			<option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label }}</option>
		{%- endif -%}
	{% endfor %}
{%- endblock choice_widget_options %}

{% block choice_widget_expanded %}
	{% spaceless %}
			<div {{ block('widget_container_attributes') }}>
			{% for child in form %}
				<div class="radio checkbox">
					<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
						{{ form_widget(child) }}
						{{ child.vars.label }}
					</label>
				</div>
			{% else %}
				{{ empty_message|default('Není z čeho vybírat.') }}
			{% endfor %}
			</div>
	{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block widget_attributes -%}
	{%- if globalMultipleFormSetting.currentFormMultiple -%}
		{% set attr = attr|merge({'class': (attr.class|default('') ~ ' id__' ~ id)|trim}) %}
		{%- if htmlId|default(false) %} id="{{ htmlId }}"{% endif -%}
	{%- else -%}
		{{- " " -}}
		id="{{ id }}"
	{%- endif -%}
	{{- " " -}}
	name="{{ full_name }}"
	{%- if htmlId|default(false) %} id="{{ htmlId }}"{% endif -%}
	{%- if read_only %} readonly="readonly"{% endif -%}
	{%- if disabled %} disabled="disabled"{% endif -%}
	{%- if required %} required="required"{% endif -%}
	{%- for attrname, attrvalue in attr -%}
		{{- " " -}}
		{%- if attrname in ['placeholder', 'title'] -%}
			{{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
		{%- elseif attrvalue is sameas(true) -%}
			{{- attrname }}="{{ attrname }}"
		{%- elseif attrvalue is not sameas(false) -%}
			{{- attrname }}="{{ attrvalue }}"
		{%- endif -%}
	{%- endfor -%}
{%- endblock widget_attributes %}

{% block button_attributes -%}
	{%- if globalMultipleFormSetting.currentFormMultiple -%}
		{% set attr = attr|merge({'class': (attr.class|default('') ~ ' id__' ~ id)|trim}) %}
		{%- if htmlId|default(false) %} id="{{ htmlId }}"{% endif -%}
	{%- else -%}
		{{- " " -}}
		id="{{ id }}"
	{%- endif -%}
	{{- " " -}}
	name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif -%}
	{%- for attrname, attrvalue in attr -%}
		{{- " " -}}
		{%- if attrname in ['placeholder', 'title'] -%}
			{{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
		{%- elseif attrvalue is sameas(true) -%}
			{{- attrname }}="{{ attrname }}"
		{%- elseif attrvalue is not sameas(false) -%}
			{{- attrname }}="{{ attrvalue }}"
		{%- endif -%}
	{%- endfor -%}
{%- endblock button_attributes %}

{% block money_widget %}
	{% set value = value|cropZeros %}
	{{ parent('money_widget') }}
{% endblock money_widget %}

{% block number_widget %}
	{% set value = value|cropZeros %}
	{{ parent('number_widget') }}
{% endblock number_widget %}

{% block appendix_block %}
	{% if icon is defined %}
		<i class="fa fa-{{ icon.type|default('info-circle') }} cursor-help form-line__info js-tooltip"
			data-toggle="tooltip" data-placement="{{ icon.placement|default('right') }}"
			title="{{ icon.title }}"
		 ></i>
	{% endif %}
	{% if symbolAfterInput is defined %}
		<span class="form-line__appendix">{{ symbolAfterInput }}</span>
	{% endif %}
{% endblock %}
