{{ form_start(form) }}
	<div class="text-left">
		<h2 class="window__title">{{ 'Přidat URL'|trans }}</h2>

		<div class="form-line js-entity-url-list-window-content-domain-row">
			<span class="form-line__label">
				{{ form_label(form.domain, "Doména" ) }}
			</span>
			<span class="form-line__field">
				{{ form_widget(form.domain, { attr: {class: 'js-entity-url-list-window-content-domain-row'} }) }}
			</span>
		</div>
		<div class="form-line">
			<span class="form-line__label js-entity-url-list-window-content-domain-url" data-domain-urls-by-id="{{ form.vars.domainUrlsById|json_encode }}"></span>
			<span class="form-line__field">
				{{ form_widget(form.slug) }}
			</span>
		</div>
		<div class="window__actions form-line">
			<span class="form-line__field">
				{{ form_row(form.create, { label: 'Vytvořit URL'}) }}
			</span>
		</div>

	</div>

{{ form_end(form) }}
