{% extends '@ShopsysShop/Admin/Grid/Grid.html.twig' %}

{% macro getLabel(row) %}
    {{ row.feedLabel }} - {{ row.domainConfig.name }}
{% endmacro %}

{% block grid_value_cell_id_label %}
    {% if row.created %}
        <a href="{{ row.url }}" target="_blank">{{ _self.getName(row) }}</a>
    {% else %}
        {{ _self.getLabel(row) }}
    {% endif %}
{% endblock %}

{% block grid_value_cell_id_actions %}
    <a href="{{ url(
        'admin_feed_generate', {
            feedName: row.feedName,
            domainId: row.domainConfig.id
        }
    ) }}" class="btn">{{ 'Generate'|trans }}</a>

{% endblock %}