<div class="navbar-header">
	<a href="{{ url('admin_default_dashboard') }}" class="navbar-logo">Shopsys</a>
</div>

<ul class="nav navbar-nav">
	{% for item in menu.regularItems %}
		{% if (item.visible) %}
			<li {% if item in activePath %}class="active"{% endif %} >
				{% if item.route %}
					<a href="{{ url(item.route, item.routeParameters) }}">{{ item.label }}</a>
				{% else %}
					<a href="#">{{ item.label }}</a>
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}
</ul>

<ul class="nav navbar-nav navbar-right">
	<li class="{% if menu.settingsItem in activePath %}active{% endif %}" >
		<a href="{{ url(menu.settingsItem.route, menu.settingsItem.routeParameters) }}">{{ menu.settingsItem.label }}</a>
	</li>
	<li>
		<a href="{{ url('admin_logout') }}">Odhlásit</a>
	</li>
</ul>
