{% extends '@SS6Shop/Admin/Grid/Grid.html.twig' %}

{% block grid_no_data %}
	{{ 'Nebylo nalezeno žádné zboží.'|trans }}
{% endblock %}

{% block grid_value_cell_id_select %}
	<a
		href="#"
		onclick="SS6.productPicker.selectProduct('{{ parentInputId|e('js') }}', {{ row.p.id|e('js') }}, '{{ row.pt.name|e('js') }}'); return false;"
	>{{ 'Vybrat'|trans }}</button>
{% endblock %}

{% block grid_pager_totalcount %}
	{% set entityName = 'zboží'|trans %}
	{{ parent() }}
{% endblock %}
