{% extends '@SS6Shop/Admin/Layout/layoutWindow.html.twig' %}

{% block content %}
	{{ form_start(quickSearchForm) }}

		<div class="wrap-tab h-margin-top-50 js-tabs">
			<div class="wrap-tab__heading">
				<a href="#"
					class="{{ isAdvancedSearchFormSubmitted ? 'h-display-none ' : 'active ' }}wrap-tab__heading__item js-tabs-tab-link{{ not isAdvancedSearchFormSubmitted ? ' active' }}"
					data-tab-id="quick"
				>
					{{ 'Rychlé vyhledávání'|trans }}
				</a>
				<a href="#"
					class="{{ isAdvancedSearchFormSubmitted ? 'active ' }}wrap-tab__heading__item js-tabs-tab-link{{ isAdvancedSearchFormSubmitted ? ' active' }}"
					data-tab-id="advanced"
				>
					{{ 'Rozšířené hledání'|trans }}
				</a>
			</div>
			<div class="wrap-tab__content">
				<div class="{{ isAdvancedSearchFormSubmitted ? 'h-display-none ' : '' }}wrap-tab__content__in js-tabs-tab-content" data-tab-id="quick">
					{% include '@SS6Shop/Admin/Content/Product/quickSearchFormContent.html.twig' with {quickSearchForm: quickSearchForm} %}
				</div>
				<div class="wrap-tab__content__in js-tabs-tab-content" data-tab-id="advanced">
					{% include '@SS6Shop/Admin/Content/Product/AdvancedSearch/advancedSearch.html.twig'
						with {
							advancedSearchForm: advancedSearchForm,
							isAdvancedSearchFormSubmitted: isAdvancedSearchFormSubmitted,
						}
					%}
				</div>
			</div>
		</div>

		<div>

		</div>



		{{ gridView.render() }}
		{{ gridView.renderHiddenInputs('page') }}

	{{ form_end(quickSearchForm) }}

	{% if isMultiple %}
		{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
			{% block fixed_bar_content %}
				<a href="#" class="btn" onclick="SS6.productsPicker.close(); return false;">{{ 'Dokončit přiřazování'|trans }}</a>
			{% endblock %}
		{% endembed %}
	{% endif %}
{% endblock %}