{% extends '@SS6Shop/Admin/Grid/Grid.html.twig' %}

{% block grid_no_data %}
	{{ 'Nebylo nalezeno žádné zboží.'|trans }}
{% endblock %}

{% block grid_value_cell_id_name %}
	{{ row.product|productListDisplayName }}
	{% if row.p.variantType == constant('SS6\\ShopBundle\\Model\\Product\\Product::VARIANT_TYPE_MAIN') %}
		<span class="text-in-circle c-help js-tooltip" title="{{ 'Hlavní varianta'|trans }}">H</span>
	{% endif %}
	{% if row.p.variantType == constant('SS6\\ShopBundle\\Model\\Product\\Product::VARIANT_TYPE_VARIANT') %}
		<span class="text-in-circle c-help js-tooltip" title="{{ 'Varianta'|trans }}">V</span>
	{% endif %}
{% endblock %}

{% block grid_value_cell_id_visible %}
	<span class="grid_boolean_{{ value ? 'true' : 'false' }} in-icon svg svg-{{ value ? 'visible in-icon--visible' : 'invisible in-icon--invisible' }}" title="{{ value ? 'Ano'|trans : 'Ne'|trans }}"></span>
	{% if row.p.calculatedSellingDenied %}
		<i class="svg svg-cart cart-disabled" title="{{ 'Zboží je vyřazeno z prodeje'|trans }}"></i>
	{% endif %}
{% endblock %}

{% block grid_value_cell_id_select %}
	{%- if not allowVariants and row.p.variantType == constant('SS6\\ShopBundle\\Model\\Product\\Product::VARIANT_TYPE_MAIN') %}
		<i class="svg svg-info c-help js-tooltip" data-toggle="tooltip" data-placement="left" title="" data-original-title="Nelze vybrat zboží, které již je hlavní variantou"></i>
	{% elseif not allowVariants and row.p.variantType == constant('SS6\\ShopBundle\\Model\\Product\\Product::VARIANT_TYPE_VARIANT') %}
		<i class="svg svg-info c-help js-tooltip" data-toggle="tooltip" data-placement="left" title="" data-original-title="Nelze vybrat zboží, které již je variantou"></i>
	{% elseif isMultiple %}
			<a
				class="btn btn--default js-products-picker-window-add-product"
				href="#"
				data-product-picker-instance-id="{{ jsInstanceId }}"
				data-product-picker-product-id="{{ row.p.id }}"
				data-product-picker-product-name="{{ row.pt.name }}"
			>
				<i class="sprite sprite-plus js-products-picker-icon"></i>
				<span class="js-products-picker-label">{{ 'Přidat'|trans }}</span>
			</a>
	{% else %}
		<a
			class="btn btn--default"
			href="#"
			onclick="SS6.productPicker.selectProduct('{{ parentInputId|e('js') }}', {{ row.p.id|e('js') }}, '{{ row.pt.name|e('js') }}'); return false;"
		>
			<i class="svg svg-checked"></i>
			{{ 'Vybrat'|trans }}
		</a>
	{% endif %}
{% endblock %}

{% block grid_pager_totalcount %}
	{% set entityName = 'zboží'|trans %}
	{{ parent() }}
{% endblock %}
