{% extends '@SS6Shop/Admin/Grid/Grid.html.twig' %}

{% block grid_no_data %}
	{{ 'Nebylo nalezeno žádné zboží.'|trans }}
{% endblock %}

{% block grid_value_cell_id_name %}
	{% if row.p.variantType == VARIANT_TYPE_MAIN %}
		<span class="in-letter h-cursor-help js-tooltip" title="{{ 'Hlavní varianta'|trans }}">H</span>
	{% endif %}
	{% if row.p.variantType == VARIANT_TYPE_VARIANT %}
		<span class="in-letter h-cursor-help js-tooltip" title="{{ 'Varianta'|trans }}">V</span>
	{% endif %}
	{{ row.product|productListDisplayName }}
{% endblock %}

{% block grid_value_cell_id_calculatedVisibility %}
	<span class="in-icon svg svg-{{ value ? 'visible in-icon--visible' : 'invisible in-icon--invisible' }}"
		title="{{ value ? 'Ano'|trans : 'Ne'|trans }}"
	></span>
	{% if row.p.calculatedSellingDenied %}
		<i class="svg svg-cart in-icon" title="{{ 'Zboží je vyřazeno z prodeje'|trans }}"></i>
	{% endif %}
{% endblock %}

{% block grid_value_cell_id_select %}
	{%- if not allowMainVariants and row.p.variantType == VARIANT_TYPE_MAIN %}
		<i class="in-icon in-icon--info svg svg-info h-cursor-help js-tooltip"
			data-toggle="tooltip" data-placement="left"
			title="" data-original-title="Nelze vybrat zboží, které je hlavní variantou"
		></i>
	{% elseif not allowVariants and row.p.variantType == VARIANT_TYPE_VARIANT %}
		<i class="in-icon in-icon--info svg svg-info h-cursor-help js-tooltip"
			data-toggle="tooltip" data-placement="left" title=""
			data-original-title="Nelze vybrat zboží, které je variantou"
		></i>
	{% elseif isMultiple %}
		<a
			class="js-products-picker-window-add-product btn btn--light btn--plus btn--small"
			href="#"
			data-product-picker-instance-id="{{ jsInstanceId }}"
			data-product-picker-product-id="{{ row.p.id }}"
			data-product-picker-product-name="{{ row.pt.name }}"
		>
			<i class="js-products-picker-icon btn__icon">+</i>
			<span class="js-products-picker-label">
				{{ 'Přidat'|trans }}
			</span>
		</a>
	{% else %}
		<a
			href="#"
			onclick="SS6.productPicker.onClickSelectProduct('{{ parentInstanceId|e('js') }}', {{ row.p.id|e('js') }}, '{{ row.pt.name|e('js') }}'); return false;"
			class="btn btn--light btn--plus btn--small"
		>
			<i class="js-products-picker-icon btn__icon">+</i>
			<span class="js-products-picker-label">
				{{ 'Vybrat'|trans }}
			</span>
		</a>
	{% endif %}
{% endblock %}

{% block grid_pager_totalcount %}
	{% set entityName = 'zboží'|trans %}
	{{ parent() }}
{% endblock %}
