{% extends '@SS6Shop/Admin/Layout/layoutWindow.html.twig' %}

{% block content %}
	{{ form_start(quickSearchForm) }}

		<div{{ isAdvancedSearchFormSubmitted ? ' class="display-none"' : '' }}>
			{% include '@SS6Shop/Admin/Content/Product/quickSearchFormContent.html.twig' with {quickSearchForm: quickSearchForm} %}
		</div>

		{% include '@SS6Shop/Admin/Content/Product/AdvancedSearch/advancedSearch.html.twig'
			with {
				advancedSearchForm: advancedSearchForm,
				isAdvancedSearchFormSubmitted: isAdvancedSearchFormSubmitted,
			}
		%}

		{{ gridView.render() }}
		{{ gridView.renderHiddenInputs('page') }}

	{{ form_end(quickSearchForm) }}

	{% if isMultiple %}
		<div class="text-center mb-1">
			<a href="#" class="btn btn-primary" onclick="SS6.productsPicker.close(); return false;">{{ 'Dokončit přiřazování'|trans }}</a>
		</div>
	{% endif %}
{% endblock %}