{% if domainConfigs|length > 1 %}
	<div class="box-domain" role="tablist">
		{% for domainConfig in domainConfigs %}
			{% if domainConfig.id == selectedDomainId %}
				<span class="box-domain__item box-domain__item--active">
					{% if multipleLocales %}{{ localeFlag(domainConfig.locale, false) }}{% endif %}
					{{ domainConfig.domain }}
				</span>
			{% else %}
				<a class="box-domain__item" href="{{ url('admin_domain_selectdomain', {id: domainConfig.id}) }}">
					{% if multipleLocales %}{{ localeFlag(domainConfig.locale, false) }}{% endif %}
					{{ domainConfig.domain }}
				</a>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}