{% extends '@SS6Shop/Admin/Content/Article/detail.html.twig' %}

{% block title %}- {{ 'Editace článku'|trans }} - {{ article.name }}{% endblock %}
{% block h1 %}{{ 'Editace článku'|trans }} - {{ article.name }}{% endblock %}

{% block article_url %}
	<div class="form-line">
		<span class="form-line__text">
			{% set url = findUrlByDomainId('front_article_detail', { id: article.id }, article.domainId, true) %}
			<a href="{{ url }}" target="_blank">{{ url }}</a>
		</span>
	</div>
{% endblock %}