{% extends '@SS6Shop/Admin/Content/Article/detail.html.twig' %}

{% block title %}- {{ 'Editace článku'|trans }} - {{ article.name }}{% endblock %}
{% block h1 %}{{ 'Editace článku'|trans }} - {{ article.name }}{% endblock %}

{% block article_domain %}
	<div class="form-line">
		<label class="form-line__label">{{ 'Doména:'|trans }}</label>
		<input
			type="text"
			value="{{ getDomainName(article.domainId) }}"
			class="form-control form-line__field"
			readonly="readonly"
		>
	</div>
{% endblock %}

{% block article_url %}
	<div class="form-line">
		<span class="form-line__text">
			{% set url = findUrlByDomainId('front_article_detail', { id: article.id }, article.domainId) %}
			<a href="{{ url }}" target="_blank">{{ url }}</a>
		</span>
	</div>
{% endblock %}

{% block article_urls %}
	{{ form_row(form.urls, { label: 'URL adresy'|trans }) }}
{% endblock %}