{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Articles overview'|trans }}{% endblock %}
{% block h1 %}{{ 'Articles overview'|trans }}{% endblock %}

{% block btn %}
	<a href="{{ url('admin_article_new') }}" class="btn btn--plus wrap-bar__btn">
		<i class="btn__icon">+</i>{{ 'Create new article'|trans }}
	</a>
{% endblock %}

{% block main_content %}

	<div class="js-multiple-grids-rows-unified">
		{{ render(controller('SS6ShopBundle:Admin/Domain:domainTabs')) }}

		{% if articlesCountOnSelectedDomain > 0 %}
			<h2>{{ 'Articles in upper menu'|trans }}</h2>
			{{ gridViewTop.render() }}

			<h2>{{ 'Articles in footer'|trans }}</h2>
			{{ gridViewFooter.render() }}

			<h2>{{ 'Articles without positioning'|trans }}</h2>
			{{ gridViewNone.render() }}

			{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
				{% block fixed_bar_content %}
					<button class="js-multiple-grids-save-all-button btn btn--disabled" data-drag-and-drop-url-save-ordering="{{ url('admin_article_saveordering') }}" type="button">{{ 'Save changes in order'|trans }}</button>
				{% endblock %}
			{% endembed %}
		{% else %}
			<div class="in-message in-message--info">
				{{ 'No articles found on this domain. You have to create some first.'|trans }}
			</div>
		{% endif %}
	</div>

{% endblock %}