{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Přehled článků'|trans }}{% endblock %}
{% block h1 %}{{ 'Přehled článků'|trans }}{% endblock %}

{% block main_content %}

	{{ render(controller('SS6ShopBundle:Admin/Domain:domainTabs')) }}

	<a href="{{ url('admin_article_new') }}" class="btn">{{ 'Vytvořit nový článek'|trans }}</a>

	{{ gridView.render() }}

	{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
		{% block fixed_bar_content %}
			<button class="js-drag-and-drop-grid-submit-all btn btn--disabled" type="button">{{ 'Uložit změny v pořadí'|trans }}</button>
		{% endblock %}
	{% endembed %}

{% endblock %}