{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Přehled článků'|trans }}{% endblock %}
{% block h1 %}{{ 'Přehled článků'|trans }}{% endblock %}

{% block main_content %}


	<div class="row">
		<div class="col-xs-12 col-lg-10">

			{{ render(controller('SS6ShopBundle:Admin/Domain:domainTabs')) }}

			<a href="{{ url('admin_article_new') }}" class="btn btn-primary mb-1">{{ 'Vytvořit nový článek'|trans }}</a>

			{{ gridView.render() }}

			<div class="window-fixed-bar">
				<div class="window-fixed-bar__buttons">
					<button class="js-drag-and-drop-grid-submit-all btn btn-primary btn-disabled" type="button">{{ 'Uložit změny v pořadí'|trans }}</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}