{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Administrátor'|trans }}{% endblock %}
{% block h1 %}{{ 'Administrátor'|trans }}{% endblock %}

{% block main_content %}
	{{ form_start(form) }}
		{{ form_errors(form) }}

		<div class="form-group wrap-border">
			<div class="form-group__title">
				{{ 'Nastavení'|trans }}
			</div>
			{{ form_id(administrator|default(null)) }}

			{{ form_row(form.username, { label: 'Přihlašovací jméno'|trans}) }}
			{{ form_row(form.realName, { label: 'Jméno'|trans}) }}
			{{ form_row(form.email, { label: 'E-mail'|trans}) }}
			{{ form_row(form.password.first, { label: 'Heslo'|trans,
				icon: {
					title: 'Heslo musí mít minimálně 6 znaků a nesmí být stejné jako přihlašovací jméno.'|trans} }) }}
			{{ form_row(form.password.second, { label: 'Heslo znovu'|trans}) }}
		</div>

		{% block admin_log %}{% endblock %}

		{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
			{% block fixed_bar_content %}
				<a href="{{ url('admin_administrator_list') }}" class="btn-link-style">{{ 'Zpět na přehled'|trans }}</a>
				{{ form_save(administrator|default(null), form) }}
			{% endblock %}
		{% endembed %}
	{{ form_end(form) }}
{% endblock %}