{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Karta zboží'|trans }}{% endblock %}
{% block h1 %}{{ 'Karta zboží'|trans }}{% endblock %}

{% block main_content %}
	<div class="row">

		<div class="col-xs-12 col-lg-10">

			{{ form_start(form) }}
				<div id="product_edit_productData"></div>
				{{ form_errors(form) }}

				<div class="wrap-group">
					{{ form_id(product|default(null)) }}
					{% block product_url %}{% endblock %}

					{{ form_row(form.productData.name, { label: 'Název'}) }}
					{{ form_row(form.productData.showOnDomains, { label: 'Zobrazit na doménách'}) }}
					{{ form_row(form.productData.hidden, { label: 'Skrýt zboží', attr: {class: 'form-line--between'} }) }}
					{% block product_calculated_hidden_info %}{% endblock %}
					{{ form_row(form.productData.sellable, { label: 'Vyřadit z prodeje',
						icon: {
							title: 'Zboží vyřazené z prodeje se nezobrazuje ve výpisech ani nelze vyhledat. Detail tohoto zboží je dostupný přímým přístupem z URL, zboží ale nelze vložit do košíku.'|trans
						}
						, attr: {class: 'form-line--between'} }) }}
					{% block product_calculated_sellable_info %}{% endblock %}
					{% block product_main_categories %}{% endblock %}
					{{ form_row(form.productData.categories, { label: 'Kategorie'}) }}
					{{ form_row(form.productData.flags, { label: 'Příznaky'}) }}
				</div>

				<div class="wrap-group">
					{{ form_row(form.productData.usingStock, { label: 'Používat skladové zásoby', attr: {class: 'form-line--between' } } ) }}
					<div class="js-product-using-stock">
						{{ form_row(form.productData.stockQuantity, { label: 'Skladem', attr: {class: 'form-line--size-1'} }) }}
						{{ form_row(form.productData.outOfStockAction, { label: 'Akce při vyprodání', attr: {class: 'form-line--size-3'} }) }}
						<div class="js-product-using-stock-and-alternate-availability">
							{{ form_row(form.productData.outOfStockAvailability, { label: 'Dostupnost při vyprodání', attr: {class: 'form-line--size-3'} }) }}
						</div>
					</div>
					<div class="js-product-not-using-stock">
						{{ form_row(form.productData.availability, { label: 'Dostupnost', attr: {class: 'form-line--size-2'} }) }}
					</div>
				</div>

				<div class="wrap-group">
					{{ form_row(form.productData.priceCalculationType, { label: 'Výpočet prodejních cen', attr: { class: 'form-line--between' } }) }}
					{{ form_row(form.productData.vat, { label: 'DPH', attr: { class: 'form-line--size-2' } }) }}
					{% block product_calculated_prices %}{% endblock %}
				</div>

				<div class="wrap-group">
					{{ form_row(form.productData.catnum, { label: 'Katalogové číslo' }) }}
					{{ form_row(form.productData.partno, { label: 'PartNo (výrobní číslo)' }) }}
					{{ form_row(form.productData.ean, { label: 'EAN' }) }}
				</div>


				<div class="wrap-group">
					{{ form_row(form.productData.description, { label: 'Popis'}) }}
					{{ form_row(form.productData.sellingFrom, { label: 'Datum vložení', attr: {class: 'form-line--size-1'} }) }}
					{{ form_row(form.productData.sellingTo, { label: 'Datum stažení', attr: {class: 'form-line--size-1'} }) }}
				</div>

				<div class="wrap-group js-form-group">
					<h2>{{ 'Parametry'|trans }}:</h2>

					{{ form_errors(form.parameters) }}

					<div class="wrap-group__inner">

						<table class="table-edit mb-1" id="product_edit_parameters">
							<thead class="table-edit__heading">
								<tr>
									<th class="table-edit__heading__cell">{{ 'Parametr'|trans }}</th>
									<th class="table-edit__heading__cell">{{ 'Hodnota'|trans }}</th>
									<th class="table-edit__heading__cell"></th>
								</tr>
							</thead>
							<tbody class="js-parameters table-edit__body" data-prototype="{{ _self.parameterRow(form.parameters.vars.prototype)|escape }}" data-index="{{ form.parameters|length }}">

								{% macro parameterRow(parameter, index) %}
									<tr class="js-parameters-item js-form-group" data-index="{{ index }}">
										<td class="table-col-45 table-edit__body__cell">
											{{ form_widget(parameter.parameter) }}
										</td>
										<td class="table-col-50 table-edit__body__cell">
											<span class="table-edit__body__cell__error">
												 {{ form_errors(parameter.valueText, {errors_attr: {class: 'table-edit__body__cell__error__message'}}) }}
											</span>
											{{ form_widget(parameter.valueText)}}
										</td>
										<td class="table-col-5 table-edit__body__cell text-center">
											<a href="#" class="js-parameters-item-remove table-action"><i class="fa fa-trash-o"></i></a>
										</td>
									</tr>
								{% endmacro %}

								{% for key, parameter in form.parameters %}
									{{ _self.parameterRow(parameter, key) }}
								{% else %}
									{% do form.parameters.setRendered %}
								{% endfor %}

								<tr class="js-parameters-empty-item">
									<td colspan="3">{{ 'Přidejte nějaké parametry'|trans }}</td>
								</tr>
							</tbody>
						</table>
						<a href="#" class="js-parameters-item-add btn btn-primary"><i class="fa fa-plus fa-lg"></i> {{ 'Přidat'|trans }}</a>
					</div>
				</div>

				<div class="wrap-group">
					<h2>{{ 'SEO atributy'|trans }}:</h2>
					<strong>{{ 'Titulek'|trans }}</strong>
					{% for domainId, title in form.seoTitles %}
						<div class="js-characters-counter form-group">
							{{ form_row(title, { label: getDomainName(domainId), attr: { class: 'js-characters-counter-input' } }) }}
							<div class="js-characters-counter-info form-line__appendix" data-recommended-length="60"></div>
						</div>
					{% endfor %}

					<strong>{{ 'Meta description'|trans }}</strong>
					{% for domainId, metaDescription in form.seoMetaDescriptions %}
						<div class="js-characters-counter form-group form-line--size-6">
							{{ form_row(metaDescription, { label: getDomainName(domainId), attr: { class: 'js-characters-counter-input' } }) }}
							<div class="js-characters-counter-info form-line__appendix" data-recommended-length="155"></div>
						</div>
					{% endfor %}
					{% block product_urls %}{% endblock %}
				</div>

				<div class="wrap-group">
					{% block images %}{% endblock %}
					{{ form_row(form.imagesToUpload, { label: 'Nahrát obrázek' }) }}
					{{ form_widget(form.imagesToDelete, { attr: { style: 'display: none;' } }) }}
				</div>

				<div class="wrap-group">
					{{ form_row(form.productData.accessories, { label: 'Příslušenství' }) }}
				</div>

				<div class="window-fixed-bar">
 					<div class="window-fixed-bar__buttons">
						{{ form_save(product|default(null), form) }}
						<a href="{{ url('admin_product_list') }}" class="btn btn-default">{{ 'Zpět na přehled'|trans }}</a>
					</div>
				</div>
			{{ form_end(form) }}
		</div>

	</div>



{% endblock %}