{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- Karta zboží{% endblock %}
{% block h1 %}Karta zboží{% endblock %}

{% block main_content %}
	<div class="row">

		<div class="col-xs-12 col-lg-10">

			{{ form_start(form) }}
				{{ form_errors(form) }}

				<div class="wrap-group">
					{{ form_id(product|default(null)) }}
					{% block product_url %}{% endblock %}

					{{ form_row(form.name, { label: 'Název'}) }}
				</div>


				<div class="wrap-group">
					{{ form_row(form.catnum, { label: 'Katalogové číslo' }) }}
					{{ form_row(form.partno, { label: 'PartNo (výrobní číslo)' }) }}
					{{ form_row(form.ean, { label: 'EAN' }) }}
				</div>


				<div class="wrap-group">
					{{ form_row(form.description, { label: 'Popis'}) }}
					{{ form_row(form.price, { label: inputPriceLabel(), attr: { class: 'form-line--size-2' } }) }}
					{{ form_row(form.vat, { label: 'DPH', attr: { class: 'form-line--size-2' } }) }}
					{% block product_base_prices %}{% endblock %}
					{{ form_row(form.sellingFrom, { label: 'Datum vložení', attr: {class: 'form-line--size-1'} }) }}
					{{ form_row(form.sellingTo, { label: 'Datum stažení', attr: {class: 'form-line--size-1'} }) }}
					{{ form_row(form.availability, { label: 'Dostupnost', attr: {class: 'form-line--size-2'} }) }}
					{{ form_row(form.stockQuantity, { label: 'Skladem', attr: {class: 'form-line--size-1'} }) }}
					{{ form_row(form.hidden, { label: 'Skryté', attr: {class: 'form-line--between'} }) }}
				</div>

				<div class="wrap-group">
					<label>Parametry:</label>

					{{ form_errors(form.parameters) }}

					<table class="table">
						<tbody class="js-parameters" data-prototype="{{ _self.parameterRow(form.parameters.vars.prototype)|escape }}">
							<tr>
								<th>Parametr</th>
								<th>Hodnota</th>
								<th></th>
							</tr>

							{% macro parameterRow(parameter) %}
								<tr class="js-parameters-item">
									<td>{{ form_widget(parameter.parameter) }}{{ form_errors(parameter.parameter) }}</td>
									<td>{{ form_widget(parameter.value) }}{{ form_errors(parameter.value) }}</td>
									<td>
										<a href="#" class="js-parameters-item-remove"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
							{% endmacro %}

							{% for parameter in form.parameters %}
								{{ _self.parameterRow(parameter) }}
							{% else %}
								{% do form.parameters.setRendered %}
							{% endfor %}

							<tr class="js-parameters-empty-item">
								<td colspan="3">Přidejte nějaké parametry</td>
							</tr>
						</tbody>
					</table>
					<a href="#" class="js-parameters-item-add"><i class="fa fa-plus"></i></a>
				</div>

				<div class="wrap-group">
					{% block image %}{% endblock %}
					{{ form_row(form.image, { label: 'Nahrát obrázek' }) }}

					{{ form_save(product|default(null), form) }}
					<a href="{{ url('admin_product_list') }}" class="btn btn-default">Zpět na přehled</a>
				</div>
			{{ form_end(form) }}
		</div>

	</div>



{% endblock %}