{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- Karta zboží{% endblock %}
{% block h1 %}Karta zboží{% endblock %}

{% block main_content %}
	<div class="row">

		<div class="col-xs-12 col-lg-10">

			{{ form_start(form) }}
				{{ form_errors(form) }}

				<div class="form-box">
					{% block product_id %}{% endblock %}
					{% block product_url %}{% endblock %}

					{{ form_row(form.name, { label: 'Název'}) }}
				</div>


				<div class="form-box">
					{{ form_row(form.catnum, { label: 'Katalogové číslo' }) }}
					{{ form_row(form.partno, { label: 'PartNo (výrobní číslo)' }) }}
					{{ form_row(form.ean, { label: 'EAN' }) }}
				</div>


				<div class="form-box">
					{{ form_row(form.description, { label: 'Popis'}) }}
					{{ form_row(form.price, { label: 'Vstupní cena', attr: { class: 'form-line--size-2' } }) }}
					{{ form_row(form.vat, { label: 'DPH', attr: { class: 'form-line--size-1' } }) }}
					{{ form_row(form.sellingFrom, { label: 'Datum vložení', attr: {class: 'form-line--size-1'} }) }}
					{{ form_row(form.sellingTo, { label: 'Datum stažení', attr: {class: 'form-line--size-1'} }) }}
					{{ form_row(form.stockQuantity, { label: 'Skladem', attr: {class: 'form-line--size-1'} }) }}
					{{ form_row(form.hidden, { label: 'Skryté'}) }}
				</div>

				<div class="form-box">
					{% block image %}{% endblock %}
					{{ form_row(form.image, { label: 'Nahrát obrázek' }) }}

					{% block product_save %}{% endblock %}
					<a href="{{ url('admin_product_list') }}" class="btn btn-default">Zpět na přehled</a>
				</div>
			{{ form_end(form) }}
		</div>

	</div>



{% endblock %}