{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- Karta zboží{% endblock %}
{% block h1 %}Karta zboží{% endblock %}

{% block main_content %}
	<div class="row">

		<div class="col-xs-12 col-lg-8">
			
			{{ form_start(form) }}
				{{ form_errors(form) }}

				{% block product_id %}
					{{ form_widget(form.id, { type: 'hidden' }) }}
				{% endblock %}
				{% block product_url %}{% endblock %}
				
				{{ form_row(form.name, { label: 'Název'}) }}
				{{ form_row(form.catnum, { label: 'Katalogové číslo'}) }}
				{{ form_row(form.partno, { label: 'PartNo (výrobní číslo)'}) }}
				{{ form_row(form.ean, { label: 'EAN'}) }}
				{{ form_row(form.description, { label: 'Popis'}) }}
				{{ form_row(form.price, { label: 'Cena'}) }}
				{{ form_row(form.sellingFrom, { label: 'Datum vložení'}) }}
				{{ form_row(form.sellingTo, { label: 'Datum stažení'}) }}
				{{ form_row(form.stockQuantity, { label: 'Skladem'}) }}
				{{ form_row(form.hidden, { label: 'Skryté'}) }}
				{% block image %}{% endblock %}
				{{ form_row(form.image, { label: 'Nahrát obrázek'}) }}

				{% block product_save %}{% endblock %}
				<a href="{{ url('admin_product_list') }}" class="btn btn-default">Zpět na přehled</a>
			{{ form_end(form) }}
		</div>
		
	</div>


		
{% endblock %}