{% extends '@SS6Shop/Admin/Content/Product/detail.html.twig' %}

{% block title %}- {{ 'Editace zboží'|trans }} - {{ product.name }}{% endblock %}
{% block h1 %}{{ 'Editace zboží'|trans }} - {{ product.name }}{% endblock %}

{% block product_url %}
	<div class="form-line">
		<span class="form-line__text">
			{% if (product.visible) %}
				<a href="{{ url('front_product_detail', { id: product.id }) }}" target="_blank">{{ url('front_product_detail', { id: product.id }) }}</a>
			{% else %}
				{{ url('front_product_detail', { id: product.id }) }}
			{% endif %}
		</span>
	</div>
{% endblock %}

{% block product_calculated_prices %}
	<fieldset class="row">
		<div class="table-responsive col-md-12 col-lg-6">
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>{{ 'Cena bez DPH'|trans }}</th>
						<th>{{ 'Cena s DPH'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-muted">
						<td>{{ 'Základní cena'|trans }}</td>
						<td>{{ productDetail.basePrice.priceWithoutVat|priceWithDefaultAdminCurrency }}</td>
						<td><strong>{{ productDetail.basePrice.priceWithVat|priceWithDefaultAdminCurrency }}</strong></td>
					</tr>
					{% for domainId, productSellingPrices in productSellingPricesIndexedByDomainId %}
						<tr>
							<th colspan="3">{{ getDomainName(domainId) }}</th>
						</tr>
						{% for productSellingPrice in productSellingPrices %}
							<tr>
								<td>{{ productSellingPrice.pricingGroup.name }}</td>
								<td>{{ productSellingPrice.sellingPrice.priceWithoutVat|priceWithDefaultAdminCurrency }}</td>
								<td><strong>{{ productSellingPrice.sellingPrice.priceWithVat|priceWithDefaultAdminCurrency }}</strong></td>
							</tr>
						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</fieldset>
{% endblock %}

{% block images %}
	<div class="form-line">
		<label class="form-line__label">
			{{ 'Obrázek'|trans }}:
		</label>
		{% if productDetail.images|length > 0 %}
			<ul class="list-image">
				{% for image in productDetail.images %}
					<li class="list-image__item js-image-delete-button-parent">
						<div class="js-image-to-delete list-image__item__in" data-id="{{ image.id }}">
							<img src="{{ imageUrlByImage(image, 'original') }}" alt="" height="100" />
						</div>
						<div class="js-image-delete-button">
							<button onclick="SS6.productImagesDelete.deleteImage({{ image.id|escape('js') }}); return false;">
								<i class="fa fa-trash-o"></i>{{ 'Smazat obrázek'|trans }}
							</button>
						</div>
						<div class="js-image-delete-confirmed display-none">
							{{ 'Po uložení bude obrázek smazán'|trans }}<br/>
							<button onclick="SS6.productImagesDelete.revert({{ image.id|escape('js') }}); return false;"><i class="fa fa-undo"></i>{{ 'Vrátit zpět'|trans }}</button>
						</div>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
{% endblock %}