{% extends '@SS6Shop/Admin/Content/Product/detail.html.twig' %}

{% block title %}- {{ 'Editace zboží'|trans }} - {{ product.name }}{% endblock %}
{% block h1 %}{{ 'Editace zboží'|trans }} - {{ product.name }}{% endblock %}

{% block product_url %}
	<div class="form-line">
		<span class="form-line__text">
			{% if (product.visible) %}
				<a href="{{ url('front_product_detail', { id: product.id }) }}" target="_blank">{{ url('front_product_detail', { id: product.id }) }}</a>
			{% else %}
				{{ url('front_product_detail', { id: product.id }) }}
			{% endif %}
		</span>
	</div>
{% endblock %}

{% block product_base_prices %}
	<div class="form-line form-line--size-2">
		<label class="form-line__label">{{ 'Základní cena bez DPH'|trans }}:</label>
		<input type="text" value="{{ productDetail.basePrice.priceWithoutVat }}" class="form-line__field form-control" readonly="readonly">
	</div>
	<div class="form-line form-line--size-2">
		<label class="form-line__label">{{ 'Základní cena s DPH'|trans }}:</label>
		<input type="text" value="{{ productDetail.basePrice.priceWithVat }}" class="form-line__field form-control" readonly="readonly">
	</div>
{% endblock %}

{% block image %}
	<div class="form-line">
		<label class="form-line__label">
			{{ 'Obrázek'|trans }}:
		</label>
		<div class="form-line__field">
			<div class="mb-1">
				{{ image(product, { size: 'original', height: 100 }) }}
			</div>
		</div>
	</div>
{% endblock %}