{% extends '@SS6Shop/Admin/Content/Product/detail.html.twig' %}

{% block title %}- {{ 'Editace zboží'|trans }} - {{ product.name }}{% endblock %}
{% block h1 %}{{ 'Editace zboží'|trans }} - {{ product.name }}{% endblock %}

{% block product_url %}
	<div class="form-line">
		<span class="form-line__text">
			{% if (product.visible) %}
				<a href="{{ url('front_product_detail', { id: product.id }) }}" target="_blank">{{ url('front_product_detail', { id: product.id }) }}</a>
			{% else %}
				{{ url('front_product_detail', { id: product.id }) }}
			{% endif %}
		</span>
	</div>
{% endblock %}

{% block product_calculated_prices %}
	<table class="table table-dark mt-1">
		<thead>
			<tr>
				<th class="form-line__group-title">{{ inputPriceLabel() }}</th>
				<th>{{ 'Cena bez DPH'|trans }}</th>
				<th>{{ 'Cena s DPH'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="js-input-price-type-auto">
				<td>{{ form_row(form.productData.price, {label: 'Základní cena', symbolAfterInput: currencySymbolDefault(), attr: { class: 'form-line--size-2 mr-1 in-message__wrap' } }) }}</td>
				<td class="text-muted">{{ productDetail.basePrice.priceWithoutVat|priceWithCurrencyAdmin }}</td>
				<td class="text-muted"><strong>{{ productDetail.basePrice.priceWithVat|priceWithCurrencyAdmin }}</strong></td>
			</tr>
			{% for domainId, productSellingPrices in productSellingPricesIndexedByDomainId %}
				<tr>
					<th colspan="3">{{ getDomainName(domainId) }}</th>
				</tr>
				{% for productSellingPrice in productSellingPrices %}
					<tr>
						<td class="js-input-price-type-auto">{{ productSellingPrice.pricingGroup.name }}</td>
						<td class="js-input-price-type-manual">{{ form_row(form.manualInputPrices[productSellingPrice.pricingGroup.id], {label:  productSellingPrice.pricingGroup.name, attr: { class: 'form-line--size-2 mr-1 in-message__wrap' }, symbolAfterInput: currencySymbolByDomainId(domainId) }) }}</td>
						<td>{{ productSellingPrice.sellingPrice.priceWithoutVat|priceWithCurrencyByDomainId(domainId) }}</td>
						<td><strong>{{ productSellingPrice.sellingPrice.priceWithVat|priceWithCurrencyByDomainId(domainId) }}</strong></td>
					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block images %}
	<div class="form-line">
		<label class="form-line__label">
			{{ 'Obrázek'|trans }}:
		</label>
		{% if productDetail.images|length > 0 %}
			<ul class="list-image">
				{% for image in productDetail.images %}
					<li class="list-image__item js-product-images-image" data-id="{{ image.id }}">
						<div class="js-product-images-preview list-image__item__in">
							<img src="{{ imageUrlByImage(image, 'original') }}" alt="" height="100" />
						</div>
						<div class="list-image__item__button">
							<div class="js-product-images-delete-button">
								<button class="btn btn-iconic">
									<i class="fa fa-trash-o"></i>{{ 'Smazat obrázek'|trans }}
								</button>
							</div>
							<div class="js-product-images-delete-revert-button display-none">
								<button class="btn btn-iconic">
									<i class="fa fa-undo"></i>{{ 'Vrátit zpět'|trans }}
								</button>

								<span title="{{ 'Po uložení bude obrázek smazán'|trans }}"
								class="js-tooltip cursor-help form-icon" data-toggle="tooltip" data-placement="bottom">
									<i class="fa fa-info"></i>
								</span>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
{% endblock %}