{% extends '@SS6Shop/Admin/Content/Product/detail.html.twig' %}

{% block title %}- {{ 'Editace zboží'|trans }} - {{ product.name }}{% endblock %}
{% block h1 %}{% endblock %}

{% block product_variants %}
	{% if product.isVariant %}
		<div class="wrap-group">
			<div class="form-line">
				<strong>
					{{ 'Produkt je variantou'|trans }}
					<a href="{{ url('admin_product_edit', {id: product.mainVariant.id}) }}" target="_blank">
						{{ product.mainVariant.name }}<i class="fa fa-external-link"></i>
					</a>
				</strong>
			</div>
			{{ form_row(form.productData.variantAlias, { label: 'Alias varianty'|trans }) }}
		</div>
	{% endif %}
	{% if product.isMainVariant %}
		{% if product.variants|length > 0 %}
			<div class="wrap-group">
				<strong>
					{{ 'Produkt je hlavní variantou a má nastaveny varianty'|trans }}:
					<ul>
						{% for variant in product.variants %}
							<li>
								<a href="{{ url('admin_product_edit', {id: variant.id}) }}" target="_blank">
									{{ variant.name }}<i class="fa fa-external-link"></i>
								</a>
							</li>
						{% endfor %}
					</ul>
				</strong>
			</div>
		{% else %}
			<div class="wrap-group">
				<strong>{{ 'Produkt je hlavní variantou.'|trans }}</strong>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}

{% block product_url %}
	<div class="form-line">
		<label class="form-line__label">
			{{ 'URL adresy na doménách :' |trans }}
			<i class="svg svg-info cursor-help js-tooltip"
				data-toggle="tooltip" data-placement="right"
				title="{{ 'Pokud je produkt viditelný pro výchozí cenovou skupinu na dané doméně, je URL adresa odkazem, v opačném případě se zobrazuje pouze jako text'|trans }}"
			 ></i>
		</label>
		{% for productDomain in productDetail.productDomainsIndexedByDomainId %}
			<div class="form-line__line form-line__line--no-space">
				<div class="form-line__label">
					{{ domainIcon(productDomain.domainId) }}
					{{ getDomainName(productDomain.domainId) ~ ' :' }}
				</div>
				<div class="form-line__side">
					<div class="form-line__item form-line__item--text">
						{% set url = findUrlByDomainId('front_product_detail', { id: product.id }, productDomain.domainId) %}
						{% if url %}
							{% if isVisibileForDefaultPricingGroup(product, productDomain.domainId) %}
								<a href="{{ url }}" target="_blank">{{ url }}</a>
							{% else %}
								{{ url }}
							{% endif %}
						{% else %}
							-
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block product_calculated_hidden_info %}
	{% if product.isUsingStock and product.calculatedHidden and product.stockQuantity <= 0 %}
		<div class="form-line">
			<div class="form-line__line form-line__line--no-space">
				<div class="in-message in-message--warning">
					<span class="in-message__icon svg svg-warning"></span>
					{{ 'Produkt je skrytý z důvodu vyprodání'|trans }}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block product_calculated_selling_denied_info %}
	{% if product.isUsingStock and product.calculatedSellingDenied and product.stockQuantity <= 0 %}
		<div class="form-line">
			<div class="form-line__line form-line__line--no-space">
				<div class="in-message in-message--warning">
					<span class="in-message__icon svg svg-warning"></span>
					{{ 'Produkt je vyřazen z prodeje z důvodu vyprodání'|trans }}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block product_main_categories %}
	<div class="form-line">

		<label class="form-line__label">{{ 'Hlavní kategorie na doménách :' |trans }}</label>

		{% for domainId, mainCategory in productMainCategoriesIndexedByDomainId %}
			<div class="form-line__line">
				{% if mainCategory is null %}
					{% set mainCategoryName = '-' %}
				{% else %}
					{% set mainCategoryName = mainCategory.name %}
				{% endif %}

				<label class="form-line__label">
					{{ getDomainName(domainId) ~ ' :' }}
				</label>

				<div class="form-line__side">
					<div class="form-line__item wrap__input">
						<input
							type="text"
							value="{{ mainCategoryName }}"
							class="input input--domain"
							readonly="readonly"
						>
						<span class="input__domain">
							{{ domainIcon(domainId) }}
						</span>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}

{% block product_calculated_prices %}
	<div class="table-form__wrap">
		<table class="table-form">
			<thead>
				<tr class="table-form__row">
					<th class="table-form__cell table-form__cell--label">{{ inputPriceLabel({ isSimple: true }) }}</th>
					<th class="table-form__cell table-form__cell--field"></th>
					<th class="table-form__cell">{{ 'Cena bez DPH'|trans }}</th>
					<th class="table-form__cell">{{ 'Cena s DPH'|trans }}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-form__row js-input-price-type-auto">
					<td class="table-form__cell table-form__cell--label">
						{{ form_label(form.productData.price, 'Základní cena'|trans, { isSimple: true } ) }}
					</td>
					<td class="table-form__cell table-form__cell--filed">
						{{ form_widget(form.productData.price, { symbolAfterInput: currencySymbolDefault() }) }}
						{{ form_errors(form.productData.price) }}
					</td>
					{% if productDetail.product.priceCalculationType == constant('SS6\\ShopBundle\\Model\\Product\\Product::PRICE_CALCULATION_TYPE_AUTO') %}
						<td class="table-form__cell">{{ productDetail.basePrice.priceWithoutVat|priceWithCurrencyAdmin }}</td>
						<td class="table-form__cell"><strong>{{ productDetail.basePrice.priceWithVat|priceWithCurrencyAdmin }}</strong></td>
					{% else %}
						<td class="table-form__cell">-</td>
						<td class="table-form__cell"><strong>-</strong></td>
					{% endif %}
				</tr>
				{% for domainId, productSellingPrices in productSellingPricesIndexedByDomainId %}
					<tr class="table-form__row table-form__row--group">
						<th class="table-form__cell" colspan="4">
							<span class="table-form__cell__image">
								{{ domainIcon(domainId, 'large') }}
							</span>
							<strong class="table-form__cell__group-name">
								{{ getDomainName(domainId) }}
							</strong>
						</th>
					</tr>
					{% for productSellingPrice in productSellingPrices %}
						<tr class="table-form__row">
							<td class="table-form__cell table-form__cell--label">
								{{ form_label(form.manualInputPrices[productSellingPrice.pricingGroup.id], productSellingPrice.pricingGroup.name, { isSimple: true }) }}
							</td>
							<td class="table-form__cell table-form__cell--filed js-input-price-type-manual">
								{{ form_widget(form.manualInputPrices[productSellingPrice.pricingGroup.id], { symbolAfterInput: currencySymbolByDomainId(domainId) }) }}
								{{ form_errors(form.manualInputPrices[productSellingPrice.pricingGroup.id]) }}
							</td>
							<td class="table-form__cell js-input-price-type-auto"></td>
							<td class="table-form__cell">
								{{ productSellingPrice.sellingPrice.priceWithoutVat|priceWithCurrencyByDomainId(domainId) }}
							</td>
							<td class="table-form__cell">
								<strong>{{ productSellingPrice.sellingPrice.priceWithVat|priceWithCurrencyByDomainId(domainId) }}</strong>
							</td>
						</tr>
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block images %}
	<div class="form-line">
		<label class="form-line__label">
			{{ 'Obrázek'|trans }}:
		</label>
		{% if form.imagePositions|length > 0 %}
			<div class="list-image-wrap">
				<div class="list-image-main">
					<div class="list-image-main__label">{{ 'Hlavní obrázek'|trans }}</div>
				</div>
				<ul class="list-image" id="js-product-images">
					{% for imageForm in form.imagePositions %}
						{% set image = productDetail.imagesIndexedById[imageForm.vars.value] %}
						<li class="list-image__item js-product-images-image" data-id="{{ image.id }}">
							<div class="list-image__item__wrap">
								<div class="js-product-images-preview list-image__item__in">
									{{ image(image, {size: 'original', height: '100'}) }}
								</div>
								<div class="list-image__item__button">
									<div class="js-product-images-delete-button">
										<button class="btn btn-iconic" type="button">
											<i class="fa fa-trash-o"></i>{{ 'Smazat obrázek'|trans }}
										</button>
									</div>
									<div class="js-product-images-delete-revert-button display-none">
										<button class="btn btn-iconic" type="button">
											<i class="fa fa-undo"></i>{{ 'Vrátit zpět'|trans }}
										</button>

										<span title="{{ 'Po uložení bude obrázek smazán'|trans }}"
										class="js-tooltip cursor-help form-icon" data-toggle="tooltip" data-placement="bottom">
											<i class="fa fa-info"></i>
										</span>
									</div>
									<span class="cursor-move js-product-images-image-handle" title="{{ 'Přesunout'|trans }}">
										<i class="fa fa-arrows"></i>
									</span>
								</div>
							</div>
							{# Ignore indices from form definition. Let them reflect new positions. #}
							{{ form_widget(imageForm, { full_name: form.imagePositions.vars.full_name ~ '[]'}) }}
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		{% do form.imagePositions.setRendered %}
	</div>
{% endblock %}

{% block product_urls %}
	{{ form_row(form.urls, { label: 'Nastavení URL'|trans }) }}
{% endblock %}