{% extends '@SS6Shop/Admin/Content/Product/detail.html.twig' %}

{% block title -%}
	- {{ 'Editace zboží'|trans }} - {{ product|productDisplayName }}
{% endblock %}

{% block product_header_heading %}
	<span>{{ 'Editace zboží'|trans }}: </span>{{ product.name }}
{% endblock %}

{% block menu_panel_visibilities %}
	<div class="panel">
		<div class="panel__in">
			<div class="panel__in__title">
				{{ 'Viditelnost'|trans }}
			</div>
			<ul class="list-domain">
				{% include '@SS6Shop/Admin/Content/Product/visibilityItems.html.twig' with {productDetail: productDetail} only %}
			</ul>
		</div>
	</div>
{% endblock %}

{% block product_variants %}
	{% if product.isVariant %}
		<div class="wrap-border">
			<div class="form-line">
				<strong class="form-line__label">
					{{ 'Produkt je variantou'|trans }} :
				</strong>
				<div class="form-line__side">
					<div class="form-line__item form-line__item--text">
						<a href="{{ url('admin_product_edit', {id: product.mainVariant.id}) }}" target="_blank">
							<i class="svg svg-forward-page in-icon in-icon--link ml5 mr5"></i>{{ product.mainVariant.name }}
						</a>
					</div>
				</div>
			</div>
			{{ form_row(form.productData.variantAlias, { label: 'Alias varianty'|trans }) }}
		</div>
	{% endif %}
	{% if product.isMainVariant %}
		<div class="wrap-border">
			<strong>{{ 'Produkt je hlavní variantou.'|trans }}</strong>
			{{ form_row(form.variants, { label: 'Varianty'|trans, labelButtonAdd: 'Přidat variantu'|trans }) }}
		</div>
	{% endif %}
{% endblock %}

{% block product_catnum %}
	{% if product.isMainVariant %}
		{{ form_row(form.productData.catnum, { label: 'Katalogové číslo'|trans, disabledField: { title: 'Tuto položku můžete nastavit na kartě konkrétní varianty'|trans, class: 'form-line__disabled' } }) }}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block product_partno %}
	{% if product.isMainVariant %}
		{{ form_row(form.productData.partno, { label: 'PartNo (výrobní číslo)'|trans, disabledField: { title: 'Tuto položku můžete nastavit na kartě konkrétní varianty'|trans, class: 'form-line__disabled' } }) }}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block product_ean %}
	{% if product.isMainVariant %}
		{{ form_row(form.productData.ean, { label: 'EAN'|trans, disabledField: { title: 'Tuto položku můžete nastavit na kartě konkrétní varianty'|trans, class: 'form-line__disabled' } }) }}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block product_stock_and_availability %}
	{% if product.isMainVariant %}
		{{ form_row(form.productData.usingStock, { label: 'Používat skladové zásoby'|trans, disabledField: { title: 'Tuto položku můžete nastavit na kartě konkrétní varianty'|trans, class: 'form-line__disabled' } }) }}
		<div class="js-product-using-stock form-line__js">
			{{ form_row(form.productData.stockQuantity, { label: 'Skladem'|trans, disabledField: { title: 'Tuto položku můžete nastavit na kartě konkrétní varianty'|trans, class: 'form-line__disabled' } }) }}
			{{ form_row(form.productData.outOfStockAction, { label: 'Akce při vyprodání'|trans, disabledField: { title: 'Tuto položku můžete nastavit na kartě konkrétní varianty'|trans, class: 'form-line__disabled' } }) }}
			<div class="js-product-using-stock-and-alternate-availability">
				{{ form_row(form.productData.outOfStockAvailability, { label: 'Dostupnost při vyprodání'|trans, disabledField: { title: 'Tuto položku můžete nastavit na kartě konkrétní varianty'|trans, class: 'form-line__disabled' } }) }}
			</div>
		</div>
		<div class="js-product-not-using-stock form-line__js">
			{{ form_row(form.productData.availability, { label: 'Dostupnost'|trans, disabledField: { title: 'Tuto položku můžete nastavit na kartě konkrétní varianty'|trans, class: 'form-line__disabled' } }) }}
		</div>
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block product_calculated_hidden_info %}
	{% if product.isUsingStock and product.calculatedHidden and product.stockQuantity <= 0 %}
		<div class="form-line">
			<div class="form-line__line form-line__line--no-space">
				<div class="in-message in-message--warning">
					<span class="in-message__icon svg svg-warning"></span>
					{{ 'Produkt je skrytý z důvodu vyprodání'|trans }}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block product_calculated_selling_denied_info %}
	{% if product.isUsingStock and product.calculatedSellingDenied and product.stockQuantity <= 0 %}
		<div class="form-line">
			<div class="form-line__line form-line__line--no-space">
				<div class="in-message in-message--warning">
					<span class="in-message__icon svg svg-warning"></span>
					{{ 'Produkt je vyřazen z prodeje z důvodu vyprodání'|trans }}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block product_main_categories %}
	<div class="form-line">

		<label class="form-line__label">{{ 'Hlavní kategorie na doménách :' |trans }}</label>

		{% for domainId, mainCategory in productMainCategoriesIndexedByDomainId %}
			<div class="form-line__line">
				{% if mainCategory is null %}
					{% set mainCategoryName = '-' %}
				{% else %}
					{% set mainCategoryName = mainCategory.name %}
				{% endif %}

				<label class="form-line__label">
					{{ getDomainName(domainId) ~ ' :' }}
				</label>

				<div class="form-line__side">
					<div class="form-line__item wrap__input">
						<input
							type="text"
							value="{{ mainCategoryName }}"
							class="input input--domain"
							readonly="readonly"
						>
						<span class="input__domain">
							{{ domainIcon(domainId) }}
						</span>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}

{% block product_categories %}
	{% if product.isVariant %}
		{% do form.productData.categoriesByDomainId.setRendered %}
		<div class="form-line">
			{{ form_label(form.productData.categoriesByDomainId, 'Přiřazení do kategorie'|trans) }}
			<div class="form-line__line">
				<div class="form-line__item">
					{{ 'Kategorie můžete nastavit na kartě hlavního zboží'|trans }}
				</div>
			</div>
		</div>
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block product_pricing %}
	{% if product.isMainVariant %}
		<div class="form-line form-line--disabled">
			<div class="form-line__item form-line__item--text">
				<strong>{{ 'Ceny můžete nastavit na kartě konkrétní varianty.'|trans }}</strong>
			</div>
		</div>
		{% do form.productData.priceCalculationType.setRendered %}
		{% do form.productData.vat.setRendered %}
		{% do form.productData.price.setRendered %}
		{% do form.manualInputPrices.setRendered %}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block product_calculated_prices %}
	<div class="form-price-heading">
		<div class="form-price-heading__cell form-price-heading__cell--field">
			{{ inputPriceLabel({ isSimple: true }) }}
		</div>
		<div class="form-price-heading__cell form-price-heading__cell--price">{{ 'Cena bez DPH'|trans }}</div>
		<div class="form-price-heading__cell form-price-heading__cell--price">{{ 'Cena s DPH'|trans }}</div>
	</div>
	<div class="form-line js-input-price-type-auto">
		<div class="form-line__label">
			{{ form_label(form.productData.price, 'Základní cena'|trans, { isSimple: true, compulsoryClass: 'form-line__compulsory' } ) }}
		</div>
		<div class="form-line__side">
			<div class="form-line__item">
				{{ form_widget(form.productData.price, { symbolAfterInput: currencySymbolDefault() }) }}
			</div>
			{% if productDetail.product.priceCalculationType == PRICE_CALCULATION_TYPE_AUTO %}
				<div class="form-line__item--right">
					<div class="form-line__item__price">{{ productDetail.basePriceForAutoPriceCalculationType.priceWithoutVat|priceWithCurrencyAdmin }}</div>
					<div class="form-line__item__price"><strong>{{ productDetail.basePriceForAutoPriceCalculationType.priceWithVat|priceWithCurrencyAdmin }}</strong></div>
				</div>
			{% else %}
				<div class="form-line__item--right">
					<div class="form-line__item__price">-</div>
					<div class="form-line__item__price"><strong>-</strong></div>
				</div>
			{% endif %}
			{{ form_errors(form.productData.price) }}
		</div>
	</div>
	{% for domainId, productSellingPrices in productSellingPricesIndexedByDomainId %}
		<div class="form-line form-line--no-padd">
			<div class="form-line__line form-line__line--no-space">
				<div class="form-line__group">
					<span class="form-line__group__image">
						{{ domainIcon(domainId, 'large') }}
					</span>
					<strong class="form-line__group__name">
						{{ getDomainName(domainId) }}
					</strong>
				</div>
			</div>
		</div>
		{% for productSellingPrice in productSellingPrices %}
			<div class="form-line">
				<div class="form-line__label">
					{{ form_label(form.manualInputPrices[productSellingPrice.pricingGroup.id], productSellingPrice.pricingGroup.name, { isSimple: true, compulsoryClass: 'form-line__compulsory js-input-price-type-manual' }) }}
				</div>
				<div class="form-line__side">
					<div class="form-line__item js-input-price-type-manual">
						{{ form_widget(form.manualInputPrices[productSellingPrice.pricingGroup.id], { symbolAfterInput: currencySymbolByDomainId(domainId) }) }}
					</div>
					<div class="form-line__item form-line__item--input-size js-input-price-type-auto">&nbsp;</div>
					<div class="form-line__item--right">
						<div class="form-line__item__price">
							{{ productSellingPrice.sellingPrice.priceWithoutVat|priceWithCurrencyByDomainId(domainId) }}
						</div>
						<div class="form-line__item__price">
							<strong>{{ productSellingPrice.sellingPrice.priceWithVat|priceWithCurrencyByDomainId(domainId) }}</strong>
						</div>
					</div>
					<div class="js-input-price-type-manual">
						{{ form_errors(form.manualInputPrices[productSellingPrice.pricingGroup.id] ) }}
					</div>
				</div>
			</div>
		{% endfor %}
	{% endfor %}
{% endblock %}

{% block product_description %}
	<div class="form-group__title">
		{{ 'Popis'|trans }}
	</div>
	{% if product.isVariant %}
		<div class="form-line form-line--disabled">
			<div class="form-line__item form-line__item--text">
				<strong>{{ 'Popis můžete nastavit na kartě hlavního zboží.'|trans }}</strong>
			</div>
		</div>
		{% do form.descriptions.setRendered %}
	{% else %}
		{% for domainId, descriptionForm in form.descriptions %}
			<div class="form-line form-line--no-padd">
				<div class="form-line__group">
					<span class="form-line__group__image">
						{{ domainIcon(domainId, 'large') }}
					</span>
					<strong class="form-line__group__name">{{ getDomainName(domainId) }}</strong>
				</div>
			</div>
			<div class="form-line">
				<div class="form-line__line form-line__line--no-space">
					{{ form_widget(descriptionForm) }}
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}

{% block product_short_description %}
	<div class="form-group__title">
		{{ 'Krátký popis'|trans }}
	</div>
	{% if product.isVariant %}
		<div class="form-line form-line--disabled">
			<div class="form-line__item form-line__item--text">
				<strong>{{ 'Krátký popis se nastavuje u hlavní varianty.'|trans }}</strong>
			</div>
		</div>
	{% else %}
		{% for domainId, shortDescriptionForm in form.shortDescriptions %}
			<div class="form-line form-line--no-padd">
				<div class="form-line__group">
					<span class="form-line__group__image">
						{{ domainIcon(domainId, 'large') }}
					</span>
					<strong class="form-line__group__name">{{ getDomainName(domainId) }}</strong>
				</div>
			</div>
			<div class="form-line">
				<div class="form-line__line form-line__line--no-space">
					{{ form_widget(shortDescriptionForm, { attr: { class: 'input--textarea-big' } } ) }}
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}

{% block images %}
	{% if form.imagePositions|length > 0 %}
		<div class="list-images__wrap">
			<ul class="list-images" id="js-product-images">
				{% for imageForm in form.imagePositions %}
					{% set image = productDetail.imagesIndexedById[imageForm.vars.value] %}
					<li class="list-images__item js-product-images-image" data-id="{{ image.id }}">
						<div class="list-images__item__in">
							<div class="list-images__item__image js-product-images-preview">
								{{ image(image, {size: 'original', height: '100'}) }}
							</div>
							<span class="list-images__item__main">
								{{ 'Hlavní obrázek'|trans }}
							</span>
							<button class="js-product-images-delete-button btn-no-style list-images__item__remove" type="button" title="{{ 'Smazat'|trans }}">
								<i class="svg svg-circle-cross"></i>
							</button>
							<span class="js-product-images-image-handle list-images__item__move" title="{{ 'Přesunout'|trans }}">
								<i class="svg svg-move"></i>
							</span>
							<button class="btn-no-style js-product-images-delete-revert-button display-none list-images__item__revert" type="button" title="{{ 'Vrátit zpět'|trans }}">
								<i class="svg svg-forward-page"></i>
							</button>
							<span class="list-images__item__overlay js-product-images-image-overlay">{{ 'Po uložení bude obrázek smazán'|trans }}</span>
						</div>
						{# Ignore indices from form definition. Let them reflect new positions. #}
						{{ form_widget(imageForm, { full_name: form.imagePositions.vars.full_name ~ '[]'}) }}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% do form.imagePositions.setRendered %}
{% endblock %}

{% block product_urls %}
	{{ form_row(form.urls, { label: 'Nastavení URL'|trans }) }}
{% endblock %}
