{% extends '@SS6Shop/Admin/Content/Product/detail.html.twig' %}

{% block title %}- Editace zboží - {{ product.name }}{% endblock %}
{% block h1 %}Editace zboží - {{ product.name }}{% endblock %}

{% block product_id %}
	<div class="form-group">
		<label>ID:</label>
		<input type="text" value="{{ product.id }}" class="form-control" readonly="readonly">
	</div>
{% endblock %}

{% block product_url %}
	<div class="form-line">
		<span class="form-line__text">
			{% if (product.visible) %}
				<a href="{{ url('front_product_detail', { id: product.id }) }}" target="_blank">{{ url('front_product_detail', { id: product.id }) }}</a>
			{% else %}
				{{ url('front_product_detail', { id: product.id }) }}
			{% endif %}
		</span>
	</div>
{% endblock %}

{% block image %}
	<div class="form-line">
		<label class="form-line__label">
			Obrázek:
		</label>
		<div class="form-line__field">
			<div class="mb-1">
				{{ image(product, { size: 'default', height: 100 }) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block product_save %}
	{{ form_widget(form.save, { label: 'Uložit změny'}) }}
{% endblock %}