{% extends '@SS6Shop/Admin/Content/Product/detail.html.twig' %}

{% block title %}- {{ 'Editace zboží'|trans }} - {{ product.name }}{% endblock %}
{% block h1 %}{{ 'Editace zboží'|trans }} - {{ product.name }}{% endblock %}

{% block product_url %}
	<div class="form-line">
		<label>
			{{ 'URL adresy na doménách :' |trans }}
			<i class="fa fa-info-circle cursor-help js-tooltip"
				data-toggle="tooltip" data-placement="right"
				title="{{ 'Pokud je produkt viditelný pro výchozí cenovou skupinu na dané doméně, je URL adresa odkazem, v opačném případě se zobrazuje pouze jako text'|trans }}"
			 ></i>
		</label>
		{% for productDomain in productDetail.productDomainsIndexedByDomainId %}
			<div class="form-line">
				<span class="form-line__label">{{ getDomainName(productDomain.domainId) ~ ' :' }}</span>
				<span class="form-line__text">
					{% set url = findUrlByDomainId('front_product_detail', { id: product.id }, productDomain.domainId) %}
					{% if url %}
						{% if isVisibileForDefaultPricingGroup(product, productDomain.domainId) %}
							<a href="{{ url }}" target="_blank">{{ url }}</a>
						{% else %}
							{{ url }}
						{% endif %}
					{% else %}
						-
					{% endif %}
				</span>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block product_calculated_hidden_info %}
	{% if product.isUsingStock and product.calculatedHidden %}
		<div class="form-line form-line__text text-red">{{ 'Produkt je skrytý z důvodu vyprodání'|trans }}</div>
	{% endif %}
{% endblock %}

{% block product_calculated_sellable_info %}
	{% if product.isUsingStock and not product.calculatedSellable %}
		<div class="form-line form-line__text text-red">{{ 'Produkt je vyřazen z prodeje z důvodu vyprodání'|trans }}</div>
	{% endif %}
{% endblock %}

{% block product_main_categories %}
	<label>{{ 'Hlavní kategorie na doménách :' |trans }}</label>
	{% for domainId, mainCategory in productMainCategoriesIndexedByDomainId %}
		{% if mainCategory is null %}
			{% set mainCategoryName = '-' %}
		{% else %}
			{% set mainCategoryName = mainCategory.name %}
		{% endif %}
		<div class="form-line">
			<label class="form-line__label">{{ getDomainName(domainId) ~ ' :' }}</label>
			<input
				type="text"
				value="{{ mainCategoryName }}"
				class="form-control form-line__field"
				readonly="readonly"
			>
		</div>
	{% endfor %}
{% endblock %}

{% block product_calculated_prices %}
	<table class="table table-dark mt-1">
		<thead>
			<tr>
				<th class="form-line__group-title">{{ inputPriceLabel() }}</th>
				<th>{{ 'Cena bez DPH'|trans }}</th>
				<th>{{ 'Cena s DPH'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="js-input-price-type-auto">
				<td>{{ form_row(form.productData.price, {label: 'Základní cena', symbolAfterInput: currencySymbolDefault(), attr: { class: 'form-line--size-2 mr-1 in-message__wrap' } }) }}</td>
				{% if productDetail.product.priceCalculationType == constant('SS6\\ShopBundle\\Model\\Product\\Product::PRICE_CALCULATION_TYPE_AUTO') %}
					<td class="text-muted">{{ productDetail.basePrice.priceWithoutVat|priceWithCurrencyAdmin }}</td>
					<td class="text-muted"><strong>{{ productDetail.basePrice.priceWithVat|priceWithCurrencyAdmin }}</strong></td>
				{% else %}
					<td class="text-muted">-</td>
					<td class="text-muted"><strong>-</strong></td>
				{% endif %}
			</tr>
			{% for domainId, productSellingPrices in productSellingPricesIndexedByDomainId %}
				<tr>
					<th colspan="3">{{ getDomainName(domainId) }}</th>
				</tr>
				{% for productSellingPrice in productSellingPrices %}
					<tr>
						<td class="js-input-price-type-auto">{{ productSellingPrice.pricingGroup.name }}</td>
						<td class="js-input-price-type-manual">{{ form_row(form.manualInputPrices[productSellingPrice.pricingGroup.id], {label:  productSellingPrice.pricingGroup.name, attr: { class: 'form-line--size-2 mr-1 in-message__wrap' }, symbolAfterInput: currencySymbolByDomainId(domainId) }) }}</td>
						<td>{{ productSellingPrice.sellingPrice.priceWithoutVat|priceWithCurrencyByDomainId(domainId) }}</td>
						<td><strong>{{ productSellingPrice.sellingPrice.priceWithVat|priceWithCurrencyByDomainId(domainId) }}</strong></td>
					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block images %}
	<div class="form-line">
		<label class="form-line__label">
			{{ 'Obrázek'|trans }}:
		</label>
		{% if productDetail.images|length > 0 %}
			<ul class="list-image">
				{% for image in productDetail.images %}
					<li class="list-image__item js-product-images-image" data-id="{{ image.id }}">
						<div class="js-product-images-preview list-image__item__in">
							{{ image(image, {size: 'original', height: '100'}) }}
						</div>
						<div class="list-image__item__button">
							<div class="js-product-images-delete-button">
								<button class="btn btn-iconic" type="button">
									<i class="fa fa-trash-o"></i>{{ 'Smazat obrázek'|trans }}
								</button>
							</div>
							<div class="js-product-images-delete-revert-button display-none">
								<button class="btn btn-iconic" type="button">
									<i class="fa fa-undo"></i>{{ 'Vrátit zpět'|trans }}
								</button>

								<span title="{{ 'Po uložení bude obrázek smazán'|trans }}"
								class="js-tooltip cursor-help form-icon" data-toggle="tooltip" data-placement="bottom">
									<i class="fa fa-info"></i>
								</span>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
{% endblock %}

{% block product_urls %}
	{{ form_row(form.urls, { label: 'URL adresy' }) }}
{% endblock %}