{% extends '@SS6Shop/Admin/Content/Product/detail.html.twig' %}

{% block title %}- {{ 'Editace zboží'|trans }} - {{ product.name }}{% endblock %}
{% block h1 %}{{ 'Editace zboží'|trans }} - {{ product.name }}{% endblock %}

{% block product_url %}
	<div class="form-line">
		<span class="form-line__text">
			{% if (product.visible) %}
				<a href="{{ url('front_product_detail', { id: product.id }) }}" target="_blank">{{ url('front_product_detail', { id: product.id }) }}</a>
			{% else %}
				{{ url('front_product_detail', { id: product.id }) }}
			{% endif %}
		</span>
	</div>
{% endblock %}

{% block product_calculated_prices %}
	<fieldset class="row">
		<div class="table-responsive col-md-12 col-lg-6">
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>{{ 'Cena bez DPH'|trans }}</th>
						<th>{{ 'Cena s DPH'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-muted">
						<td>{{ 'Základní cena'|trans }}</td>
						<td>{{ productDetail.basePrice.priceWithoutVat|price }}</td>
						<td><strong>{{ productDetail.basePrice.priceWithVat|price }}</strong></td>
					</tr>
					{% for productSellingPrice in productSellingPrices %}
						<tr>
							<td>{{ productSellingPrice.pricingGroup.name }}</td>
							<td>{{ productSellingPrice.sellingPrice.priceWithoutVat|price }}</td>
							<td><strong>{{ productSellingPrice.sellingPrice.priceWithVat|price }}</strong></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</fieldset>
{% endblock %}

{% block image %}
	<div class="form-line">
		<label class="form-line__label">
			{{ 'Obrázek'|trans }}:
		</label>
		<ul class="list-image">
			{% for imageUrl in imagesUrl(product, 'original') %}
				<li class="list-image__item">
					<div class="list-image__item__in">
						<img src="{{ imageUrl }}" alt="" height="100" />
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}