{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Přehled zboží'|trans }}{% endblock %}
{% block h1 %}{{ 'Přehled zboží'|trans }}{% endblock %}

{% block main_content %}
	{{ form_start(quickSearchForm) }}
		<div class="wrap-border">

			<div{{ isAdvancedSearchFormSubmitted ? ' class="display-none"' : '' }}>
				{% include '@SS6Shop/Admin/Content/Product/quickSearchFormContent.html.twig' with {quickSearchForm: quickSearchForm} %}
			</div>

			{% include '@SS6Shop/Admin/Content/Product/AdvancedSearch/advancedSearch.html.twig'
				with {
					advancedSearchForm: advancedSearchForm,
					isAdvancedSearchFormSubmitted: isAdvancedSearchFormSubmitted,
				}
			%}
		</div>
	{{ form_end(quickSearchForm) }}

	{{ form_start(massActionForm) }}
		<div class="wrap-border">
			{{ form_row(massActionForm.selectType, { label: 'Změna pro'|trans, attr: { class: 'js-mass-action-select-type' } }) }}
			{{ form_row(massActionForm.action, { label: 'Proveď úpravu'|trans }) }}
			<div class="form-line">
				<div class="form-line__label form-line__label--input">
					{{ form_widget(massActionForm.subject, { isSimple: true }) }}
				</div>
				{{ form_widget(massActionForm.value, { attr: { class: 'js-mass-action-value' } }) }}
			</div>
			<div class="form-line">
				{{ form_widget(massActionForm.submit, { label: 'Provést úpravu'|trans, attr: { class: 'btn js-mass-action-submit' } }) }}
			</div>
		</div>

		<div class="wrap-border">
			<a href="{{ url('admin_product_new') }}" class="btn">{{ 'Vytvořit nové zboží'|trans }}</a>
			<a href="{{ url('admin_product_createvariant') }}" class="btn">{{ 'Vytvořit variantu'|trans }}</a>
		</div>
		{{ gridView.render() }}
		{{ gridView.renderHiddenInputs('page') }}
	{{ form_end(massActionForm) }}
{% endblock %}