{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- Seznam zboží{% endblock %}
{% block h1 %}Seznam zboží{% endblock %}

{% block main_content %}
	<div class="row">
		<div class="col-xs-12 col-lg-10">

			{{ form_start(quickSearchForm) }}

				<div class="info-box form-inline mb-1 mt-1">
					{{ form_widget(quickSearchForm.text) }}
					{{ form_widget(quickSearchForm.save, { label: 'Vyhledat', full_name: ''}) }}
					<i class="fa fa-info cursor-help js-tooltip"
					 data-toggle="tooltip" data-placement="right"
					 title="Vyhledávání hledá v názvu, katalogovém číslu nebo partno produktu. Hledání rozlišuje velká/malá písmena a diakritiku. Je možné používat operátory * a ?."
					></i>
				</div>

				<a href="{{ url('admin_product_new') }}" class="btn btn-primary mb-1">Vytvořit nové zboží</a>
				{{ gridView.render('@SS6Shop/Admin/Content/Product/listGrid.html.twig') }}
				{{ gridView.renderHiddenInputs('page') }}

			{{ form_end(quickSearchForm) }}
		</div>
	</div>
{% endblock %}