{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Přehled zboží'|trans }}{% endblock %}
{% block h1 %}{{ 'Přehled zboží'|trans }}{% endblock %}

{% block main_content %}
	<div class="row">
		<div class="col-xs-12 col-lg-10">

			{{ form_start(quickSearchForm) }}

				<div class="wrap-box form-inline mb-1 mt-1">
					{{ form_widget(quickSearchForm.text) }}
					{{ form_widget(quickSearchForm.save, { label: 'Vyhledat'|trans, full_name: ''}) }}
					<i class="fa fa-info cursor-help js-tooltip"
					 data-toggle="tooltip" data-placement="right"
					 title="{{ 'Vyhledávání hledá v názvu, katalogovém číslu nebo partno produktu. Hledání rozlišuje velká/malá písmena a diakritiku. Je možné používat operátory * a ?.'|trans }}"
					></i>
				</div>

				<a href="{{ url('admin_product_new') }}" class="btn btn-primary mb-1">{{ 'Vytvořit nové zboží'|trans }}</a>
				{{ gridView.render() }}
				{{ gridView.renderHiddenInputs('page') }}

			{{ form_end(quickSearchForm) }}
		</div>
	</div>
{% endblock %}