{% extends '@SS6Shop/Admin/Grid/Grid.html.twig' %}

{% block grid_no_data %}
	{{ 'Nebylo nalezeno žádné zboží.'|trans }}
{% endblock %}

{% block grid_value_cell_id_name %}
	<a href="{{ url('admin_product_edit', { id: row.p.id }) }}">{{ row.product|productListDisplayName }}</a>
	{% if row.p.variantType == constant('SS6\\ShopBundle\\Model\\Product\\Product::VARIANT_TYPE_MAIN') %}
		<span class="text-in-circle c-help js-tooltip" title="{{ 'Hlavní varianta'|trans }}">H</span>
	{% endif %}
	{% if row.p.variantType == constant('SS6\\ShopBundle\\Model\\Product\\Product::VARIANT_TYPE_VARIANT') %}
		<span class="text-in-circle c-help js-tooltip" title="{{ 'Varianta'|trans }}">V</span>
	{% endif %}
{% endblock %}

{% block grid_value_cell_id_visible %}
	<span class="grid_boolean_{{ value ? 'true' : 'false' }} in-icon svg svg-{{ value ? 'visible in-icon--visible' : 'invisible in-icon--invisible' }}" title="{{ value ? 'Ano'|trans : 'Ne'|trans }}"></span>
	{% if row.p.calculatedSellingDenied %}
		<span class="in-icon in-icon--denied svg svg-basket" title="{{ 'Zboží je vyřazeno z prodeje'|trans }}"></span>
	{% endif %}
{% endblock %}

{% block grid_value_cell_id_price %}
	{{ row.priceForProductList|priceWithCurrencyAdmin }}
{% endblock %}

{% block grid_pager_totalcount %}
	{% set entityName = 'zboží'|trans %}
	{{ parent() }}
{% endblock %}
