{% extends '@SS6Shop/Admin/Content/Product/detail.html.twig' %}

{% block title %}- {{ 'Nové zboží'|trans }}{% endblock %}
{% block h1 %}{{ 'Nové zboží'|trans }}{% endblock %}
{% block product_calculated_prices %}
	<fieldset class="row">
		<div class="table-responsive mt-1">
			<table class="table">
				<thead>
					<tr>
						<th>{{ inputPriceLabel() }}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="js-base-price-line">
						<td>{{ form_row(form.productData.price, {label: 'Základní cena', attr: { class: 'form-line--size-2' } }) }}</td>
					</tr>
					{% for domainId, pricingGroups in pricingGroupsIndexedByDomainId %}
						<tr class="js-manual-base-price display-none">
							<th>{{ getDomainName(domainId) }}</th>
						</tr>
						{% for pricingGroup in pricingGroups %}
							<tr class="js-manual-base-price display-none">
								<td>{{ form_row(form.productInputPrices[pricingGroup.id], {label: pricingGroup.name, attr: { class: 'form-line--size-2' } }) }}</td>
							</tr>
						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</fieldset>
{% endblock %}
