{% extends '@SS6Shop/Admin/Content/Product/detail.html.twig' %}

{% block title %}- {{ 'Nové zboží'|trans }}{% endblock %}

{% block product_header_heading %}
	{{ 'Nové zboží'|trans }}
{% endblock %}

{% block product_calculated_prices %}
	<div class="table-form__wrap">
		<table class="table-form">
			<thead>
				<tr class="table-form__row">
					<th class="table-form__cell table-form__cell--label">
						{{ inputPriceLabel({ isSimple: true }) }}
					</th>
					<th class="table-form__cell table-form__cell--field"></th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-form__row js-input-price-type-auto">
					<td class="table-form__cell table-form__cell--label">
						{{ form_label(form.productData.price, 'Základní cena'|trans, { isSimple: true } ) }}
					</td>
					<td class="table-form__cell table-form__cell--filed">
						{{ form_widget(form.productData.price, { symbolAfterInput: currencySymbolDefault() }) }}
						{{ form_errors(form.productData.price) }}
					</td>
				</tr>
				{% for domainId, pricingGroups in pricingGroupsIndexedByDomainId %}
					<tr class="table-form__row table-form__row--group js-input-price-type-manual">
						<th class="table-form__cell" colspan="4">
							<span class="table-form__cell__image">
								{{ domainIcon(domainId, 'large') }}
							</span>
							<strong class="table-form__cell__group-name">
								{{ getDomainName(domainId) }}
							</strong>
						</th>
					</tr>
					{% for pricingGroup in pricingGroups %}
						<tr class="table-form__row js-input-price-type-manual">
							<td class="table-form__cell table-form__cell--label">
								{{ form_label(form.manualInputPrices[pricingGroup.id], pricingGroup.name, { isSimple: true }) }}
							</td>
							<td class="table-form__cell table-form__cell--filed js-input-price-type-manual">
								{{ form_widget(form.manualInputPrices[pricingGroup.id], { symbolAfterInput: currencySymbolByDomainId(domainId) }) }}
								{{ form_errors(form.manualInputPrices[pricingGroup.id]) }}
							</td>
						</tr>
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block product_urls %}
	{% do form.urls.setRendered %}
{% endblock %}

{% block images %}
	{% do form.imagePositions.setRendered %}
{% endblock %}