{{ form_start(form, {attr: {'data-on-submit': 'contactFormAjaxSumbit'}}) }}
<h2>{{ 'Napište nám'|trans }}</h2>

{{ form_errors(form) }}

	{{ form_row(form.name, { label: 'Jméno'|trans, rowClass: 'form-line-block', errors_attr: { class: 'form-error--line-block' } }) }}
	{{ form_row(form.email, { label: 'Email'|trans, rowClass: 'form-line-block', errors_attr: { class: 'form-error--line-block' } }) }}
	{{ form_row(form.message, { label: 'Vzkaz'|trans, rowClass: 'form-line-block', errors_attr: { class: 'form-error--line-block' } }) }}

	<div class="text-right">
		{{ form_widget(form.send, { label: 'Odeslat'|trans }) }}
	</div>

{{ form_end(form) }}
{{ init_js_validation(form, false) }}
