{{ form_start(form, {attr: {'data-on-submit': 'contactFormAjaxSumbit'}}) }}
<h2>{{ 'Napište nám'|trans }}</h2>

{{ form_errors(form) }}
	{{ form_label(form.name, 'Jméno'|trans) }}
	{{ form_errors(form.name, {errors_attr: { class: 'in-message--static-small'}}) }}
	{{ form_widget(form.name) }}

	{{ form_label(form.email, 'Email'|trans) }}
	{{ form_errors(form.email, {errors_attr: { class: 'in-message--static-small'}}) }}
	{{ form_widget(form.email) }}

	{{ form_label(form.message, 'Vzkaz'|trans) }}
	{{ form_errors(form.message, {errors_attr: { class: 'in-message--static-small'}}) }}
	{{ form_widget(form.message) }}

	<br/>
	{{ form_widget(form.send, { label: 'Odeslat'|trans }) }}

{{ form_end(form) }}
{{ init_js_validation(form, null) }}