{% extends '@ShopsysShop/Admin/Layout/layoutWindow.html.twig' %}

{% block content %}
	{{ form_start(quickSearchForm) }}

		<div class="in-tab margin-top-50 js-tabs">
			<div class="in-tab__heading">
				<a href="#"
					class="{{ isAdvancedSearchFormSubmitted ? 'display-none' : 'active' }} in-tab__heading__item js-tabs-button {{ not isAdvancedSearchFormSubmitted ? 'active' }}"
					data-tab-id="quick"
				>
					{{ 'Quick search'|trans }}
				</a>
				<a href="#"
					class="{{ isAdvancedSearchFormSubmitted ? 'active' }} in-tab__heading__item js-tabs-button {{ isAdvancedSearchFormSubmitted ? 'active' }}"
					data-tab-id="advanced"
				>
					{{ 'Advanced search'|trans }}
				</a>
			</div>
			<div class="in-tab__content">
				<div class="{{ isAdvancedSearchFormSubmitted ? 'display-none ' : '' }}in-tab__content__in js-tabs-content" data-tab-id="quick">
					{% include '@ShopsysShop/Admin/Content/Product/quickSearchFormContent.html.twig' with {quickSearchForm: quickSearchForm} %}
				</div>
				<div class="in-tab__content__in js-tabs-content" data-tab-id="advanced">
					{% include '@ShopsysShop/Admin/Content/Product/AdvancedSearch/advancedSearch.html.twig'
						with {
							advancedSearchForm: advancedSearchForm,
							isAdvancedSearchFormSubmitted: isAdvancedSearchFormSubmitted,
						}
					%}
				</div>
			</div>
		</div>

		<div>

		</div>



		{{ gridView.render() }}
		{{ gridView.renderHiddenInputs('page') }}

	{{ form_end(quickSearchForm) }}

	{% if isMultiple %}
		{% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
			{% block fixed_bar_content %}
				<a href="#" class="btn" onclick="SS6.productsPicker.close(); return false;">{{ 'Finish the assigning'|trans }}</a>
			{% endblock %}
		{% endembed %}
	{% endif %}
{% endblock %}
