{{ init_js_validation(null, false) }}
{{ form_start(form, {attr: {class: 'js-front-login-window'}}) }}
    {{ form_errors(form) }}

    <div class="box-login">
        <div class="box-login__item">
            {{ form_row(form.email, { label: 'E-mail'|trans, rowClass: 'form-line-block', errors_attr: { class: 'form-error--line-block' } }) }}
        </div>

        <div class="box-login__item">
            {{ form_row(form.password, { label: 'Password'|trans, rowClass: 'form-line-block', errors_attr: { class: 'form-error--line-block' } }) }}
        </div>

        <div class="box-login__item box-login__item--checkbox">
            <label class="form-choice">
                <span class="form-choice__input">
                    {{ form_widget(form.rememberMe) }}
                </span>
                <span class="form-choice__label">
                    {{ 'Remember my login'|trans }}
                    <i class="svg svg-info in-icon in-icon--info js-tooltip"
                        data-toggle="tooltip" data-placement="right"
                        title="{{ 'We will remember your login on this computer for 30 days.'|trans }}"
                     ></i>
                </span>
            </label>
        </div>

        <div class="box-login__item box-login__item--submit">
            {{ form_widget(form.login, {label: 'Log in'|trans}) }}
        </div>

        <div class="box-login__item box-login__item--info">
            <a href="{{ url('front_registration_reset_password') }}">{{ 'Forgot your password?'|trans }}</a>
        </div>
    </div>

{{ form_end(form) }}
