{% macro categories(collapsibleCategoryDetails, isRootParentCategory, openCategories, currentCategory) %}
	{% if collapsibleCategoryDetails|length > 0 %}
		<ul class="js-category-list list-menu {% if isRootParentCategory %}list-menu--root{% endif %}" {% if isRootParentCategory %}id="js-categories"{% endif %}>
			{% for collapsibleCategoryDetail in collapsibleCategoryDetails %}
				{% set isCurrentCategory = (currentCategory is not null and currentCategory == collapsibleCategoryDetail.category) %}
				<li class="list-menu__item js-category-item {% if isCurrentCategory %}current{% endif %}">
					<a href="{{ url('front_product_list', { id: collapsibleCategoryDetail.category.id }) }}" class="list-menu__item__link list-menu__item__link--level-{{ collapsibleCategoryDetail.category.level }}">
						{{ collapsibleCategoryDetail.category.name }}
						{% if collapsibleCategoryDetail.hasChildren %}
							<i class="list-menu__item__control svg svg-arrow js-category-collapse-control {% if collapsibleCategoryDetail.category in openCategories %}active{% endif %}" data-url="{{ url('front_category_branch', { parentCategoryId: collapsibleCategoryDetail.category.id }) }}"></i>
						{% endif %}
					</a>
					{% if collapsibleCategoryDetail.category in openCategories %}
						{{ _self.categories(collapsibleCategoryDetail.children, false, openCategories, currentCategory) }}
					{% else %}
						<div class="display-none js-category-list-placeholder"></div>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{{ _self.categories(collapsibleCategoryDetails, isRootParentCategory, openCategories, currentCategory) }}
