{% macro categories(categoryDetails) %}
	{% if categoryDetails|length > 0 %}
		<ul class="list-menu" id="js-categories">
			{% for categoryDetail in categoryDetails %}
				<li class="list-menu__item">
					<a href="{{ url('front_product_list', { id: categoryDetail.category.id }) }}" class="list-menu__item__link list-menu__item__link--level-{{ categoryDetail.category.level }}">{{ categoryDetail.category.name }}</a>
					{{ _self.categories(categoryDetail.children) }}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{{ _self.categories(categoryDetails) }}