{% macro categories(collapsibleCategoryDetails, isRootParentCategory) %}
	{% if collapsibleCategoryDetails|length > 0 %}
		<ul class="js-category-list list-menu {% if isRootParentCategory %}list-menu--root{% endif %}" {% if isRootParentCategory %}id="js-categories"{% endif %}>
			{% for collapsibleCategoryDetail in collapsibleCategoryDetails %}
				<li class="list-menu__item js-category-item">
					<a href="{{ url('front_product_list', { id: collapsibleCategoryDetail.category.id }) }}" class="list-menu__item__link list-menu__item__link--level-{{ collapsibleCategoryDetail.category.level }}">
						{{ collapsibleCategoryDetail.category.name }}
						{% if collapsibleCategoryDetail.hasChildren %}
							<i class="list-menu__item__control svg svg-arrow js-category-collapse-control" data-url="{{ url('front_category_panel', { parentCategoryId: collapsibleCategoryDetail.category.id }) }}"></i>
						{% endif %}
					</a>
					<div class="display-none js-category-list-placeholder"></div>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{{ _self.categories(collapsibleCategoryDetails, isRootParentCategory) }}
