{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Category'|trans }}{% endblock %}
{% block h1 %}{{ 'Category'|trans }}{% endblock %}
{% block btn %}
	<a href="{{ url('admin_category_new') }}" class="btn btn--plus wrap-bar__btn">
		<i class="btn__icon">+</i>
		{{ 'Create new category'|trans }}
	</a>
{% endblock %}

{% block main_content %}
	{{ render(controller('SS6ShopBundle:Admin/Category:listDomainTabs')) }}

	{% macro categoryTreeItem(categoryDetails, isFirstLevel) %}
		<ul class="js-category-tree-items {{ isFirstLevel ? 'form-tree__content' : '' }}">
			{% for categoryDetail in categoryDetails %}
				<li class="js-category-tree-item form-tree__item" id="js-category-tree-{{ categoryDetail.category.id }}">
					<div class="js-category-tree-item-line form-tree__item__drag">
						<span class="form-tree__item__icon form-tree__item__icon--level sprite sprite-level"></span>
						<span class="js-category-tree-item-line  js-category-tree-item-handle form-tree__item__name">{{ categoryDetail.category.name }}</span>
						<span class="js-category-tree-item-icons form-tree__item__controls">
							<a href="{{ url('admin_category_edit', {id: categoryDetail.category.id}) }}" class="form-tree__item__control">
								<i class="svg svg-pencil"></i>
							</a>
							{% set csrfTokenId = constant('SS6\\ShopBundle\\Component\\Router\\Security\\RouteCsrfProtector::CSRF_TOKEN_ID_PREFIX') ~ 'admin_category_delete' %}
							{% set categoryDeleteUrl = url('admin_category_delete', {
								id: categoryDetail.category.id,
								(constant('SS6\\ShopBundle\\Component\\Router\\Security\\RouteCsrfProtector::CSRF_TOKEN_REQUEST_PARAMETER')): csrf_token(csrfTokenId)
							}) %}
							<a
								href="{{ categoryDeleteUrl }}"
								onclick="
									SS6.window({
										content: '{{ 'Do you really want to delete this category?'|trans|e('js') }}',
										buttonCancel: true,
										buttonContinue: true,
										textContinue: '{{ 'Yes'|trans|e('js') }}',
										urlContinue: '{{ categoryDeleteUrl|e('js') }}'
									});
									return false;"
								class="form-tree__item__control"
							>
								<i class="svg svg-trash"></i>
							</a>
						</span>
					</div>
					{{ _self.categoryTreeItem(categoryDetail.children, false) }}
				</li>
			{% endfor %}
		</ul>
	{% endmacro %}

	{% if isForAllDomains %}
		<div class="form-line">
			<div id="js-category-tree-sorting" class="form-tree form-tree--open form-tree--dragable">
				{{ _self.categoryTreeItem(categoryDetails, true) }}
			</div>
		</div>

		{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
			{% block fixed_bar_content %}
				<button
					class="btn btn--disabled"
					id="js-category-tree-sorting-save-button"
					data-category-save-order-url="{{ url('admin_category_saveorder') }}"
					type="button"
				>
					{{ 'Save changes in order'|trans }}
				</button>
			{% endblock %}
		{% endembed %}
	{% else %}
		<div class="form-line">
			<div class="form-tree form-tree--open form-tree--dragable">
				{{ _self.categoryTreeItem(categoryDetails, true) }}
			</div>
		</div>
		<div>
			{{ 'In a particular domain tab it is not possible to adjust the order and plunge of categories. Please go to the category detail or to overview of categories of all domains'|trans }}
		</div>
	{% endif %}
{% endblock %}