{{ render(controller('SS6ShopBundle:Front/FlashMessage:index')) }}
{% import '@SS6Shop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% if isModuleEnabled(ACCESSORIES_ON_BUY) %}
	{% if accessoryDetails|length > 0 %}
		<div class="wrap-box mt20">
			<h3 class="wrap-box__title">
				{{ 'Naši zákaznící k tomuto produktu nejčastěji nakupují'|trans }}
			</h3>
			<div class="wrap-box__in">
				{{ productList.list(accessoryDetails) }}
			</div>
		</div>
	{% endif %}
{% endif %}

<a href="{{ url('front_cart') }}" class="btn btn--primary">
	{{ 'Přejít do košíku'|trans }}
</a>