{% extends '@SS6Shop/Admin/Grid/Grid.html.twig' %}

{% macro getName(row) %}
	{{ row.feedName }} - {{ row.domainName }}
{% endmacro %}

{% block grid_value_cell_id_label %}
	{% if row.created %}
		<a href="{{ row.url }}" target="_blank">{{ _self.getName(row) }}</a>
	{% else %}
		{{ _self.getName(row) }}
	{% endif %}
{% endblock %}
