{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{ 'Registration'|trans }}
{% endblock %}

{% block main_content %}
    <h1>{{ 'Registration'|trans }}</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}

        {{ form_row(form.firstName, { label: 'First name'|trans }) }}
        {{ form_row(form.lastName, { label: 'Last name'|trans }) }}
        {{ form_row(form.email, { label: 'E-mail'|trans , attr: {'data-request-url' : url('front_registration_exists_email') } }) }}
        {{ form_row(form.password.first, {
            label: 'Password'|trans,
            icon: {
                class: 'in-icon in-icon--info js-tooltip',
                title: 'Password must be at least six characters and can\'t be the same as entered e-mail or its part before at sign.'|trans
            }
        }) }}
        {{ form_row(form.password.second, { label: 'Password again'|trans }) }}
    <dl class="form-line">
        <dt></dt>
        <dd>
            <div class="form-choice">
                <div class="form-choice__input">
                    {{ form_widget(form.privacyPolicy) }}
                </div>
                <div class="form-choice__label">
                    <label for="{{ form.privacyPolicy.vars.id }}">
                        {% if privacyPolicyArticle is not null %}
                            {% set articleUrl = url('front_article_detail', {'id': privacyPolicyArticle.id}) %}
                            {{ 'I agree with <a href="%url%" target="_blank">privacy policy</a>.'|trans({'%url%': articleUrl})|raw }}
                        {% else %}
                            {{ 'I agree with privacy policy.'|trans }}
                        {% endif %}
                    </label>
                    <span class="in-message in-message--danger js-validation-errors-list js-validation-error-list-{{ form.privacyPolicy.vars.id }} form-error form-error--choice display-none">
                        <span class="form-error__icon">
                            <i class="svg svg-warning"></i>
                        </span>
                        <ul class="form-error__list"></ul>
                    </span>

                </div>
            </div>
        </dd>
    </dl>

        {{ form_widget(form.save, { label: 'Register'|trans }) }}

    {{ form_end(form) }}

    <br />


{% endblock %}
