<div id="js-cart-box" data-reload-url="{{ url('front_cart_box') }}">
	<div class="cart">
		<a class="cart__block" href="{{ url('front_cart') }}">
			<span class="cart__icon">
				<i class="svg svg-cart"></i>
			</span>
			<div class="cart__info js-cart-info">
				{% if cart.isEmpty %}
					{{ 'Your cart is empty'|trans }}
				{% else %}
					{% transchoice cart.itemsCount with { '%itemsCount%': cart.itemsCount, '%priceWithVat%': productsPrice.priceWithVat|price } %}
						{1} <strong class="cart__state">%itemsCount%</strong> item for <strong class="cart__state">%priceWithVat%</strong>|[2,Inf] <strong class="cart__state">%itemsCount%</strong> items for <strong class="cart__state">%priceWithVat%</strong>
					{% endtranschoice %}
				{% endif %}
			</div>
		</a>
	</div>

	<div class="cart-mobile btn-tap">
		<a href="{{ url('front_cart') }}" class="btn-tap__in">
			<i class="svg svg-cart"></i>
			{% if not cart.isEmpty %}
				<span class="btn-tap__in__info">
					{{ cart.itemsCount }}
				</span>
			{% endif %}
		</a>
	</div>
</div>