{% extends '@SS6Shop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
	- {{ 'Přihlášení'|trans }}
{% endblock %}

{% block main_content %}
	{{ form_errors(form, {errors_attr: { class: 'in-message--static'}}) }}

	<div class="row">
		<div class="col-md-4 col-sm-12">
			{{ form_start(form) }}

				<h1>{{ 'Přihlášení'|trans }}</h1>

				<div class="form-group">
					{{ form_errors(form.email) }}
					{{ form_widget(form.email, {attr: {placeholder: 'Uživatelské jméno'|trans}}) }}
				</div>

				<div class="form-group">
					{{ form_errors(form.password) }}
					{{ form_widget(form.password, {attr: {placeholder: 'Heslo'|trans}}) }}
				</div>

				{{ form_widget(form.login, {label: 'Přihlásit'|trans}) }}

				<a href="{{ url('front_registration_reset_password') }}">{{ 'Zapomněli jste své heslo?'|trans }}</a>

			{{ form_end(form) }}

		</div>
	</div>

{% endblock %}