{% extends '@SS6Shop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
	<meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
	{{ parent() }} - {{ 'Přihlášení'|trans }}
{% endblock %}

{% block main_content %}
	{{ form_errors(form) }}

	{{ form_start(form, {attr: {'multipleForm': true}}) }}

		<h1>{{ 'Přihlášení'|trans }}</h1>

		{{ form_row(form.email, {label: 'E-mail'|trans} ) }}

		{{ form_row(form.password, {label: 'Heslo'|trans} ) }}

		{{ form_row(form.rememberMe, { label: 'Zapamatuj si mé přihlášení'|trans } ) }}
		<i class="svg svg-info in-icon in-icon--info form-line__info js-tooltip"
			data-toggle="tooltip" data-placement="right"
			title="{{ 'Zapamatujeme si vaše přihlášení na tomto počítači po dobu 30 dní.'|trans }}"
		 ></i>

		<dl class="form-line">
			<dt></dt>
			<dd>
				{{ form_row(form.login, {label: 'Přihlásit'|trans}) }}
			</dd>
		</dl>
		<dl class="form-line">
			<dt></dt>
			<dd>
				<a href="{{ url('front_registration_reset_password') }}">{{ 'Zapomněli jste své heslo?'|trans }}</a>
			</dd>
		</dl>

	{{ form_end(form) }}

{% endblock %}