{{ form_start(form, {attr: {class: 'js-front-login-window', 'multipleForm': true}}) }}
	{{ form_errors(form) }}

	<h3>{{ 'Přihlášení'|trans }}</h3>

	<div class="js-front-login-window-message in-message in-message--alert"></div>

	{{ form_errors(form.email) }}
	{{ form_widget(form.email, {attr: {placeholder: 'Uživatelské jméno'|trans}}) }}

	{{ form_errors(form.password) }}
	{{ form_widget(form.password, {attr: {placeholder: 'Heslo'|trans}}) }}

	<label>
		{{ form_widget(form.rememberMe) }}
		{{ 'Zapamatuj si mé přihlášení'|trans }}
		<i class="fa fa-info-circle cursor-help form-line__info js-tooltip"
			data-toggle="tooltip" data-placement="right"
			title="{{ 'Zapamatujeme si vaše přihlášení na tomto počítači po dobu 30 dní.'|trans }}"
		 ></i>
	</label>

	{{ form_widget(form.login, {label: 'Přihlásit'|trans}) }}

	<a href="{{ url('front_registration_reset_password') }}">{{ 'Zapomněli jste své heslo?'|trans }}</a>

{{ form_end(form) }}