<div class="search" id="js-search-autocomplete">
	<form action="{{ url('front_product_search') }}" method="get">
		<div class="search__form">
			<div class="search__form__input">
				<input
					type="text"
					name="{{ SEARCH_TEXT_PARAMETER }}"
					value="{{ searchText|escape('html_attr') }}"
					placeholder="{{ 'Searching'|trans }}"
					class="input search__input"
					id="js-search-autocomplete-input"
					autocomplete="off"
					data-autocomplete-url="{{ url('front_search_autocomplete') }}"
				/>
				<span class="search__form__icon">
					<i class="svg svg-search"></i>
				</span>
			</div>
			<button type="submit" class="btn search__form__button">
				{{ 'Search [verb]'|trans }}
			</button>
		</div>
		<div id="js-search-autocomplete-results"></div>
	</form>
</div>
