{{ form_start(advancedSearchForm) }}
	<div class="wrap-box form-inline {{ isAdvancedSearchFormSubmitted ? ' js-advanced-search-enabled' : ' '}}" id="js-advanced-search">
		<h3>{{ 'Rozšířené hledání'|trans }}</h3>
		<div id="js-advanced-search-rules-container" data-rule-form-url="{{ url('admin_order_getruleform') }}">
			{% include '@SS6Shop/Admin/Content/Order/AdvancedSearch/ruleForm.html.twig' with {rulesForm: advancedSearchForm} %}
		</div>
		<button type="button" class="btn btn--plus" id="js-advanced-search-add-rule-button">
			<i class="btn__icon">+</i>
			{{ 'Přidat'|trans }}
		</button>
		<br />
		<a href="{{ url('admin_order_list') }}" class="btn-link-style">{{ 'Zrušit filtr'|trans }}</a>
		<input type="submit" value="{{ 'Vyhledat'|trans }}" class="btn">
	</div>
{{ form_end(advancedSearchForm) }}
