<div class="mb-1 wrap-box form-inline mb-1 mt-1{{ isAdvancedSearchFormSubmitted ? ' js-advanced-search-enabled' : ' '}}" id="js-advanced-search">
	<h3>{{ 'Rozšířené hledání'|trans }}</h3>
	<div class="mb-1" id="js-advanced-search-rules-container" data-rule-form-url="{{ url('admin_order_getruleform') }}">
		{% include '@SS6Shop/Admin/Content/Order/AdvancedSearch/ruleForm.html.twig' with {rulesForm: advancedSearchForm} %}
	</div>
	<button type="button" class="btn btn-primary mb-1" id="js-advanced-search-add-rule-button">
		<i class="fa fa-plus fa-lg"></i> {{ 'Přidat'|trans }}
	</button>
	<br />
	<a href="{{ url('admin_order_list') }}" class="btn btn-default">{{ 'Zrušit filtr'|trans }}</a>
	<input type="submit" value="{{ 'Vyhledat'|trans }}" class="btn btn-primary">
</div>