{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block title %}
	Košík
{% endblock %}

{% block content %}
	<h1>Váš košík</h1>
	
	
	{% if cart.itemsCount > 0 %}
		{{ form_start(form) }}
			{{ form_errors(form) }}
			<table class="basket-list">
				<thead class="basket-list__heading">
					<tr>
						<th class="table-col-10">Obrázek</th>
						<th class="table-col-40">Název</th>
						<th class="table-col-10 text-center">Cena za kus</th>
						<th class="table-col-20 text-center">Počet kusů</th>
						<th class="table-col-10 text-center">Cena</th>
						<th class="table-col-10 text-right">&nbsp;</th>
					</tr>
				</thead>

				<tbody>
					{% for cartItem in cartItems  %}
						<tr class="basket-list__item">
							<td class="basket-list__image basket-list__cell-left">
								<a href="{{ url('front_product_detail', {id: cartItem.product.id}) }}" title="">
									<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="60px" height="40px">
								</a>
							</td>

							<td class="basket-list__title basket-list__cell-left">
								<a href="{{ url('front_product_detail', {id: cartItem.product.id}) }}" title="">
									{{ cartItem.name }}
								</a>
							</td>

							<td class="basket-list__price-piece">
								{{ cartItem.price|price }}
							</td>

							<td class="basket-list__ammount">
								<span class="input-spinbox">
									<span class="button input-spinbox__button">-</span>
									{{ form_widget(form.quantities[cartItem.id], { attr: { class: 'input-spinbox__input'}}) }}
									<span class="button input-spinbox__button">+</span>
								</span>
							</td>

							<td class="basket-list__price-final">
								{{ cartItem.totalPrice|price }}
							</td>

							<td class="basket-list__remove">
								<a href="./">
									odstranit
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>


				<tfoot class="basket-list__foot">
					<tr>
						<td colspan="6">
							Celková cena:
							<span class="basket-list__price-total">
								<span class="price-main price-big">{{ cart.price|price }}</span>
							</span>
						</td>
					</tr>
				</tfoot>

			</table>
			{{ form_row(form.recalc, { label: 'Přepočítat'}) }}
		{{ form_end(form) }}
	{% else %}
		<div class="message message-info">
			Váš nákupní košík je prázdný. pro vytvoření objednávky si musíte nejdříve nějaké zboží vybrat.
		</div>
	{% endif %}

	<div class="buttons-control">
		<a href="{{ backUrl }}" class="button button--alter buttons-control__left">
			Zpět k nákupu
		</a>

		{% if cart.itemsCount > 0 %}
			<a href="{{ url('front_order_index') }}" class="button button--large button-primary buttons-control__right">
				Objednat
			</a>
		{% endif %}
	</div>

{% endblock %}