{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block title %}
	{{ 'Košík'|trans }}
{% endblock %}

{% block content %}
	{% include '@SS6Shop/Front/Inline/OrderProgress/index.html.twig' with {step: 1} only %}

	<h1>{{ 'Váš košík'|trans }}</h1>


	{% if cart.itemsCount > 0 %}
		{{ form_start(form) }}
			{{ form_errors(form) }}
			<table class="table-cart">
				<thead class="table-cart__heading">
					<tr>
						<th class="table-col-10">{{ 'Obrázek'|trans }}</th>
						<th class="table-col-35">{{ 'Název'|trans }}</th>
						<th class="table-col-15">{{ 'Cena za kus s DPH'|trans }}</th>
						<th class="table-col-10">{{ 'Sazba DPH'|trans }}</th>
						<th class="table-col-15 text-center">{{ 'Počet kusů'|trans }}</th>
						<th class="table-col-10 text-center">{{ 'Cena s DPH'|trans }}</th>
						<th class="table-col-5 text-right">&nbsp;</th>
					</tr>
				</thead>

				<tbody>
					{% for cartItemKey, cartItem in cartItems %}
						{% set cartItemPrice = cartItemPrices[cartItemKey] %}
						<tr class="table-cart__item">
							<td class="table-cart__image text-center">
								<a href="{{ url('front_product_detail', {id: cartItem.product.id}) }}" title="{{ cartItem.product.name }}">
									{% if imageExists(cartItem.product, 'default') %}
										{{ image(cartItem.product, { size: 'default', height: '40px' }) }}
									{% else %}
										<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="60px" height="40px">
									{% endif %}
								</a>
							</td>

							<td class="table-cart__title">
								<a href="{{ url('front_product_detail', {id: cartItem.product.id}) }}" title="">
									{{ cartItem.name }}
								</a>
							</td>

							<td class="table-cart__price-piece">
								{{ cartItemPrice.unitPriceWithVat|price }}
							</td>

							<td>
								{{ cartItem.product.vat.percent }}%
							</td>

							<td class="table-cart__ammount">
								<span class="form-input-spinbox js-spinbox">
									<input type="button" class="button form-input-spinbox__button js-spinbox-minus" value="-" />
									{{ form_widget(form.quantities[cartItem.id], { attr: { class: 'form-input-spinbox__input js-spinbox-input', 'data-spinbox-min': 1}}) }}
									<input type="button" class="button form-input-spinbox__button js-spinbox-plus" value="+" />
								</span>
							</td>

							<td class="table-cart__price-final">
								{{ cartItemPrice.totalPriceWithVat|price }}
							</td>

							<td class="table-cart__remove">
								<a href="{{ url('front_cart_delete', {cartItemId: cartItem.id, _token: csrf_token('front_cart_delete_' ~ cartItem.id)}) }}">
									<img src="{{ asset('assets/frontend/images/icons/trash.png') }}" alt="{{ 'Odstranit'|trans }}">
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>


				<tfoot class="table-cart__foot">
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>
							{{ form_widget(form.recalc, { label: 'Přepočítat'}) }}
						</td>
						<td colspan="4" class="table-cart__foot__total text-right">
							{{ 'Celková cena s DPH'|trans }}:
							<span class="table-cart__price-total">
								<span class="price-main price-big">{{ cartSummary.priceWithVat|price }}</span>
							</span>
						</td>
					</tr>
				</tfoot>

			</table>

			<div class="box-buttons">
				{% if cart.itemsCount > 0 %}
					{{ form_row(form.recalcToOrder, { label: 'Objednat'|trans, attr: { class: 'button button--large button-primary box-buttons__right'}}) }}
				{% endif %}

				<a href="{{ backUrl }}" class="button button--alter box-buttons__left">
					{{ 'Zpět k nákupu'|trans }}
				</a>
			</div>
		{{ form_end(form) }}
	{% else %}
		<div class="row">
			<div class="col-sm-5 col-xs-12 text-center">
				<img src="{{ asset('assets/frontend/images/empty-cart.jpg') }}" alt="{{ 'Prázdný nákupní košík'|trans }}">
			</div>
			<div class="col-sm-6 col-xs-12">
				<strong class="heading heading--visible">
					{{ 'Váš nákupní košík je bohužel prázdný. Pro vytvoření objednávky si musíte nejdříve nějaké zboží <a href="%url%">vybrat</a>.'|trans({ '%url%': url('front_product_list') })|raw }}
				</strong>
			</div>
		</div>

		<div class="box-buttons">
			<a href="{{ backUrl }}" class="button button--alter box-buttons__left">
				{{ 'Zpět k nákupu'|trans }}
			</a>
		</div>
	{% endif %}

{% endblock %}