{% extends '@SS6Shop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
	<meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
	{{ 'Košík'|trans }}
{% endblock %}

{% block main_content %}
	{% include '@SS6Shop/Front/Inline/OrderProgress/index.html.twig' with {step: 1} only %}

	<h1>{{ 'Váš košík'|trans }}</h1>


	{% if cart.itemsCount > 0 %}
		{{ form_start(form, { attr: { class: 'js-no-validate' }}) }}
			{{ form_errors(form) }}
			<table class="table-cart">
				<thead>
					<tr class="table-cart__row">
						<th class="table-cart__cell table-cart__cell--image">{{ 'Obrázek'|trans }}</th>
						<th class="table-cart__cell table-cart__cell--name">{{ 'Název'|trans }}</th>
						<th class="table-cart__cell table-cart__cell--price">{{ 'Cena za jednotku s DPH'|trans }}</th>
						<th class="table-cart__cell table-cart__cell--price">{{ 'Sazba DPH'|trans }}</th>
						<th class="table-cart__cell table-cart__cell--amount">{{ 'Množství'|trans }}</th>
						<th class="table-cart__cell table-cart__cell--price">{{ 'Cena s DPH'|trans }}</th>
						<th class="table-cart__cell table-cart__cell--action">&nbsp;</th>
					</tr>
				</thead>

				<tbody>
					{% for cartItem in cartItems %}
						{% set cartItemPrice = cartItemPrices[cartItem.id] %}
						{% set cartItemDiscount = cartItemDiscounts[cartItem.id] %}
						<tr class="table-cart__row">
							<td class="table-cart__cell table-cart__cell--image">
								<a href="{{ url('front_product_detail', {id: cartItem.product.id}) }}" title="{{ cartItem.product.name }}">
									{% if imageExists(cartItem.product) %}
										{{ image(cartItem.product, { size: 'thumbnail' }) }}
									{% else %}
										<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="60px" height="40px">
									{% endif %}
								</a>
							</td>

							<td class="table-cart__cell table-cart__cell--name">
								<a href="{{ url('front_product_detail', {id: cartItem.product.id}) }}" title="">
									{{ cartItem.name }}
								</a>
							</td>

							<td class="table-cart__cell table-cart__cell--price">
								{{ cartItemPrice.unitPrice.priceWithVat|price }}
							</td>

							<td class="table-cart__cell table-cart__cell--price">
								{{ cartItem.product.vat.percent|formatPercent }}
							</td>

							<td class="table-cart__cell table-cart__cell--amount">
								<span class="form-input-spinbox js-spinbox">
									{{ form_widget(form.quantities[cartItem.id], { attr: { class: 'form-input-spinbox__input input-no-style js-spinbox-input', 'data-spinbox-min': 1}}) }}
									<button type="button" class="btn-no-style form-input-spinbox__btn js-spinbox-plus">+</button>
									<button type="button" class="btn-no-style form-input-spinbox__btn form-input-spinbox__btn--minus js-spinbox-minus">-</button>
								</span>
							</td>

							<td class="table-cart__cell table-cart__cell--price">
								{{ cartItemPrice.totalPrice.priceWithVat|price }}
								{% if cartItemDiscount is not null %}
									<div>
										{{ 'Sleva' }}:
										{{ cartItemDiscount.priceWithVat|price }}
									</div>
								{% endif %}
							</td>

							<td class="table-cart__cell table-cart__cell--action">
								<a href="{{ url('front_cart_delete', {cartItemId: cartItem.id, _token: csrf_token('front_cart_delete_' ~ cartItem.id)}) }}">
									<img src="{{ asset('assets/frontend/images/icons/trash.png') }}" alt="{{ 'Odstranit'|trans }}">
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>

				<tfoot>
					<tr class="table-cart__row">
						<td class="table-cart__cell table-cart__cell--image">&nbsp;</td>
						<td class="table-cart__cell table-cart__cell--name">&nbsp;</td>
						<td class="table-cart__cell table-cart__cell--recalc">
							{{ form_widget(form.recalc, { label: 'Přepočítat'|trans}) }}
						</td>
						<td class="table-cart__cell  table-cart__cell--price">&nbsp;</td>
						<td class="table-cart__cell table-cart__cell--total-price" colspan="2">
							{{ 'Celková cena s DPH'|trans }}:
							{{ productsPrice.priceWithVat|price }}
						</td>
						<td class="table-cart__cell">&nbsp;</td>
					</tr>
				</tfoot>

			</table>

			{% if isFreeTransportAndPaymentActive %}
				{% if isPaymentAndTransportFree %}
					<strong>{{ 'Dopravu i platbu máte zdarma!'|trans }}</strong>
				{% else %}
					<strong>{{ 'Musíte ještě nakoupit zboží za %remaining%, abyste měli dopravu i platbu zdarma.'|trans({'%remaining%': remainingPriceWithVat|price })|raw }}</strong>
				{% endif %}
			{% endif %}

			{{ render(controller('SS6ShopBundle:Front/PromoCode:index')) }}

			<div class="box-buttons">
				{% if cart.itemsCount > 0 %}
					{{ form_row(form.recalcToOrder, { label: 'Objednat'|trans, attr: { class: 'btn btn--primary box-buttons__right'}}) }}
				{% endif %}

				<a href="{{ url('front_homepage') }}" class="btn box-buttons__left">
					{{ 'Zpět k nákupu'|trans }}
				</a>
			</div>
		{{ form_end(form) }}
	{% else %}
		<img src="{{ asset('assets/frontend/images/empty-cart.jpg') }}" alt="{{ 'Prázdný nákupní košík'|trans }}">

		<strong class="heading heading--visible">
			{{ 'Váš nákupní košík je bohužel prázdný. Pro vytvoření objednávky si musíte nejdříve nějaké zboží <a href="%url%">vybrat</a>.'|trans({ '%url%': url('front_homepage') })|raw }}
		</strong>

		<div class="box-buttons">
			<a href="{{url('front_homepage') }}" class="btn box-buttons__left">
				{{ 'Zpět k nákupu'|trans }}
			</a>
		</div>
	{% endif %}

{% endblock %}