{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block title %}
	Košík
{% endblock %}

{% block content %}
	<h1>Váš košík</h1>
	
	
	{% if cart.itemsCount > 0 %}
		{{ form_start(form) }}
			{{ form_errors(form) }}
			<table class="basket-list">
				<thead class="basket-list__heading">
					<tr>
						<th class="table-col-10">Obrázek</th>
						<th class="table-col-45">Název</th>
						<th class="table-col-10 text-center">Cena za kus</th>
						<th class="table-col-20 text-center">Počet kusů</th>
						<th class="table-col-10 text-center">Cena</th>
						<th class="table-col-15 text-right">&nbsp;</th>
					</tr>
				</thead>

				<tbody>
					{% for cartItem in cartItems  %}
						<tr class="basket-list__item">
							<td class="basket-list__image basket-list__cell-left">
								<a href="{{ url('front_product_detail', {id: cartItem.product.id}) }}" title="">
									<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="60px" height="40px">
								</a>
							</td>

							<td class="basket-list__title basket-list__cell-left">
								<a href="{{ url('front_product_detail', {id: cartItem.product.id}) }}" title="">
									{{ cartItem.name }}
								</a>
							</td>

							<td class="basket-list__price-piece">
								{{ cartItem.price|price }}
							</td>

							<td class="basket-list__ammount">
								<span class="input-spinbox js-spinbox">
									<input type="button" class="button input-spinbox__button js-spinbox-minus" value="-" />
									{{ form_widget(form.quantities[cartItem.id], { attr: { class: 'input-spinbox__input js-spinbox-input', 'data-spinbox-min': 1}}) }}
									<input type="button" class="button input-spinbox__button js-spinbox-plus" value="+" />
								</span>
							</td>

							<td class="basket-list__price-final">
								{{ cartItem.totalPrice|price }}
							</td>

							<td class="basket-list__remove">
								<a href="{{ url('front_cart_delete', {cartItemId: cartItem.id, _token: csrf_token('front_cart_delete_' ~ cartItem.id)}) }}">
									<img src="{{ asset('assets/frontend/images/icons/trash.png') }}" alt="Odstranit">
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>


				<tfoot class="basket-list__foot">
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="text-center">
							{{ form_widget(form.recalc, { label: 'Přepočítat'}) }}
						</td>
						<td colspan="3">
							Celková cena:
							<span class="basket-list__price-total">
								<span class="price-main price-big">{{ cart.price|price }}</span>
							</span>
						</td>
					</tr>
				</tfoot>

			</table>
			
			<div class="buttons-control">
				<a href="{{ backUrl }}" class="button button--alter buttons-control__left">
					Zpět k nákupu
				</a>

				{% if cart.itemsCount > 0 %}
					{{ form_row(form.recalcToOrder, { label: 'Objednat', attr: { class: 'button button--large button-primary buttons-control__right'}}) }}
				{% endif %}
			</div>
		{{ form_end(form) }}
	{% else %}
		<div class="message message-info">
			Váš nákupní košík je prázdný. Pro vytvoření objednávky si musíte nejdříve nějaké zboží vybrat.
		</div>
		
		<div class="buttons-control">
			<a href="{{ backUrl }}" class="button button--alter buttons-control__left">
				Zpět k nákupu
			</a>
		</div>
	{% endif %}

{% endblock %}