{% extends '@SS6Shop/Admin/Content/Brand/detail.html.twig' %}

{% block title %}- {{ 'Editace značky'|trans }} - {{ brand.name }}{% endblock %}
{% block h1 %}{{ 'Editace zančky'|trans }} - {{ brand.name }}{% endblock %}

{% block urls %}
    <div class="form-group wrap-border">
        <div class="form-group__title">
            {{ 'URL adresy'|trans }}
        </div>

        <div class="form-line">
            {% for domain in domains %}
                <div class="form-line__line">
                    <div class="form-line__item">
                        {{ 'Doména'|trans }} {{  getDomainName(domain.id) }}
                        {{ domainIcon(domain.id) }}
                        <a href="{{ findUrlByDomainId('front_brand_detail', { brandId: brand.id }, domain.id) }}" target="_blank">
                            {{ findUrlByDomainId('front_brand_detail', { brandId: brand.id }, domain.id) }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block image %}
    <div class="form-line">
        <label class="form-line__label">
            {{ 'Obrázek'|trans }}:
        </label>
        <div class="form-line__side">
            <div class="form-line__item">
                {{ image(brand, { size: 'original', height: 100 }) }}
            </div>
        </div>
    </div>
{% endblock %}
