{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Přehled značek'|trans }}{% endblock %}
{% block h1 %}{{ 'Přehled značek'|trans }}{% endblock %}

{% block main_content %}
	<div class="wrap-bar">
		<a href="{{ url('admin_brand_new') }}" class="btn btn--plus wrap-bar__btn">
			<i class="btn__icon btn__icon--plus">+</i>
			{{ 'Vytvořit novou značku'|trans }}
		</a>
	</div>
	{{ gridView.render() }}
{% endblock %}