{% if productDetails|length > 0 %}
	<div class="js-bestselling-products list-products-line">
		<h2>{{ 'Nejprodávanější zboží'|trans }}</h2>
		<ul class="list-products-line__list">
			{% for productDetail in productDetails %}
				<li class="list-products-line__item js-bestselling-product{% if (loop.index > maxShownProducts )%} display-none{% endif %}">
					<a href="{{ url('front_product_detail', {'id': productDetail.product.id}) }}" class="list-products-line__item__block">
						<div class="list-products-line__item__position">
							{{ loop.index }}.
						</div>
						<div class="list-products-line__item__image">
							{{ image(productDetail.product, { size: 'thumbnail', alt: productDetail.product.name }) }}
						</div>
						<h3 class="list-products-line__item__title">
							{{ productDetail.product.name }}
						</h3>
						<div class="list-products-line__item__price">
							<div class="list-products-line__item__price__item list-products-line__item__price__item--main">
								{{ productDetail.sellingPrice.priceWithVat|price }}
							</div>
							<div class="list-products-line__item__price__item">
								{{ productDetail.sellingPrice.priceWithoutVat|price }} {{ 'bez DPH'|trans }}
							</div>
						</div>
					</a>
				</li>
			{% endfor %}
		</ul>
		{% if productDetails|length > maxShownProducts %}
			<div class="list-products-line__more js-bestselling-products-load-more-container">
				<span class="btn js-bestselling-products-load-more">
					{{ 'Další nejprodávanější'|trans }}
				</span>
			</div>
		{% endif %}
	</div>
{% endif %}
