{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block title %}
	- {{ productDetail.product.name }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="product-image">
				<span>
					{% if imageExists(productDetail.product, 'default') %}
						<a href="{{ imageUrl(productDetail.product, 'default') }}" class="js-gallery">
							{{ image(productDetail.product, { size: 'default', width: '550px' }) }}
						</a>
					{% else %}
						<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="{{ productDetail.product.name }}" width="336px" height="200px">
					{% endif %}
				</span>
			</div>

		</div>

		<div class="col-xs-12 col-md-6">
			<h1>{{ productDetail.product.name }}</h1>

			{% if productDetail.product.catnum %}
				<dl class="list-params">
					<dt class="list-params__title">
						{{ 'Katalogové číslo'|trans }}:
					</dt>
					<dd class="list-params__definition">
						{{ productDetail.product.catnum }}
					</dd>
				</dl>
			{% endif %}

			{% if productDetail.product.availability %}
				<dl class="list-params">
					<dt class="list-params__title">
						{{ 'Dostupnost'|trans }}:
					</dt>
					<dd class="list-params__definition">
						{{ productDetail.product.availability.name }}
					</dd>
				</dl>
			{% endif %}

			{% if productDetail.product.partno %}
				<dl class="list-params">
					<dt class="list-params__title">
						{{ 'Výrobní číslo'|trans }}:
					</dt>
					<dd class="list-params__definition">
						{{ productDetail.product.partno }}
					</dd>
				</dl>
			{% endif %}

			{% if productDetail.product.ean %}
				<dl class="list-params">
					<dt class="list-params__title">
						{{ 'EAN'|trans }}:
					</dt>
					<dd class="list-params__definition">
						{{ productDetail.product.ean }}
					</dd>
				</dl>
			{% endif %}

			<div class="wrap-box mb-1 mt-1">
				<dl class="list-params-side">
					<dt class="list-params-side__title">
						<strong>
							{{ 'Cena s DPH'|trans }}:
						</strong>
					</dt>
					<dd class="list-params-side__definition">
						<strong class="price-main price-big">
							{{ productDetail.basePrice.priceWithVat|price }}
						</strong>
					</dd>
				</dl>
				<dl class="list-params-side mb-1">
					<dt class="list-params-side__title">
						<strong>
							{{ 'Cena bez DPH'|trans }}:
						</strong>
					</dt>
					<dd class="list-params-side__definition">
						<strong>
							{{ productDetail.basePrice.priceWithoutVat|price }}
						</strong>
					</dd>
				</dl>
				{{ render(controller('SS6ShopBundle:Front/Cart:addProductForm', {product: productDetail.product})) }}
			</div>

		</div>
	</div>


	{% if productDetail.product.description or productDetail.parameters %}
		<div class="wrap-border mt-2">
			<div class="row">
				<div class="col-xs-12 col-md-8">
					{% if productDetail.product.description %}
						<h2>Informace o produktu</h2>
						{{ productDetail.product.description|raw }}
					{% endif %}
				</div>


				<div class="col-xs-12 col-md-4">
					{% if productDetail.parameters %}
						<div class="wrap-box">
							<h3>{{ 'Technické parametry'|trans }}:</h3>
							{% for productParameterValue in productDetail.parameters %}
								<dl class="list-params">
									<dt class="list-params__title">{{ productParameterValue.parameter.name }}</dt>
									<dd class="list-params__definition">{{ productParameterValue.value.text }}</dd>
								</dl>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}