{% extends '@SS6Shop/Front/Layout/layoutWithoutPanel.html.twig' %}
{% import '@SS6Shop/Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
{% import '@SS6Shop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% set domain = getDomain() %}
{% set productDomain = productDetail.productDomainsIndexedByDomainId[domain.id] %}
{% block meta_description %}
	{{- productDomain.seoMetaDescription|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block title %}
	{{- productDomain.getSeoTitleForHtml(domain) -}}
{% endblock %}

{% block main_content %}
	<div class="product-image">
		{{ productFlags.list(productDetail.product) }}
		<span>
			{% if imageExists(productDetail.product) %}
				<a href="{{ imageUrl(productDetail.product, 'original') }}" class="js-popup-image">
					{{ image(productDetail.product) }}
				</a>
			{% else %}
				<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="{{ productDetail.product.name }}" width="336px" height="200px">
			{% endif %}
		</span>
	</div>
	{% set galleryImages = getImages(productDetail.product) %}
	{% if galleryImages|length > 1 %}
		<div class="product-gallery js-gallery">
			{% for galleryImage in galleryImages %}
				<a href="{{ imageUrl(galleryImage, 'original') }}" class="product-gallery__image">
					{{ image(galleryImage, {size: 'galleryThumbnail'}) }}
				</a>
			{% endfor %}
		</div>
	{% endif %}

	<h1>{{ productDetail.product.name }}</h1>

	{% if productDetail.product.brand %}
		<dl class="list-params">
			<dt class="list-params__title">
				{{ 'Značka'|trans }}:
			</dt>
			<dd class="list-params__definition">
				{{ productDetail.product.brand.name }}
			</dd>
		</dl>
	{% endif %}

	{% if not productDetail.product.isMainVariant %}

		{% if productDetail.product.catnum %}
			<dl class="list-params">
				<dt class="list-params__title">
					{{ 'Katalogové číslo'|trans }}:
				</dt>
				<dd class="list-params__definition">
					{{ productDetail.product.catnum }}
				</dd>
			</dl>
		{% endif %}

		{% if productDetail.product.calculatedAvailability %}
			<dl class="list-params">
				<dt class="list-params__title">
					{{ 'Dostupnost'|trans }}:
				</dt>
				<dd class="list-params__definition">
					{% if productDetail.product.calculatedSellingDenied %}
						{{ 'Zboží se již neprodává'|trans }}
					{% else %}
						{{ productDetail.product.calculatedAvailability.name }}
					{% endif %}
				</dd>
			</dl>
		{% endif %}

		{% if productDetail.product.partno %}
			<dl class="list-params">
				<dt class="list-params__title">
					{{ 'Výrobní číslo'|trans }}:
				</dt>
				<dd class="list-params__definition">
					{{ productDetail.product.partno }}
				</dd>
			</dl>
		{% endif %}

		{% if productDetail.product.ean %}
			<dl class="list-params">
				<dt class="list-params__title">
					{{ 'EAN'|trans }}:
				</dt>
				<dd class="list-params__definition">
					{{ productDetail.product.ean }}
				</dd>
			</dl>
		{% endif %}

		<div class="js-product-detail-main-add-to-cart-wrapper">
			<dl class="list-params-side">
				<dt class="list-params-side__title">
					<strong>
						{{ 'Cena s DPH'|trans }}:
					</strong>
				</dt>
				<dd class="list-params-side__definition">
					<strong class="price-main price-big">
						{{ productDetail.sellingPrice.priceWithVat|price }}
					</strong>
				</dd>
			</dl>
			<dl class="list-params-side mb-1">
				<dt class="list-params-side__title">
					<strong>
						{{ 'Cena bez DPH'|trans }}:
					</strong>
				</dt>
				<dd class="list-params-side__definition">
					<strong>
						{{ productDetail.sellingPrice.priceWithoutVat|price }}
					</strong>
				</dd>
			</dl>
			{% if not productDetail.product.calculatedSellingDenied %}
				{{ render(controller('SS6ShopBundle:Front/Cart:addProductForm', {product: productDetail.product})) }}
			{% else %}
				<div>
					{{ 'Toto zboží nadále není možné koupit. Prohlédněte si podobné produkty <a href="%url%">zde</a>.'|trans({"%url%": url('front_product_list', { id: productMainCategory })})|raw }}
				</div>
			{% endif %}
		</div>
	{% endif %}

	{% if productDetail.product.isMainVariant %}
		<table class="table-main">
			<thead>
				<tr>
					<th></th>
					<th>{{ 'Název'|trans }}</th>
					<th>{{ 'Cena s DPH'|trans }}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for variantDetail in variantsDetails %}
					<tr>
						<td class="text-center">
							{% if imageExists(variantDetail.product) %}
								<a href="{{ imageUrl(variantDetail.product, 'original') }}" class="js-popup-image">
									{{ image(variantDetail.product, { size: 'thumbnail' }) }}
								</a>
							{% else %}
								<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="60px" height="40px">
							{% endif %}
						</td>
						<td>
							{% if variantDetail.product.variantAlias is not null %}
								{{ variantDetail.product.variantAlias }}
							{% else %}
								{{ variantDetail.product.name }}
							{% endif %}
						</td>
						<td>
							{{ variantDetail.sellingPrice.priceWithVat|price }}
						</td>
						<td>
							{{ render(controller('SS6ShopBundle:Front/Cart:addProductForm', {product: variantDetail.product})) }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		<table>
	{% endif %}

	{% if productDomain.description or productDetail.parameters %}
		{% if productDomain.description %}
			<h2>{{ 'Informace o produktu'|trans }}</h2>
			{{ productDomain.description|raw }}
		{% endif %}

		{% if productDetail.parameters %}
			<h3>{{ 'Technické parametry'|trans }}:</h3>
			{% for productParameterValue in productDetail.parameters %}
				<dl class="list-params">
					<dt class="list-params__title">{{ productParameterValue.parameter.name }}</dt>
					<dd class="list-params__definition">{{ productParameterValue.value.text }}</dd>
				</dl>
			{% endfor %}
		{% endif %}
	{% endif %}

	{% if accesoriesDetails|length > 0 %}
		<h2>{{ 'Příslušenství'|trans }}</h2>
		<div>
			{{ productList.list(accesoriesDetails) }}
		</div>
	{% endif %}
{% endblock %}