{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block title %}
	- {{ product.name }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12 col-md-5">
			<div class="product-image">
				<span>
					{% if imageExists(product, 'default') %}
						<a href="{{ imageUrl(product, 'default') }}" class="js-gallery">
							{{ image(product, 'default', {width: '336px'}) }}
						</a>
					{% else %}
						<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="{{ product.name }}" width="336px" height="200px">
					{% endif %}
				</span>
			</div>
			
		</div>

		<div class="col-xs-12 col-md-7">
			<h1>{{ product.name }}</h1>

			{% if product.catnum %}
				<dl class="simple-list">
					<dt class="simple-list__title">
						Katalogové číslo:
					</dt>
					<dd class="simple-list__definition">
						{{ product.catnum }}
					</dd>
				</dl>
			{% endif %}

			{% if product.partno %}
				<dl class="simple-list">
					<dt class="simple-list__title">
						Výrobní číslo:
					</dt>
					<dd class="simple-list__definition">
						{{ product.partno }}
					</dd>
				</dl>
			{% endif %}

			{% if product.ean %}
				<dl class="simple-list">
					<dt class="simple-list__title">
						EAN:
					</dt>
					<dd class="simple-list__definition">
						{{ product.ean }}
					</dd>
				</dl>
			{% endif %}

			{% if product.description %}
				{{ product.description|raw }}
			{% endif %}

			{% if product.price %}
				<div class="box-important mb-1">
					<strong>Cena: <span class="price-main price-big">{{ product.price|price }}</span></strong>
				</div>
			{% endif %}
			{{ render(controller('SS6ShopBundle:Front/Cart:addProductForm', {product: product})) }}
		</div>
	</div>
{% endblock %}