{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block title %}
	- {{ productDetail.product.name }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12 col-md-5">
			<div class="product-image">
				<span>
					{% if imageExists(productDetail.product, 'default') %}
						<a href="{{ imageUrl(productDetail.product, 'default') }}" class="js-gallery">
							{{ image(productDetail.product, { size: 'default', width: '336px' }) }}
						</a>
					{% else %}
						<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="{{ productDetail.product.name }}" width="336px" height="200px">
					{% endif %}
				</span>
			</div>
			
		</div>

		<div class="col-xs-12 col-md-7">
			<h1>{{ productDetail.product.name }}</h1>

			{% if productDetail.product.catnum %}
				<dl class="simple-list">
					<dt class="simple-list__title">
						Katalogové číslo:
					</dt>
					<dd class="simple-list__definition">
						{{ productDetail.product.catnum }}
					</dd>
				</dl>
			{% endif %}

			{% if productDetail.product.partno %}
				<dl class="simple-list">
					<dt class="simple-list__title">
						Výrobní číslo:
					</dt>
					<dd class="simple-list__definition">
						{{ productDetail.product.partno }}
					</dd>
				</dl>
			{% endif %}

			{% if productDetail.product.ean %}
				<dl class="simple-list">
					<dt class="simple-list__title">
						EAN:
					</dt>
					<dd class="simple-list__definition">
						{{ productDetail.product.ean }}
					</dd>
				</dl>
			{% endif %}

			{% if productDetail.product.description %}
				{{ productDetail.product.description|raw }}
			{% endif %}

			<div class="box-important mb-1">
				<strong>Cena bez DPH: <span class="price-main price-big">{{ productDetail.price.basePriceWithoutVat|price }}</span></strong>
			</div>
			<div class="box-important mb-1">
				<strong>Cena s DPH: <span class="price-main price-big">{{ productDetail.price.basePriceWithVat|price }}</span></strong>
			</div>
			{{ render(controller('SS6ShopBundle:Front/Cart:addProductForm', {product: productDetail.product})) }}
		</div>
	</div>
{% endblock %}