{% macro filterForm(filterForm, actionUrl, resetUrl, searchText, page, productFilterCountData) %}
	{{ form_start(filterForm, { action: actionUrl }) }}
		{% form_theme filterForm '@SS6Shop/Front/Content/Product/filterFormTheme.html.twig' %}

		{% set isSearch = page == 'search' %}

		{% if isSearch %}
			<input
				type="hidden"
				name="{{ constant('SS6\\ShopBundle\\Controller\\Front\\ProductController::SEARCH_TEXT_PARAMETER') }}"
				value="{{ searchText|escape('html_attr') }}"
			/>
		{% endif %}

		<div class="box-filter__group">
			<div class="box-filter__group__item">
				{{ form_row(filterForm.minimalPrice, {label: 'Cena od', symbolAfterInput: currencySymbolByDomainId(getDomain().id) }) }}
			</div>

			<div class="box-filter__group__item">
				{{ form_row(filterForm.maximalPrice, {label: 'Cena do', symbolAfterInput: currencySymbolByDomainId(getDomain().id) }) }}
			</div>

		</div>

		<label>
			{{ form_widget(filterForm.inStock) }}
			{{ 'Jen zboží skladem'|trans }}
			(<span class="js-product-filter-count" data-form-id="{{ filterForm.inStock.vars.id }}">{{ productFilterCountData.countInStock }}</span>)
		</label>

		{% if filterForm.flags is empty %}
			{% do filterForm.flags.setRendered %}
		{% else %}
			{{ form_row(filterForm.flags, { label: 'Příznaky' }) }}
		{% endif %}

		{% if isSearch or filterForm.parameters is empty %}
			{% do filterForm.parameters.setRendered %}
		{% else %}
			{{ form_row(filterForm.parameters, { label: 'Parametry' }) }}
		{% endif %}

		<div class="box-filter__buttons">

			<a class="button button--simple mr-half js-product-filter-reset-button" href="{{ resetUrl }}">{{ 'Vynulovat filtr'|trans }}</a>
			{{ form_widget(filterForm.search, { label: 'Zobrazit výsledky', attr: {class: 'js-product-filter-show-result-button' } }) }}
		</div>

	{{ form_end(filterForm) }}
{% endmacro %}