{% extends '@SS6Shop/Front/Form/theme.html.twig' %}

{% block form_row %}
	<dl class="form-line">
		<dt>
			{{ form_label(form, label) }}
		</dt>
		<dd>
			{{ form_widget(form) }}
			{{ form_errors(form) }}
			{% if symbolAfterInput is defined %}
				{{symbolAfterInput}}
			{% endif %}
		</dd>
	</dl>
{% endblock form_row %}

{% block choice_widget_expanded %}
	{% spaceless %}
			<div {{ block('widget_container_attributes') }}>
			{% for child in form %}
				<div class="form-choice">
					<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
						{{ form_widget(child, { attr: {class: 'form-choice__input'} }) }}
						<span class="form-choice__label">
							{{ child.vars.label }}
						</span>
					</label>
				</div>
			{% else %}
				{{ empty_message|default('Není z čeho vybírat.'|trans) }}
			{% endfor %}
			</div>
	{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block form_errors %}
	{% set errors_attr = errors_attr|default({})|merge({'class': (errors_attr.class|default(''))}) %}
	{% spaceless %}
		<div class="in-message in-message--danger js-validation-errors-list {{ errors_attr.class }} {{ errors|length > 0 ? '' : 'display-none' }}">
			<ul class="in-message__list">
				{% if errors|length > 0 %}
					{% for error in errors %}
						<li>{{ error.message }}</li>
					{% endfor %}
				{% endif %}
			</ul>
		</div>
	{% endspaceless %}
{% endblock form_errors %}
