{% macro filterForm(filterForm, actionUrl, resetUrl, searchText, page, productFilterCountData) %}
	{{ form_start(filterForm, { action: actionUrl }) }}
		{% form_theme filterForm '@SS6Shop/Front/Content/Product/filterFormTheme.html.twig' %}

		{% set isSearch = page == 'search' %}

		{% if isSearch %}
			<input
				type="hidden"
				name="{{ constant('SS6\\ShopBundle\\Controller\\Front\\ProductController::SEARCH_TEXT_PARAMETER') }}"
				value="{{ searchText|escape('html_attr') }}"
			/>
		{% endif %}

		<div class="box-filter__group">
			<div class="box-filter__group__item">
				{{ form_row(filterForm.minimalPrice, {label: 'Cena od'|trans, symbolAfterInput: currencySymbolByDomainId(getDomain().id) }) }}
			</div>

			<div class="box-filter__group__item">
				{{ form_row(filterForm.maximalPrice, {label: 'Cena do'|trans, symbolAfterInput: currencySymbolByDomainId(getDomain().id) }) }}
			</div>

		</div>

		<label>
			{{ form_widget(filterForm.inStock) }}
			{{ 'Jen zboží skladem'|trans }}
			<span
				class="js-product-filter-count"
				data-form-id="{{ filterForm.inStock.vars.id }}"
			>
				({{ productFilterCountData.countInStock }})
			</span>
		</label>

		{% if filterForm.flags is empty %}
			{% do filterForm.flags.setRendered %}
		{% else %}
			<div class="form-block">
				<label class="form-block__label">{{ 'Příznaky'|trans }}:</label>
				<div class="form-block__field">
					<div class="form-choice" id="productFilter_form_flags">
						{% for flagForm in filterForm.flags %}
							<div class="form-choice__item">
								<label>
									{{ form_widget(flagForm, { attr: { class: 'form-choice__input'} }) }}
									<span class="form-choice__text">
										{{ flagForm.vars.label }}

										<span
											class="js-product-filter-count"
											data-form-id="{{ flagForm.vars.id }}"
										>
											{% if not flagForm.vars.checked %}
												({% if filterForm.flags.vars.data is not empty %}+{% endif %}{{ productFilterCountData.countByFlagId[flagForm.vars.value]|default(0) }})
											{% endif %}
										</span>
									</span>
								</label>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}

		{% if isSearch or filterForm.parameters is empty %}
			{% do filterForm.parameters.setRendered %}
		{% else %}
			<div class="form-block">
				<label class="form-block__label">{{ 'Parametry'|trans }}:</label>
				<div class="form-block__field">
					<div class="form-block__wrap" id="{{ filterForm.parameters.vars.id }}}">
						{% for parameterId, parameterForm in filterForm.parameters %}
							<div class="form-block">
								<label class="form-block__label">{{ parameterForm.vars.label }}:</label>
								<div class="form-block__field">
									<div id="{{ parameterForm.vars.id }}" class="form-choice">
										{% for parameterValueForm in parameterForm %}
											<div class="form-choice__item">
												<label>
													{{ form_widget(parameterValueForm, { attr: { class: 'form-choice__input'} }) }}

													<span class="form-choice__text">
														{{ parameterValueForm.vars.label }}

														<span
															class="js-product-filter-count"
															data-form-id="{{ parameterValueForm.vars.id }}"
														>
															{% if not parameterValueForm.vars.checked %}
																(
																	{%- if parameterForm.vars.data is not empty %}+{% endif -%}
																	{{- productFilterCountData.countByParameterIdAndValueId[parameterId][parameterValueForm.vars.value]|default(0) -}}
																)
															{% endif %}
														</span>
													</span>
												</label>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}

		<div class="box-filter__buttons">

			<a class="button button--simple mr-half js-product-filter-reset-button" href="{{ resetUrl }}">{{ 'Vynulovat filtr'|trans }}</a>
			{{ form_widget(filterForm.search, { label: 'Zobrazit výsledky'|trans, attr: {class: 'js-product-filter-show-result-button' } }) }}
		</div>

	{{ form_end(filterForm) }}
{% endmacro %}