{% extends '@SS6Shop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@SS6Shop/Front/Inline/Paginator/paginator.html.twig' as paginator %}
{% import '@SS6Shop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block title %}
	- {{ 'Katalog zboží - '~category.name|trans }}
{% endblock %}

{% block panel_content %}
	{{ render(controller('SS6ShopBundle:Front/Category:panel')) }}
{% endblock %}

{% block main_content %}
	<h1>{{ category.name|trans }}</h1>

	{% if productDetails|length > 0 or filterFormSubmited %}
		<div class="box-filter">
			{{ form_start(filterForm, { action: url('front_product_category', { categoryId: category.id }) }) }}
				{% form_theme filterForm '@SS6Shop/Front/Content/Product/filterFormTheme.html.twig' %}

				<div class="box-filter__group display-none">
					<div class="box-filter__group__item">
						{{ form_row(filterForm.minimalPrice) }}
					</div>

					<div class="box-filter__group__item">
						{{ form_row(filterForm.maximalPrice) }}
					</div>

				</div>

				{{ form_row(filterForm.parameters, { label: 'Parametry' }) }}

				<div class="box-filter__buttons">
					{{ form_widget(filterForm.reset, { label: 'Vynulovat filtr', attr: { class: 'button--simple mr-half'} }) }}
					{{ form_widget(filterForm.search, { label: 'Filtrovat' }) }}
				</div>

			{{ form_end(filterForm) }}
		</div>
	{% endif %}

	{% if productDetails|length > 0 %}
		{% set entityName = 'zboží'|trans %}
		{% set route = 'front_product_category' %}
		{% set routeParams = {'categoryId': category.id} %}

		<div>
			{{ render(controller('SS6ShopBundle:Front/Product:selectOrderingMode')) }}
		</div>

		{{ paginator.paginatorNavigation(paginationResult, entityName, route, routeParams) }}

		{{ productList.list(productDetails) }}

		{{ paginator.paginatorNavigation(paginationResult, entityName, route, routeParams) }}
	{% else %}
		<div class="in-message in-message--static in-message--info js-flash-message">
			{% if (filterFormSubmited) %}
				{{ 'Filtru neodpovídají žádné výsledky'|trans }}
			{% else %}
				{{ 'Tato kategorie neobsahuje žádné produkty'|trans }}
			{% endif %}
		</div>
	{% endif %}

{% endblock %}