{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block title %}
	- Katalog zboží
{% endblock %}

{% block content %}
	<h1>Katalog zboží</h1>

	<ul class="product-list">
		{% for productDetail in productDetails %}
			<li class="product-list__item col-xs-12 col-sm-6 col-md-4">
				<a href="{{ url('front_product_detail', {'id': productDetail.product.id}) }}" class="product-list__block">
					<div class="product-list__image">
						<span>
							{% if imageExists(productDetail.product, 'default') %}
								{{ image(productDetail.product, { size: 'default', height: '200px' }) }}
							{% else %}
								<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="{{ productDetail.product.name }}" width="336px" height="200px">
							{% endif %}
						</span>
					</div>
					<h2 class="product-list__title">
						{{ productDetail.product.name }}
					</h2>
					<div class="product-list__price">
						<dl class="simple-side-list">
							<dt class="simple-side-list__title">
								Cena s DPH:
							</dt>
							<dd class="simple-side-list__definition price-main price-big">
								{{ productDetail.price.basePriceWithVat|price }}
							</dd>
						</dl>
						<dl class="simple-side-list">
							<dt class="simple-side-list__title">
								Cena bez DPH:
							</dt>
							<dd class="simple-side-list__definition">
								{{ productDetail.price.basePriceWithoutVat|price }}
							</dd>
						</dl>
					</div>
				</a>
				<div class="product-list__actions">
					{{ render(controller('SS6ShopBundle:Front/Cart:addProductForm', {product: productDetail.product})) }}
				</div>
			</li>
		{% endfor %}
	</ul>

{% endblock %}