{% extends '@SS6Shop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@SS6Shop/Front/Inline/Paginator/paginator.html.twig' as paginator %}
{% import '@SS6Shop/Front/Content/Product/filterFormMacro.html.twig' as productFilterForm %}
{% import '@SS6Shop/Front/Content/Product/productListMacro.html.twig' as productList %}
{% import '@SS6Shop/Front/Content/Category/categoryListMacro.html.twig' as categoryList %}

{% block meta_robots %}
	{{ paginator.metaRobots(paginationResult) }}
{% endblock %}

{% block title %}
	{{ parent() }} - {{ 'Katalog zboží -  %categoryName%'|trans({ '%categoryName%' : category.name }) }}
{% endblock %}

{% block main_content %}
	<div class="box-list">
		{{ render(controller('SS6ShopBundle:Front/Advert:box',{'positionName' : POSITION_PRODUCT_LIST})) }}
		<h1>{{ category.name }}</h1>

		{{ categoryList.list(visibleChildren, 'Seznam podkategorií'|trans) }}

		{{ render(controller('SS6ShopBundle:Front/BestsellingProduct:list', { category: category })) }}

		<div class="js-product-list-with-filter">
			{% if paginationResult.results|length > 0 or filterFormSubmited %}
				<div class="box-filter js-product-filter">
					{{ productFilterForm.filterForm(
						filterForm,
						url('front_product_list', { id: category.id }),
						url('front_product_list', { id: category.id }),
						null,
						'product_list',
						productFilterCountData,
						priceRange
					) }}
				</div>
			{% endif %}

			<div class="js-product-list-ajax-filter-products-with-controls">
				<div>
					{{ render(controller('SS6ShopBundle:Front/Product:selectOrderingModeForList')) }}
				</div>
				{% include '@SS6Shop/Front/Content/Product/productsWithControls.html.twig' with {paginationResult: paginationResult, filterFormSubmited: filterFormSubmited} %}
			</div>
		</div>

		<div class="box-list__description">
			<div class="js-category-description box-list__description__text in-user-text">
				{{ categoryDomain.description|raw }}
			</div>
			<div class="box-list__description__more">
				<span class="js-category-description-load-more link-style box-list__description__more__btn">
					{{ 'Zobrazit více'|trans }}
				</span>
			</div>
		</div>
	</div>

{% endblock %}
