{% extends '@SS6Shop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@SS6Shop/Front/Inline/Paginator/paginator.html.twig' as paginator %}
{% import '@SS6Shop/Front/Content/Product/filterFormMacro.html.twig' as productFilterForm %}
{% import '@SS6Shop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block meta_robots %}
	{{ paginator.metaRobots(paginationResult) }}
{% endblock %}

{% block title %}
	- {{ 'Katalog zboží - '~category.name|trans }}
{% endblock %}

{% block panel_content %}
	{{ render(controller('SS6ShopBundle:Front/Category:panel')) }}
{% endblock %}

{% block main_content %}
	<h1>{{ category.name|trans }}</h1>

	{% if productDetails|length > 0 or filterFormSubmited %}
		<div class="box-filter">
			{{ productFilterForm.filterForm(filterForm, url('front_product_list', { id: category.id }), url('front_product_list', { id: category.id }), null, 'product_list') }}
		</div>
	{% endif %}

	{% if productDetails|length > 0 %}
		{% set entityName = 'zboží'|trans %}

		<div>
			{{ render(controller('SS6ShopBundle:Front/Product:selectOrderingMode')) }}
		</div>

		{{ paginator.paginatorNavigation(paginationResult, entityName) }}

		{{ productList.list(productDetails) }}

		{{ paginator.paginatorNavigation(paginationResult, entityName) }}
	{% else %}
		<div class="in-message in-message--static in-message--info js-flash-message">
			{% if (filterFormSubmited) %}
				{{ 'Filtru neodpovídají žádné výsledky'|trans }}
			{% else %}
				{{ 'Tato kategorie neobsahuje žádné produkty'|trans }}
			{% endif %}
		</div>
	{% endif %}

{% endblock %}