{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block title %}
	- Katalog zboží
{% endblock %}

{% block content %}
	<h1>Katalog zboží</h1>

	<ul class="product-list">
		{% for product in products %}
			<li class="product-list__item col-xs-12 col-sm-6 col-md-4">
				<a href="{{ url('front_product_detail', {'id': product.id}) }}" class="product-list__block">
					<div class="product-list__image">
						<span>
							<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="{{ product.name }}" width="336px" height="200px">
						</span>
					</div>
					<h2 class="product-list__title">
						{{ product.name }}
					</h2>
					<p class="product-list__price">
						<strong>Cena: <span class="price-main price-big">{{ product.price|price }}</span></strong>
					</p>
				</a>
				<div class="product-list__actions">
					{{ render(controller('SS6ShopBundle:Front/Cart:addProductForm', {product: product})) }}
				</div>
			</li>
		{% endfor %}
	</ul>

{% endblock %}