{% extends '@SS6Shop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@SS6Shop/Front/Inline/Paginator/paginator.html.twig' as paginator %}
{% import '@SS6Shop/Front/Content/Product/filterFormMacro.html.twig' as productFilterForm %}
{% import '@SS6Shop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block meta_robots %}
	{{ paginator.metaRobots(paginationResult) }}
{% endblock %}

{% block title %}
	- {{ 'Katalog zboží - '~category.name|trans }}
{% endblock %}

{% block panel_content %}
	{{ render(controller('SS6ShopBundle:Front/Category:panel')) }}
{% endblock %}

{% block main_content %}
	{{ render(controller('SS6ShopBundle:Front/Advert:box',{'positionName' : constant('SS6\\ShopBundle\\Model\\Advert\\AdvertPositionList::POSITION_PRODUCT_LIST')})) }}
	<h1>{{ category.name|trans }}</h1>

	{{ render(controller('SS6ShopBundle:Front/BestsellingProduct:list', { category: category })) }}

	{% if productDetails|length > 0 or filterFormSubmited %}
		<div class="box-filter js-product-filter">
			{{ productFilterForm.filterForm(
				filterForm,
				url('front_product_list', { id: category.id }),
				url('front_product_list', { id: category.id }),
				null,
				'product_list',
				productFilterCountData
			) }}
		</div>
	{% endif %}

	<div class="js-product-list-ajax-filter-loading text-center display-none">
		<i class="fa fa-spinner fa-spin fa-5x" title="{{ 'Načítám'|trans }}"></i>
	</div>
	<div class="js-product-list-ajax-filter-products-with-controls">
		{% include '@SS6Shop/Front/Content/Product/productsWithControls.html.twig' with {paginationResult: paginationResult, filterFormSubmited: filterFormSubmited} %}
	</div>

{% endblock %}