{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block title %}
	- Katalog zboží
{% endblock %}

{% block content %}
	<h1>Katalog zboží</h1>

	<ul class="product-list">
		{% for product in products %}
			<li class="product-list__item">
				<a href="{{ url('front_product_detail', {'id': product.id}) }}" class="product-list__block">
					<h2 class="product-list__title">{{ product.name }}</h2>
					<div class="product-list__image">
						<span>
							<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="{{ product.name }}">
						</span>
					</div>
					<p class="product-list__price">
						<strong>Cena: <span class="price-main">{{ product.price|price }}</span></strong>
					</p>
				</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}