{% extends '@SS6Shop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@SS6Shop/Front/Inline/Paginator/paginator.html.twig' as paginator %}
{% import '@SS6Shop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block meta_robots %}
	{{ paginator.metaRobots(paginationResult) }}
{% endblock %}

{% block title %}
	- {{ 'Katalog zboží - %brandName%'|trans({'%brandName%' : brand.name}) }}
{% endblock %}

{% block main_content %}
	<div class="box-list">
		<h1>{{ brand.name }}</h1>

		<div class="box-list__producer">
			<div class="box-list__producer__image">
				{% if imageExists(brand) %}
					{{ image(brand) }}
				{% else %}
					<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="{{ brand.name }}">
				{% endif %}
			</div>
			<div class="box-list__producer__text">
				{% if brand.description is not null %}
					{{ brand.description|raw }}
				{% endif %}
			</div>
		</div>

		<div>
			{{ render(controller('SS6ShopBundle:Front/Product:selectOrderingModeForListByBrand')) }}
			{% include '@SS6Shop/Front/Content/Product/productsWithControls.html.twig' with {paginationResult: paginationResult, filterFormSubmited: false } %}
		</div>

	</div>

{% endblock %}
