{% macro list(productDetails) %}
	{% import '@SS6Shop/Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
	<ul class="list-items js-product-list">
		{% for productDetail in productDetails %}
			<li class="list-items__item">
				<a href="{{ url('front_product_detail', {'id': productDetail.product.id}) }}" class="list-items__block">
					<div class="list-items__image">
						{{ productFlags.list(productDetail.product, 'list-flag--in-list') }}
						<span>
							{% if imageExists(productDetail.product) %}
								{{ image(productDetail.product, { size: 'list' }) }}
							{% else %}
								<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="{{ productDetail.product.name }}">
							{% endif %}
						</span>
					</div>
					<h2 class="list-items__title">
						{{ productDetail.product.name }}
					</h2>
					<div class="list-items__price">
						<dl class="list-params-side">
							<dt class="list-params-side__title">
								{{ 'Cena s DPH'|trans }}:
							</dt>
							<dd class="list-params-side__definition price-main price-big">
								{% if productDetail.sellingPrice.priceFrom %}
									{{ 'od'|trans }}
								{% endif %}
								{{ productDetail.sellingPrice.priceWithVat|price }}
							</dd>
						</dl>
						<dl class="list-params-side">
							<dt class="list-params-side__title">
								{{ 'Cena bez DPH'|trans }}:
							</dt>
							<dd class="list-params-side__definition">
								{% if productDetail.sellingPrice.priceFrom %}
									{{ 'od'|trans }}
								{% endif %}
								{{ productDetail.sellingPrice.priceWithoutVat|price }}
							</dd>
						</dl>
					</div>
				</a>
				<div class="list-items__actions">
					{% if not productDetail.product.isMainVariant %}
						{{ render(controller('SS6ShopBundle:Front/Cart:addProductForm', {product: productDetail.product})) }}
					{% else %}
						<a href="{{ url('front_product_detail', { id: productDetail.product.id }) }}" class="button">{{ 'Vybrat variantu'|trans }}</a>
					{% endif %}
				</div>
			</li>
		{% endfor %}
	</ul>
{% endmacro %}
