{% extends '@SS6Shop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@SS6Shop/Front/Inline/Paginator/paginator.html.twig' as paginator %}
{% import '@SS6Shop/Front/Content/Product/filterFormMacro.html.twig' as productFilterForm %}
{% import '@SS6Shop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block title %}
	{{ parent() }}
	- {{ 'Search results for "%searchText%"'|trans({ '%searchText%': searchText }) }}
{% endblock %}

{% block meta_robots %}
	{{ paginator.metaRobots(paginationResult) }}
{% endblock %}

{% block main_content %}
	<h1>{{ 'Search results for "%searchText%"'|trans({ '%searchText%': searchText }) }}</h1>

	{{ render(controller('SS6ShopBundle:Front/Category:categoryList', {categories: foundCategories})) }}

	<div class="js-product-list-with-filter">
		{% if paginationResult.results|length > 0 or filterFormSubmited %}
			<div class="box-filter js-product-filter">
				{{ productFilterForm.filterForm(
					filterForm,
					url('front_product_search'),
					url('front_product_search', { SEARCH_TEXT_PARAMETER : searchText }),
					searchText,
					'search',
					productFilterCountData,
					priceRange
				) }}
			</div>
		{% endif %}

		<div class="js-product-list-ajax-filter-products-with-controls">
			<div>
				{{ render(controller('SS6ShopBundle:Front/Product:selectOrderingModeForSearch')) }}
			</div>
			{% include '@SS6Shop/Front/Content/Product/productsWithControls.html.twig' with {paginationResult: paginationResult, filterFormSubmited: filterFormSubmited, searchText: searchText} %}
		</div>
	</div>
{% endblock %}
