{% extends '@SS6Shop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@SS6Shop/Front/Inline/Paginator/paginator.html.twig' as paginator %}
{% import '@SS6Shop/Front/Content/Product/filterFormMacro.html.twig' as productFilterForm %}
{% import '@SS6Shop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block title %}
	{{ parent() }}
	- {{ 'Výsledky hledání "%searchText%"'|trans({ '%searchText%': searchText }) }}
{% endblock %}

{% block meta_robots %}
	{{ paginator.metaRobots(paginationResult) }}
{% endblock %}

{% block main_content %}
	<h1>{{ 'Výsledky hledání "%searchText%"'|trans({ '%searchText%': searchText }) }}</h1>

	{% if foundCategories|length > 0 %}
		<div>
			<ul>
				{% for foundCategory in foundCategories %}
					<li>
						<a href="{{ url('front_product_list', { id: foundCategory.id }) }}">
							{{ foundCategory.name }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<div class="js-product-list-with-filter">
		{% if paginationResult.results|length > 0 or filterFormSubmited %}
			<div class="box-filter js-product-filter">
				{{ productFilterForm.filterForm(
					filterForm,
					url('front_product_search'),
					url('front_product_search', { SEARCH_TEXT_PARAMETER : searchText }),
					searchText,
					'search',
					productFilterCountData
				) }}
			</div>
		{% endif %}

		<div class="js-product-list-ajax-filter-products-with-controls">
			<div>
				{{ render(controller('SS6ShopBundle:Front/Product:selectOrderingModeForSearch')) }}
			</div>
			{% include '@SS6Shop/Front/Content/Product/productsWithControls.html.twig' with {paginationResult: paginationResult, filterFormSubmited: filterFormSubmited, searchText: searchText} %}
		</div>
	</div>
{% endblock %}