{% block file_upload_widget %}
	{% spaceless %}
		{%  set attr = attr|merge({'class': ' js-file-upload'}) %}
		{%  set attr = attr|merge({'data-fileupload-url': url('admin_fileupload_upload')}) %}
		{%  set attr = attr|merge({'data-fileupload-delete-url': url('admin_fileupload_deletetemporaryfile')}) %}
		<div class="box-upload">
			<div {{ block('widget_attributes') }}>
				<div class="js-file-upload-item box-upload__result">
					<div class="info">
						{% macro uploadedFile(uploadedFile, label, iconType, thumbnailUri, class) %}
							<div class="js-file-upload-uploaded-file box-upload__file {{ class|default('') }}">

								<div class="box-upload__file__label">
									{% if iconType is not null %}
										<i class="fa fa-{{ iconType }} fa-4x js-file-upload-icon-type"></i>
									{% endif %}

									{% if thumbnailUri is same as(false)%}
										{# While parsing html by JS, was called request to all src, but src not set, yet. #}
										<img class="js-file-upload-image-thumbnail" />
									{% elseif thumbnailUri is not null %}
										<img src="{{ thumbnailUri }}" class="js-file-upload-image-thumbnail" />
									{% endif %}

									<i class="box-upload__file__label__icon fa fa-times cursor-pointer js-file-upload-delete"></i>
									<span class="js-file-upload-label">{{ label }}</span>
								</div>

								<div class="box-upload__file__bar">
									<div class="js-file-upload-progress box-upload__bar">
										<div class="js-file-upload-progress-bar box-upload__bar__inner">0%</div>
									</div>
								</div>

								{{ form_widget(uploadedFile, { attr: { class: 'js-file-upload-input' }}) }}
							</div>
						{% endmacro %}

						<div class="js-file-upload-uploaded-files" data-prototype="{{ _self.uploadedFile(form.uploadedFiles.vars.prototype, '', '__icon-type__', false, 'js-file-upload-uploaded-file-template display-none')|escape }}">
							{% for uploadedFile in form.uploadedFiles %}
								{% set fileThumbnailInfo = getFileThumbnailInfoByTemporaryFilename(uploadedFile.vars.value) %}
								{{ _self.uploadedFile(uploadedFile, getLabelByTemporaryFilename(uploadedFile.vars.value), fileThumbnailInfo.iconType, fileThumbnailInfo.imageUri) }}
							{% else %}
								{% do form.children.uploadedFiles.setRendered %}
							{% endfor %}
						</div>
						<div class="display-none">
							 <span class="js-file-upload-status in-message in-message--info">{{ 'Stav'|trans }}: {{ 'Úspěšně nahráno'|trans }}</span>
						</div>
					</div>
				</div>

				<div class="js-file-upload-input">
					<div class="js-file-upload-fallback-hide box-upload__place form-line__full">
						<i class="fa fa-lg fa-plus-circle"></i> {{ 'Zde přetáhněte soubor'|trans }}
					</div>
					<div class="form-line form-line--size-3">
						<div class="js-file-upload-fallback-hide box-upload__between form-line__label">{{ 'nebo'|trans }}:</div>
						<div class="box-upload__file-input form-line__field">
							{{ form_widget(form.children.file) }}
						</div>
					</div>
				</div>
			</div>
		</div>

	{% endspaceless %}
{% endblock file_upload_widget %}

