{% block file_upload_widget %}
	{% spaceless %}
		{%  set attr = attr|merge({'class': ' js-file-upload'}) %}
		{%  set attr = attr|merge({'data-fileupload-url': url('admin_fileupload_upload')}) %}
		{%  set attr = attr|merge({'data-fileupload-delete-url': url('admin_fileupload_deletecachedfile')}) %}
		<div class="box-upload">
			<div {{ block('widget_attributes') }}>
				<div class="js-file-upload-item box-upload__result">
					<div class="info">
						{% macro uploadedFile(uploadedFile, label, class) %}
							<div class="js-file-upload-uploaded-file {{ class|default('') }}">
								<span class="js-file-upload-label">{{ label }}</span>
								<i class="fa fa-times cursor-pointer js-file-upload-delete"></i>
								<div class="box-upload__container">
									<div class="js-file-upload-progress box-upload__bar">
										<div class="js-file-upload-progress-bar box-upload__bar__inner">0%</div>
									</div>
								</div>
								{{ form_widget(uploadedFile, { attr: { class: 'js-file-upload-input' }}) }}
							</div>
						{% endmacro %}

						<div class="js-file-upload-uploaded-files" data-prototype="{{ _self.uploadedFile(form.uploadedFiles.vars.prototype, '', 'js-file-upload-uploaded-file-template display-none')|escape }}">
							{% for uploadedFile in form.uploadedFiles %}
								{{ _self.uploadedFile(uploadedFile, getLabelByTemporaryFilename(uploadedFile.vars.value)) }}
							{% else %}
								{% do form.children.uploadedFiles.setRendered %}
							{% endfor %}
						</div>
						<div class="text-muted display-none">
							{{ 'Stav'|trans }}: <span class="js-file-upload-status">{{ 'Úspěšně nahráno'|trans }}</span>
						</div>
					</div>
				</div>

				<div class="js-file-upload-input">
					<div class="js-file-upload-fallback-hide box-upload__place form-line__full">
						<i class="fa fa-lg fa-plus-circle"></i> {{ 'Zde přetáhněte soubor'|trans }}
					</div>
					<div class="form-line form-line--size-3">
						<div class="js-file-upload-fallback-hide box-upload__between form-line__label">{{ 'nebo'|trans }}:</div>
						<div class="box-upload__file-input form-line__field">
							{{ form_widget(form.children.file) }}
						</div>
					</div>
				</div>
			</div>
		</div>

	{% endspaceless %}
{% endblock file_upload_widget %}

