{% extends '@SS6Shop/Admin/Grid/Grid.html.twig' %}

{% block grid_no_data %}
	{{ 'Nebyly nalezeny žádné dostupnosti. Nejprve musíte nějaké vytvořit.'|trans }}
{% endblock %}

{% block grid_pager_totalcount %}
	{% set entityName = 'dostupností'|trans %}
	{{ parent() }}
{% endblock %}

{% block grid_inline_edit_add_button %}
	{% set addEntity = 'Vytvořit dostupnost'|trans %}
	{{ parent() }}
{% endblock %}

{% block grid_title_cell_id_dispatchTime %}
	{{ gridView.renderBlock('grid_title_cell', { column:column }) }}
	<span title="" class="js-tooltip cursor-help" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Zadává se ve dnech. Nula reprezentuje zboží skladem, nevyplněné znamená, že dostupnost je neznámá.'|trans }}">
		<i class="svg svg-question"></i>
	</span>
{% endblock %}

{% block grid_value_cell_edit_id_dispatchTime %}
	<span class="form-edit-block form-edit-block--size-1">
		{% form_theme form '@SS6Shop/Admin/Form/theme.html.twig' %}
		{{ form_widget(form.dispatchTime) }}
	</span>
{% endblock %}
