{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Slider pages'|trans }}{% endblock %}
{% block h1 %}{{ 'Slider pages'|trans }}{% endblock %}

{% block btn %}
    <a href="{{ url('admin_slider_new') }}" class="btn btn--plus wrap-bar__btn">
        <i class="btn__icon">+</i>{{ 'Create new page'|trans }}
    </a>
{% endblock %}

{% block main_content %}
    {{ render(controller('ShopsysShopBundle:Admin/Domain:domainTabs')) }}
    {{ gridView.render() }}
{% endblock %}