{{ form_start(form) }}
	{{ form_errors(form) }}

	<h3>Přihlášení</h3>


	<div class="form-group">
		{{ form_errors(form.email) }}
		{{ form_widget(form.email, {attr: {placeholder: 'Uživatelské jméno'}}) }}
	</div>

	<div class="form-group">
		{{ form_errors(form.password) }}
		{{ form_widget(form.password, {attr: {placeholder: 'Heslo'}}) }}
	</div>

	{{ form_widget(form.login, {label: 'Přihlásit'}) }}

{{ form_end(form) }}