{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}
	- {{ 'Doprava a platba zdarma'|trans }}
{% endblock %}

{% block h1 %}
	{{ 'Doprava a platba zdarma'|trans }}
{% endblock %}

{% block main_content %}
	{{ form_start(form) }}
		{{ form_errors(form) }}

		<table class="table-main">
			<thead>
				{% if isMultidomain() %}
					<th>{{ 'Doména'|trans }}</th>
				{% endif %}
				<th>{{ 'Používat'|trans }}</th>
				<th>{{ 'Minimální cena zboží'|trans }}</th>
			</thead>
			<tbody>
				{% for domainId, priceLimitForm in form.priceLimits %}
					{% set domainName = domain.getDomainConfigById(domainId).getName() %}
					<tr id="{{ priceLimitForm.vars.id }}" class="js-free-transport-and-payment-price-limit" data-domain-id="{{ domainId }}">
						{% if isMultidomain() %}
							<td>{{ domainName }}</td>
						{% endif %}
						<td>
							{{ form_widget(priceLimitForm.enabled, { attr: { class: 'js-free-transport-and-payment-price-limit-enabled' } } ) }}
						</td>
						<td class="form-inline">
							{{ form_widget(priceLimitForm.priceLimit, { symbolAfterInput: currencySymbolByDomainId(domainId), attr: { class: 'js-free-transport-and-payment-price-limit-input' } }) }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
			{% block fixed_bar_content %}
				{{ form_widget(form.save, { label: 'Uložit změny'|trans }) }}
			{% endblock %}
		{% endembed %}
	{{ form_end(form) }}
{% endblock %}