{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}
	- {{ 'Doprava a platba zdarma'|trans }}
{% endblock %}

{% block h1 %}
	{{ 'Doprava a platba zdarma'|trans }}
{% endblock %}

{% block main_content %}
	<div class="row">

		<div class="col-xs-12 col-lg-10">

			{{ form_start(form) }}
				{{ form_errors(form) }}

				{% for domainId, priceLimitForm in form.priceLimits %}
					<div id="{{ priceLimitForm.vars.id }}" class="wrap-group js-free-transport-and-payment-price-limit">
						{% set domainName = domain.getDomainConfigById(domainId).getDomain() %}

						{{
							form_row(priceLimitForm.enabled, {
								label: 'Používat dopravu a platbu zdarma na doméně <strong>%domainName%</strong>'|trans({ '%domainName%': domainName }),
								raw: true,
								attr: {
									'class': 'js-free-transport-and-payment-price-limit-enabled checkbox-toggle',
									'data-checkbox-toggle-container-id': 'js-free-transport-and-payment-price-limit-' ~ domainId
								},
							})
						}}
						<div id="js-free-transport-and-payment-price-limit-{{ domainId }}">
							{{ form_row(priceLimitForm.priceLimit, { label: 'Minimální cena zboží'|trans, attr: { class: 'form-line--size-2' }, symbolAfterInput: currencySymbolByDomainId(domainId) }) }}
						</div>
					</div>
				{% endfor %}

				{{ form_widget(form.save, { label: 'Uložit změny'|trans }) }}
			{{ form_end(form) }}
		</div>

	</div>
{% endblock %}