{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}
	- {{ 'Dopravy a platby'|trans }}
{% endblock %}

{% block h1 %}
	{{ 'Dopravy a platby'|trans }}
{% endblock %}

{% block main_content %}
	{{ render(controller('SS6ShopBundle:Admin/Transport:list')) }}
	{{ render(controller('SS6ShopBundle:Admin/Payment:list')) }}

	{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
		{% block fixed_bar_content %}
			<button class="js-drag-and-drop-grid-submit-all btn btn--disabled" type="button">{{ 'Uložit změny v pořadí'|trans }}</button>
		{% endblock %}
	{% endembed %}
{% endblock %}