{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		{% for payment in payments %}
			{% for transport in payment.transports %}
				$.fn.SS6.order.addPaymentTransportRelation({{ payment.id }}, {{ transport.id }});
			{% endfor %}
		{% endfor %}
	</script>
{% endblock %}

{% block title %}
	Objednávka
{% endblock %}

{% block content %}
	<h1>Objednávka</h1>

	<div class="info-box">

		<h2 class="mt-0">Výběr dopravy</h2>

		<div class="chooser">
			{% for transport in transports %}
				<label class="chooser__item">
					<span class="chooser__check">
						<input type="checkbox" class="transport" data-id="{{ transport.id }}" />
					</span>

					<span class="chooser__image">
						<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="40px" height="20px">
					</span>

					<span class="chooser__title">
						<strong>
							{{ transport.name }}
						</strong>
						{% if transport.description %}
							<span class="chooser__description">
								- {{ transport.description }}
							</span>
						{% endif %}
					</span>

					<span class="chooser__price price-main">
						{{ transport.price|price }}
					</span>
				</label>
			{% endfor %}
		</div>

	</div>

	<div class="info-box">

		<h2 class="mt-0">Výběr platby</h2>

		<div class="chooser">
			{% for payment in payments %}
				<label class="chooser__item">
					<span class="chooser__check">
						<input type="checkbox" class="payment" data-id="{{ payment.id }}" />
					</span>

					<span class="chooser__image">
						<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="40px" height="20px">
					</span>

					<span class="chooser__title">
						<strong>
							{{ payment.name }}
						</strong>
						{% if payment.description %}
							<span class="chooser__description">
								- {{ payment.description }}
							</span>
						{% endif %}
					</span>

					<span class="chooser__price price-main">
						{{ payment.price|price }}
					</span>
				</label>
			{% endfor %}
		</div>

	</div>


	<div class="buttons-control">
		<a href="./" class="button button--alter buttons-control__left">
			Zpět do košíku
		</a>

		<a id="order-continue" href="./" class="button button--large button-primary buttons-control__right">
			Pokračovat v objednávce
		</a>
	</div>

{% endblock %}