{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block title %}
	Objednávka
{% endblock %}

{% block content %}
	<h1>Objednávka</h1>

	<div class="info-box">

		<h2 class="mt-0">Výběr dopravy</h2>

		<div class="chooser">
			<label class="chooser__item chooser__item--active">
				<span class="chooser__check">
					<input type="checkbox" />
				</span>

				<span class="chooser__image">
					<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="40px" height="20px">
				</span>

				<span class="chooser__title">
					<strong>
						Transport name
					</strong>
					<span class="chooser__description">
						- transport description, which can be long as Longer or Long islad
					</span>
				</span>

				<span class="chooser__price price-main">
					2 454 Kč
				</span>
			</label>

			<label class="chooser__item">
				<span class="chooser__check">
					<input type="checkbox" />
				</span>

				<span class="chooser__image">
					<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="40px" height="20px">
				</span>

				<span class="chooser__title">
					<strong>
						Transport name
					</strong>
					<span class="chooser__description">
						- transport description, which can be long as Longer or Long islad
					</span>
				</span>

				<span class="chooser__price price-main">
					2 454 Kč
				</span>
			</label>

			<label class="chooser__item chooser__item--inactive">
				<span class="chooser__check">
					<input type="checkbox" />
				</span>

				<span class="chooser__image">
					<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="40px" height="20px">
				</span>

				<span class="chooser__title">
					<strong>
						Transport name
					</strong>
					<span class="chooser__description">
						- transport description, which can be long as Longer or Long islad
					</span>
				</span>

				<span class="chooser__price price-main">
					2 454 Kč
				</span>
			</label>

			<label class="chooser__item">
				<span class="chooser__check">
					<input type="checkbox" />
				</span>

				<span class="chooser__image">
					<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="40px" height="20px">
				</span>

				<span class="chooser__title">
					<strong>
						Transport name
					</strong>
					<span class="chooser__description">
						- transport description, which can be long as Longer or Long islad
					</span>
				</span>

				<span class="chooser__price price-main">
					2 454 Kč
				</span>
			</label>
		</div>

	</div>

	<div class="info-box">

		<h2 class="mt-0">Výběr platby</h2>

		<div class="chooser">
			<label class="chooser__item chooser__item--active">
				<span class="chooser__check">
					<input type="checkbox" />
				</span>

				<span class="chooser__image">
					<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="40px" height="20px">
				</span>

				<span class="chooser__title">
					<strong>
						Transport name
					</strong>
					<span class="chooser__description">
						- transport description, which can be long as Longer or Long islad
					</span>
				</span>

				<span class="chooser__price price-main">
					2 454 Kč
				</span>
			</label>

			<label class="chooser__item">
				<span class="chooser__check">
					<input type="checkbox" />
				</span>

				<span class="chooser__image">
					<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="40px" height="20px">
				</span>

				<span class="chooser__title">
					<strong>
						Transport name
					</strong>
					<span class="chooser__description">
						- transport description, which can be long as Longer or Long islad
					</span>
				</span>

				<span class="chooser__price price-main">
					2 454 Kč
				</span>
			</label>

			<label class="chooser__item chooser__item--inactive">
				<span class="chooser__check">
					<input type="checkbox" />
				</span>

				<span class="chooser__image">
					<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="40px" height="20px">
				</span>

				<span class="chooser__title">
					<strong>
						Transport name
					</strong>
					<span class="chooser__description">
						- transport description, which can be long as Longer or Long islad
					</span>
				</span>

				<span class="chooser__price price-main">
					2 454 Kč
				</span>
			</label>

			<label class="chooser__item">
				<span class="chooser__check">
					<input type="checkbox" />
				</span>

				<span class="chooser__image">
					<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="40px" height="20px">
				</span>

				<span class="chooser__title">
					<strong>
						Transport name
					</strong>
					<span class="chooser__description">
						- transport description, which can be long as Longer or Long islad
					</span>
				</span>

				<span class="chooser__price price-main">
					2 454 Kč
				</span>
			</label>
		</div>

	</div>


	<div class="buttons-control">
		<a href="./" class="button button--alter buttons-control__left">
			Zpět do košíku
		</a>

		<a href="./" class="button button--large button-primary buttons-control__right">
			Pokračovat v objednávce
		</a>
	</div>

{% endblock %}