<h2>{{ 'Přehled zboží v košíku'|trans }}</h2>
<table class="table-cart-preview">
	<tbody>

		{% for quantifiedProductKey, quantifiedProduct in orderPreview.quantifiedProducts %}
			{% set quantifiedProductPrice = orderPreview.quantifiedItemsPrices[quantifiedProductKey] %}
			{% set quantifiedProductDiscount = orderPreview.quantifiedItemsDiscounts[quantifiedProductKey] %}
			<tr class="table-cart-preview__row">
				<td class="table-cart-preview__cell">
					<strong>{{ quantifiedProduct.quantity|formatNumber }} {{ quantifiedProduct.product.unit.name }}</strong>
					{{ quantifiedProduct.product.name }}
				</td>
				<td class="table-cart-preview__cell table-cart-preview__cell--price">
					{{ quantifiedProductPrice.totalPrice.priceWithVat|price }}
				</td>
			</tr>
			{% if quantifiedProductDiscount is not null %}
				<tr>
					<td class="table-cart-preview__cell">
						{{ 'Slevový kupón'|trans }}:
					</td>
					<td class="table-cart-preview__cell table-cart-preview__cell--price">
						{{ (-quantifiedProductDiscount.priceWithVat)|price }}
					</td>
				</tr>
			{% endif %}
		{% endfor %}

		{% if orderPreview.transport is not empty %}
			<tr class="table-cart-preview__row">
				<td class="table-cart-preview__cell">
					{{ 'Způsob dopravy'|trans }}: {{ orderPreview.transport.name }}
				</td>
				<td class="table-cart-preview__cell table-cart-preview__cell--price">
					{{ orderPreview.transportPrice.priceWithVat|priceText }}
				</td>
			</tr>
		{% endif %}

		{% if orderPreview.payment is not empty %}
			<tr class="table-cart-preview__row">
				<td class="table-cart-preview__cell">
					{{ 'Způsob platby'|trans }}: {{ orderPreview.payment.name }}
				</td>
				<td class="table-cart-preview__cell table-cart-preview__cell--price">
					{{ orderPreview.paymentPrice.priceWithVat|priceText }}
				</td>
			</tr>
		{% endif %}

		{% if orderPreview.roundingPrice is not empty %}
			<tr class="table-cart-preview__row">
				<td class="table-cart-preview__cell">
					{{ 'Zaokrouhlení'|trans }}:
				</td>
				<td class="table-cart-preview__cell table-cart-preview__cell--price">
					{{ orderPreview.roundingPrice.priceWithVat|price }}
				</td>
			</tr>
		{% endif %}

		<tr class="table-cart-preview__row table-cart-preview__row--total table-cart-preview__row--important">
			<td class="table-cart-preview__cell">
				{{ 'Cena celkem s DPH'|trans }}:
			</td>
			<td class="table-cart-preview__cell table-cart-preview__cell--price">
				{{ orderPreview.totalPrice.priceWithVat|price }}
			</td>
		</tr>

		<tr class="table-cart-preview__row table-cart-preview__row--total">
			<td class="table-cart-preview__cell">
				{{ 'Cena celkem bez DPH'|trans }}:
			</td>
			<td class="table-cart-preview__cell table-cart-preview__cell--price">
				{{ orderPreview.totalPrice.priceWithoutVat|price }}
			</td>
		</tr>

		<tr class="table-cart-preview__row table-cart-preview__row--total">
			<td class="table-cart-preview__cell">
				{{ 'Celková výše DPH'|trans }}:
			</td>
			<td class="table-cart-preview__cell table-cart-preview__cell--price">
				{{ orderPreview.totalPrice.vatAmount|price }}
			</td>
		</tr>

	</tbody>
</table>