<div class="col-sm-12 col-md-4">
	<div class="info-box">
		<h2 class="mt-0">Přehled zboží v košíku</h2>
		<table class="basket-review">
			<tbody>
				
				{% for cartItemKey, cartItem in orderReview.cartItems %}
					{% set cartItemPrice = orderReview.cartItemsPrices[cartItemKey] %}
					<tr class="basket-review__row">
						<td class="basket-review__cell">
							<strong>{{ cartItem.quantity }} x</strong> {{ cartItem.name }}
						</td>
						<td class="basket-review__cell basket-review__cell--price">
							{{ cartItemPrice.totalPriceWithVat|price }}
						</td>
					</tr>
				{% endfor %}

				<tr class="basket-review__row">
					<td class="basket-review__cell">
						Způsob dopravy: {{ orderReview.transport.name }}
					</td>
					<td class="basket-review__cell basket-review__cell--price">
						{{ orderReview.transportPrice.basePriceWithVat|priceText }}
					</td>
				</tr>

				<tr class="basket-review__row">
					<td class="basket-review__cell">
						Způsob platby: {{ orderReview.payment.name }}
					</td>
					<td class="basket-review__cell basket-review__cell--price">
						{{ orderReview.paymentPrice.basePriceWithVat|priceText }}
					</td>
				</tr>
				
				<tr class="basket-review__row basket-review__row--total">
					<td class="basket-review__cell">
						Cena celkem:
					</td>
					<td class="basket-review__cell basket-review__cell--price">
						{{ orderReview.totalPriceWithVat|price }}
					</td>
				</tr>
				
			</tbody>
		</table>
	</div>
</div>