<div class="col-sm-12 col-md-4">
	<div class="info-box">
		<h2 class="mt-0">Přehled zboží v košíku</h2>
		<table class="basket-review">
			<tbody>

				{% for cartItemKey, cartItem in orderReview.cartItems %}
					{% set cartItemPrice = orderReview.cartItemsPrices[cartItemKey] %}
					<tr class="basket-review__row">
						<td class="basket-review__cell">
							<strong>{{ cartItem.quantity }} x</strong> {{ cartItem.name }}
						</td>
						<td class="basket-review__cell basket-review__cell--price">
							{{ cartItemPrice.totalPriceWithVat|price }}
						</td>
					</tr>
				{% endfor %}

				{% if orderReview.transport is not empty %}
					<tr class="basket-review__row">
						<td class="basket-review__cell">
							Způsob dopravy: {{ orderReview.transport.name }}
						</td>
						<td class="basket-review__cell basket-review__cell--price">
							{{ orderReview.transportPrice.basePriceWithVat|priceText }}
						</td>
					</tr>
				{% endif %}

				{% if orderReview.payment is not empty %}
					<tr class="basket-review__row">
						<td class="basket-review__cell">
							Způsob platby: {{ orderReview.payment.name }}
						</td>
						<td class="basket-review__cell basket-review__cell--price">
							{{ orderReview.paymentPrice.basePriceWithVat|priceText }}
						</td>
					</tr>
				{% endif %}

				<tr class="basket-review__row basket-review__row--total basket-review__row--important">
					<td class="basket-review__cell">
						Cena celkem s DPH:
					</td>
					<td class="basket-review__cell basket-review__cell--price">
						{{ orderReview.totalPriceWithVat|price }}
					</td>
				</tr>

				<tr class="basket-review__row basket-review__row--total">
					<td class="basket-review__cell">
						Cena celkem bez DPH:
					</td>
					<td class="basket-review__cell basket-review__cell--price">
						{{ orderReview.totalPriceWithoutVat|price }}
					</td>
				</tr>

				<tr class="basket-review__row basket-review__row--total">
					<td class="basket-review__cell">
						Celková výše DPH:
					</td>
					<td class="basket-review__cell basket-review__cell--price">
						{{ orderReview.totalPriceVatAmount|price }}
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>