{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block title %}
	{{ 'Objednávka dokončena'|trans }}
{% endblock %}

{% block content %}

	<h1>{{ 'Objednávka byla odeslána'|trans }}</h1>

	{{ orderConfirmationText|raw }}

	<div class="box-buttons">
		<a href="{{ url('front_homepage') }} }}" class="button box-buttons__left">
			{{ 'Zpět do obchodu'|trans }}
		</a>
	</div>

{% endblock %}