{% extends '@SS6Shop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
	<meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
	{{ 'Objednávka dokončena'|trans }}
{% endblock %}

{% block main_content %}

	<h1>{{ 'Objednávka byla odeslána'|trans }}</h1>

	{{ orderConfirmationText|raw }}

	<div class="box-buttons">
		<a href="{{ url('front_homepage') }}" class="button box-buttons__left">
			{{ 'Zpět do obchodu'|trans }}
		</a>
	</div>

	{{ render(controller('SS6ShopBundle:Front/Script:embed', {placement: PLACEMENT_ORDER_SENT_PAGE })) }}

{% endblock %}