{% extends '@SS6Shop/Front/Content/Order/step.html.twig' %}

{% block h1 %}
	Objednávka
{% endblock %}

{% block content %}

	<div class="row" id="transportAndPayment">

		<div class="col-sm-12 col-md-8">

			<div class="wrap-box">

				<h2 class="mt-0">Výběr dopravy</h2>

				<div class="box-chooser js-form-group">
					{{ form_errors(form.transport, { attr: {class: 'in-message-floating--on-top'} }) }}

					<div id="transportAndPayment_transport">
						{% for child in form.transport %}
							{% set choice = form.transport.vars.choices[child.vars.name] %}
							{% set transportPrice = transportsPrices[choice.data.id] %}
							<label class="box-chooser__item">
								<span class="box-chooser__check">
									{{ form_widget(child, { attr: { class: 'transport', 'data-id': choice.data.id} }) }}
								</span>

								<span class="box-chooser__image">
									{% if imageExists(choice.data) %}
										{{ image(choice.data, { height: '20px' }) }}
									{% endif %}
								</span>

								<span class="box-chooser__title">
									<strong>
										{{ choice.data.name }}
									</strong>
									{% if choice.data.description %}
										<span class="box-chooser__description">
											- {{ choice.data.description }}
										</span>
									{% endif %}
								</span>

								<span class="box-chooser__price price-main">
									{{ transportPrice.priceWithVat|price }}
								</span>
							</label>
						{% else %}
							{% do form.transport.setRendered %}
							Není z čeho vybírat
						{% endfor %}
					</div>
				</div>

			</div>

			<div class="wrap-box">

				<h2 class="mt-0">Výběr platby</h2>

				<div class="box-chooser box-chooser--smaller js-form-group">
					{{ form_errors(form.payment, { attr: {class: 'in-message-floating--on-top'} }) }}

					<div id="transportAndPayment_payment">
						{% for child in form.payment %}
							{% set choice = form.payment.vars.choices[child.vars.name] %}
							{% set paymentPrice = paymentsPrices[choice.data.id] %}
							<label class="box-chooser__item">
								<span class="box-chooser__check">
									{{ form_widget(child, { attr: { class: 'payment', 'data-id': choice.data.id} }) }}
								</span>

								<span class="box-chooser__image">
									{% if imageExists(choice.data) %}
										{{ image(choice.data, { height: '20px' }) }}
									{% endif %}
								</span>

								<span class="box-chooser__title">
									<strong>
										{{ choice.data.name }}
									</strong>
									{% if choice.data.description %}
										<span class="box-chooser__description">
											- {{ choice.data.description }}
										</span>
									{% endif %}
								</span>

								<span class="box-chooser__price price-main">
									{{ paymentPrice.priceWithVat|price }}
								</span>
							</label>
						{% else %}
							{% do form.payment.setRendered %}
							Není z čeho vybírat
						{% endfor %}
					</div>
				</div>

			</div>
		</div>

		{{ include('@SS6Shop/Front/Content/Order/preview.html.twig') }}

	</div>

	<div class="box-buttons">
		{{ form_widget(form.save, { label: 'Pokračovat v objednávce', attr: { class: 'button button--large button-primary box-buttons__right' } }) }}

		<button type="submit" name="{{ flow.getFormTransitionKey() }}" value="back" class="button button--alter box-buttons__left">
			Zpět do košíku
		</button>
	</div>
{% endblock %}