{% extends '@SS6Shop/Front/Content/Order/step.html.twig' %}

{% block h1 %}
	Objednávka
{% endblock %}

{% block content %}
	<div class="info-box">

		<h2 class="mt-0">Výběr dopravy</h2>

		<div class="chooser">
			{{ form_errors(form.transport) }}

			{% for child in form.transport %}
				{% set choice = form.transport.vars.choices[child.vars.name] %}
				<label class="chooser__item">
					<span class="chooser__check">
						{{ form_widget(child, { attr: { class: 'transport', 'data-id': choice.data.id} }) }}
					</span>

					<span class="chooser__image">
						<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="40px" height="20px">
					</span>

					<span class="chooser__title">
						<strong>
							{{ choice.data.name }}
						</strong>
						{% if choice.data.description %}
							<span class="chooser__description">
								- {{ choice.data.description }}
							</span>
						{% endif %}
					</span>

					<span class="chooser__price price-main">
						{{ choice.data.price|price }}
					</span>
				</label>
			{% else %}
				{% do form.transport.setRendered %}
				Není z čeho vybírat
			{% endfor %}
		</div>

	</div>

	<div class="info-box">

		<h2 class="mt-0">Výběr platby</h2>

		<div class="chooser">
			{{ form_errors(form.payment) }}

			{% for child in form.payment %}
				{% set choice = form.payment.vars.choices[child.vars.name] %}
				<label class="chooser__item">
					<span class="chooser__check">
						{{ form_widget(child, { attr: { class: 'payment', 'data-id': choice.data.id} }) }}
					</span>

					<span class="chooser__image">
						<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="40px" height="20px">
					</span>

					<span class="chooser__title">
						<strong>
							{{ choice.data.name }}
						</strong>
						{% if choice.data.description %}
							<span class="chooser__description">
								- {{ choice.data.description }}
							</span>
						{% endif %}
					</span>

					<span class="chooser__price price-main">
						{{ choice.data.price|price }}
					</span>
				</label>
			{% else %}
				{% do form.payment.setRendered %}
				Není z čeho vybírat
			{% endfor %}
		</div>

	</div>

	<div class="buttons-control">
		<button type="submit" name="{{ flow.getFormTransitionKey() }}" value="back" class="button button--alter buttons-control__left">
			Zpět do košíku
		</button>

		{{ form_widget(form.submit, { label: 'Pokračovat v objednávce', attr: { class: 'button button--large button-primary buttons-control__right' } }) }}
	</div>
{% endblock %}