{% extends '@SS6Shop/Front/Content/Order/step.html.twig' %}

{% block h1 %}
	Objednávka - osobní údaje
{% endblock %}

{% block content %}
	<div class="row">

		<div class="col-sm-12 col-md-8">
			<div class="info-box">
				<h2 class="mt-0">Osobní údaje</h2>

				<fieldset>
					{{ form_row(form.firstName, { label: 'Jméno', label_attr: { class: 'form-place__title' } }) }}
					{{ form_row(form.lastName, { label: 'Příjmení', label_attr: { class: 'form-place__title' } }) }}
					{{ form_row(form.email, { label: 'E-mail', label_attr: { class: 'form-place__title' } }) }}
					{{ form_row(form.telephone, { label: 'Telefon', label_attr: { class: 'form-place__title' }, attr: { class: 'input-little' } }) }}
				</fieldset>

			</div>

			<div class="info-box">
				<h2 class="mt-0">Firemní údaje <span class="heading-addition">(Pokud nakupuji na firmu)</span></h2>
				<fieldset>
					{{ form_row(form.companyCustomer, {
						attr: { class: 'checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-company-fields' },
						label: 'Nakupuji na firmu'})
					}}
					<div id="js-company-fields">
						{{ form_row(form.companyName, { label: 'Název firmy', label_attr: { class: 'form-place__title' } }) }}
						{{ form_row(form.companyNumber, { label: 'IČ', label_attr: { class: 'form-place__title' } }) }}
						{{ form_row(form.companyTaxNumber, { label: 'DIČ', label_attr: { class: 'form-place__title' } }) }}
					</div>
				</fieldset>
			</div>

			<div class="info-box">
				<h2 class="mt-0">Fakturační údaje <span class="heading-addition">(Tato adresa bude na daňovém dokladu)</span></h2>

				<fieldset>
					{{ form_row(form.street, { label: 'Ulice', label_attr: { class: 'form-place__title' } }) }}
					{{ form_row(form.city, { label: 'Město', label_attr: { class: 'form-place__title' } }) }}
					{{ form_row(form.postcode, { label: 'PSČ', label_attr: { class: 'form-place__title' }, attr: { class: 'input-little' } }) }}
				</fieldset>

			</div>

			<div class="info-box">
				<h2 class="mt-0">Doručovací adresa <span class="heading-addition">(Na tuto adresu bude zboží doručeno)</span></h2>
				<fieldset>
					{{ form_row(form.deliveryAddressFilled, {
						attr: { class: 'checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-delivery-address-fields' },
						label: 'Zboží chci doručit na jinou adresu než fakturační'})
					}}
					<div id="js-delivery-address-fields">
						{{ form_row(form.deliveryContactPerson, { label: 'Kontaktní osoba', label_attr: { class: 'form-place__title' } }) }}
						{{ form_row(form.deliveryCompanyName, { label: 'Firma', label_attr: { class: 'form-place__title' } }) }}
						{{ form_row(form.deliveryTelephone, { label: 'Telefon', label_attr: { class: 'form-place__title' }, attr: { class: 'input-little' } }) }}
						{{ form_row(form.deliveryStreet, { label: 'Ulice', label_attr: { class: 'form-place__title' } }) }}
						{{ form_row(form.deliveryCity, { label: 'Město', label_attr: { class: 'form-place__title' } }) }}
						{{ form_row(form.deliveryPostcode, { label: 'PSČ', label_attr: { class: 'form-place__title' }, attr: { class: 'input-little' } }) }}
					<div>
				</fieldset>
			</div>

			<div class="info-box">
				<h2 class="mt-0">Poznámka</h2>

				<fieldset>
					{{ form_row(form.note, { label: 'Napište nám', label_attr: { class: 'form-place__title' } }) }}
				</fieldset>

			</div>

		</div>
				
		{{ include('@SS6Shop/Front/Content/Order/review.html.twig') }}

	</div>

	<div class="buttons-control">
		{{ form_widget(form.save, { label: 'Dokončit objednávku', attr: { class: 'button button--large button-primary buttons-control__right' } }) }}

		<button type="submit" name="{{ flow.getFormTransitionKey() }}" value="back" class="button button--alter buttons-control__left">
			Zpět na výběr dopravy a platby
		</button>
	</div>
{% endblock %}