{% macro paginatorNavigation(paginationResult, entityName) %}
	<div class="row text-center mb-half">
		{% set route = getRoute() %}
		{% set routeParams = getAllRequestParams() %}
		{% set pageCount = paginationResult.pageCount %}
		<strong class="mt-half col-md-3">
			{{ 'Zobrazuji'|trans }} {{ entityName|default('záznamů')|trim }}
			{{ paginationResult.fromItem }} - {{ paginationResult.toItem }} {{ 'z'|trans }} {{ paginationResult.totalCount }}
		</strong>

		<div class="col-md-6 text-center">
			<ul class="pagination mb-0 mt-half">
				{% if pageCount > 1 %}
					{% if paginationResult.page > 1 %}
						<li>
							{% set page = paginationResult.page - 1 %}
							{% if page == 1 %}
								{% set page = null %}
							{% endif %}
							{% set routeParams = routeParams|merge({'page': page}) %}
							<a href="{{ path(route, routeParams) }}" rel ="prev">&lt;</a>
						</li>

						<li>
							{% set routeParams = routeParams|merge({'page': null}) %}
							{% if paginationResult.page == 2 %}
								<a href="{{ path(route, routeParams) }}" rel="prev">1</a>
							{% else %}
								<a href="{{ path(route, routeParams) }}">1</a>
							{% endif %}
						</li>
					{% endif %}

					{% set pagerExpand = 2 %}

					{% if paginationResult.page > pagerExpand + 2 %}
						<li class="disabled">
							<a href="#" class="cursor-default">...</a>
						</li>

					{% endif %}

					{% for page in (paginationResult.page - pagerExpand)..(paginationResult.page) if page > 1 and page < paginationResult.page %}
						<li>
							{% set routeParams = routeParams|merge({'page': page}) %}
							{% if page == (paginationResult.page - 1) %}
								<a href="{{ path(route, routeParams) }}" rel="prev">{{ page }}</a>
							{% else %}
								<a href="{{ path(route, routeParams) }}">{{ page }}</a>
							{% endif %}
						</li>
					{% endfor %}
					<li class="active">
						<span>{{ paginationResult.page }}</span>
					</li>

					{% for page in (paginationResult.page + 1)..(paginationResult.page + pagerExpand) if page > paginationResult.page and page < pageCount %}
						<li>
							{% set routeParams = routeParams|merge({'page': page}) %}
							{% if page == (paginationResult.page + 1) %}
								<a href="{{ path(route, routeParams) }}" rel="next">{{ page }}</a>
							{% else %}
								<a href="{{ path(route, routeParams) }}">{{ page }}</a>
							{% endif %}
						</li>
					{% endfor %}

					{% if paginationResult.page <= pageCount - pagerExpand - 2 %}
						<li class="disabled">
							<a href="#" class="cursor-default">...</a>
						</li>
					{% endif %}

					{% if paginationResult.page < pageCount %}
						<li>
							{% set routeParams = routeParams|merge({'page': pageCount}) %}
							{% if paginationResult.page == (pageCount - 1) %}
								<a href="{{ path(route, routeParams) }}" rel="next">{{ pageCount }}</a>
							{% else %}
								<a href="{{ path(route, routeParams) }}">{{ pageCount }}</a>
							{% endif %}
						</li>
						<li>
							{% set routeParams = routeParams|merge({'page': paginationResult.page + 1}) %}
							<a href="{{ path(route, routeParams) }}" rel="next">&gt;</a>
						</li>
					{% endif %}
				{% endif %}
			</ul>
		</div>
	</div>
{% endmacro %}

{% macro metaRobots(paginationResult) %}
	{% if paginationResult.page != 1 %}
		<meta name="robots" content="noindex, follow">
	{% endif %}
{% endmacro %}