{% macro paginatorNavigation(paginationResult, entityName) %}
	<div class="row text-center mb-half">
		{% set route = getRoute() %}
		{% set routeParams = getAllRequestParams() %}
		{% set pageCount = paginationResult.pageCount %}
		<strong class="mt-half col-md-3">
			{{ 'Zobrazuji'|trans }} {{ entityName|default('záznamů')|trim }}
			{{ paginationResult.fromItem }} - {{ paginationResult.toItem }} {{ 'z'|trans }} {{ paginationResult.totalCount }}
		</strong>

		<div class="col-md-6 text-center">
			<ul class="pagination mb-0 mt-half">
				{% if pageCount > 1 %}
					{% if paginationResult.page > 1 %}
						<li>
							{% set routeParams = routeParams|merge({'page': paginationResult.page - 1}) %}
							<a href="{{ path(route, routeParams) }}">&lt;</a>
						</li>

						<li>
							{% set routeParams = routeParams|merge({'page': 1}) %}
							<a href="{{ path(route, routeParams) }}">1</a>
						</li>
					{% endif %}

					{% set pagerExpand = 2 %}

					{% if paginationResult.page > pagerExpand + 2 %}
						<li class="disabled">
							<a href="#" class="cursor-default">...</a>
						</li>

					{% endif %}

					{% for page in (paginationResult.page - pagerExpand)..(paginationResult.page) if page > 1 and page < paginationResult.page %}
						<li>
							{% set routeParams = routeParams|merge({'page': page}) %}
							<a href="{{ path(route, routeParams) }}">{{ page }}</a>
						</li>
					{% endfor %}
					<li class="active">
						<a href="#" onclick="return false;">{{ paginationResult.page }}</a>
					</li>

					{% for page in (paginationResult.page + 1)..(paginationResult.page + pagerExpand) if page > paginationResult.page and page < pageCount %}
						<li>
							{% set routeParams = routeParams|merge({'page': page}) %}
							<a href="{{ path(route, routeParams) }}">{{ page }}</a>
						</li>
					{% endfor %}

					{% if paginationResult.page < (pageCount - 1) - pagerExpand - 1 %}
						<li class="disabled">
							<a href="#" class="cursor-default">...</a>
						</li>
					{% endif %}

					{% if paginationResult.page < pageCount %}
						<li>
							{% set routeParams = routeParams|merge({'page': pageCount}) %}
							<a href="{{ path(route, routeParams) }}">{{ pageCount }}</a>
						</li>
						<li>
							{% set routeParams = routeParams|merge({'page': paginationResult.page + 1}) %}
							<a href="{{ path(route, routeParams) }}">&gt;</a>
						</li>
					{% endif %}
				{% endif %}
			</ul>
		</div>
	</div>
{% endmacro %}
