{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{ 'Personal information export'|trans }}
{% endblock %}

{% block meta_description %}
    {{ parent() }}
{% endblock %}

{% block meta_robots -%}
    <meta name="robots" content="noindex">
{% endblock %}

{% block main_content %}
    <div class="in-user-text">
        <div class="padding-20">
            <h1>{{ 'Personal information export'|trans }} - {{ personalDataAccessRequest.email }} </h1>
            {{ 'Clicking on the link below you can download in XML format your personal information, which we have in evidence
            in our online store %domain%.'|trans({ '%domain%': domainName }) }}
        </div>
        {% if user is null and newsletterSubscriber is null and ordersCount == 0 %}
        <div class="padding-20">
            <h2>{{ 'No personal data for this email address'|trans }}</h2>
        </div>
        {% else %}
            <div class="padding-20">
                <a href="{{ url('front_export_personal_data', {'hash': hash }) }}" class="btn btn--success">
                    {{ 'Download the personal information'|trans }}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}