{% extends 'form_div_layout.html.twig' %}

{% block form_start %}
	{%- if attr.multipleForm is defined -%}
		{% if attr.multipleForm %}
			{{ globalMultipleForm.currentFormIsMultiple() }}
		{% else %}
			{{ globalMultipleForm.currentFormIsNotMultiple() }}
		{% endif %}
	{%- endif -%}
	{% set attr = attr|merge({'role': attr.role|default('form')}) %}
	{% set method = method|upper %}
	{%- if method in ["GET", "POST"] -%}
		{% set form_method = method %}
	{%- else -%}
		{% set form_method = "POST" %}
	{%- endif -%}
	<form name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"
		{%- for attrname, attrvalue in attr -%} 
			{{- " " -}}
			{%- if attrname is sameas('multipleForm') -%}
			{%- else -%}
				{{- attrname }}="{{ attrvalue }}"
			{%- endif -%}
		{%- endfor -%}
		{% if multipart %} enctype="multipart/form-data"{% endif %}>
	{%- if form_method != method -%}
		<input type="hidden" name="_method" value="{{ method }}" />
	{%- endif -%}
{% endblock form_start %}

{% block form_end %}
	{{ parent('form_end') }}
	{{ globalMultipleForm.reset() }}
{% endblock form_end %}

{% block form_row %}
	<div class="form-line {{ attr.class|default('') }}">
		{{ form_label(form, label, { label_attr: {class: 'form-line__label'} }) }}
		{{ form_widget(form, { attr: {class: 'form-line__field'} }) }}
		{{ form_errors(form) }}
	</div>
{% endblock form_row %}

{% block checkbox_row %}
	<div class="checkbox">
		{{ form_label(form) }}
		{{ form_errors(form) }}
		{{ form_widget(form) }}
	</div>
{% endblock checkbox_row %}

{% block textarea_row -%}
	<div class="form-line">
		{{ form_label(form, label, { label_attr: {class: 'form-line__label'} }) }}
		{{- form_errors(form) -}}
		<div class="form-line__full">
			{{- form_widget(form) -}}
		</div>
	</div>
{%- endblock textarea_row %}

{% block form_label %}
	{% spaceless %}
		{% if label is not sameas(false) %}
			{% if not compound %}
				{% set label_attr = label_attr|merge({'for': id}) %}
			{% endif %}
			{% if required %}
				{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
			{% endif %}
			{% if label is empty %}
				{% set label = name|humanize %}
			{% endif %}
			<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
				{{ label|trans({}, translation_domain) }}
				{% if not withoutColon|default(false) %}:{% endif %}
				{% if required %}<span class="form-input-required">*</span>{% endif %}
			</label>
		{% endif %}
	{% endspaceless %}
{% endblock form_label %}

{% block checkbox_label %}
	{% spaceless %}
		{% set withoutColon = true %}
		{{ block('form_label') }}
	{% endspaceless %}
{% endblock checkbox_label %}

{% block form_errors %}
	{% spaceless %}
		{% if errors|length > 0 %}
			{% if form.parent %}
				<div class="in-message--danger in-message-floating {{ attr.class|default('') }}">
					<ul class="in-message__list">
						{% for error in errors %}
							<li>{{ error.message }}</li>
						{% endfor %}
					</ul>
				</div>
			{% else %}
				<div class="in-message in-message--danger">
					<ul class="in-message__list">
						{% for error in errors %}
							<li>{{ error.message }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% endif %}
	{% endspaceless %}
{% endblock form_errors %}

{% block form_widget_simple %}
	{% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
	{{ parent('form_widget_simple') }}
{% endblock form_widget_simple %}

{% block textarea_widget %}
	{% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
	{% set attr = attr|merge({'rows': (attr.rows|default('8'))}) %}
	{{ parent('textarea_widget') }}
{% endblock textarea_widget %}

{% block button_widget %}
	{% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn btn-primary button')|trim}) %}
	{{ parent('button_widget') }}
{% endblock button_widget %}

{% block choice_widget_collapsed -%}
	{% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
		{% set required = false %}
	{% endif %}
	{% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
	<select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
		{% if empty_value is not none -%}
			<option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
		{%- endif %}
		{%- if preferred_choices|length > 0 -%}
			{% set options = preferred_choices %}
			{{- block('choice_widget_options') -}}
			{% if choices|length > 0 and separator is not none -%}
				<option disabled="disabled">{{ separator }}</option>
			{%- endif %}
		{%- endif -%}
		{% set options = choices -%}
		{{- block('choice_widget_options') -}}
	</select>
{%- endblock choice_widget_collapsed %}

{% block choice_widget_expanded %}
	{% spaceless %}
			<div {{ block('widget_container_attributes') }}>
			{% for child in form %}
				<div class="radio checkbox">
					<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
						{{ form_widget(child) }}
						{{ child.vars.label }}
					</label>
				</div>
			{% else %}
				{{ empty_message|default('Není z čeho vybírat.') }}
			{% endfor %}
			</div>
	{% endspaceless %}
{% endblock choice_widget_expanded %}
	
{% block widget_attributes -%}
	{%- if globalMultipleForm.currentFormMultiple -%}
		{% set attr = attr|merge({'class': (attr.class|default('') ~ ' id__' ~ id)|trim}) %}
		{%- if htmlId|default(false) %} id="{{ htmlId }}"{% endif -%}
	{%- else -%}
		{{- " " -}}
		id="{{ id }}"
	{%- endif -%}
	{{- " " -}}
	name="{{ full_name }}"
	{%- if htmlId|default(false) %} id="{{ htmlId }}"{% endif -%}
	{%- if read_only %} readonly="readonly"{% endif -%}
	{%- if disabled %} disabled="disabled"{% endif -%}
	{%- if required %} required="required"{% endif -%}
	{%- for attrname, attrvalue in attr -%}
		{{- " " -}}
		{%- if attrname in ['placeholder', 'title'] -%}
			{{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
		{%- elseif attrvalue is sameas(true) -%}
			{{- attrname }}="{{ attrname }}"
		{%- elseif attrvalue is not sameas(false) -%}
			{{- attrname }}="{{ attrvalue }}"
		{%- endif -%}
	{%- endfor -%}
{%- endblock widget_attributes %}

{% block button_attributes -%}
	{%- if globalMultipleForm.currentFormMultiple -%}
		{% set attr = attr|merge({'class': (attr.class|default('') ~ ' id__' ~ id)|trim}) %}
		{%- if htmlId|default(false) %} id="{{ htmlId }}"{% endif -%}
	{%- else -%}
		{{- " " -}}
		id="{{ id }}"
	{%- endif -%}
	{{- " " -}}
	name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif -%}
	{%- for attrname, attrvalue in attr -%}
		{{- " " -}}
		{%- if attrname in ['placeholder', 'title'] -%}
			{{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
		{%- elseif attrvalue is sameas(true) -%}
			{{- attrname }}="{{ attrname }}"
		{%- elseif attrvalue is not sameas(false) -%}
			{{- attrname }}="{{ attrvalue }}"
		{%- endif -%}
	{%- endfor -%}
{%- endblock button_attributes %}