{% extends 'form_div_layout.html.twig' %}

{% block form_start %}
	{% set attr = attr|merge({'role': attr.role|default('form')}) %}
	{{ parent('form_start') }}
{% endblock form_start %}

{% block form_row %}
	<div class="form-line {{ attr.class|default('') }}">
		{{ form_label(form, label, { label_attr: {class: 'form-line__label'} }) }}
		{{ form_widget(form, { attr: {class: 'form-line__field'} }) }}
		{{ form_errors(form) }}
	</div>
{% endblock form_row %}

{% block checkbox_row %}
	<div class="checkbox">
		{{ form_label(form) }}
		{{ form_errors(form) }}
		{{ form_widget(form) }}
	</div>
{% endblock checkbox_row %}

{% block textarea_row -%}
	<div class="form-line">
		{{ form_label(form, label, { label_attr: {class: 'form-line__label'} }) }}
		{{- form_errors(form) -}}
		<div class="form-line__full">
			{{- form_widget(form) -}}
		</div>
	</div>
{%- endblock textarea_row %}

{% block form_label %}
	{% spaceless %}
		{% if label is not sameas(false) %}
			{% if not compound %}
				{% set label_attr = label_attr|merge({'for': id}) %}
			{% endif %}
			{% if required %}
				{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
			{% endif %}
			{% if label is empty %}
				{% set label = name|humanize %}
			{% endif %}
			<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
				{{ label|trans({}, translation_domain) }}
				{% if not withoutColon|default(false) %}:{% endif %}
				{% if required %}<span class="form-input-required">*</span>{% endif %}
			</label>
		{% endif %}
	{% endspaceless %}
{% endblock form_label %}

{% block checkbox_label %}
	{% spaceless %}
		{% set withoutColon = true %}
		{{ block('form_label') }}
	{% endspaceless %}
{% endblock checkbox_label %}

{% block form_errors %}
	{% spaceless %}
		{% if errors|length > 0 %}
			{% if form.parent %}
				<div class="message-danger message-floating {{ attr.class|default('') }}">
					<ul class="message__list">
						{% for error in errors %}
							<li>{{ error.message }}</li>
						{% endfor %}
					</ul>
				</div>
			{% else %}
				<div class="message message-danger">
					<ul class="message__list">
						{% for error in errors %}
							<li>{{ error.message }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% endif %}
	{% endspaceless %}
{% endblock form_errors %}

{% block form_widget_simple %}
	{% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
	{{ parent('form_widget_simple') }}
{% endblock form_widget_simple %}

{% block textarea_widget %}
	{% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
	{% set attr = attr|merge({'rows': (attr.rows|default('8'))}) %}
	{{ parent('textarea_widget') }}
{% endblock textarea_widget %}

{% block button_widget %}
	{% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn btn-primary button')|trim}) %}
	{{ parent('button_widget') }}
{% endblock button_widget %}

{% block choice_widget_collapsed -%}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {% endif %}
    <select class="form-control form-line__field" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {%- endif %}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {% if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif %}
        {%- endif -%}
        {% set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed %}

{% block choice_widget_expanded %}
	{% spaceless %}
			<div {{ block('widget_container_attributes') }}>
			{% for child in form %}
				<div class="radio checkbox">
					<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
						{{ form_widget(child) }}
						{{ child.vars.label }}
					</label>
				</div>
			{% else %}
				{{ empty_message|default('Není z čeho vybírat.') }}
			{% endfor %}
			</div>
	{% endspaceless %}
{% endblock choice_widget_expanded %}