{% form_theme rulesForm getDefaultFormTheme() %}
{% for key, ruleForm in rulesForm %}
	{% set isTemplate = key is same as('__template__') %}
	<div
		class="js-advance-search-rule{{ isTemplate ? ' display-none' : '' }}"
		{{- isTemplate ? ' id="js-advance-search-rule-template"' : '' -}}
	>
		{{ form_widget(ruleForm.subject, { attr: { class: 'js-advance-search-rule-subject' }}) }}
		{{ form_widget(ruleForm.operator) }}
		{{ form_widget(ruleForm.value) }}
		<i class="fa fa-delete cursor-pointer js-advance-search-remove-rule-button"></i>
	</div>
{% endfor %}
