{% if listOfNewEntities|length > 0 %}
	{{ message|nl2br }}

	<form action="{{ url(route, {id: entityId}) }}" method="get" class="mt-1 js-confirm-delete-form">
		<input
			type="hidden"
			name="{{ constant('SS6\\ShopBundle\\Component\\Router\\Security\\RouteCsrfProtector::CSRF_TOKEN_REQUEST_PARAMETER') }}"
			value="{{ routeCsrfToken }}"
		/>
		<select name="newId" class="js-confirm-delete-select">
			<option value="">-- {{ 'Zvolte novou hodnotu'|trans }} --</option>
			{% for newEntityId, name in listOfNewEntities %}
				<option value="{{ newEntityId }}">{{ name }}</option>
			{% endfor %}
		</select>

		<div class="window__actions">
			<input type="submit" class="btn" value="{{ 'Smazat a nastavit'|trans }}" />
		</div>
	</form>
{% else %}
	<p>
		{{ 'Aby bylo možné tuto hodnotu smazat, je třeba nastavit novou, která se použije místo ní.
		Bohužel není za co nahrazovat, před smazáním musíte nějdřív vytvořit novou.'|trans }}
	</p>
{% endif %}

