{% if remainingEntitiesChoiceList.choices|length > 0 %}
	{{ message|nl2br }}
	{# custom form rendering because of csrf token and input names - controllers delete actions expect "newId" parameter #}
	<form action="{{ url(route, {id: entityId}) }}" method="get" class="js-confirm-delete-form h-margin-top-20">
		<input
			type="hidden"
			name="{{ CSRF_TOKEN_REQUEST_PARAMETER }}"
			value="{{ routeCsrfToken }}"
		/>
		<select name="newId" class="js-confirm-delete-select">
			<option value="">-- {{ 'Zvolte novou hodnotu'|trans }} --</option>
			{% for preferredView in remainingEntitiesChoiceList.preferredViews %}
				<option value="{{ preferredView.value }}">{{ preferredView.label }}</option>
			{% endfor %}
			{% for remainingView in remainingEntitiesChoiceList.remainingViews %}
				<option value="{{ remainingView.value }}">{{ remainingView.label }}</option>
			{% endfor %}
		</select>

		<div class="window__actions">
			<button type="submit" class="btn">
				{{ 'Smazat a nastavit'|trans }}
			</button>
		</div>
	</form>
{% else %}
	<p>
		{{ 'Aby bylo možné tuto hodnotu smazat, je třeba nastavit novou, která se použije místo ní.
		Bohužel není za co nahrazovat, před smazáním musíte nějdřív vytvořit novou.'|trans }}
	</p>
{% endif %}

