{% extends 'APYDataGridBundle::blocks.html.twig' %}

{% block grid_pager_totalcount %}
	{{ '%count% Výsledků, ' | transchoice(grid.totalCount, {'%count%': grid.totalCount}) }}
{% endblock %}

{% block grid_pager_selectpage %}
	{{ 'Stránka'|trans }}
	{% spaceless %}
		<input type="button" class="prev" {% if grid.page <= 0 %}disabled="disabled"{% endif %} value="<" onclick="return {{ grid.hash }}_previousPage();"/>
		<input type="text" class="current" value="{{ grid.page + 1 }}" size="2" onkeypress="return {{ grid.hash }}_enterPage(event, parseInt(this.value)-1);"/>
		<input type="button" value=">" class="next" {% if grid.page >= grid.pageCount-1 %}disabled="disabled"{% endif %} onclick="return {{ grid.hash }}_nextPage();"/> {{ 'z %count%'|trans({ '%count%' : grid.pageCount }) }}
	{% endspaceless %}
{% endblock grid_pager_selectpage %}

{% block grid_pager_results_perpage %}
	{{ ', Zobrazit'|trans }}
	<select onchange="return {{ grid.hash }}_resultsPerPage(this.value);">
		{% for key, value in grid.limits %}
			<option value="{{ key }}"{% if (key == grid.limit) %} selected="selected"{% endif %}>{{ value }}</option>
		{% endfor %}
	</select> {{ 'položek na stránku'|trans }}
{% endblock grid_pager_results_perpage %}