{% block grid %}
<div class="grid js-grid" {% spaceless %}
		{% if grid.inlineEdit %}
			data-inline-edit-service-name="{{ grid.inlineEditService.serviceName }}"
			data-inline-edit-url-get-form="{{ url('admin_grid_getform') }}"
			data-inline-edit-url-save-form="{{ url('admin_grid_saveform') }}"
		{% endif %}
		{% if grid.dragAndDrop %}
			data-drag-and-drop-ordering-entity-class="{{ grid.orderingEntityClass }}"
			data-drag-and-drop-url-save-ordering="{{ url('admin_grid_saveordering') }}"
		{% endif %}
	{% endspaceless %}>

	{% if grid.inlineEdit and grid.inlineEditService.canAddNewRow %}
		{{ gridView.renderBlock('grid_inline_edit_add_button') }}
	{% endif %}

	{% if grid.rows is not empty or grid.inlineEdit %}
		<div class="js-inline-edit-data-container{% if grid.rows is empty and grid.inlineEdit %} hidden{% endif %}">
			<div class="grid_header">
			{% if grid.allowedPaging %}
				{{ gridView.renderBlock('grid_pager') }}
			{% endif %}
			</div>
			<div class="grid_body table-responsive">
				<table class="table table-striped table-hover">
					{{ gridView.renderBlock('grid_titles') }}
					{{ gridView.renderBlock('grid_rows') }}
				</table>
			</div>
			<div class="grid_footer">
				{% if grid.allowedPaging %}
					{{ gridView.renderBlock('grid_pager') }}
				{% endif %}
				{% if grid.dragAndDrop %}
					<button class="js-drag-and-drop-grid-submit btn btn-primary btn-disabled" type="button">Uložit změny v pořadí</button>
				{% endif %}
			</div>
		</div>
	{% endif %}

	{% if grid.rows is empty %}
		<div class="in-message in-message--info in-message--static js-inline-edit-no-data">
			{{ gridView.renderBlock('grid_no_data') }}
		</div>
	{% endif %}
</div>
{% endblock %}

{% block grid_no_data %}
	{{ 'Nebyly nalezeny žádné záznamy.'|trans }}
{% endblock %}

{% block grid_value_cell %}
	{{ value }}
{% endblock%}

{% block grid_value_cell_edit %}
	{% if form[column.id] is defined %}
		{% form_theme form '@SS6Shop/Admin/Form/theme.html.twig' %}
		{{ form_widget(form[column.id]) }}
	{% endif -%}
{% endblock %}

{% block grid_titles %}
	<thead>
		<tr class="grid-row-titles">
			{% if grid.dragAndDrop %}
				<th></th>
			{% endif %}
			{% for column in grid.columns %}
				<th class="{% if column.classAttribute %} {{ column.classAttribute }}{% endif %}{% if loop.last and grid.actionColumns is empty %} last-column{% endif %}">
					{{ gridView.renderTitleCell(column) }}
				</th>
			{% endfor %}
			{% if grid.actionColumns is not empty or grid.inlineEdit %}
				<th class="last-column text-right {{ grid.actionColumnClassAttribute }}" colspan="{{ grid.actionColumns|length }}">Úpravy</ht>
			{% endif  %}
		</tr>
	</thead>
{% endblock %}

{% block grid_title_cell %}
	{% if (column.sortable) %}
		{% if grid.orderSourceColumnName == column.id and grid.orderDirection == 'asc' %}
			{% set orderBy = '-' ~ column.id %}
		{% else %}
			{% set orderBy = column.id %}
		{% endif %}
		<a class="in-sort-arrows__wrap" href="{{ gridView.url({'order': orderBy}) }}">
			<span class="in-sort-arrows__link">{{ column.title }}</span>
			{% if grid.orderSourceColumnName == column.id %}
				{% if grid.orderDirection == 'desc' %}
					<span class="sort_down in-sort-arrows in-sort-arrows--down"></span>
				{% else %}
					<span class="sort_up in-sort-arrows in-sort-arrows--up"></span>
				{% endif %}
			{% endif %}
		</a>
	{% else %}
		{{ column.title }}
	{% endif %}
{% endblock %}

{% block grid_rows %}
	<tbody class="js-inline-edit-rows {% if grid.dragAndDrop %}js-drag-and-drop-grid-rows{% endif %}">
		{% for row in grid.rows %}
			{{ gridView.renderBlock(
				'grid_row',
				{
					loopIndex: loop.index,
					lastRow: loop.last,
					row: row
				}
			) }}
		{% endfor %}
	</tbody>
{% endblock %}

{% block grid_row %}
	<tr class="grid-row-cells {{ cycle(['odd', 'even'], loopIndex) }} js-grid-row"
			{% if grid.inlineEdit and row is not null%} data-inline-edit-row-id="{{ grid.getRowId(row) }}"{% endif %}
			{% if grid.dragAndDrop %} data-drag-and-drop-grid-row-id="{{ grid.getRowId(row) }}"{% endif %}
	>
		{% if grid.dragAndDrop %}
			<td class="table-col-40px">
				<i class="cursor-move fa fa-arrows"></i>
			</td>
		{% endif %}
		{% for column in grid.columns %}
			<td class="js-grid-column-{{ column.id }}{% if column.classAttribute %} {{ column.classAttribute }}{% endif %}{% if lastRow and grid.actionColumns is empty %} last-column{% endif %}{% if lastRow %} last-row{% endif %}">
				{{ gridView.renderCell(column, row, form|default(null)) }}
			</td>
		{% endfor %}
		{% if grid.actionColumns|length > 0 or grid.inlineEdit %}
			<td class="grid-column-actions last-column text-right js-inline-edit-unmatched-inputs {{ grid.actionColumnClassAttribute }}{% if lastRow %} last-row{% endif %}">
				<span class="grid-row-actions in-action-icons">
					{% if grid.inlineEdit and form is defined %}
						<span class="js-inline-edit-buttons">
							<a href="#" class="table-action js-inline-edit-save in-action-icons__item in-action-icons__item--confirm">
								<i class="fa fa-check" title="{{ 'Uložit změny'|trans }}"></i>
							</a>
							<a href="#" class="table-action js-inline-edit-cancel in-action-icons__item in-action-icons__item--discard">
								<i class="fa fa-delete" title="{{ 'Zahodit změny'|trans }}"></i>
							</a>
						</span>
						<span class="js-inline-edit-saving text-center">
							<i class="fa fa-spinner fa-spin" title="{{ 'Ukládám'|trans }}"></i>
						</span>
					{% else %}
						{% if grid.inlineEdit %}
							<a href="#" class="table-action js-inline-edit-edit in-action-icons__item in-action-icons__item--edit">
								<i class="fa fa-pencil" title="{{ 'Upravit'|trans }}"></i>
							</a>
						{% endif %}
						{% for actionColumn in grid.actionColumns %}
							{{ gridView.renderActionCell(actionColumn, row)|raw }}
						{% endfor %}
					{% endif %}
				</span>
				{% if form is defined %}
					{% if not render_rest is defined or render_rest %}
						{{- form_rest(form) -}}
					{% endif -%}
				{% endif -%}
			</td>
		{% endif %}
	</tr>
{% endblock %}

{% block grid_action_cell %}
	{% if actionColumn.type == 'edit' %}
		{% set icon = 'pencil' %}
	{% elseif actionColumn.type == 'delete' %}
		{% set icon = 'trash-o' %}
	{% else %}
		{% set icon = actionColumn.type %}
	{% endif %}
	<a
		class="in-action-icons__item table-action{% if actionColumn.classAttribute %} {{ actionColumn.classAttribute }}{% endif %}{% if actionColumn.ajaxConfirm %} js-ajax-confirm{% endif %}"
		data-ajax-confirm-on-open="SS6.createConfirmDelete(this);"
		href="{{ actionColumn.targetUrl(row) }}"
		{% if actionColumn.confirmMessage is not empty -%}
			onclick="
				SS6.window({
					content: '{{ actionColumn.confirmMessage }}',
					buttonCancel: true,
					buttonContinue: true,
					textContinue: 'Ano',
					urlContinue: '{{ actionColumn.targetUrl(row) }}'
				});
				return false;"
		{%- endif %}
	><i class="fa fa-{{ icon }}"></i></a>
{% endblock %}

{% block grid_pager_totalcount %}
	<strong class="left mt-half form-fake">
		{{ 'Zobrazuji'|trans }} {{ entityName|default('záznamů')|trim }}
		{{ grid.paginationResults.fromItem }} - {{ grid.paginationResults.toItem }} {{ 'z'|trans }} {{ grid.totalCount }}
	</strong>
{% endblock %}

{% block grid_pager_selectpage %}
	{% spaceless %}
		<ul class="pagination mb-0 mt-half">

			{% if grid.page > 1 %}
				<li>
					<a href="{{ gridView.url({'page': grid.page - 1}) }}">&lt;</a>
				</li>

				<li>
					<a href="{{ gridView.url({'page': 1}) }}">1</a>
				</li>
			{% endif %}

			{% set pagerExpand = 2 %}

			{% if grid.page > pagerExpand + 2 %}
				<li class="disabled">
					<a href="#" class="cursor-default">...</a>
				</li>

			{% endif %}

			{% for page in (grid.page - pagerExpand)..(grid.page) if page > 1 and page < grid.page %}
				<li>
					<a href="{{ gridView.url({'page': page}) }}">{{ page }}</a>
				</li>
			{% endfor %}
			<li class="active">
				<span>{{ grid.page }}</span>
			</li>

			{% for page in (grid.page + 1)..(grid.page + pagerExpand) if page > grid.page and page < grid.pageCount %}
				<li>
					<a href="{{ gridView.url({'page': page}) }}">{{ page }}</a>
				</li>
			{% endfor %}

			{% if grid.page < (grid.pageCount - 1) - pagerExpand - 1 %}
				<li class="disabled">
					<a href="#" class="cursor-default">...</a>
				</li>
			{% endif %}

			{% if grid.page < grid.pageCount %}
				<li>
					<a href="{{ gridView.url({'page': grid.pageCount}) }}">{{ grid.pageCount }}</a>
				</li>
				<li>
					<a href="{{ gridView.url({'page': grid.page + 1}) }}">&gt;</a>
				</li>
			{% endif %}
		</ul>

		<div class="js-grid-go-to box-grid-actions__to-page clear-r small">
			<span>Přejít na stránku:</span>
			<input
				type="number"
				min="1"
				max="{{ grid.pageCount }}"
				value="{{ grid.page }}"
				class="current form-control text-center js-grid-go-to-input ml-half mr-half input-xs box-grid-actions__input"
				size="2"
			/>
			<a class="btn btn-primary btn-xs js-grid-go-to-button" href="#" data-url="{{ gridView.url({'page' : '--page--'}) }}">&gt;&gt;</a>
		</div>
	{% endspaceless %}
{% endblock %}

{% block grid_pager_results_perpage %}
	<div class="right mb-half small">
		<span class="form-inline">
			{{ 'Položek na stránku:'|trans }}
			<select onchange="window.location = '{{ gridView.url({'limit' : '--limit--'}, 'page')|escape('js') }}'.replace('--limit--', this.value);" class="form-control ml-half input-xs">
				{% for value in grid.allowedLimits %}
					<option value="{{ value }}"{% if (value == grid.limit) %} selected="selected"{% endif %}>{{ value }}</option>
				{% endfor %}
			</select>
		</span>
	</div>
{% endblock %}

{% block grid_pager %}
	<div class="text-center mb-half box-grid-actions">
		{{ gridView.renderBlock('grid_pager_totalcount') }}
		{{ gridView.renderBlock('grid_pager_results_perpage') }}
		{% if grid.pageCount > 1 %}
			{{ gridView.renderBlock('grid_pager_selectpage') }}
		{% endif %}
	</div>
{% endblock %}

{% block grid_value_cell_type_boolean %}
	<span class="grid_boolean_{{ value ? 'true' : 'false' }} in-semaphore in-semaphore--{{ value ? 'true' : 'false' }}" title="{{ value ? 'Ano' : 'Ne' }}"></span>
{% endblock %}

{% block grid_value_cell_type_DateTime %}
	{{ value|formatDateTime }}
{% endblock %}

{% block grid_hidden_inputs %}
	{% spaceless %}
		{% set name = name|default('') %}
		{% if parameter is iterable %}
			{% for key, value in parameter %}
				{% set currentParameter = parameter %}
				{% set parameter = value %}
				{% set currentName = name %}
				{% if name != '' %}
					{% set name = name ~ '[' ~ key ~ ']' %}
				{% else %}
					{% set name = key %}
				{% endif %}

					{{ block('grid_hidden_inputs') }}
				{% set parameter = currentParameter %}
				{% set name = currentName %}
			{% endfor %}
		{% else %}
			<input type="hidden" name="{{ name }}" value="{{ parameter }}" />
		{% endif %}
	{% endspaceless %}
{% endblock %}

{% block grid_inline_edit_add_button %}
	<a href="#" class="btn btn-primary mb-1 js-inline-edit-add">
		{{ addEntity|default('Vytvořit záznam') }}
	</a>
{% endblock %}