{% extends '@ShopsysShop/Admin/Layout/layoutBlank.html.twig' %}

{% block title %}
	- {{ 'Login'|trans }}
{% endblock %}

{% block content %}

	{{ form_start(form, {attr: {class: 'box-login'}}) }}
		{{ form_errors(form) }}

		<h1 class="box-login__heading">{{ 'Administration'|trans }}</h1>

		{% if error %}
			<p class="in-message in-message--danger">{{ error }}</p>
		{% endif %}

		<div class="box-login__row">
			<span class="box-login__error">
				{{ form_errors(form.username) }}
			</span>
			{{ form_widget(form.username, {attr: {placeholder: 'Username'|trans, class: 'box-login__input'}}) }}
		</div>

		<div class="box-login__row">
			<span class="box-login__error">
				{{ form_errors(form.password) }}
			</span>
			{{ form_widget(form.password, {attr: {placeholder: 'Password'|trans, class: 'box-login__input'}}) }}
		</div>

		<div class="box-login__row box-login__row--btn">
			{{ form_widget(form.login, {label: 'Log in'|trans, attr: {class: 'btn--block btn--large'}}) }}
		</div>

	{{ form_end(form) }}

{% endblock %}
