{% extends '@SS6Shop/Admin/Grid/Grid.html.twig' %}

{% block grid_value_cell_id_percent %}
	<span class="js-inline-edit-cell-value">{{ value }}</span>%
	{% if row is null %}
		<span title="{{ 'Po změně sazby DPH dojde k přepočtu cen zboží - základní cena s DPH zůstane zachována'|trans }}"
			class="js-tooltip table-action cursor-help in-action-icons__item" data-toggle="tooltip" data-placement="bottom"
		>
			<i class="fa fa-info"></i>
		</span>
	{% endif %}
{% endblock %}

{% block grid_value_cell_id_coefficient %}
	{# @TODO Hotfix - get coefficient from entity #}
	{% set coefficient = value / (100 + value) %}
	{{ coefficient|round(4) }}
{% endblock %}

{% block grid_no_data %}
	{{ 'Nebyly nalezeny žádné sazby DPH. Nejprve musíte nějakou vytvořit.'|trans }}
{% endblock %}

{% block grid_pager_totalcount %}
	{% set entityName = 'sazby DPH'|trans %}
	{{ parent() }}
{% endblock %}

{% block grid_inline_edit_add_button %}
	{% set addEntity = 'Vytvořit sazbu DPH'|trans %}
	{{ parent() }}
{% endblock %}