{% extends '@SS6Shop/Admin/Grid/Grid.html.twig' %}

{% block grid_value_cell_edit_id_percent %}
	<span class="form-edit-block form-edit-block--size-0">
		{% form_theme form '@SS6Shop/Admin/Form/theme.html.twig' %}
		{{ form_widget(form.percent) }}
		<span class="form-edit-block__info">
			%
			{% if row is not null %}
				<span
					title="{{ 'Výši sazby nelze upravit. Je třeba vytvořit novou sazbu a starou odstranit s nahrazením za novou.'|trans }}"
					class="js-tooltip table-action h-cursor-help in-action-icons__item"
					data-toggle="tooltip"
					data-placement="bottom"
				>
					<i class="svg svg-info"></i>
				</span>
			{% endif %}
		</span>
	</span>
{% endblock %}

{% block grid_value_cell_id_name %}
	{% if row.vat.markedAsDeleted %}
		<span class="h-text-mute">
			{{ value }}
			<span
				title="{{ 'Sazba DPH je označena pro smazání a brzy bude automaticky odstraněna. Přepočet probíhá rychlostí několik set zboží za 5 minut.'|trans }}"
				class="js-tooltip table-action h-cursor-help"
				data-toggle="tooltip"
				data-placement="right"
			>
				<i class="svg svg-warning"></i>
			</span>
		</span>
	{% else %}
		{{ value }}
	{% endif %}
{% endblock %}

{% block grid_action_cell %}
	{% if row.vat.markedAsDeleted %}
		<span
			title="{{ 'Sazba DPH je označena pro smazání a brzy bude automaticky odstraněna. Přepočet probíhá rychlostí několik set zboží za 5 minut.'|trans }}"
			class="js-tooltip table-action h-cursor-help h-text-mute"
			data-toggle="tooltip"
			data-placement="bottom"
		>
			<i class="svg svg-trash"></i>
		</span>
	{% elseif row.asReplacementCount > 0 %}
		<span
			title="{{ 'Sazba DPH nemůže být odstraněna, protože právě probíhá přepočet na tuto sazbu DPH.'|trans }}"
			class="js-tooltip table-action h-cursor-help h-text-mute"
			data-toggle="tooltip"
			data-placement="bottom"
		>
			<i class="svg svg-trash"></i>
		</span>
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block grid_value_cell_id_percent %}
	{{ value|formatPercent }}
{% endblock %}

{% block grid_value_cell_id_coefficient %}
	{{ row.coefficient|formatNumber }}
{% endblock %}

{% block grid_no_data %}
	{{ 'Nebyly nalezeny žádné sazby DPH. Nejprve musíte nějakou vytvořit.'|trans }}
{% endblock %}

{% block grid_pager_totalcount %}
	{% set entityName = 'sazby DPH'|trans %}
	{{ parent() }}
{% endblock %}

{% block grid_inline_edit_add_button %}
	{% set addEntity = 'Vytvořit sazbu DPH'|trans %}
	{{ parent() }}
{% endblock %}