<div class="wrap-box form-inline{{ isAdvancedSearchFormSubmitted ? ' js-advanced-search-enabled' : ' display-none'}}" id="js-advanced-search">
	<div id="js-advanced-search-rules-container" data-rule-form-url="{{ url('admin_product_getruleform') }}">
		{% include '@SS6Shop/Admin/Content/Product/AdvancedSearch/ruleForm.html.twig' with {rulesForm: advancedSearchForm} %}
	</div>
	<button type="button" class="btn btn--plus" id="js-advanced-search-add-rule-button">
		<i class="btn__icon">+</i>
		{{ 'Přidat'|trans }}
	</button>
	<br />
	<a href="{{ url('admin_product_list') }}" class="btn-link-style">{{ 'Zrušit filtr'|trans }}</a>
	<input type="submit" value="{{ 'Vyhledat'|trans }}" class="btn">

</div>