<div class="footer">
	<div class="web__line web__line--grey clearfix">
		<div class="web__container">
			{{ render(controller('SS6ShopBundle:Front/Newsletter:subscription')) }}
		</div>
	</div>
	<div class="web__line web__line--split">
		<div class="web__container footer__top">
			{{ render(controller('SS6ShopBundle:Front/Advert:box',{'positionName' : constant('SS6\\ShopBundle\\Model\\Advert\\AdvertPositionList::POSITION_FOOTER')})) }}
		</div>
	</div>
	<div class="web__line">
		<footer class="web__container footer__bottom">
			<div class="footer__bottom__copyright">
				&copy; 2014 - Shopsys 6 - <a href="http://www.shopsys.cz">Shopsys Enterprise</a>
			</div>

			<div class="footer__bottom__articles">
				{{ getShopInfoPhoneNumber() }}
				{{ getShopInfoEmail() }}
				{{ render(controller('SS6ShopBundle:Front/Article:footer')) }}
			</div>
		</footer>
	</div>
</div>
