<header class="header">
	<div class="header__logo">
		<a class="logo" href="{{ url('front_homepage') }}" title="{{ 'Internetový obchod'|trans }}"></a>
	</div>

	<div class="header__middle">
		<div class="contact-us">
			<span class="contact-us__phone">
				{{ '777 123 456'|trans }}
			</span>
			<span class="contact-us__days">
				{{ '(po-pá, 10:00 - 16:00)'|trans }}
			</span>
		</div>
		{{ render(controller('SS6ShopBundle:Front/Search:box')) }}
	</div>

	<div class="header__cart">
		{{ render(controller('SS6ShopBundle:Front/Cart:box')) }}
	</div>

	<div class="header__top">
		<div class="header__top__left">
			<ul class="articles-menu">
				{{ render(controller('SS6ShopBundle:Front/Article:menu')) }}
			</ul>
		</div>

		<div class="header__top__right">
			<ul class="top-menu">
				{% if is_granted('ROLE_CUSTOMER') %}
					<li class="top-menu__item top-menu__item--main in-dropdown">
						<a href="#">{{ app.user.firstName }} {{ app.user.lastName }}</a>
						<ul class="in-dropdown__menu">
							<li class="in-dropdown__menu__item">
								<a href="{{ url('front_customer_edit') }}">{{ 'Osobní údaje'|trans }}</a>
								<a href="{{ url('front_customer_orders') }}">{{ 'Mé objednávky'|trans }}</a>
							</li>
						</ul>
					</li>
					<li class="top-menu__item top-menu__item--main">
						<a href="{{ url('front_logout', { _csrf_token: csrf_token('frontend_logout')}) }}"><strong>{{ 'Odhlásit se'|trans }}</strong></a>
					</li>
				{% else %}
					<li class="top-menu__item top-menu__item--main">
						<a href="{{ url('front_registration_register') }}">{{ 'Registrace'|trans }}</a>
					</li>
					<li class="top-menu__item top-menu__item--main">
						<a
							href="{{ url('front_login') }}"
							onclick="SS6.window({ content: '{{ render(controller('SS6ShopBundle:Front/Login:windowForm'))|escape('js') }}' }); return false;"
						><strong>{{ 'Přihlásit se'|trans }}</strong></a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</header>

{{ render(controller('SS6ShopBundle:Front/Advert:box',{'positionName' : constant('SS6\\ShopBundle\\Model\\Advert\\AdvertPositionList::POSITION_HEADER')})) }}