{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block content %}
	<div class="web__main web__main--with-panel">
		<div class="web__main__content js-main-content">
			{{ render(controller('SS6ShopBundle:Front/Breadcrumb:index', { routeName: getRoute(), routeParameters: getRouteParams() } )) }}
			{{ render(controller('SS6ShopBundle:Front/FlashMessage:index')) }}
			{% block main_content %}{% endblock %}
		</div>

		<div class="web__main__panel">
			{{ render(controller('SS6ShopBundle:Front/Category:panel', { request: app.request } )) }}

			{% block panel_content %}{% endblock %}

			<div id="js-contact-form-container">
				{{ render(controller('SS6ShopBundle:Front/ContactForm:index')) }}
			</div>

			{{ render(controller('SS6ShopBundle:Front/Advert:box',{'positionName' : constant('SS6\\ShopBundle\\Model\\Advert\\AdvertPositionList::POSITION_LEFT_SIDEBAR')})) }}
		</div>
	</div>
{% endblock %}
