{% extends '@SS6Shop/Front/Layout/base.html.twig' %}
{% use '@SS6Shop/Front/Layout/header.html.twig' %}

{% block html_body %}
	{% set adminLoggedAsCustomer = is_granted(constant('SS6\\ShopBundle\\Model\\Security\\Roles::ROLE_ADMIN_AS_CUSTOMER')) %}
	{% if adminLoggedAsCustomer or isMailerSettingUnusual() %}
		<div class="window-bar">
			{% if adminLoggedAsCustomer %}
				<div class="window-bar__item">
					{{ 'Pozor! Jste jako administrátor přihlášen za zákazníka.'|trans }}
					<a href="{{ url('front_logout', { _csrf_token: csrf_token('frontend_logout')}) }}">{{ 'Odhlásit se'|trans }}</a>
				</div>
			{% endif %}
			{% if isMailerSettingUnusual() %}
				<div class="window-bar__item">
					{{ getMailerSettingInfo() }}
				</div>
			{% endif %}
		</div>
	{% endif %}
	<div class="web">
		<div class="web__line web__line--light">
			<div class="web__header">
				<div class="web__container">
					{{ block('header') }}
				</div>
			</div>
			<div class="web__container">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
	<div class="web__footer">
		{% include '@SS6Shop/Front/Layout/footer.html.twig' %}
	</div>
{% endblock %}