{% extends '@SS6Shop/Front/Layout/base.html.twig' %}

{% block html_body %}
	<div class="web-wrap">

			<div class="header">
				<div class="logo">
					<a href="{{ url('front_homepage') }}">Internetový obchod</a>
				</div>

				{{ render(controller('SS6ShopBundle:Front/Cart:box')) }}

				<ul class="top-menu">
					{% if is_granted('ROLE_CUSTOMER') %}
						<li class="top-menu__item top-menu__item--main in-dropdown">
							<a href="#">{{ app.user.fullname }}</a>
							<ul class="in-dropdown__menu">
								<li class="in-dropdown__menu__item">
									<a href="{{ url('front_customer_edit') }}">Osobní údaje</a>
								</li>
							</ul>
						</li>
						<li class="top-menu__item top-menu__item--main">
							<a href="{{ url('front_logout') }}"><strong>Odhlásit se</strong></a>
						</li>
					{% else %}
						<li class="top-menu__item top-menu__item--main">
							<a href="{{ url('front_registration_register') }}">Registrace</a>
						</li>
						<li class="top-menu__item top-menu__item--main">
							<a href="{{ url('front_login') }}" onclick="SS6.window.open('loginForm'); return false;"><strong>Přihlásit se</strong></a>
						</li>
					{% endif %}

				</ul>

				<div class="header-panel">
					<ul class="articles-menu articles-menu--reverse left">
						<li class="articles-menu__item">
							<a href="{{ url('front_product_list') }}">Katalog zboží</a></li>
						</li>
					</ul>
					<ul class="articles-menu">
						{{ render(controller('SS6ShopBundle:Front/Article:menu')) }}
					</ul>
				</div>

				{% if not is_granted('ROLE_CUSTOMER') %}
					{{ render(controller('SS6ShopBundle:Front/Login:windowInit', {windowName: 'loginForm'})) }}
				{% endif %}
			</div>

			<div class="content">
				<div class="main-content">
					{{ render(controller('SS6ShopBundle:Front/FlashMessage:index')) }}
					{% block content %}{% endblock %}
				</div>
			</div>

			<div class="footer">
				&copy; 2014 - Shopsys 6 - <a href="http://www.shopsys.cz">Shopsys Enterprise</a>
			</div>
		</div>

{% endblock %}