{% extends '@ShopsysShop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@ShopsysShop/Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% set domain = getDomain() %}
{% set descriptionHeadline = 'Product information'|trans %}
{% set parametersHeadline = 'Technical parameters'|trans %}
{% set accessoriesHeadline = 'Accessories'|trans %}
{% block meta_description %}
    {{- product.getSeoMetaDescription(domain.id)|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block title %}
    {{ product.getSeoTitle(domain.id)|default(product.name) }}
{% endblock %}

{% block main_content %}
    <div itemscope itemtype="http://schema.org/Product">
        <div class="box-detail">
            <div class="box-detail__image">
                {% set galleryImages = getImages(product) %}
                {% set showGallery = galleryImages|length > 1 %}
                <div class="box-detail__image__main">
                    {% if imageExists(product) %}
                        <a href="{{ imageUrl(product, 'original') }}" class="{{ showGallery ? 'js-gallery-main-image' : 'js-popup-image' }}">
                            {{ image(product, { itemprop: 'image' }) }}
                        </a>
                    {% else %}
                        {{ noimage({ alt: product.name }) }}
                    {% endif %}
                </div>
                {{ productFlags.list(product) }}

                {% if showGallery %}
                    <div class="box-gallery js-gallery">
                        <span class="box-gallery__arrow box-gallery__arrow--prev js-gallery-prev">
                            <i class="svg svg-arrow"></i>
                        </span>
                        <div class="box-gallery__in js-gallery-slides">
                            {% for galleryImage in galleryImages %}
                                <div class="box-gallery__item">
                                    <a href="{{ imageUrl(galleryImage, 'original') }}" class="box-gallery__item__link js-gallery-slide-link">
                                        {{ image(galleryImage, {size: 'galleryThumbnail'}) }}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <span class="box-gallery__arrow box-gallery__arrow--next js-gallery-next">
                            <i class="svg svg-arrow"></i>
                        </span>
                    </div>
                {% endif %}
            </div>
            <div class="box-detail__info">
                <h1 itemprop="name">
                    {{ product.getSeoH1(domain.id)|default(product.name) }}
                </h1>

                {% if product.calculatedAvailability %}
                    <div class="box-detail__info__availability">
                        {% if product.calculatedSellingDenied %}
                            {{ 'Product no longer on sale'|trans }}
                        {% else %}
                            {{ product.calculatedAvailability.name }}
                        {% endif %}
                    </div>
                {% endif %}

                {% if not product.isMainVariant %}
                    <div class="js-product-detail-main-add-to-cart-wrapper box-detail-add">
                        {% if not product.calculatedSellingDenied %}
                            <div itemprop="offers"
                                itemscope
                                itemtype="http://schema.org/Offer"
                                class="box-detail-add__prices">
                                <div class="box-detail-add__prices__item box-detail-add__prices__item--main">
                                    {{ getProductSellingPrice(product).priceWithVat|price }}
                                </div>
                                <div class="box-detail-add__prices__item">
                                    {{ getProductSellingPrice(product).priceWithoutVat|price }} {{ 'excluding VAT'|trans }}
                                </div>
                                <meta itemprop="priceCurrency"
                                    content="{{ currencyCode(domain.id) }}"
                                >
                                <meta itemprop="price"
                                    content="{{ getProductSellingPrice(product).priceWithVat }}"
                                >
                                <link itemprop="availability"
                                    href="{{ product.calculatedSellingDenied ? 'http://schema.org/OutOfStock' : 'http://schema.org/InStock' }}"
                                >
                            </div>
                            {{ render(controller('ShopsysShopBundle:Front/Cart:addProductForm', {product: product, type: 'large'})) }}
                        {% else %}
                            <div>
                                {{ 'This product is no longer available for purchase. Have a look at similar products <a href="%url%">here</a>.'|transHtml({"%url%": url('front_product_list', { id: productMainCategory })}) }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                {% spaceless %}
                    <dl class="box-detail__info__params">
                        {% if product.brand %}
                            <dt>
                                {{ 'Brand'|trans }}:
                            </dt>
                            <dd>
                                <a href="{{ url('front_brand_detail', { id: product.brand.id }) }}">
                                    <span itemprop="brand">{{ product.brand.name }}</span>
                                </a>
                            </dd>
                        {% endif %}

                        {% if not product.isMainVariant %}
                            {% if product.catnum %}
                                <dt>
                                    {{ 'Catalogue number'|trans }}:
                                </dt>
                                <dd>
                                    {{ product.catnum }}
                                </dd>
                            {% endif %}

                            {% if product.partno %}
                                <dt>
                                    {{ 'Serial number'|trans }}:
                                </dt>
                                <dd>
                                    {{ product.partno }}
                                </dd>
                            {% endif %}

                            {% if product.ean %}
                                <dt>
                                    {{ 'EAN'|trans }}:
                                </dt>
                                <dd>
                                    {{ product.ean }}
                                </dd>
                            {% endif %}
                        {% endif %}
                    </dl>
                {% endspaceless %}
            </div>
        </div>

        {% if product.isMainVariant %}
            <table {% if getProductSellingPrice(product) is not null %}itemprop="offers"
                itemscope
                itemtype="http://schema.org/AggregateOffer" {% endif %}
                class="table-variants"
            >
                <thead>
                    <tr class="table-variants__row">
                        <th class="table-variants__cell table-variants__cell--image"></th>
                        <th class="table-variants__cell table-variants__cell--name">{{ 'Name'|trans }}</th>
                        <th class="table-variants__cell table-variants__cell--price">
                            {{ 'Price including VAT'|trans }}
                            {% if getProductSellingPrice(product) is not null %}
                                <meta itemprop="priceCurrency"
                                    content="{{ currencyCode(domain.id) }}"
                                >
                                <meta itemprop="lowPrice"
                                    content="{{ getProductSellingPrice(product).priceWithVat }}"
                                >
                                <link itemprop="availability"
                                    href="{{ product.calculatedSellingDenied ? 'http://schema.org/OutOfStock' : 'http://schema.org/InStock' }}"
                                >
                            {% endif %}
                        </th>
                        <th class="table-variants__cell table-variants__cell--action"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for variant in variants %}
                        <tr class="table-variants__row">
                            <td class="table-variants__cell table-variants__cell--image">
                                <div class="table-variants__cell__image">
                                    {% if imageExists(variant) %}
                                        <a href="{{ imageUrl(variant, 'original') }}" class="js-popup-image">
                                            {{ image(variant, { size: 'thumbnail' }) }}
                                        </a>
                                    {% else %}
                                        {{ noimage() }}
                                    {% endif %}
                                </div>
                            </td>
                            <td class="table-variants__cell table-variants__cell--name">
                                {% if variant.variantAlias is not null %}
                                    {{ variant.variantAlias }}
                                {% else %}
                                    {{ variant.name }}
                                {% endif %}
                            </td>
                            <td class="table-variants__cell table-variants__cell--price">
                                {{ getProductSellingPrice(variant).priceWithVat|price }}
                            </td>
                            <td class="table-variants__cell table-variants__cell--action">
                                {{ render(controller('ShopsysShopBundle:Front/Cart:addProductForm', {product: variant})) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% set productParameterValues = getProductParameterValues(product) %}
        {% if product.getDescription(domain.id)
            or productParameterValues > 0
            or accessories|length > 0
        %}
            <div class="in-tab js-responsive-tabs">
                <div class="in-tab__head">
                    {% if product.getDescription(domain.id) %}
                        <a href="#" class="in-tab__head__item js-tabs-button active" data-tab-id="description">
                            {{ descriptionHeadline }}
                        </a>
                    {% endif %}

                    {% if accessories|length > 0 %}
                        <a href="#" class="in-tab__head__item js-tabs-button" data-tab-id="accessories">
                            {{ accessoriesHeadline }}
                        </a>
                    {% endif %}
                </div>
                <div class="in-tab__content">
                    {% if product.getDescription(domain.id) or productParameterValues > 0 %}
                        <a href="#" class="in-tab__content__title js-tabs-button active" data-tab-id="description">
                            {{ descriptionHeadline }}
                            <i class="svg svg-arrow"></i>
                        </a>
                        <div class="in-tab__content__item js-tabs-content active" data-tab-id="description">
                            <div class="in-user-text" itemprop="description">
                                {% if product.getDescription(domain.id) %}
                                    <p>
                                        {{ product.getDescription(domain.id)|raw }}
                                    </p>
                                {% endif %}
                                {% if productParameterValues > 0 %}
                                    <div class="h3">{{ parametersHeadline }}</div>
                                    <table class="table-params{% if product.getDescription(domain.id) %} margin-top-20{% endif %}">
                                        <tbody>
                                            {% for productParameterValue in productParameterValues %}
                                                <tr>
                                                    <th>
                                                        {{ productParameterValue.parameter.name }}
                                                    </th>
                                                    <td>
                                                        {{ productParameterValue.value.text }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {% if accessories|length > 0 %}
                        <a href="#" class="in-tab__content__title js-tabs-button" data-tab-id="accessories">
                            {{ accessoriesHeadline }}
                            <i class="svg svg-arrow"></i>
                        </a>
                        <div class="in-tab__content__item js-tabs-content" data-tab-id="accessories">
                            {{ productList.list(accessories) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
