{% macro filterForm(filterForm, actionUrl, resetUrl, searchText, page, productFilterCountData, priceRange) %}
    {{ form_start(filterForm, { action: actionUrl }) }}
        {% form_theme filterForm '@ShopsysShop/Front/Content/Product/filterFormTheme.html.twig' %}

        {% set isSearch = page == 'search' %}

        {% if isSearch %}
            <input
                type="hidden"
                name="{{ constant('Shopsys\\ShopBundle\\Controller\\Front\\ProductController::SEARCH_TEXT_PARAMETER') }}"
                value="{{ searchText|escape('html_attr') }}"
            />
        {% endif %}

        <div class="box-filter__price">
            {{ form_row(filterForm.minimalPrice, {label: 'Price from'|trans, symbolAfterInput: currencySymbolByDomainId(getDomain().id), attr: { class: 'js-product-filter-call-change-after-reset'} }) }}
            {{ form_row(filterForm.maximalPrice, {label: 'Price to'|trans, symbolAfterInput: currencySymbolByDomainId(getDomain().id), attr: { class: 'js-product-filter-call-change-after-reset'} }) }}
            <div
                class="js-range-slider"
                data-minimum-input-id="{{ filterForm.minimalPrice.vars.id }}"
                data-minimal-value="{{ priceRange.minimalPrice }}"
                data-maximum-input-id="{{ filterForm.maximalPrice.vars.id }}"
                data-maximal-value="{{ priceRange.maximalPrice }}"
            ></div>
        </div>

        <div class="box-filter__choice">
            <label class="form-choice">
                <span class="form-choice__input">
                    {{ form_widget(filterForm.inStock) }}
                </span>
                <span class="form-choice__label">
                    {{ 'Products in stock only'|trans }}
                    {% if productFilterCountData is not null %}
                        <span
                            class="js-product-filter-count"
                            data-form-id="{{ filterForm.inStock.vars.id }}"
                        >
                            ({{ productFilterCountData.countInStock }})
                        </span>
                    {% endif %}
                </span>
            </label>
        </div>

        {% if filterForm.flags is empty %}
            {% do filterForm.flags.setRendered %}
        {% else %}
            <div class="box-filter__choice" id="{{ filterForm.flags.vars.id }}">
                <span class="box-filter__choice__title">
                    {{ 'Flags'|trans }}:
                </span>
                {% for flagForm in filterForm.flags %}
                    <label class="form-choice">
                        <span class="form-choice__input">
                            {{ form_widget(flagForm) }}
                        </span>
                        <span class="form-choice__label">
                            {{ flagForm.vars.label }}
                            {% if productFilterCountData is not null %}
                                <span
                                    class="js-product-filter-count"
                                    data-form-id="{{ flagForm.vars.id }}"
                                >
                                    {% if not flagForm.vars.checked %}
                                        ({% if filterForm.flags.vars.data is not empty %}+{% endif %}{{ productFilterCountData.countByFlagId[flagForm.vars.value]|default(0) }})
                                    {% endif %}
                                </span>
                            {% endif %}
                        </span>
                    </label>
                {% endfor %}
            </div>
        {% endif %}

        {% if filterForm.brands is empty %}
            {% do filterForm.brands.setRendered %}
        {% else %}
            <div class="box-filter__choice" id="{{ filterForm.brands.vars.id }}">
                <span class="box-filter__choice__title">
                    {{ 'Brand'|trans }}:
                </span>
                {% for brandForm in filterForm.brands %}
                    <label class="form-choice">
                        {{ form_widget(brandForm, { attr: { class: 'form-choice__input'} }) }}
                        <span class="form-choice__label">
                            {{ brandForm.vars.label }}
                            {% if productFilterCountData is not null %}
                                <span
                                    class="js-product-filter-count"
                                    data-form-id="{{ brandForm.vars.id }}"
                                >
                                    {% set brandCount = productFilterCountData.countByBrandId[brandForm.vars.value]|default(0) %}
                                    {% if not brandForm.vars.checked %}
                                        ({% if filterForm.brands.vars.data is not empty and brandCount > 0 %}+{% endif %}{{ brandCount }})
                                    {% endif %}
                                </span>
                            {% endif %}
                        </span>
                    </label>
                {% endfor %}
            </div>
        {% endif %}

        {% if isSearch or filterForm.parameters is empty %}
            {% do filterForm.parameters.setRendered %}
        {% else %}
            <div class="box-filter__parameters">
                <span class="box-filter__parameters__title">
                    {{ 'Parameters'|trans }}:
                </span>
                <div id="{{ filterForm.parameters.vars.id }}">
                    {% for parameterId, parameterForm in filterForm.parameters %}
                        <div class="js-product-filter-parameter">
                            <div class="box-filter__choice" id="{{ parameterForm.vars.id }}">
                                <span class="box-filter__choice__title js-product-filter-parameter-label">
                                    {{ parameterForm.vars.label }}:
                                </span>
                                {% for parameterValueForm in parameterForm %}
                                    <label class="form-choice js-product-filter-parameter-value">
                                        <span class="form-choice__input">
                                            {{ form_widget(parameterValueForm) }}
                                        </span>
                                        <span class="form-choice__label">
                                            {{ parameterValueForm.vars.label }}
                                            {% if productFilterCountData is not null %}
                                                <span
                                                    class="js-product-filter-count"
                                                    data-form-id="{{ parameterValueForm.vars.id }}"
                                                >
                                                    {% if not parameterValueForm.vars.checked %}
                                                        (
                                                            {%- if parameterForm.vars.data is not empty %}+{% endif -%}
                                                            {{- productFilterCountData.countByParameterIdAndValueId[parameterId][parameterValueForm.vars.value]|default(0) -}}
                                                        )
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        </span>
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="box-filter__action">

            <a class="btn js-product-filter-reset-button" href="{{ resetUrl }}">{{ 'Clear filter'|trans }}</a>
            {{ form_widget(filterForm.search, { label: 'View results'|trans, attr: {class: 'js-product-filter-show-result-button btn--primary' } }) }}
        </div>

    {{ form_end(filterForm) }}
{% endmacro %}
