{% extends '@SS6Shop/Front/Form/theme.html.twig' %}

{% block form_row %}
	<dl class="form-line">
		<dt>
			{{ form_label(form, label) }}
		</dt>
		<dd>
			{{ form_widget(form) }}
			{% set errors_attr = errors_attr|default({})|merge({'class': (errors_attr.class|default('form-error--line'))}) %}
			{{ form_errors(form, { errors_attr: errors_attr } ) }}
			{% if symbolAfterInput is defined %}
				{{symbolAfterInput}}
			{% endif %}
		</dd>
	</dl>
{% endblock form_row %}

{% block choice_widget_expanded %}
	{% spaceless %}
			<div {{ block('widget_container_attributes') }}>
			{% for child in form %}
				<div class="form-choice">
					<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
						{{ form_widget(child, { attr: {class: 'form-choice__input'} }) }}
						<span class="form-choice__label">
							{{ child.vars.label }}
						</span>
					</label>
				</div>
			{% else %}
				{{ empty_message|default('Nothing to choose from.'|trans) }}
			{% endfor %}
		</div>
	{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block form_errors %}
	{% set errors_attr = errors_attr|default({})|merge({'class': (errors_attr.class|default(''))}) %}
	{% spaceless %}
		<span class="js-validation-errors-list js-validation-error-list-{{ form.vars.id }} {{ form.parent ? 'form-error' : 'in-message' }} {{ errors_attr.class }} {{ errors|length > 0 ? '' : 'display-none' }}">
			{% if form.parent %}
				<span class="form-error__icon">
					<i class="svg svg-warning"></i>
				</span>
			{% endif %}
			<ul class="{{ form.parent ? 'form-error__list' : 'in-message__list' }}">
				{% if errors|length > 0 %}
					{% for error in errors %}
						<li>{{ error.message }}</li>
					{% endfor %}
				{% endif %}
			</ul>
		</span>
	{% endspaceless %}
{% endblock form_errors %}
