{% macro list(productViews, listCssClass, productHeadingTagName) %}
    {% import '@ShopsysShop/Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}

    <ul class="list-products js-list js-product-list {{ listCssClass|default('') }}">
        {% for productView in productViews %}
            <li class="list-products__item js-list-products-item">
                <div class="list-products__item__in">
                    <a href="{{ productView.action.detailUrl }}" class="list-products__item__block">
                        <{{ productHeadingTagName|default('h2') }} class="list-products__item__title js-list-products-item-title">
                            {{ productView.name }}
                        </{{ productHeadingTagName|default('h2') }}>

                        <div class="list-products__item__image dont-print">
                            {{ image(productView.image, { size: 'list', alt: productView.name }) }}
                            {{ renderFlagsByIds(productView.flagIds, 'in-flag--in-list') }}
                        </div>

                        <div class="list-products__item__info dont-print">
                            <p class="list-products__item__info__description">
                                {{ productView.shortDescription }}
                            </p>
                            {% if productView.sellingPrice is not null %}
                                <div class="list-products__item__info__price">
                                    <div class="list-products__item__info__price__item list-products__item__info__price__item--main">
                                        {% if productView.sellingPrice.priceFrom %}
                                            {{ 'from %price%'|trans({'%price%': productView.sellingPrice.priceWithVat|price}) }}
                                        {% else %}
                                            {{ productView.sellingPrice.priceWithVat|price }}
                                        {% endif %}
                                    </div>
                                    <div class="list-products__item__info__price__item">
                                        {% if productView.sellingPrice.priceFrom %}
                                            {{ 'from %price%'|trans({'%price%': productView.sellingPrice.priceWithoutVat|price}) }}
                                        {% else %}
                                            {{ productView.sellingPrice.priceWithoutVat|price }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}

                            <div class="list-products__item__info__availability">
                                {{ productView.availability }}
                            </div>
                        </div>
                    </a>

                    <div class="list-products__item__action">
                        {{ render(controller('ShopsysShopBundle:Front/Cart:productAction', { productActionView: productView.action } )) }}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
