{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}
	- Doprava
{% endblock %}

{% block h1 %}
	Doprava
{% endblock %}

{% block main_content %}
	<div class="row">

		<div class="col-xs-12 col-lg-10">

			{{ form_start(form) }}
				{{ form_errors(form) }}

				<div class="form-box">
					{% block transport_id %}
						{{ form_widget(form.id, { type: 'hidden' }) }}
					{% endblock %}

					{{ form_row(form.name, { label: 'Název'}) }}
					{{ form_row(form.hidden, { label: 'Skryté', attr: {class: 'form-line--between'} }) }}
					{{ form_row(form.price, { label: inputPriceLabel()}) }}
					{% block transport_base_prices %}{% endblock %}
					{{ form_row(form.vat, { label: 'DPH'}) }}
					{{ form_row(form.description, { label: 'Popis'}) }}
				</div>

				<div class="form-box">
					{% block image %}{% endblock %}
					{{ form_row(form.image, { label: 'Nahrát obrázek'}) }}
				</div>

				{% block transport_save %}{% endblock %}
				<a href="{{ url('admin_transportandpayment_list') }}" class="btn btn-default">Zpět na přehled</a>
			{{ form_end(form) }}
		</div>

	</div>
{% endblock %}