{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}
	- {{ 'Doprava'|trans }}
{% endblock %}

{% block h1 %}
	{{ 'Doprava'|trans }}
{% endblock %}

{% block main_content %}
	<div class="row">

		<div class="col-xs-12 col-lg-10">

			{{ form_start(form) }}
				{{ form_errors(form) }}

				<div class="wrap-group">
					{{ form_id(transportDetail.transport|default(null)) }}

					{{ form_row(form.transportData.name, { label: 'Název' }) }}
					{{ form_row(form.transportData.domains, { label: 'Doména' }) }}
					{{ form_row(form.transportData.hidden, { label: 'Skryté', attr: {class: 'form-line--between'} }) }}
					{{ form_row(form.transportData.vat, { label: 'DPH' }) }}
					{% block transport_base_prices %}{% endblock %}
					{{ form_row(form.transportData.description, { label: 'Popis' }) }}
					{{ form_row(form.transportData.instructions, { label: 'Pokyny' }) }}
				</div>

				<div class="wrap-group">
					{% block image %}{% endblock %}
					{{ form_row(form.transportData.image, { label: 'Nahrát obrázek' }) }}
				</div>

				<div class="window-fixed-bar">
 					<div class="window-fixed-bar__buttons">
						{{ form_save(transportDetail|default(null), form) }}
						<a href="{{ url('admin_transportandpayment_list') }}" class="btn btn-default">{{ 'Zpět na přehled'|trans }}</a>
					</div>
				</div>
			{{ form_end(form) }}
		</div>

	</div>
{% endblock %}