{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}
	- Doprava
{% endblock %}

{% block h1 %}
	Doprava
{% endblock %}

{% block panel %}
	<ul class="nav nav-panel">
		<li>
			<span>Ediace dopravy</span>
		</li>
		<li>
			<a href="{{ url('admin_transportandpayment_list') }}">Zpět na seznam doprav a plateb</a>
		</li>
	</ul>
{% endblock %}

{% block mainContent %}
	<div class="row">

		<div class="col-xs-12 col-lg-8">
			
			{{ form_start(form) }}
				{{ form_errors(form) }}

				{{ form_row(form.id) }}
				{{ form_row(form.name, { label: 'Název'}) }}
				{{ form_row(form.hidden, { label: 'Skryté'}) }}
				{{ form_row(form.price, { label: 'Cena'}) }}
				{{ form_row(form.description, { label: 'Popis'}) }}
				
				{{ form_row(form.save, { label: 'Uložit'}) }}
			{{ form_end(form) }}
		</div>
		
	</div>
{% endblock %}