{% extends '@SS6Shop/Admin/Content/Transport/detail.html.twig' %}

{% block title %}- Editace dopravy - {{ transportDetail.transport.name }}{% endblock %}
{% block h1 %}Editace dopravy - {{ transportDetail.transport.name }}{% endblock %}

{% block transport_base_prices %}
	<div class="form-line form-line--size-2">
		<label class="form-line__label">Základní cena bez DPH:</label>
		<input type="text" value="{{ transportDetail.price.basePriceWithoutVat }}" class="form-line__field form-control" readonly="readonly">
	</div>
	<div class="form-line form-line--size-2">
		<label class="form-line__label">Základní cena s DPH:</label>
		<input type="text" value="{{ transportDetail.price.basePriceWithVat }}" class="form-line__field form-control" readonly="readonly">
	</div>
{% endblock %}

{% block image %}
	<div class="form-line">
		<label class="form-line__label">
			Obrázek:
		</label>
		<div class="form-line__field mb-1">
			{{ image(transportDetail.transport, { height: 100 }) }}
		</div>
	</div>
{% endblock %}