{% extends '@SS6Shop/Admin/Content/Transport/detail.html.twig' %}

{% block title %}- {{ 'Editace dopravy'|trans }} - {{ transportDetail.transport.name }}{% endblock %}
{% block h1 %}{{ 'Editace dopravy'|trans }} - {{ transportDetail.transport.name }}{% endblock %}

{% block transport_base_prices %}
	<div id="transport_prices" class="table-form__wrap">
		<table class="table-form">
			<thead>
				<tr class="table-form__row">
					<th class="table-form__cell table-form__cell--label">{{ inputPriceLabel() }}</th>
					<th class="table-form__cell--field"></th>
					<th class="table-form__cell">{{ 'Cena bez DPH'|trans }}</th>
					<th class="table-form__cell">{{ 'Cena s DPH'|trans }}</th>
				</tr>
			</thead>
			<tbody>
				{% for currencyId, currency in currencies %}
					<tr class="table-form__row">
						<td class="table-form__cell table-form__cell--label">
							{{ form_label(form.prices[currencyId], 'Základní cena v %currencyCode%'|trans({'%currencyCode%': currency.code}), { isSimple: true } ) }}
						</td>
						<td class="table-form__cell table-form__cell--filed">
							{{ form_widget(form.prices[currencyId], { symbolAfterInput: currencySymbolByCurrencyId(currencyId) }) }}
							{{ form_errors(form.prices[currencyId]) }}
						</td>
						<td class="table-form__cell">{{ transportDetail.basePrices[currencyId].priceWithoutVat|priceWithCurrencyByCurrencyId(currencyId) }}</td>
						<td class="table-form__cell">{{ transportDetail.basePrices[currencyId].priceWithVat|priceWithCurrencyByCurrencyId(currencyId) }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block image %}
	<div class="form-line">
		<label class="form-line__label">
			{{ 'Obrázek'|trans }}:
		</label>
		<div class="form-line__line">
			{{ image(transportDetail.transport, { size: 'original', height: 100 }) }}
		</div>
	</div>
{% endblock %}