{% extends '@SS6Shop/Admin/Content/Transport/detail.html.twig' %}

{% block title %}- Editace dopravy - {{ transport.name }}{% endblock %}
{% block h1 %}Editace dopravy - {{ transport.name }}{% endblock %}

{% block transport_id %}
	{{ form_row(form.id, { label: 'ID'}) }}
{% endblock %}

{% block image %}
	<div class="form-group">
		<label>
			Obrázek:
		</label>
		<div>
			{{ image(transport, null, {height: 100}) }}
		</div>
	</div>
{% endblock %}

{% block transport_save %}
	{{ form_widget(form.save, { label: 'Uložit změny'}) }}
{% endblock %}