{% extends '@SS6Shop/Admin/Content/Transport/detail.html.twig' %}

{% block title %}- Editace dopravy - {{ transport.name }}{% endblock %}
{% block h1 %}Editace dopravy - {{ transport.name }}{% endblock %}

{% block transport_id %}
	{{ form_row(form.id, { label: 'ID'}) }}
{% endblock %}

{% block image %}
	<div class="form-line">
		<label class="form-line__label">
			Obrázek:
		</label>
		<div class="form-line__field mb-1">
			{{ image(transport, { height: 100 }) }}
		</div>
	</div>
{% endblock %}

{% block transport_save %}
	{{ form_widget(form.save, { label: 'Uložit změny'}) }}
{% endblock %}