{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Komunikace se zákazníkem'|trans }}{% endblock %}
{% block h1 %}{{ 'Komunikace se zákazníkem'|trans }}{% endblock %}

{% block main_content %}

	<ul>
		<li><a href="{{ url('admin_mail_setting') }}">{{ 'Nastavení e-mailů'|trans }}</a></li>
		<li><a href="{{ url('admin_mail_template') }}">{{ 'Šablony e-mailů'|trans }}</a></li>
		<li><a href="{{ url('admin_customercommunication_ordersubmitted') }}">{{ 'Stránka s potvrzením objednávky'|trans }}</a></li>
	</ul>

{% endblock %}
