{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Potvrzení objednávky'|trans }}{% endblock %}
{% block h1 %}{{ 'Potvrzení objednávky'|trans }}{% endblock %}

{% block main_content %}

	<div class="row">

		<div class="col-xs-12 col-lg-10">

			{{ form_start(form) }}
				{{ form_row(form.content, { label: 'Text'}) }}
				{{ form_widget(form.save, { label: 'Uložit'|trans}) }}
			{{ form_end(form) }}

		</div>

	</div>

{% endblock %}
