{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Stránka s potvrzením objednávky'|trans }}{% endblock %}
{% block h1 %}{{ 'Stránka s potvrzením objednávky'|trans }}{% endblock %}

{% block main_content %}

	{{ render(controller('SS6ShopBundle:Admin/Domain:domainTabs')) }}

	{{ form_start(form) }}
		<div class="form-group">
			<div class="form-group__title">
				{{ 'Nastavení'|trans }}
			</div>
			{{ form_row(form.content, { label: 'Text'|trans}) }}
		</div>
		{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
			{% block fixed_bar_content %}
				{{ form_widget(form.save, { label: 'Uložit'|trans}) }}
			{% endblock %}
		{% endembed %}
	{{ form_end(form) }}

	<div class="grid_body">
		<table class="table-main">
			<thead>
				<tr class="grid-row-titles">
					<th>
						{{ 'Použitelné proměnné'|trans }}
					</th>
					<th>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="grid-row-cells">
					<td>
						{{ VARIABLE_TRANSPORT_INSTRUCTIONS }}
					</td>
					<td>{{ 'Pokyny k dopravě'|trans }}</td>
				</tr>
				<tr class="grid-row-cells">
					<td>
						{{ VARIABLE_PAYMENT_INSTRUCTIONS }}
					</td>
					<td>{{ 'Pokyny k platbě'|trans }}</td>
				</tr>
				<tr class="grid-row-cells">
					<td>
						{{ VARIABLE_ORDER_DETAIL_URL }}
					</td>
					<td>
						{{ 'URL adresa objednávky'|trans }}
						<i class="js-tooltip svg svg-info cursor-help" data-toggle="tooltip" data-placement="right" title="{{
							'Lze použít při vytváření odkazu takto: myší označíte text, ze kterého chcete vytvořit
							odkaz, a klepnete na tlačítko Odkaz (vpravo nahoře, ikonka propojených sponek). Ve vyskakovacím menu
							vyberete protokol <jiný> a do políčka URL vložíte text "%orderDetailUrlConstant%" (včetně složených
							závorek).'|trans({'%orderDetailUrlConstant%' : VARIABLE_ORDER_DETAIL_URL}) }}"
						></i>
					</td>
				</tr>
				<tr class="grid-row-cells">
					<td>
						{{ VARIABLE_NUMBER }}
					</td>
					<td>{{ 'Číslo objednávky'|trans }}</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
