{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Stránka s potvrzením objednávky'|trans }}{% endblock %}
{% block h1 %}{{ 'Stránka s potvrzením objednávky'|trans }}{% endblock %}

{% block main_content %}

	<div class="row">

		<div class="col-xs-12 col-lg-10">

			{{ render(controller('SS6ShopBundle:Admin/Domain:domainTabs')) }}

			{{ form_start(form) }}
				{{ form_row(form.content, { label: 'Text'}) }}
				{{ form_widget(form.save, { label: 'Uložit'|trans}) }}
			{{ form_end(form) }}
			
			<div class="table-responsive grid_body">
				<table class="table table-striped table-hover">
					<thead>
						<tr class="grid-row-titles">
							<th>
								{{ 'Použitelné proměnné'|trans }}
							</th>
						</tr>
					</thead>
					<tbody>
							<tr class="grid-row-cells">
								<td>
									{{ constant('SS6\\ShopBundle\\Model\\Order\\Mail\\OrderMailService::VARIABLE_TRANSPORT_INSTRUCTIONS') }}
								</td>
								<td>{{ 'Pokyny k dopravě'|trans }}</td>
							</tr>
							<tr class="grid-row-cells">
								<td>
									{{ constant('SS6\\ShopBundle\\Model\\Order\\Mail\\OrderMailService::VARIABLE_PAYMENT_INSTRUCTIONS') }}
								</td>
								<td>{{ 'Pokyny k platbě'|trans }}</td>
							</tr>
					</tbody>
				</table>
			</div>

		</div>

	</div>

{% endblock %}
