{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Editace domény'|trans }} - {{ domain.name }}{% endblock %}
{% block h1 %}{{ 'Editace domény'|trans }} - {{ domain.name }}{% endblock %}

{% block main_content %}
	{% if existsDomainIcon(domain.id) %}
		<div class="form-line">
			<label>
				{{ 'Ikona'|trans }}:
			</label>
			{{ domainIcon(domain.id) }}
		</div>
	{% endif %}

	<div class="row">

		<div class="col-xs-12 col-lg-10">
			{{ form_start(form) }}
				{{ form_errors(form) }}

				<div class="wrap-group">
					{{ form_row(form.icon, { label: 'Nahrát ikonu'|trans}) }}
				</div>

				<div class="window-fixed-bar">
					<div class="window-fixed-bar__buttons">
						<a href="{{ url('admin_domain_list') }}" class="btn btn-default">{{ 'Zpět na přehled'|trans }}</a>
						{{ form_save(domain|default(null), form) }}
					</div>
				</div>
			{{ form_end(form) }}
		</div>

	</div>
{% endblock %}