<div class="text-left">
	<div id="js-domain-icon-errors" class="in-message in-message--danger js-domain-icon-errors display-none">
		<ul class="in-message__list"></ul>
	</div>
	<label>
		{{ 'Současná ikona'|trans }}:
	</label>
	{{ domainIcon(domain.id) }}

	{{ form_start(form) }}
		<div class="wrap-group">
			{{ form_row(form.icon, { label: 'Nahrát ikonu'|trans}) }}
		</div>

		{{ form_save(domain|default(null), form) }}
	{{ form_end(form) }}
</div>
<div class="js-overlay-spinner display-none text-center">
	<i class="svg svg-gear position-top-150" title="{{ 'Načítám'|trans }}"></i>
</div>