<div class="h-text-left">
	<div id="js-domain-icon-errors" class="in-message in-message--danger js-domain-icon-errors h-display-none">
		<ul class="in-message__list"></ul>
	</div>

	{{ form_start(form) }}
		{{ form_errors(form) }}
		<div class="wrap-group wrap-group--margin-bottom">
			<div class="form-line">
				<label class="form-line__label">
					{{ 'Současná ikona'|trans }}:
				</label>
				{{ domainIcon(domain.id) }}
			</div>

			{{ form_row(form.icon, { label: 'Nahrát ikonu'|trans}) }}
		</div>
		<div class="h-text-right">
			{{ form_save(domain|default(null), form) }}
		</div>
	{{ form_end(form) }}
</div>
<div class="js-overlay-spinner h-display-none h-text-center">
	<i class="svg svg-gear" title="{{ 'Načítám'|trans }}"></i>
</div>