{% extends '@SS6Shop/Admin/Grid/Grid.html.twig' %}

{% block grid_no_data %}
	{{ 'No domains so far.'|trans }}
{% endblock %}

{% block grid_value_cell_id_locale %}
	{{ localeFlag(value) }}
{% endblock %}

{% block grid_value_cell_id_icon %}
	{{ domainIcon(row.id) }}
	<span class="js-domain-icon-edit-container in-icon in-icon--edit right" data-url="{{ url('admin_domain_edit', { id: row.id }) }}">
		<i class="svg svg-pencil js-edit-domain-icon" title="{{ 'Edit'|trans }}"></i>
	</span>
{% endblock %}