{% extends '@SS6Shop/Admin/Grid/Grid.html.twig' %}

{% block grid_no_data %}
	{{ 'Doposud nejsou žádné domény.'|trans }}
{% endblock %}

{% block grid_value_cell_id_name %}
	<a href="{{ url('admin_domain_edit', { id: row.id }) }}">{{ value }}</a>
{% endblock %}

{% block grid_value_cell_id_locale %}
	{{ localeFlag(value) }}
{% endblock %}

{% block grid_value_cell_id_icon %}
	{% if existsDomainIcon(row.id) %}
		{{ domainIcon(row.id) }}
	{% else %}
		<a href="{{ url('admin_domain_edit', { id: row.id }) }}">{{ 'Nahrát...'|trans }}</a>
	{% endif %}
{% endblock %}