{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Reklama'|trans }}{% endblock %}
{% block h1 %}{{ 'Reklama'|trans }}{% endblock %}

{% block main_content %}
	{{ form_start(form) }}
		{{ form_errors(form) }}

		<div class="form-group wrap-border">
			<div class="form-group__title">
				{{ 'Nastavení'|trans }}
			</div>
			{{ form_id(advert|default(null)) }}
			{{ form_row(form.domainId, { label: 'Doména'|trans }) }}
			{{ form_row(form.name, { label: 'Název'|trans, icon: { title: 'Název slouží pouze pro interní použití v rámci administrace'|trans } }) }}
			{{ form_row(form.type, { label: 'Typ'|trans}) }}
			{{ form_row(form.positionName, { label: 'Plocha'|trans}) }}
			{{ form_row(form.hidden, { label: 'Skrýt reklamu'|trans}) }}
			<div class="js-advert-type-content form-line__js" data-type="code">
				{{ form_row(form.code, { label: 'Kód'|trans}) }}
			</div>
		</div>
		<div class="form-group js-advert-type-content" data-type="image">
			<div class="form-group__title">
				{{ 'Obrázek'|trans }}
			</div>
			{{ form_row(form.link, { label: 'Odkaz'|trans}) }}
			{% block image %}{% endblock %}
			{{ form_row(form.image, { label: 'Nahrát nový obrázek'|trans, infoText: 'Můžete nahrávat formáty: PNG, JPG a GIF'|trans}) }}
		</div>

		{% embed '@SS6Shop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
			{% block fixed_bar_content %}
				<a href="{{ url('admin_advert_list') }}" class="btn-link-style">{{ 'Zpět na přehled'|trans }}</a>
				{{ form_save(advert|default(null), form) }}
			{% endblock %}
		{% endembed %}
	{{ form_end(form) }}
{% endblock %}