{% extends '@SS6Shop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@SS6Shop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block breadcrumb %}
{% endblock %}

{% block meta_description %}
	{{- metaDescription -}}
{% endblock %}

{% block title %}
	{{- title -}}
{% endblock %}

{% block logo %}
	<h1 class="logo" href="{{ url('front_homepage') }}" title="{{ 'Internetový obchod'|trans }}"></h1>
{% endblock %}

{% block main_content %}

	{% if sliderItems is not empty %}
		<div class="box-slider">
			<div id="js-slider-homepage" class="box-slider__in">
				{% for item in sliderItems %}
					<div class="box-slider__item">
						<a href = "{{ item.link }}">{{ image(item) }}</a>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}

	{% if topProductsDetails is not empty %}
		<div id="top-products">
			<h1>{{ 'Akční zboží'|trans }}</h1>
			{{ productList.list(topProductsDetails) }}
		</div>
	{% endif %}

{% endblock %}
