{% extends '@SS6Shop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@SS6Shop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block panel_content %}
	{{ render(controller('SS6ShopBundle:Front/Category:panel')) }}
{% endblock %}

{% block main_content %}

	{% if sliderItems is not empty %}
		<div id="slider-hp">
		{% for item in sliderItems %}
			<div>
				<a href = "{{ item.link }}">{{ image(item) }}</a>
			</div>
		{% endfor %}
		</div>
	{% endif %}

	{% if topProductsDetails is not empty %}
		<div id="top-products">
			<h1>{{ 'Akční zboží'|trans }}</h1>
			{{ productList.list(topProductsDetails) }}
		</div>
	{% endif %}

{% endblock %}
