{% extends '@SS6Shop/Admin/Grid/PKGrid.html.twig' %}

{% block pkgrid_value_cell_id_name %}
	<a href="{{ url('admin_orderstatus_edit', { id: row.id }) }}">{{ value }}</a>
{% endblock %}

{% block pkgrid_action_cell_type_delete %}
	{% if row.type == constant('SS6\\ShopBundle\\Model\\Order\\Status\\OrderStatus::TYPE_NEW') %}
		<i title="Tento stav není možné smazat. Jde o stav, který je automaticky přiřazen všem novým objednávkám." class="fa fa-info"></i>
	{% elseif row.type == constant('SS6\\ShopBundle\\Model\\Order\\Status\\OrderStatus::TYPE_DONE') %}
		<i title="Tento stav není možné smazat, jelikož je na něj navázána funkčnost - určuje objednávky, které byly úspěšně vyřízeny." class="fa fa-info"></i>
	{% elseif row.type == constant('SS6\\ShopBundle\\Model\\Order\\Status\\OrderStatus::TYPE_CANCELED') %}
		<i title="Tento stav není možné smazat, jelikož je na něj navázána funkčnost - určuje objednávky, které nebyly úspěšně vyřízeny." class="fa fa-info"></i>
	{% else %}
		<a
			class="table-action{% if actionColumn.class %} {{ actionColumn.class }}{% endif %}"
			href="{{ actionColumn.targetUrl(row) }}"
			{% if actionColumn.confirmMessage is not empty %}onclick="return confirm('{{ actionColumn.confirmMessage }}');"{% endif %}
		><i class="fa fa-times"></i></a>
	{% endif %}
{% endblock %}

{% block pkgrid_no_data %}
	Nebyl nalezen žádný stav objednávek.
{% endblock %}

{% block pkgrid_pager_totalcount %}
	{% set entityName = 'stavů objednávek' %}
	{{ parent() }}
{% endblock %}