{% extends '@SS6Shop/Admin/Grid/Grid.html.twig' %}

{% block grid_value_cell_id_name %}
	<a href="{{ url('admin_orderstatus_edit', { id: row.os.id }) }}">{{ value }}</a>
{% endblock %}

{% block grid_action_cell_type_delete %}
	{% if row.os.type == constant('SS6\\ShopBundle\\Model\\Order\\Status\\OrderStatus::TYPE_NEW') %}
		<span title="Tento stav není možné smazat. Jde o stav, který je automaticky přiřazen všem novým objednávkám."
			class="js-order-status-list-no-delete table-action cursor-help in-action-icons__item" data-toggle="tooltip" data-placement="bottom"
		>
			<i class="fa fa-info"></i>
		</span>
	{% elseif row.os.type == constant('SS6\\ShopBundle\\Model\\Order\\Status\\OrderStatus::TYPE_DONE') %}
		<span title="Tento stav není možné smazat, jelikož je na něj navázána funkčnost - určuje objednávky, které byly úspěšně vyřízeny."
			class="js-order-status-list-no-delete table-action cursor-help in-action-icons__item" data-toggle="tooltip" data-placement="bottom"
		>
			<i class="fa fa-info"></i>
		</span>
	{% elseif row.os.type == constant('SS6\\ShopBundle\\Model\\Order\\Status\\OrderStatus::TYPE_CANCELED') %}
		<span title="Tento stav není možné smazat, jelikož je na něj navázána funkčnost - určuje objednávky, které nebyly úspěšně vyřízeny."
			class="js-order-status-list-no-delete table-action cursor-help in-action-icons__item" data-toggle="tooltip" data-placement="bottom"
		>
			<i class="fa fa-info"></i>
		</span>
	{% else %}
		<a
			class="js-order-status-delete-button in-action-icons__item table-action{% if actionColumn.classAttribute %} {{ actionColumn.classAttribute }}{% endif %}"
			href="{{ actionColumn.targetUrl(row) }}"
			data-ajax-action="{{ url('admin_orderstatus_deleteajaxdialog', { id: row.os.id }) }}"
		><i class="fa fa-trash-o"></i></a>
	{% endif %}
{% endblock %}

{% block grid_no_data %}
	Nebyl nalezen žádný stav objednávek.
{% endblock %}

{% block grid_pager_totalcount %}
	{% set entityName = 'stavů objednávek' %}
	{{ parent() }}
{% endblock %}