{% extends '@SS6Shop/Admin/Grid/Grid.html.twig' %}

{% block grid_action_cell_type_delete %}
	{% if row.os.type == TYPE_NEW %}
		<span title="{{ 'Tento stav není možné smazat. Jde o stav, který je automaticky přiřazen všem novým objednávkám.'|trans }}"
			class="js-tooltip h-cursor-help in-icon in-icon--info" data-toggle="tooltip" data-placement="bottom"
		>
			<i class="svg svg-info"></i>
		</span>
	{% elseif row.os.type == TYPE_DONE %}
		<span title="{{ 'Tento stav není možné smazat, jelikož je na něj navázána funkčnost - určuje objednávky, které byly úspěšně vyřízeny.'|trans }}"
			class="js-tooltip h-cursor-help in-icon in-icon--info" data-toggle="tooltip" data-placement="bottom"
		>
			<i class="svg svg-info"></i>
		</span>
	{% elseif row.os.type == TYPE_CANCELED %}
		<span title="{{ 'Tento stav není možné smazat, jelikož je na něj navázána funkčnost - určuje objednávky, které nebyly úspěšně vyřízeny.'|trans }}"
			class="js-tooltip h-cursor-help in-icon in-icon--info" data-toggle="tooltip" data-placement="bottom"
		>
			<i class="svg svg-info"></i>
		</span>
	{% else %}
		{{ gridView.renderBlock('grid_action_cell', {actionColumn: actionColumn, row: row}) }}
	{% endif %}
{% endblock %}

{% block grid_no_data %}
	{{ 'Nebyl nalezen žádný stav objednávek.'|trans }}
{% endblock %}

{% block grid_pager_totalcount %}
	{% set entityName = 'stavů objednávek'|trans %}
	{{ parent() }}
{% endblock %}

{% block grid_inline_edit_add_button %}
	{% set addEntity = 'Vytvořit nový stav objednávek'|trans %}
	{{ parent() }}
{% endblock %}